body {
  background: #f4f4f4;
  overflow-x: hidden;
}

header {
  margin-top: 2em;
}

header h1 {
  color: transparent;
  width: 240px;
  height: 90px;
  background-image: url(images/eiti-logo.png);
  float: left;
  margin-right: 1em;
}

header:after {
  content: " ";
  display: table;
  clear: both;
}

header h1 span {
  display: none;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

  header nav ul li {
    display: inline-block;
    margin-left: 1em;
  }

main {
  background: #E2E2E2;
  padding: 1em 0;
}

select {
  font-family: inherit;
  font-size: inherit;
}

nav ul.breadcrumb {
  font-size: 1.5em;
}

region-map svg {
  width: 100%;
  height: 400px;
}

region-map .region path.region {
  fill: #fff;
  transition: fill .25s;
}

region-map .region.active path.region {
  fill: #999;
}

region-map .region.active:hover path.region {
  fill-opacity: .9;
}

region-map .region.selected path.region {
  fill: #666;
}

.commodity--oilgas region-map .region.active path.region { fill: #a0a539; }
.commodity--coal region-map .region.active path.region { fill: #955dce; }
.commodity--minerals region-map .region.active path.region { fill: #c63e3a; }
.commodity--renewables region-map .region.active path.region { fill: #177dab; }

p.legend {
  text-align: center;
  margin: 0 0 1em 0;
}

p.legend .swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: baseline;
  margin-bottom: -.1em;
}

.module--location region-map svg {
  width: auto;
  height: 150px;
}

.controls--global {
  margin: 0 auto 1em;
  padding: 1em;
}

x-slider {
  margin: 1em 40px;
  height: .2em;
  border-radius: 0;
  background: #fff;
}

x-slider .handle {
  z-index: 100;
}

x-slider .tick {
  position: absolute;
  top: 50%;
  z-index: 50;
}

x-slider .tick:after {
  content: " ";
  display: block;
  position: absolute;
  width: .5em;
  height: .5em;
  background: #fff;
  border-radius: .4em;
  margin: -.25em 0 0 -.25em;
}

  x-slider .tick .label {
    font-size: .5em;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1.5em;
    margin-top: 1.2em;
    width: 3em;
    text-align: center;
  }

  x-slider .tick.selected .label {
    font-weight: bold;
  }

body[data-path="index"] .controls--global {
  display: none;
}

.controls--global svg.area {
  display: none;
}

body[data-path^="revenue"] .controls--global svg.area {
  display: block;
}

.controls--global svg path.area {
  fill-opacity: 1;
}

.controls--global svg .axis.x {
  visibility: hidden;
}

section.list--commodities {
  display: flex;
}

section.commodity {
  flex: 1;
  margin-right: 1em;
}

.commodity--selected .list--commodities .commodity,
.list--commodities .commodity .detail {
  display: none;
}

.commodity--selected .list--commodities .commodity.selected,
.commodity--selected .list--commodities .commodity.selected .detail {
  display: block;
}

.commodity .commodity__title {
  padding: .5em;
  color: #fff;
  background: #999;
  border-radius: .3em;
}

.commodity .commodity__title a {
  color: inherit !important;
}

.commodity--oilgas .commodity__title { background: #a0a539; }
.commodity--coal .commodity__title { background: #955dce; }
.commodity--minerals .commodity__title { background: #c63e3a; }
.commodity--renewables .commodity__title { background: #177dab; }

ul.list--commodities,
ul.list--commodities li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list--commodities {
  display: flex;
}

ul.list--commodities li {
  flex: 1;
  margin-right: 1em;
}

ul.list--commodities li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: .5em .8em;
  border-radius: .3em;
}

ul.list--commodities li.commodity--oilgas a { background: #a0a539; }
ul.list--commodities li.commodity--coal a { background: #955dce; }
ul.list--commodities li.commodity--minerals a { background: #c63e3a; }
ul.list--commodities li.commodity--renewables a { background: #177dab; }

table.stats {
  width: 100%;
  max-width: 12em;
}

table.stats th {
  text-align: left;
}

table.stats td {
  text-align: right;
}

table.stats .fpo {
  color: #ccc;
}

.selector {
  margin: 1em 0;
}

#locations region-map svg {
  width: 100%;
  height: 400px;
}

#commodities .selector {
  display: none;
}

#commodities.commodity--selected .selector {
  display: block;
}

#breadcrumb {
  margin-bottom: 2em;
}

@media (min-width: 640px) {
  x-slider .tick .label {
    font-size: .8em;
  }

  .list--commodities .commodity .detail {
    float: right;
    width: 66%;
    margin-top: 1em;
  }
}
