
/* hide the onshore/offshore breadcrumb item */
body[data-path^="/locations/"] nav ul.breadcrumb li:nth-child(3) {
  display: none;
}

.module--location region-map svg {
  height: 150px;
}

#commodities .commodity {
  margin: 2em 0;
}

#commodities.commodity-selected .commodity,
#commodities .commodity .detail {
  display: none;
}

#commodities.commodity-selected .commodity.selected,
#commodities.commodity-selected .commodity.selected .detail {
  display: block;
}

table.stats {
  width: 100%;
  max-width: 12em;
}

table.stats th {
  text-align: left;
}

table.stats td {
  text-align: right;
}

table.stats .fpo {
  color: #ccc;
}
