nav {
  margin-bottom: 2em;
}

select {
  font-family: inherit;
  font-size: inherit;
}

nav ul.breadcrumb {
  font-size: 1.5em;
}

region-map svg {
  width: 100%;
  height: 400px;
}

.module--location region-map svg {
  width: auto;
  height: 150px;
}

.controls--global {
  margin: 2em auto;
  padding: 1em;
}

x-slider {
  margin: 1em;
  height: .2em;
  border-radius: 0;
}

x-slider .handle {
  z-index: 100;
}

x-slider .tick {
  position: absolute;
  top: 50%;
  width: .6em;
  height: .6em;
  margin: -.3em 0 0 -.3em;
  background: #ccc;
  border-radius: 1em;
  z-index: 50;
}

  x-slider .tick .label {
    font-size: .5em;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1.5em;
    margin-top: 100%;
    width: 3em;
    text-align: center;
  }

  x-slider .tick.selected .label {
    font-weight: bold;
  }

body[data-path="index"] .controls--global {
  display: none;
}

section.commodity {
  margin: 2em 0;
}

.commodity-selected .list--commodities .commodity,
.list--commodities .commodity .detail {
  display: none;
}

.commodity-selected .list--commodities .commodity.selected,
.commodity-selected .list--commodities .commodity.selected .detail {
  display: block;
}

table.stats {
  width: 100%;
  max-width: 12em;
}

table.stats th {
  text-align: left;
}

table.stats td {
  text-align: right;
}

table.stats .fpo {
  color: #ccc;
}

.selector {
  margin: 1em 0;
}

@media (min-width: 640px) {
  x-slider .tick .label {
    font-size: .8em;
  }
}
