// Styleguide blocks.about

.about_intro-callout {
  background-color: $pale-blue;
  border-bottom: 4px solid $white;
  padding: $base-padding-large;
  padding-bottom: $base-padding-lite;
  padding-top: ($base-padding-large * 1.5);
}

.about_intro-highlight {
  background-color: $mid-blue;
  border-left: 4px $white solid;
  border-right: 4px $white solid;
  padding: $base-padding;
  text-align: center;

  a {
    @include heading(para-sm);
    color: $blue;
    font-weight: $weight-bold;
  }
}

.about_intro-header {
  @include heading(para-lg);
  font-weight: $weight-bold;
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: $base-padding-lite;
  text-align: left;
}

.about_intro-list {
  @include heading(para-md);
  padding-bottom: $base-padding-lite;
  text-align: left;

  li {
    line-height: 1.2;
    padding-bottom: $base-padding-lite;
  }
}

.article_img-60 {
  width: 60%;

  &.article_img-centered {
    margin-left: 20%;
  }
}

.article_img-80 {
  width: 80%;
}

.article_img-100 {
  width: 100%;
}

.article_img-margin_bottom {
  margin-bottom: $base-padding;
}
