.chart-list {
  @include font-size(0.8);
  @include outer-container();

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;


  .chart-list_caption {
    @include heading(para-sm);

    padding-bottom: $base-padding-jumbo;
  }

  .chart-title {
    @include heading(large-caps);
    align-items: flex-end;
    border-bottom: 1px solid $neutral-gray;
    display: flex;
    flex: 1 0 auto;
    margin-bottom: $base-padding-base;
    min-height: 40px;
    padding-top: 2.5rem;
  }

  .chart-list-intro {
    @include span-columns(8);
  }

  .chart-item {
    @include span-columns(4);

    border-top: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }

  .chart-item,
  .details-container {
    button {
      @include font-size(0.75); // 12px

      background-color: $white;
      color: $dark-gray;
    }
  }

  .full-width {
    @include span-columns(12);
    @include omega();
  }

  &:not(.has-intro) {
    .chart-item:nth-of-type(n) {
      padding-right: 2 * $base-padding-lite;
    }

    .chart-item:nth-of-type(3n) {
      @include omega();

      padding-left: 2 * $base-padding-lite;
      padding-right: 0;
    }

    .chart-item:nth-of-type(2n) {
      padding-left: $base-padding-lite;
      padding-right: $base-padding-lite;
    }
  }

  figure {
    margin-top: 0;
  }

  figcaption {
    @include font-size(7 / 8); // 14px

    font-weight: $weight-light;
    line-height: 20px;
    min-height: 65px;
    padding: $base-padding-lite;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    > :last-child {
      text-align: right;
    }
  }

  eiti-data-map figcaption {
    @include heading('para-sm');

    font-weight: $weight-bold;
    margin: 0;
    min-height: inherit;
  }

  .county-map-table {
    margin-bottom: $standard-padding-extra;
    width: 100%;
  }
}

.chart-selector-wrapper {
  display: inline-block;

  .chart-selector {
    @include span-columns(2);
    @include font-size(7 / 8);

    background-color: $mid-gray;
    border: 0;
    font-weight: $weight-book;
    margin-right: $standard-padding;
    margin-top: $standard-padding-lite;
  }

  .chart-description {
    border-left: 1px solid $mid-gray;
    float: left;
    margin-bottom: 0;
    padding-left: 1.25rem;
    width: 75%;

    &.no-selector {
      border: none;
      float: none;
      padding-left: 0;
      width: 100%;
    }

    color: $blue;
    text-decoration: none;

    a {
      @include heading(para-sm);

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

.row-container {
  @include outer-container();

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > * {
    @include span-columns(4);

    align-self: flex-start;
    display: flex;
    flex-direction: column;

    &[aria-hidden=true] {
      display: none;
    }
  }

  > :nth-child(3) {
    @include omega();
  }

  > .map-container {
    @include span-columns(8);
    @include omega();

    position: relative;

    .svg-container {
      @include span-columns(8);

      &.wide {
        @include span-columns(12);
        @include omega();
      }
    }

    .legend-container {
      @include span-columns(4);
      @include omega();

      &.wide {
        @include span-columns(12);
        height: 130px;
        padding: 0;

        .legend-svg {
          width: 100%;
        }
      }
    }

    .legend-container,
    .no-data-container {
      &[aria-hidden='true'] {
        display: none;
      }
    }
  }
}

.legend-units {
  font-weight: $weight-book;
}
