// Communities Content
//
// The communities page main content
//
// Styleguide blocks.communities_content

.communities_content {
  position: relative;
  ul {

    @include heading("para-sm");
    
  	list-style-type: square;
    font-weight: $weight-light;
	  padding-left: $base-padding;
	  padding-bottom: $base-padding;
  }
} 

.communities_content-icon img{
  height: 20px;
  padding-right: 8px;

  &.iron {
    height: 16px;
  }

  &.copper {
    height: 22px;
  }

  &.gas {
    height: 25px;
  }
}

.communities_content-select {
  padding-bottom: $base-padding;
}

.communities_content-graph {
  border: $thin-border-size solid $base-border-color;
  margin-bottom: $base-padding;
  width: 100%;

  @include respond-to(small-up) {
    width: 75%;
  }

}
