// Communities Content
//
// The communities page main content
//
// Styleguide blocks.communities_content

.communities_content {
  position: relative;
  ul {
    @include heading('para-sm');

    font-weight: $weight-light;
    list-style-type: square;
    padding-bottom: $base-padding;
    padding-left: $base-padding;
  }
}

.communities_content-icon i {
  padding-right: $base-padding-lite / 2;
}

.communities_content-select {
  padding-bottom: $base-padding;
}

.communities_content-graph {
  border: $thin-border-size solid $base-border-color;
  margin-bottom: $base-padding;
  width: 100%;

  @include respond-to(small-up) {
    width: 75%;
  }

}

.communities_content-heading {
  color: $dark-gray;
}
