// Communities Intro
//
// The communities intro is the introduction to the /communities page
//
// Styleguide blocks.communities_intro

.communities_intro {
  background-color: $white;
  padding-top: $base-padding;
  padding-bottom: $base-padding;
}

.communities_intro-heading {
  padding-right: $base-padding;
  margin-bottom: $base-padding-lite;
  padding-bottom: $base-padding-lite;
}

.communities_intro-para {
	margin-bottom: $base-padding-large;
}

.communities_intro-image {
  width: 100%;
  max-width: 420px;
}

.communities_intro-select {
	width: 100%;
  max-width: 400px;
}
