.eiti-data-map-table {
  label {
    float: left;
  }

  tbody > tr {
    cursor: pointer;
  }

  [is="bar-chart-table"] {
    @extend .table-basic;

    th {
      line-height: 1.1;
      vertical-align: bottom;
    }
  }
}

[is="bar-chart-table"].county-table {
  @include heading('para-sm');

  .bar .bar {
    background-color: $gray-light;
  }

  tbody > tr:hover:not(.inner-table-row),
  tbody > tr:focus:not(.inner-table-row),
  tbody > tr.selected,
  tbody > tr.mouseover {
    background-color: $gray-pale;

    .swatch {
      border: 1px solid $neutral-gray;
    }
  }

  tbody > tr.selected {
    font-weight: $weight-book;

    td[data-sentence] {
      font-weight: $weight-light;
    }

    &[data-year-values] {
      border-bottom: 0;
    }

    .bar .bar {
      background-color: $green-dark;
    }
  }

  .inner-table-cell {
    padding: 0;
  }

  .inner-table-wrapper {
    height: 10em;
    margin: 0;
    overflow: auto;

    table {
      border: 0;
      width: 100%;
    }
  }
}
