// Styleguide blocks.downloads

.downloads {
  h3 {
    font-size: 1.2rem;
    padding-top: $base-padding;
  }
}

.downloads-section_heading {
  border-bottom: 2px solid $mid-gray;
  margin-bottom: $base-padding;
  margin-top: $base-padding-jumbo;
  padding-bottom: $base-padding-lite;
}

.downloads-download_links-intro {
  margin-bottom: 0;
}

.downloads-download_links {
  a {
    font-size: 1rem;
    font-weight: $weight-book;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  li {
    margin-left: $base-padding-lite;
  }

  p a {
    @include heading(para-lg);
    color: $blue;
    font-weight: $weight-light;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.downloads-docs {
  span {
    font-weight: $weight-book;
  }
}
