// Footer
//
// This is on the bottom of every page. Find in _includes/layout/footer.html
//
//
// Styleguide blocks.footer

footer,
.footer {
  background-color: $light-black;
  padding-bottom: $base-padding-extra;
  padding-top: $base-padding-extra;

  .fa-circle {
    color: $neutral-gray;
  }

  .fa-inverse {
    color: $light-black;
  }
}

footer,
.footer,
.footer-heading,
.footer-para,
.footer-para_callout,
.footer-social {
  color: $white;
}

.footer-para {
  margin-bottom: $base-padding;
}

.footer-para_last {
  @include respond-to(medium-up) {
    margin-bottom: 0;
  }
}

.footer-para_callout {
  font-weight: $weight-book;
  margin-bottom: 0;
}

.footer-image {
  margin-bottom: $base-padding-large;
  max-width: 300px;
  padding-right: $base-padding;
  width: 100%;

  @include respond-to(medium-up) {
    max-width: none;
  }
}

.footer-button {
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

.footer-col_left {
  border-bottom: 1px solid $white;
  margin-bottom: $base-padding-extra;

  @include respond-to(medium-up) {
    border-bottom: none;
  }
}

.footer-col_right {
  @include respond-to(medium-up) {
    @include shift(1)
  }
}

.footer-table {
  border: none;
  border-bottom: 1px solid $neutral-gray;
  display: table;
  margin-bottom: $base-padding-extra;
  padding-bottom: $base-padding * 2;
}

.footer-table_head {
  background-color: transparent;
  border: none;
  display: table-header-group;
  text-align: left;
}

.footer-heading,
.footer-list_item {
  display: table-cell;
}

.footer-list_body {
  display: table-row-group;
}

.footer-list_row,
.footer-list_bottom_row {
  display: table-row;
}

.footer-heading {
  padding-bottom: $base-padding-lite;
}

.footer-list_item,
.footer-list_item_heading,
.footer-list_item_empty {
  @include heading('para-md');
  background-color: transparent;
  border: 0;
  display: table-cell;
  line-height: 1.3;
  padding-bottom: $base-padding-lite * 2;
  padding-right: $base-padding;
  width: 25%;
}

.footer-list_item_heading {
  font-weight: $weight-book;
  text-transform: uppercase;
}

.footer-list_item_bordered {
  border-top: 1px solid $neutral-gray;
}

.footer-social {
  display: inline-block;
  vertical-align: sub;
}

.footer-link_social {
  display: block;
  padding-bottom: $base-padding-lite;
}

.footer-social_wrapper {
  @include respond-to(medium-up) {
    @include shift(1);
  }
}

.footer-social_callout {
  margin-bottom: $base-padding-lite;
}
