.footer {
  overflow:auto;
  height: 200px;
  color: #7b7979;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  // overflow: hidden;
  clear: both;
  background-color: #f4f4f4;
}
.blue_footer_top {
  background-color: #0492d2;
  width: 100%;
  height: 10px;
}
.footer-list {
  margin-left: 25%;
  list-style-type: none;
  display: inline-block;
  line-height: 20px;
  a {
    text-decoration: none;
    color: #7b7979;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      color: #0492d2;
    }
  }
}
.textwidget{
  margin-left: 10%;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: -25px;
}
.footer-container {
  margin-top: 50px;
}
