// Header
// 
// This is on the top of every page. Find in _includes/layout/header.html
//
// Markup:
// <header class="header">
//   <div>
//     <a class="header-image_link" href="/">
//       <img class="header-image" src="https://eiti-dev.18f.gov//img/USEITI_Logotype.png" alt="USEITI logo">
//     </a>
//   </div>
//   <nav class="header-nav">
//     <ul class="header-nav_inner">
//       <li class="header-nav_item">
//         <a class="header-nav_item_link" href="{{ site.baseurl }}/">Home</a>
//       </li>
//       <li class="header-nav_item">
//         <a class="header-nav_item_link" href="{{ site.baseurl }}/about">About</a>
//       </li>
//     </ul>
//   </nav>
// </header>
//
// Styleguide blocks.header

header,
.header {
  @include outer-container($max-width);
  margin-bottom: $base-padding;
  margin-top: $base-padding;

  div:first-of-type {
    @include span-columns(4);
  }
}

.header-image_link {
  &:hover,
  &:focus {
    text-decoration: none;
    border: none;
  }
}

.header-image {
  margin-top: $base-padding/2;
  width: 280px;
}

.header-nav {
  @include span-columns(8);
  @include omega();
}

.header-nav_inner {

}

.header-nav_item {
  display: inline-block;
  padding-right: $base-padding-large;
  padding-top: $base-padding;
}

.header-nav_item_link {
  color: $dark-gray;
  font-weight: $weight-light;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  @include font-size(.8);
}

.header-glossary {
  position: fixed;
  right: 0px;
  border: 1px solid $mid-gray;
  padding: $base-padding;
  padding-left: $base-padding-extra;
  padding-right: $base-padding-extra;
  z-index: $z-mid;
  background-color: $white;
}
