// Explore data callout on homepage
//
// Styleguide blocks.explore-home
.explore_home-heading {
  font-weight: $weight-bold;
  line-height: 1.3;
  margin-bottom: $base-padding-lite;
  padding-right: $base-padding-lite;
}

.explore_home-explore_heading {
  margin-bottom: ($base-padding-lite * 2);
}

.explore_home-subhead {
  @include heading(para-md);
  font-weight: $weight-light;
  margin-bottom: 0;
  padding-bottom: 0;

  + .explore_home-heading {
    margin-top: 0;
    padding-top: 0;
  }
}

.explore_home-map {
  aside {
    margin-left: $base-padding-large;
  }

  figure {
    margin-top: -$base-padding;
  }

  .state_pages-select {
    padding-top: $base-padding;

    label {
      @include heading('para-sm');
    }

    select {
      width: 85%;
    }
  }
}

.explore_home-map-intro {
  padding-right: $base-padding-large;
}

.explore_home-tabs {
  text-align: right;

  @include respond-to(tiny-down) {
    line-height: 0.75rem;
    font-size: 0.95rem;
    margin-bottom: 9px;
    text-align: center;
  }

  a {
    border: 1px solid transparent;
    color: $black;
    margin-right: $base-padding-lite;
  }

  li {
    display: inline-block;
    padding-bottom: 3px;
  }
}

.explore_home-tab_mobile {
  display: inline-block;

  @include respond-to(tiny-up) {
    display: none;
  }
}

.explore_home-tab_desktop {
  display: none;

  @include respond-to(tiny-up) {
    display: inline-block;
  }
}

.explore_home-tab_mobile {
  display: inline-block;

  @include respond-to(small-up) {

    display: none;
  }
}

.explore_home-tab_desktop {
  display: none;

  @include respond-to(tiny-up) {
    display: inline-block;
  }
}

.explore_home-main {
  padding-top: $base-padding-large;
}

.explore_home-button {
  margin-top: $base-padding-lite;
  padding: ($base-padding * 0.7) $base-padding;
}

.explore_home-fact {
  @include heading(para-md);
  line-height: 1.6;
}

.explore_home-img {
  img {
    width: 100%;
  }
}

.explore_home-main_link {
  @include heading(para-lg);
  color: $blue;
  font-weight: $weight-bold;
}

.explore_home-links {
  a {
    @include heading(para-sm);
    color: $blue;
    font-weight: $weight-bold;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
