// Explore data callout on homepage
//
// Styleguide blocks.explore-home

@mixin active-tab() {
  background-color: $white;
  border: 1px solid $neutral-gray;
  border-bottom: 1px solid $white;
  font-weight: $weight-bold;
  text-decoration: none;
}

.explore_home-heading {
  margin-bottom: $base-padding;

  @include respond-to(medium-up) {
    margin-bottom: 0;
  }
}

.explore_home-explore_heading {
  margin-bottom: $base-padding-lite;
}

.explore_home-subhead {
  @include heading(para-md);
  font-weight: $weight-light;
  margin-bottom: 0;
  padding-bottom: 0;

  + .explore_home-heading {
    margin-top: 0;
    padding-top: 0;
  }
}

.explore_home-tabs {
  @include heading(para-sm);
  margin-bottom: 8px;
  text-align: right;

  @include respond-to(tiny-down) {
    line-height: 0.75rem;
<<<<<<< b8d37183c86528248b92933e377d029c6530e31c
    font-size: 0.95rem;
    margin-bottom: 9px;
=======
    font-size: 0.85rem;
>>>>>>> tiny tweaaks
    text-align: center;
  }

  a {
    border: 1px solid transparent;
    color: $black;
    margin-right: $base-padding-lite;
    padding: $base-padding-lite ($base-padding / 2);

    &[aria-selected="true"] {
      @include active-tab();
    }

    &:hover,
    &:focus {
      @include active-tab();
    }
  }

  li {
    display: inline-block;
  }
}

.explore_home-tab_mobile {
  display: inline-block;

  @include respond-to(tiny-up) {
    display: none;
  }
}

.explore_home-tab_desktop {
  display: none;

  @include respond-to(tiny-up) {
    display: inline-block;
  }
}

.explore_home-tab_mobile {
  display: inline-block;

  @include respond-to(small-up) {

    display: none;
  }
}

.explore_home-tab_desktop {
  display: none;

  @include respond-to(tiny-up) {
    display: inline-block;
  }
}

.explore_home-main {
  border-top: 1px solid $neutral-gray;
  padding-top: $base-padding-large;
}

.explore_home-button {
  margin-top: $base-padding-lite;
  padding: ($base-padding * 0.7) $base-padding;
}

.explore_home-fact {
  @include heading(para-md);
  line-height: 1.6;
}

.explore_home-img {
  h4 {
    @include heading(para-lg);
    color: $blue;
    font-weight: $weight-bold;
  }

  img {
    width: 100%;
  }
}

.explore_home-links {
  a {
    @include heading(para-sm);
    color: $blue;
    font-weight: $weight-bold;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
