.landing-section_open,
.landing-section {
  padding-top: $base-padding;
  padding-bottom: 0;
}


.landing-section,
.landing-section_open {
  border-bottom: $thin-border-size solid $mid-gray;

  @include respond-to(medium-up) {
    @include span-columns(5);

    border-bottom: none;
  }
}

.landing-section_top {
  margin-bottom: $base-padding-extra;
}

.landing-section {
  @include respond-to(medium-up) {
    margin-top: $base-padding;

    &:nth-child(even) {
      @include shift(2);
    }

    &:nth-child(odd) {
      @include omega();
    }
  }
}

.landing-section_open {
  margin-top: $base-padding;

  &.oil-gas {
    background: url('../img/how-it-works/cards/oil-gas.png') bottom right no-repeat;
  }

  &.coal {
    background: url('../img/how-it-works/cards/coal.png') bottom right no-repeat;
  }

  &.minerals {
    background: url('../img/how-it-works/cards/minerals.png') bottom right no-repeat;
  }

  &.renewables {
    background: url('../img/how-it-works/cards/renewables.png') bottom right no-repeat;
  }

  &.overview {
    color: $neutral-gray;

    .landing-description {
      @include span-columns(8);
    }

    .landing-icons {
      @include span-columns(4);
      @include font-size(3);
      @include omega();

      margin-bottom: $base-padding-lite;

      [class*='icon-'] {
        color: $neutral-gray;
        float: right;
      }
    }

    .landing-steps {
      @include span-columns(12);

      background-color: $light-gray;
      font-size: 0.9em;
      padding: $base-padding;
      text-align: center;

      icon {
        color: $dark-gray;
        font-size: 1.2em;
      }
    }
  }

  &.oil-gas,
  &.coal,
  &.minerals,
  &.renewables {
    background-size: 100%;
    height: 310px;

    .landing-description {
      @include span-columns(7);
    }
  }

  @include respond-to(medium-up) {
    &.oil-gas {
      @include shift(2);
    }

    &.coal {
      @include omega();
    }

    &.minerals {
      @include shift(2);
    }

    &.renewables {
      @include omega();
    }

    &.overview {
      @include span-columns(5);
      @include shift(2);
    }
  }

  .landing-heading {
    display: block;
  }
}


.landing-section_category {
  border-bottom: 2px solid $mid-gray;
  margin-bottom: 0;
  margin-top: $base-padding-jumbo;
  padding-bottom: $base-padding-lite;
}

.landing-heading,
.landing-heading a {
  display: inline;
}

.landing-description {
  @include heading('para-md');
  color: $light-black;
  margin-bottom: 0;
}

.landing-image {
  width: 100%;
}

.landing-wrapper {
  margin-bottom: ($base-padding-extra * 1.4);
}
