.landing-wrapper {
  margin-bottom: ($base-padding-extra * 1.4);

  section + section,
  section:first-of-type {
    padding-top: 6rem;
  }

  h3,
  h4 {
    font-size: 1rem;
    font-weight: $weight-book;
    margin-bottom: 0;
  }

  h4 {
    padding-top: 2rem - 0.75rem;
  }

  .h2-bar {
    margin-bottom: 0;

    + .landing-section {
      padding-top: 2rem;
    }

    + .h3-bar {
      padding-top: 4rem;
    }
  }

  .h3-bar {
    @include heading('h5');
  }
}

.landing-section > div {
  @include span-columns(12);

  @include respond-to(medium-up) {
    @include span-columns(6);
    @include omega(2n);
  }

  p {
    @include heading('para-md');
    color: $light-black;
    margin-bottom: 0;
    
    + p {
      margin-top: $base-padding-lite;
    }
  }

  svg + p {
    margin-top: $base-padding-lite;
  }
}

.landing-section + .h3-bar {
  padding-top: 4rem;
}

.landing-oil_gas,
.landing-coal,
.landing-minerals,
.landing-renewables {
  img {
    float: right;
    padding-right: 20px;
  }

  svg {
    float: right;
    margin-right: 20px;
    
    path {
      fill: $neutral-gray;
    }
  }

  p {
    float: left;
    width: 59%;
  }

  @include respond-to(tiny-down) {
    background-position: top left;
    background-size: auto 64px;
    height: auto;
    margin-top: -115px;
    padding-top: 100px;

    p {
      width: 100%;
    }
  }
}

.landing-minerals {
  svg {
    margin-top: 46px;
  }
}

.landing-coal {
  svg {
    margin-right: 10px;
    margin-top: 30px;
  }
}
