.landing-wrapper {
  margin-bottom: ($base-padding-extra * 1.4);

  a {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  section + section,
  section:first-of-type {
    padding-top: 6rem;
  }

  h3,
  h4 {
    font-size: 1rem;
    font-weight: $weight-bold;
    margin-bottom: 0;
  }

  h4 {
    padding-top: 2rem - 0.75rem;
  }

  .h2-bar {
    margin-bottom: 0;

    + .landing-section {
      padding-top: 2rem;
    }

    + .h3-bar {
      padding-top: 4rem;
    }
  }

  .h3-bar {
    @include heading('h5');
  }
}

.landing-section > div {
  @include span-columns(12);

  @include respond-to(huge-up) {
    @include span-columns(6);
    @include omega(2n);
  }

  p {
    @include heading('para-md');
    color: $light-black;
    margin-bottom: 0;

    + p {
      margin-top: 0.3em;
    }
  }

  svg + p {
    margin-top: 0.3em;
  }
}

.landing-section + .h3-bar {
  padding-top: 4rem;
}

.landing-oil_gas,
.landing-coal,
.landing-minerals,
.landing-renewables {
  svg {
    float: right;
    margin-right: 20px;
    
    path {
      fill: $neutral-gray;
    }
  }

  p {
    float: left;
    width: 57%;
  }
}

.landing-minerals {
  svg {
    margin-top: 46px;
  }
}

.landing-coal {
  svg {
    margin-right: 0;
    margin-top: 30px;
  }
}

.landing-intro_link {
  margin-bottom: 0.36rem;

  + p {
    font-size: 1em;
  }
}
