$nav-drawer-height: 621px;

#nav-drawer {
  @include transition(right, 0.3s);
  background: $blue;
  bottom: 0;
  color: $white;
  width: 300px;
  z-index: 4999;

  &[aria-expanded="true"] {
    right: 0;
  }

  &[aria-expanded="false"] {
    @include transition(right, 0.3s);
    display: inline-block;
    right: -400px;
    right: 0;
  }

  @media only screen and (min-height: $nav-drawer-height) {
    bottom: initial;
  }
}

.nav_drawer-nav {
  margin-bottom: 0;
  padding: $base-padding;
  padding-bottom: 0;
}

.nav_drawer-nav_item {
  padding-bottom: $base-padding-large;

  &:last-of-type {
    padding-bottom: $base-padding;
  }
}

.nav_drawer-break {
  border-bottom: 1px solid $white;
  margin-bottom: $base-padding-large;
}

.nav_drawer-nav_item_link {
  color: $white;
  font-weight: $weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav_drawer-nav_item_link_bottom {
  color: $white;

}
