// Revenues Subpage Intro Section
//
// This is the first block on a revenues subpage
//
// Styleguide blocks.revenues_subpage_intro
.revenues_subpage-intro_wrapper {
  border-top: 1px solid $mid-gray;
}

.revenues_subpage-intro {
  padding-top: $base-padding-extra;

  h1 {
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }

}

.revenues_subpage-intro_text{
  @include heading('para-lg');
  padding-bottom: $base-padding;
}

.revenues_subpage-breadcrumb {
  color: $dark-gray;
  @include heading('para-lg');

}

.revenues_subpage-office {
  background-color: $white;
  &:first-child {
    padding-top: $base-padding;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }
  &:last-child {
    margin-bottom: $base-padding-extra;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }
}

.revenues_subpage-office_container {

  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(3);
    @include shift(1);
  }

  position: relative;


  a {
    color: $dark-gray;
  }
}

.revenues_subpage-office_text {

  @include span-columns(10);

  @include respond-to(medium-up) {
    @include span-columns(9);
  }

  padding-left: $base-padding;
  padding-bottom: 0;
  padding-right: $base-padding-lite;

  strong {
    font-weight: $weight-book;
  }
}
.revenues_subpage-office_text,
.revenues_subpage-office_text p {
  @include heading('para-sm');
}

.revenues_subpage-office_logos {

  @include span-columns(2);  

  @include respond-to(medium-up) {
    @include span-columns(3);
  }
  
  padding-right: $base-padding;
  padding-bottom: $base-padding;
}

.revenues_subpage-office_logo {
  width: 40px;
  float: right;
  margin-bottom: $base-padding-lite;


}

