// Revenues Subpage Forms
//
// 
//
// Styleguide blocks.revenues_subpage_forms

.revenues_subpage-forms {
  background-color: $light-gray;
}

.revenues_subpage-involved {
  background-color: $white;
  padding-top: $base-padding-large;
  padding-bottom: $base-padding-large;

  h2 {
    color: $light-black;
  }

  h3 {
    @include heading(h3);
    padding-bottom: 5px;
    margin-bottom: 8px;
  }

  p a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .fa-stack {
    line-height: 2.1em;
  }

  .revenues_subpage-involved_intro {
    p {
      @include heading(h2);
    }
  }

  @include respond-to(small-up) {
    .revenues_subpage-involved_options > div {
      @include span-columns(4 of 8);
      @include omega(2n);
    }
  }

  @include respond-to(medium-up) {
    .revenues_subpage-involved_intro {
      @include span-columns(4 of 12);
    }

    .revenues_subpage-involved_right {
      @include span-columns(8 of 12);
    }

    .revenues_subpage-involved_participate {
      margin-bottom: 100px;

      > div p {
          margin-bottom: $base-padding-lite;
      }

      > div:first-of-type {
        @include span-columns(8 of 12);
      }
      > div:last-of-type {
        @include span-columns(3 of 12);
        margin-top: $base-padding-large;
      }
    }

    .revenues_subpage-involved_options {
      > div {
        margin-top: $base-padding-large;
        @include omega-reset(2n);
        @include span-columns(3 of 12);
        @include omega(4n);
      }
    }
  }
}
