
.revenues_subpage-intro {
  padding-top: $base-padding;

  h1 {
    @include heading(h1);
    padding-bottom: ($base-padding / 2);
  }

  p {
    padding-bottom: $base-padding;
  }

}

.revenues_subpage-office_container {
  position: relative;

  a {
    color: $dark-gray;
  }

}

.revenues_subpage-office {
  background-color: $white;
  border: $base-border-size solid $mid-gray;
  border-radius: $base-border-radius;
  margin-top: $base-padding;
  padding-top: $base-padding;
}
.revenues_subpage-text {

  @include span-columns(10);

  @include respond-to(medium-up) {
    @include span-columns(9);
  }

  padding-left: $base-padding;
  padding-bottom: $base-padding;
  padding-right: $base-padding-lite;

}

.revenues_subpage-office_logos {

  @include span-columns(2);  

  @include respond-to(medium-up) {
    @include span-columns(3);
  }
  
  padding-right: $base-padding;
  padding-bottom: $base-padding;
}

.revenues_subpage-office_logo {
  width: 50px;
  float: right;
  margin-bottom: $base-padding-lite;


}

.forms-numbers {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 8px;
  margin-bottom: 8px;

  span {
    @include heading(h1);
    line-height: 1.2;
  }
}

.revenues_subpage-steps_wrapper {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNmNGY0ZjQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNCOUUzRjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjQpIiAvPgo8L3N2Zz4=);
}
.forms-light-blue{
  color: $blue;
}
