// Revenue
//
// Revenues block within resources page
//
// Styleguide blocks.revenue

section.revenue {

  svg[is='eiti-map'] {
    height: 250px;
    max-height: 30vh; // 30% of the viewport height
  }

  .regions .region {
    display: none;

    &.active {
      display: block;
    }
  }

  .map-legend {
    display: flex;
    margin-bottom: 1em;
  }

  .map-legend .step {
    display: block;
    flex: 1;
    height: 1em;
  }

  .timeline {
    .area {
      fill: #999;

      &.negative {
        fill: #ccc;
      }
    }

    .zero line {
      fill: none;
      stroke: black;
      stroke-linecap: square;
      stroke-width: .5;
      vector-effect: non-scaling-stroke;
    }
  }

  .subregion {
    @include row();

    .subregion-name {
      @include span-columns(8);
      margin: 0;
    }

    .subregion-chart {
      @include span-columns(4);
    }

    .bar {
      display: inline-block;
      // border: 1px solid red;
      width: 50%;

      .label {
        float: right;
      }

      .value {
        background: #999;
        display: inline-block;
        height: 1em;
        min-width: .5px;
      }

      &.negative {
        text-align: right;

        .label {
          float: left;
        }
      }
    }
  }

}
