// Search

.search-intro {
  line-height: 1.3;
  padding-bottom: $base-padding-lite;
}

.search-header {
  display: block;
  width: 100%;

  p {
    flex-grow: 1;

    &:last-of-type {
      text-align: right;
    }
  }
}

.search-wrapper {
  display: flex;
}

.search-container {
  display: block;
  padding-bottom: 20px;

  input[type="search"] {
    @include font-size(0.65);

    border-bottom-right-radius: 0;
    border-color: $neutral-gray;
    border-right: none;
    border-top-right-radius: 0;
    color: $dark-gray;
    float: left;
    font-family: $base-font-family;
    height: 30px;
    margin: 0;
    padding: 0.42rem;
    width: 250px;

    @include respond-to(large-up) {
      @include font-size(0.75);
    }
  }

  .search-icon {
    background-color: $blue;
    border-radius: 0 $base-border-radius $base-border-radius 0;
    color: $white;
    cursor: pointer;
    height: 30px;
    padding: 0.42rem;
    width: 37px;
  }
}

.search-results-container {
  @include span-columns(8 of 8);
}

.search-result-list {
  @include span-columns(8 of 8);
  margin-bottom: $base-padding-extra;
}

.search-result-list-tag {
  display: inline-block;
}

.search-credit {
  @include span-columns(8 of 8);
}

.search-no-results {
  h2 {
    font-weight: $weight-medium;
    margin-bottom: 0;
  }
}
