<!-- <div class="{{ className }}">{{ text }}</thing> -->

<section class="layout-content container-page-wrapper container-margin">
  <article class="container-left-9">
    <table class="article_table">
      <thead>
        <tr>
          <th>Header</th>
          <th>Second column</th>
          <th>Third column header</th>
          <th>Third column header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tabular content</td>
          <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
      </tbody>
    </table>

    <table class="article_table">
    <thead>
      <tr>
        <th>Header</th>
        <th>Second column (widest)</th>
        <th>Third column</th>
        <th>Fourth column</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tabular content</td>
        <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
        <td>Tabular conent</td>
        <td>Tabular conent</td>
      </tr>
      <tr>
        <td>Tabular content</td>
        <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
        <td>Tabular conent</td>
        <td>Tabular conent</td>
      </tr>
      <tr>
        <td>Tabular content</td>
        <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
        <td>Tabular conent</td>
        <td>Tabular conent</td>
      </tr>
    </tbody>
  </table>

  <table class="article_table">
  <tbody><tr>
    <th>Law name and code</th>
    <th>Description</th>
    <th>Relevant lands</th>
  <th>Relevant natural resources</th>
  </tr>
  <tr>
    <td><a href="http://www.blm.gov/flpma/FLPMA.pdf">Federal Land Policy and Management Act (FLPMA) of 1976 as Amended</a> (43 USC § 1701 et seq.)</td>
    <td>Requires BLM to administer federal lands using a land use planning framework that includes no unnecessary or undue degradation; multiple-use, sustained yield considerations for present and future generations; and public planning. Requires receipt of fair market value for use of federal lands and resources.</td>
    <td>Federal onshore and Indian</td>
  <td>All natural resources</td>
  </tr>
  <tr>
    <td><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2008-title42/pdf/USCODE-2008-title42-chap85.pdf">Clean Air Act (CAA) of 1970</a> (42 USC § 7401 et seq.)</td>
    <td>Outlines steps that federal agencies, state and local governments, and industry must take to decrease air pollution. Oil and gas wells are exempt from legal aggregation, whereby the emissions from small sites that are connected, in close proximity or under shared ownership, are added together and regulated as “stationary sources” if they emit or could emit 100 tons per year of a pollutant.</td>
    <td>All lands</td>
  <td>All natural resources, except when oil and gas are exempted</td>
  </tr>
  <tr>
    <td><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2010-title33/pdf/USCODE-2010-title33-chap26.pdf">Clean Water Act (CWA) of 1977</a> (33 USC § 1251 et seq.)</td>
    <td>Establishes a regulatory framework to protect water quality and monitor discharges of pollutants into waters in the United States. The US Environmental Protection Agency (EPA) does not require National Pollutant Discharge Elimination System (NPDES) permits for uncontaminated storm water discharges from oil and gas exploration, production, processing or treatment operations; transmission; or drill site preparation.</td>
    <td>All lands</td>
  <td>All natural resources, except when oil and gas are exempted</td>
  </tr>
  <tr>
    <td><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2008-title42/pdf/USCODE-2008-title42-chap85.pdf">Safe Drinking Water Act (SDWA) of 1974 (42 USC §§ 300f–300j et seq.)</a></td>
    <td>Protects public health by regulating the nation’s public drinking water supply and its sources. As of the 2005 Energy Policy Act, hydraulic fracturing fluids are exempt from underground injection control permits unless diesel fuel is used in the extraction process.</td>
    <td>All lands</td>
  <td>All natural resources, except when oil and gas are exempted</td>
  </tr>
  <tr>
    <td><a href="http://www.epw.senate.gov/sdwa.pdf">Comprehensive Environmental Response, Compensation, and Liability Act (CERCLA) of 1980</a> (42 USC §§ 9601–9675 et seq.)</td>
    <td>Provides a federal ‘superfund’ to clean up uncontrolled or abandoned hazardous-waste sites, as well as accidents, spills, and other emergency releases of pollutants and contaminants into the environment, and gives EPA the power to seek out those parties responsible for any release and assure their cooperation in the cleanup.</td>
    <td>All lands</td>
  <td>All natural resources, except when oil and gas are exempted</td>
  </tr>
  <tr>
    <td><a href="http://www.nmfs.noaa.gov/pr/pdfs/laws/esa.pdf">Endangered Species Act (ESA) of 1973</a> (16 USC § 1531 et seq.)</td>
    <td>Protects and recovers imperiled species and the ecosystems upon which they depend.</td>
    <td>All lands</td>
  <td>All natural resources</td>
  </tr>
  <tr>
    <td><a href="http://www.nmfs.noaa.gov/pr/pdfs/laws/mmpa.pdf">Marine Mammal Protection Act of 1972 as Amended</a> (16 USC § 1361 et seq.)</td>
    <td>Prohibits, with certain exceptions, the "take" of marine mammals in US waters and by US citizens on the high seas, and the importation of marine mammals and marine mammal products into the United States.</td>
    <td>All lands</td>
  <td>All natural resources, except when oil and gas are exempted</td>
  </tr>
</tbody></table>

  </article>
</section>
