<!-- <div class="{{ className }}">{{ text }}</thing> -->

<section class="layout-content container-page-wrapper container-margin">
  <article class="container-left-9">
    <table class="article_table">
      <thead>
        <tr>
          <th>Header</th>
          <th>Second column</th>
          <th>Third column header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tabular content</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Content such as a phrase or sentence</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
      </tbody>
    </table>

    <table class="article_table">
    <thead>
      <tr>
        <th>Header</th>
        <th>Second column (widest)</th>
        <th>Third column</th>
        <th>Fourth column</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tabular content</td>
        <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
        <td>Tabular conent</td>
        <td>Tabular conent</td>
      </tr>
      <tr>
        <td>Tabular content</td>
        <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
        <td>Tabular conent</td>
        <td>Tabular conent</td>
      </tr>
      <tr>
        <td>Tabular content</td>
        <td>Wider column to accommodate longer content, such as a sentence or paragraph. Longer text is what I'm talking about.</td>
        <td>Tabular conent</td>
        <td>Tabular conent</td>
      </tr>
    </tbody>
  </table>
  </article>
</section>
