<!-- <div class="{{ className }}">{{ text }}</thing> -->
<section class="layout-content container-page-wrapper container-margin">
  <article class="container-left-9">
    <table class="article_table">
      <thead>
        <tr>
          <th>First</th>
          <th>Second</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tabular content</td>
          <td>Columns automatically adjust to fit the content, as you can see in this example.</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Columns automatically adjust to fit the content, as you can see in this example.</td>
        </tr>
      </tbody>
    </table>

    <table class="article_table">
      <thead>
        <tr>
          <th>First</th>
          <th>Second</th>
          <th>Third</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tabular content</td>
          <td>Columns automatically adjust to fit the content, as you can see in this example.</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Columns automatically adjust to fit the content, as you can see in this example.</td>
          <td>Content such as a phrase or sentence</td>
        </tr>
      </tbody>
    </table>

    <table class="article_table">
      <thead>
        <tr>
          <th>First</th>
          <th>Second</th>
          <th>Third</th>
          <th>Fourth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tabular content</td>
          <td>Tabular content</td>
          <td>Columns automatically adjust to fit the content, as you can see in this example.</td>
          <td>Tabular conent</td>
        </tr>
        <tr>
          <td>Tabular content</td>
          <td>Tabular content</td>
          <td>Columns automatically adjust to fit the content, as you can see in this example.</td>
          <td>Tabular conent</td>
        </tr>
      </tbody>
    </table>

    <div class="explore-subpage subregion-name">
      <table class="companies" class="company-list subregions">
        <tbody class="company subgroup">
          <tr class="name">
            <td class="subregion-name">Company name</td><td class="subtotal value">$459,701,458</td>
            <td class="subtotal-label">total</td>
          </tr>
          <tr class="subtype">
            <td class="name">Bonus</td>
            <td class="value">$248,513,811</td>
            <td class="bar">
              <eiti-bar value="248513810.93" min="0" max="459701458.15">
                <span class="eiti-bar-bar" style="width: 54.0598%;"></span>
              </eiti-bar>
            </td>
          </tr>
          <tr class="subtype">
            <td class="name">Royalties</td>
            <td class="value">$171,448,578</td>
            <td class="bar">
              <eiti-bar value="171448578.17000002" min="0" max="459701458.15">
                <span class="eiti-bar-bar" style="width: 37.2956%;"></span>
              </eiti-bar>
            </td>
          </tr>
          <tr class="subtype">
            <td class="name">AML Fees including Audits and Late Charges</td>
            <td class="value">$39,573,273</td>
            <td class="bar">
              <eiti-bar value="39573273.01" min="0" max="459701458.15">
                <span class="eiti-bar-bar" style="width: 8.60847%;"></span>
              </eiti-bar>
            </td>
          </tr>
          <tr class="subtype">
            <td class="name">Rents</td>
            <td class="value">$159,880</td>
            <td class="bar">
              <eiti-bar value="159880" min="0" max="459701458.15">
                <span class="eiti-bar-bar" style="width: 0.5%;"></span>
              </eiti-bar>
            </td>
          </tr>
          <tr class="subtype">
            <td class="name">Permit Fees</td>
            <td class="value">$6,707</td>
            <td class="bar">
              <eiti-bar value="6707" min="0" max="459701458.15">
                <span class="eiti-bar-bar" style="width: 0.5%;"></span>
              </eiti-bar>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <table class="article_table article_table-indented article_table-numbers">
      <thead>
        <tr>
          <th rowspan="2" class="article_table-left article_table-enlarge">Industry</th>
          <th colspan="5" class="article_table-thin">Spanning header with footnote<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a></sup></th>
        </tr>
        <tr>
          <th>2009</th>
          <th>2010</th>
          <th>2011</th>
          <th>2012</th>
          <th>2013</th>
        </tr>
      </thead>
      <tbody>
        <tr class="article_table-head">
          <td>Mining</td>
          <td>$3,831</td>
          <td>$5,722</td>
          <td>$5,941</td>
          <td>$5,249</td>
          <td>$4,896</td>
        </tr>
        <tr>
          <td>Indented subcategory</td>
          <td>1,424</td>
          <td>2,152</td>
          <td>1,811</td>
          <td>1,642</td>
          <td>1,943</td>
        </tr>
        <tr>
          <td>Indented subcategory</td>
          <td>207</td>
          <td>344</td>
          <td>325</td>
          <td>245</td>
          <td>32</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>

<section>
  <div id="fee-summaries" class="tab-interface">
      <ul class="eiti-tabs info-tabs" role="tablist">
        <li role="presentation"><a href="#revenues" tabindex="0" role="tab" aria-controls="revenues" aria-selected="true">Federal revenue by phase (2016)</a></li>
        <li role="presentation"><a href="#story" tabindex="-1" role="tab" aria-controls="story" class="link-charlie">Revenue details by phase</a></li>
      </ul>
  <article class="eiti-tab-panel" id="revenues" role="tabpanel">
    <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-types">
      <thead>
        <tr>
          <th class="arrow_box"><span>Commodity</span></th>
          <th class="arrow_box"><span>1. Securing rights</span></th>
          <th class="arrow_box"><span>2. Before production</span></th>
          <th class="arrow_box-last"><span>3. During production</span></th>
          <th><span>Other revenue</span></th>
        </tr>
      </thead>
      <tbody><tr class="table-arrow_box-category"><td colspan="5">
            Oil and Gas
            <icon class="icon-padded icon-oil"></icon>
          </td></tr>
              </tbody><tbody id="revenue-types-oil-gas-non-royalty">
    <tr>
      <th scope="row" rowspan="2" data-value="4293316801" name="#revenue-oil-gas-non-royalty" class="table-arrow_box-subheader">
        <strong>Oil &amp; Gas </strong><br>
        <strong class="table-arrow_box-subheader-value">$4,293,316,801</strong>
      </th>
      <td rowspan="2" data-value="206969491" class="table-arrow_box-value">
        <div class="bar"><div class="bar" style="width: 3.88771%;"></div></div><span class="text table-arrow_box-subheader-value">$206,969,491</span>
      </td>
      <td rowspan="2" data-value="156667913" class="table-arrow_box-value">
        <div class="bar"><div class="bar" style="width: 2.94285%;"></div></div><span class="text table-arrow_box-subheader-value">$156,667,913</span>
      </td>
      <td class="bars table-arrow_box-value" data-value="2945622179">
        <div class="bar"><div class="bar" style="width: 55.3305%;"></div><div class="bar" style="width: 14.5462%;"></div><div class="bar" style="width: 3.30236%;"></div></div><span data-value="774392172"></span>
        <span data-value="175807307"></span>
          <span class="text table-arrow_box-subheader-value">
          <strong class="text-header text-header-first">Oil</strong>
          $2,945,622,179</span>
          <span class="text table-arrow_box-subheader-value">
          <strong class="text-header text-header-second">Gas</strong>
          $774,392,172</span>
          <span class="text table-arrow_box-subheader-value">
          <strong class="text-header text-header-third">NGL</strong>
          $175,807,307</span>
      </td>
      <td rowspan="2" data-value="33857739" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.635983%;"></div></div><span class="text table-arrow_box-subheader-value">$33,857,739</span></td>
    </tr>
    </tbody>
    <tbody id="revenue-types-oil">
    </tbody>
    <tbody id="revenue-types-gas">
    </tbody>
    <tbody id="revenue-types-ngl">
    </tbody>
    <tbody id="revenue-types-tar-sands">
    </tbody>
    <tbody id="revenue-types-oil-shale">
    </tbody>
    <tbody><tr class="table-arrow_box-category"><td colspan="5">
        Coal
        <icon class="icon-padded icon-coal"></icon>
      </td></tr>
          </tbody><tbody id="revenue-types-coal">
      <tr>
        <th scope="row" data-value="828180683" name="#revenue-coal" class="table-arrow_box-subheader">
          <strong>Coal</strong><br>
          <strong class="table-arrow_box-subheader-value">$828,180,683</strong>
        </th>
            <td data-value="312097368" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 5.86243%;"></div></div><span class="text table-arrow_box-subheader-value">$312,097,368</span></td>
            <td data-value="1257861" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0236276%;"></div></div><span class="text table-arrow_box-subheader-value">$1,257,861</span></td>
            <td data-value="511604134" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 9.60996%;"></div></div><span class="text table-arrow_box-subheader-value">$511,604,134</span></td>
            <td data-value="3221320" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.0605092%;"></div></div><span class="text table-arrow_box-subheader-value">$3,221,320</span>
            </td>
      </tr>
              </tbody>
          <tbody><tr class="table-arrow_box-category"><td colspan="5">
            Geothermal
            <icon class="icon-padded icon-geo"></icon>
          </td></tr>
              </tbody><tbody id="revenue-types-geothermal">
      <tr>
        <th scope="row" data-value="13356892" name="#revenue-geothermal" class="table-arrow_box-subheader">
          <strong>Geothermal</strong><br>
          <strong class="table-arrow_box-subheader-value">$13,356,892</strong>
        </th>
            <td data-value="19141" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.000359544%;"></div></div><span class="text table-arrow_box-subheader-value">$19,141</span></td>
            <td data-value="1427938" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0268224%;"></div></div><span class="text table-arrow_box-subheader-value">$1,427,938</span></td>
            <td data-value="11586026" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.217632%;"></div></div><span class="text table-arrow_box-subheader-value">$11,586,026</span></td>
            <td data-value="323788" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00608203%;"></div></div><span class="text table-arrow_box-subheader-value">$323,788</span>
            </td>
      </tr>
              </tbody>
          <tbody><tr class="table-arrow_box-category"><td colspan="5">
            Offshore renewable energy
            <icon class="icon-padded icon-wind"></icon>
          </td></tr>
              </tbody><tbody id="revenue-types-wind">
      <tr>
        <th scope="row" data-value="5192111" name="#revenue-wind" class="table-arrow_box-subheader">
          <strong>Wind</strong><br>
          <strong class="table-arrow_box-subheader-value">$5,192,111</strong>
        </th>
            <td data-value="1886955" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0354445%;"></div></div><span class="text table-arrow_box-subheader-value">$1,886,955</span></td>
            <td data-value="3305155" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0620839%;"></div></div><span class="text table-arrow_box-subheader-value">$3,305,155</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="1" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 1.8784e-08%;"></div></div><span class="text table-arrow_box-subheader-value">$1</span>
            </td>
      </tr>
              </tbody>
          <tbody><tr class="table-arrow_box-category"><td colspan="5">
            Other products
          </td></tr>
              </tbody><tbody id="revenue-types-co2">
      <tr>
        <th scope="row" data-value="49194247" name="#revenue-co2" class="table-arrow_box-subheader">
          <strong>Carbon dioxide</strong><br>
          <strong class="table-arrow_box-subheader-value">$49,194,247</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="49194247" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.924064%;"></div></div><span class="text table-arrow_box-subheader-value">$49,194,247</span></td>
            <td data-value="0" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-sodium">
      <tr>
        <th scope="row" data-value="46403145" name="#revenue-sodium" class="table-arrow_box-subheader">
          <strong>Sodium</strong><br>
          <strong class="table-arrow_box-subheader-value">$46,403,145</strong>
        </th>
            <td data-value="424121" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.00796668%;"></div></div><span class="text table-arrow_box-subheader-value">$424,121</span></td>
            <td data-value="-17567" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.000329978%;"></div></div><span class="text table-arrow_box-subheader-value">($17,567)</span></td>
            <td data-value="45864690" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.861521%;"></div></div><span class="text table-arrow_box-subheader-value">$45,864,690</span></td>
            <td data-value="131899" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00247759%;"></div></div><span class="text table-arrow_box-subheader-value">$131,899</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-potassium">
      <tr>
        <th scope="row" data-value="10767405" name="#revenue-potassium" class="table-arrow_box-subheader">
          <strong>Potassium</strong><br>
          <strong class="table-arrow_box-subheader-value">$10,767,405</strong>
        </th>
            <td data-value="292376" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.00549198%;"></div></div><span class="text table-arrow_box-subheader-value">$292,376</span></td>
            <td data-value="28226" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.000530196%;"></div></div><span class="text table-arrow_box-subheader-value">$28,226</span></td>
            <td data-value="9729301" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.182755%;"></div></div><span class="text table-arrow_box-subheader-value">$9,729,301</span></td>
            <td data-value="717502" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.0134775%;"></div></div><span class="text table-arrow_box-subheader-value">$717,502</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-hardrock">
      <tr>
        <th scope="row" data-value="7739432" name="#revenue-hardrock" class="table-arrow_box-subheader">
          <strong>Hardrock minerals</strong><br>
          <strong class="table-arrow_box-subheader-value">$7,739,432</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="31676" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.000595001%;"></div></div><span class="text table-arrow_box-subheader-value">$31,676</span></td>
            <td data-value="7632410" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.143367%;"></div></div><span class="text table-arrow_box-subheader-value">$7,632,410</span></td>
            <td data-value="75347" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00141532%;"></div></div><span class="text table-arrow_box-subheader-value">$75,347</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-phosphate">
      <tr>
        <th scope="row" data-value="10740464" name="#revenue-phosphate" class="table-arrow_box-subheader">
          <strong>Phosphate</strong><br>
          <strong class="table-arrow_box-subheader-value">$10,740,464</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="4630" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 8.69698e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$4,630</span></td>
            <td data-value="10589317" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.198909%;"></div></div><span class="text table-arrow_box-subheader-value">$10,589,317</span></td>
            <td data-value="146518" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00275219%;"></div></div><span class="text table-arrow_box-subheader-value">$146,518</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-sulfur">
      <tr>
        <th scope="row" data-value="223844" name="#revenue-sulfur" class="table-arrow_box-subheader">
          <strong>Sulfur</strong><br>
          <strong class="table-arrow_box-subheader-value">$223,844</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="214151" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.00402261%;"></div></div><span class="text table-arrow_box-subheader-value">$214,151</span></td>
            <td data-value="2727" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 5.12239e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$2,727</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-gilsonite">
      <tr>
        <th scope="row" data-value="1424528" name="#revenue-gilsonite" class="table-arrow_box-subheader">
          <strong>Gilsonite</strong><br>
          <strong class="table-arrow_box-subheader-value">$1,424,528</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="1309" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 2.45882e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$1,309</span></td>
            <td data-value="1417561" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0266274%;"></div></div><span class="text table-arrow_box-subheader-value">$1,417,561</span></td>
            <td data-value="5658" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00010628%;"></div></div><span class="text table-arrow_box-subheader-value">$5,658</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-copper">
      <tr>
        <th scope="row" data-value="28721" name="#revenue-copper" class="table-arrow_box-subheader">
          <strong>Copper</strong><br>
          <strong class="table-arrow_box-subheader-value">$28,721</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="2611" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 4.9045e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$2,611</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="26110" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00049045%;"></div></div><span class="text table-arrow_box-subheader-value">$26,110</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-clay">
      <tr>
        <th scope="row" data-value="930" name="#revenue-clay" class="table-arrow_box-subheader">
          <strong>Clay</strong><br>
          <strong class="table-arrow_box-subheader-value">$930</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="930" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 1.74691e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$930</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-helium">
      <tr>
        <th scope="row" data-value="727" name="#revenue-helium" class="table-arrow_box-subheader">
          <strong>Helium</strong><br>
          <strong class="table-arrow_box-subheader-value">$727</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="727" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 1.36559e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$727</span></td>
            <td data-value="0" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-gold">
      <tr>
        <th scope="row" data-value="2604" name="#revenue-gold" class="table-arrow_box-subheader">
          <strong>Gold</strong><br>
          <strong class="table-arrow_box-subheader-value">$2,604</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="651" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 1.22284e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$651</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="1953" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 3.66851e-05%;"></div></div><span class="text table-arrow_box-subheader-value">$1,953</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-asphalt">
               </tbody>
              <tbody id="revenue-types-sand-gravel">
               </tbody>
              <tbody id="revenue-types-gemstones">
      <tr>
        <th scope="row" data-value="240" name="#revenue-gemstones" class="table-arrow_box-subheader">
          <strong>Gemstones</strong><br>
          <strong class="table-arrow_box-subheader-value">$240</strong>
        </th>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
            <td data-value="240" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 4.50815e-06%;"></div></div><span class="text table-arrow_box-subheader-value">$240</span>
            </td>
      </tr>
               </tbody>
              <tbody id="revenue-types-limestone">
               </tbody>
              <tbody id="revenue-types-all">
                <tr class="table-arrow_box-category"><td colspan="5">
                  All commodities
                    <icon class="icon-oil"></icon>
                    <icon class="icon-coal"></icon>
                    <icon class="icon-geo"></icon>
                    <icon class="icon-wind"></icon>
                </td></tr>
      <tr>
        <th scope="row" data-value="5323669179" name="#revenue-all" class="table-arrow_box-subheader">
          <strong>All commodities</strong><br>
          <strong class="table-arrow_box-subheader-value">$5,323,669,179</strong>
        </th>
            <td data-value="521689452" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 9.7994%;"></div></div><span class="text table-arrow_box-subheader-value">$521,689,452</span></td>
            <td data-value="162711655" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 3.05637%;"></div></div><span class="text table-arrow_box-subheader-value">$162,711,655</span></td>
            <td data-value="4543654221" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 85.3479%;"></div></div><span class="text table-arrow_box-subheader-value">$4,543,654,221</span></td>
            <td data-value="95613850" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 1.79601%;"></div></div><span class="text table-arrow_box-subheader-value">$95,613,850</span>
              <br>
              <span class="table-arrow_box-asterisk">* Includes revenues not tied to specific commo­dities ($54,047,456 in inspection fees, $2,888,730 in civil penalties, and $165,932 in other revenue).</span>
            </td>
      </tr>
              </tbody>
    </table>
  </article>
      <article class="eiti-tab-panel" id="story" role="tabpanel" aria-hidden="true">
<table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-process">
  <thead>
    <tr>
      <th class="arrow_box"><span>Commodity</span></th>
      <th class="arrow_box"><span>1. Securing rights</span>Companies pay bonuses or other fees to secure rights to resources on federal land
      </th>
      <th class="arrow_box"><span>2. Before production</span>Companies pay rent on federal land while exploring for resources
      </th>
      <th class="arrow_box-last"><span>3. During production</span>Companies pay royalties after production begins
      </th>
      <th><span>Other revenue</span>Minimum or estimated royalties, settlements, and interest payments
      </th>
    </tr>
  </thead>
      <tbody><tr class="table-arrow_box-category"><td colspan="5">
        Oil and Gas
        <icon class="icon-padded icon-oil"></icon>
      </td></tr>
          </tbody><tbody id="revenue-types-oil-gas-non-royalty">
<tr>
  <th scope="row" rowspan="2" data-value="4293316801" name="#revenue-oil-gas-non-royalty" class="table-arrow_box-subheader">
    <strong>Oil &amp; Gas </strong><br>
    <strong class="table-arrow_box-subheader-value">$4,293,316,801</strong>
  </th>
  <td rowspan="2" data-value="206969491" class="table-arrow_box-value">
    <div class="bar"><div class="bar" style="width: 3.88772%;"></div></div><span class="text table-arrow_box-subheader-value">$206,969,491</span>
  </td>
  <td rowspan="2" data-value="156667913" class="table-arrow_box-value">
    <div class="bar"><div class="bar" style="width: 2.94286%;"></div></div><span class="text table-arrow_box-subheader-value">$156,667,913</span>
  </td>
  <td class="bars table-arrow_box-value" data-value="2945622179">
    <div class="bar"><div class="bar" style="width: 55.3307%;"></div><div class="bar" style="width: 14.5462%;"></div><div class="bar" style="width: 3.30237%;"></div></div><span data-value="774392172"></span>
    <span data-value="175807307"></span>
      <span class="text table-arrow_box-subheader-value">
      <strong class="text-header text-header-first">Oil</strong>
      $2,945,622,179</span>
      <span class="text table-arrow_box-subheader-value">
      <strong class="text-header text-header-second">Gas</strong>
      $774,392,172</span>
      <span class="text table-arrow_box-subheader-value">
      <strong class="text-header text-header-third">NGL</strong>
      $175,807,307</span>
  </td>
  <td rowspan="2" data-value="33857739" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.635985%;"></div></div><span class="text table-arrow_box-subheader-value">$33,857,739</span></td>
</tr>
          </tbody>
      <tbody>
          <tr>
            <th class="table-arrow_box-subcategory">Offshore</th>
            <td>
              <strong>Bonus:</strong> The amount offered by the highest bidder
            </td>
            <td>
              <strong>$7</strong> or <strong>$11</strong> annual rent per acre, increasing over time up to <strong>$44</strong> per acre in some cases
            </td>
            <td>
              <strong>12.5%</strong>, <strong>16.67%</strong>, or
              <strong>18.75%</strong> of production value
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="table-arrow_box-subcategory">Onshore</th>
            <td>
              <strong>Bonus:</strong> The amount offered by the highest bidder
            </td>
            <td>
              <strong>$1.50</strong> annual rent per acre for 5 years<br>
              <strong>$2</strong> annual rent per acre thereafter
            </td>
            <td>
              <strong>12.5%</strong> of production value
            </td>
            <td></td>
          </tr>
      </tbody>
          <tbody><tr class="table-arrow_box-category"><td colspan="5">
            Coal
            <icon class="icon-padded icon-coal"></icon>
          </td></tr>
          </tbody><tbody id="revenue-types-coal">
  <tr>
    <th scope="row" data-value="828180683" name="#revenue-coal" class="table-arrow_box-subheader">
      <strong>Coal</strong><br>
      <strong class="table-arrow_box-subheader-value">$828,180,683</strong>
    </th>
        <td data-value="312097368" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 5.86245%;"></div></div><span class="text table-arrow_box-subheader-value">$312,097,368</span></td>
        <td data-value="1257861" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0236277%;"></div></div><span class="text table-arrow_box-subheader-value">$1,257,861</span></td>
        <td data-value="511604134" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 9.60999%;"></div></div><span class="text table-arrow_box-subheader-value">$511,604,134</span></td>
        <td data-value="3221320" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.0605094%;"></div></div><span class="text table-arrow_box-subheader-value">$3,221,320</span>
        </td>
  </tr>
            <tr>
              <th></th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td>
                <strong>$3</strong> annual rent per acre
              </td>
              <td>
                <strong>Surface mining:</strong> 12.5% of production value + $0.28 per ton in AML fees<br>
                <strong>Subsurface mining:</strong> 8% of production value + $0.12 per ton in AML fees
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody><tr class="table-arrow_box-category"><td colspan="5">
            Geothermal
            <icon class="icon-padded icon-geo"></icon>
          </td></tr>
          </tbody><tbody id="revenue-types-geothermal">
  <tr>
    <th scope="row" data-value="13356892" name="#revenue-geothermal" class="table-arrow_box-subheader">
      <strong>Geothermal</strong><br>
      <strong class="table-arrow_box-subheader-value">$13,356,892</strong>
    </th>
        <td data-value="19141" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.000359545%;"></div></div><span class="text table-arrow_box-subheader-value">$19,141</span></td>
        <td data-value="1427938" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0268224%;"></div></div><span class="text table-arrow_box-subheader-value">$1,427,938</span></td>
        <td data-value="11586026" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.217632%;"></div></div><span class="text table-arrow_box-subheader-value">$11,586,026</span></td>
        <td data-value="323788" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 0.00608205%;"></div></div><span class="text table-arrow_box-subheader-value">$323,788</span>
        </td>
  </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td>
                <strong>Nomination fee:</strong> $110 per nomination + $0.11 per acre<br>
                <strong>Bonus:</strong> The amount offered by the highest bidder<br>
                <strong>$160</strong> processing fee
              </td>
              <td>
                <strong>$2</strong> per acre for the first year<br>
                <strong>$3</strong> annual rent per acre for years 2-10<br>
                <strong>$5</strong> annual rent per acre thereafter
              </td>
              <td rowspan="2">
                <strong>Electricity sales:</strong> 1.75% of gross proceeds for 10 years, then 3.5%<br>
                <strong>Arm’s length sales:</strong> 10% of gross proceeds from contract multiplied by lease royalty rate<br>
                <a href="/downloads/federal-revenue-by-location/#note-geothermal-rate-details">More about geothermal rates</a>
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td><strong>Lease:</strong> $410 payment
              </td>
              <td><strong>$1</strong> annual rent per acre for 10 years<br> <strong>$5</strong> annual rent per acre thereafter
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody><tr class="table-arrow_box-category">
            <td colspan="5">
              Offshore renewable energy
              <icon class="icon-padded icon-wind"></icon>
            </td>
          </tr>
          </tbody><tbody id="revenue-types-wind">
  <tr>
    <th scope="row" data-value="5192111" name="#revenue-wind" class="table-arrow_box-subheader">
      <strong>Wind</strong><br>
      <strong class="table-arrow_box-subheader-value">$5,192,111</strong>
    </th>
        <td data-value="1886955" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0354446%;"></div></div><span class="text table-arrow_box-subheader-value">$1,886,955</span></td>
        <td data-value="3305155" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0.0620842%;"></div></div><span class="text table-arrow_box-subheader-value">$3,305,155</span></td>
        <td data-value="0" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 0%;"></div></div><span class="text table-arrow_box-subheader-value">$0</span></td>
        <td data-value="1" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 1.8784e-08%;"></div></div><span class="text table-arrow_box-subheader-value">$1</span>
        </td>
  </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td rowspan="2">
                <strong>$3</strong> annual rent per acre<br>
              </td>
              <td rowspan="2">
                <strong>2%</strong> of anticipated value of wind energy produced (unless otherwise specified)
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td>
                <strong>Acquisition fee:</strong> $0.25 per acre
              </td>
              <td></td>
            </tr>
          </tbody>
      <tbody><tr class="table-arrow_box-category"><td colspan="5">
        Other products
      </td></tr>
      </tbody><tbody>
        <tr>
          <th class="table-arrow_box-subcategory">Hardrock Acquired lands</th>
          <td>
            <strong>$6,500</strong> prospecting permit fee
          </td>
          <td>
            <strong>$37</strong> annual rent per acre + <strong>$0.50</strong> annual prospecting fee per acre
          </td>
          <td>
            Royalty rates are determined by leasing officers on an individual case basis (no minimums apply)
          </td>
          <td></td>
        </tr>
      </tbody>
          <tbody id="revenue-types-all">
            <tr class="table-arrow_box-category"><td colspan="5">
              All commodities
                <icon class="icon-oil"></icon>
                <icon class="icon-coal"></icon>
                <icon class="icon-geo"></icon>
                <icon class="icon-wind"></icon>
            </td></tr>
  <tr>
    <th scope="row" data-value="5323669179" name="#revenue-all" class="table-arrow_box-subheader">
      <strong>All commodities</strong><br>
      <strong class="table-arrow_box-subheader-value">$5,323,669,179</strong>
    </th>
        <td data-value="521689452" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 9.79943%;"></div></div><span class="text table-arrow_box-subheader-value">$521,689,452</span></td>
        <td data-value="162711655" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 3.05638%;"></div></div><span class="text table-arrow_box-subheader-value">$162,711,655</span></td>
        <td data-value="4543654221" class="table-arrow_box-value"><div class="bar"><div class="bar" style="width: 85.3482%;"></div></div><span class="text table-arrow_box-subheader-value">$4,543,654,221</span></td>
        <td data-value="95613850" class="table-arrow_box-value table-arrow_box-text"><div class="bar"><div class="bar" style="width: 1.79601%;"></div></div><span class="text table-arrow_box-subheader-value">$95,613,850</span>
          <br>
          <span class="table-arrow_box-asterisk">* Includes revenues not tied to specific commo­dities ($54,047,456 in inspection fees, $2,888,730 in civil penalties, and $165,932 in other revenue).</span>
        </td>
  </tr>
            <!-- insert other row into this include!!! -->
          </tbody>
      <tbody><tr class="table-arrow_box-category">
        <td colspan="5">Other revenue streams</td>
      </tr>
      <tr>
        <th>Hardrock mining on public domain lands</th>
        <td colspan="5">
          Federal revenue from hardrock mining on public domain land occurs through the claim-staking process and is managed by the Bureau of Land Management (BLM). It is not included here, because the dataset does not have state-level data. Learn more about <a href="/how-it-works/minerals/">hardrock mining on federal land</a>.
        </td>
      </tr>
      <tr>
        <th>Onshore solar and wind energy</th>
        <td colspan="5">
          Federal revenue from onshore renewable energy generation on federal land is not included here, because that dataset, from BLM, does not have state-level data. Learn more about <a href="/how-it-works/onshore-renewables/">onshore renewables on federal land</a>.
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td colspan="5">
          To see how much was collected nationwide for all revenue types, including BLM revenues, see <a href="/how-it-works/federal-revenue-by-company/">federal revenue by company</a>.
        </td>
      </tr>
    </tbody>
  </table>
      </article>
    </div>
  </section>
