@value colors: "../../../css-global/colors.scss";
@value grayDark as --grayDark, 
	grayLight as --grayLight,
	gray as --gray,
	greenDark as --greenDark
	greenLight as --greenLight
	greenLand as --greenLand
	from colors;

@value vars: "../../../css-global/variables.scss";
@value baseFontFamily as --baseFontFamily from vars;


.stackedBarChart {
}

.stackedBarChart text {
	font-size: 13px;
	font-family: --baseFontFamily;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

.stackedBarChart path {
	stroke: --grayLight;
}

.stackedBarChart_bar:hover .stackedBarChart_onshore {
	fill: --greenDark;
}

.stackedBarChart_bar:hover .stackedBarChart_offshore {
	fill: --greenLand;
}
.stackedBarChart_bar:hover .stackedBarChart_native_american {
	fill: --greenLight;
}

.stackedBarChart_bar:active .stackedBarChart_onshore {
	fill: --greenDark;
}

.stackedBarChart_bar:active .stackedBarChart_offshore {
	fill: --greenLand;
}
.stackedBarChart_bar:active .stackedBarChart_native_american{
	fill: --greenLight;
}

.stackedBarChart_bar.selected .stackedBarChart_onshore {
	fill: --greenDark;
}

.stackedBarChart_bar.selected .stackedBarChart_offshore {
	fill: --greenLand;
}
.stackedBarChart_bar.selected .stackedBarChart_native_american{
	fill: --greenLight;
}

.stackedBarChart_onshore {
	fill: --greenDark;
}

.stackedBarChart_offshore {
	fill: --gray;
}

.stackedBarChart_native_american {
	fill: --grayLight;
}
