@value colors: "../../../css-global/colors.scss";
@value grayPale as --grayPale from colors;

.root {
	background-color: --grayPale;
	margin: 0 0 1rem 0;
	font-size: 0.8rem;
	line-height: 1.1875rem;
	margin-bottom: 0.625rem;
	padding: 0.625em 1.875em;
	text-align: center;
}

.bannerImage {
	padding-left: 0.20833em;
	margin-bottom: -1px;
	margin-right: 3px;
}
