%button {
  @include transition-property(background-color);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);
  @include transition-delay(0s);
  @include appearance(none);
  display: inline-block;
  border-radius: $small-border-radius;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor: pointer;
  margin-bottom: 0.6em;
  user-select: none;
  vertical-align: middle;
  // typography
  font-family: $base-font-family;
  @include heading('para-md');
  font-weight: $weight-book;
  line-height: $base-line-height;
  text-decoration: none;
}
