#pie-chart-center{
	height:150px;
    width:150px;
    background:white;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    margin-left:25%;
    margin-top:25%;
    position: absolute;
    opacity: 0.8;
    top:-25;
    left:-23;
    -moz-box-shadow: 0 0 5px 2px #999;
    -webkit-box-shadow: 0 0 5px 2px #999;
}   

#pie-chart-center-text{
	opacity: 1;
	color:#615F5F;
	position:absolute;
	top:105;
	left:77;
	width:150;
	text-align: center;
}

#revenue_types {
	position: relative;
}

#revenue_types svg {
    width:400px;
}