// Site-wide
//============================================

a {
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

.download {
  margin-top: 10px;
}

.term-tooltip {
  i {
   vertical-align: super;
   @include rem-fallback(font-size, 0.97);
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// Utility
//============================================

.container {
  @include outer-container;
}

//remove these below later - lazy coding
.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.floatRight {
  float: right;
}

.clearfix {
  clear: both;
  width: 100%;
}

.credit {
  @include rem-fallback(font-size, 1);
  line-height: 1.1;
  color: $dark-gray;
  font-style: italic;
}

.stage-bug {
  display: block;
  background: $light-gray;
  color: $dark-gray;
  border-top: none;
  text-align: center;
  @include rem-fallback(font-size, 0.85);
  padding: .3em 0;
}

// Nav
//============================================

ul.menu a.active li {
  border-bottom: 3px solid $red;
  &:hover, &:focus {
    color: white;
  }
}

.menu {
  display: none;
  @include respond-to(small-up) {
    display: block;
    height: 30px;
  }
}

.nav {
  background: #8dc2e7;
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  height: 34px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  ul {
    width: 100%;
    list-style: none;
    @include respond-to(small-up) {
      float: left;
    }
  }
  li {
    font-weight: 500;
    @include rem-fallback(font-size, $base-font-size * 0.86);
    @include respond-to(small-up) {
      float: left;
    }
    padding: 4px 2px 2px 3px;
    margin-right: 28px;
    border-left: 1px solid black;
    border-bottom: 3px solid black;
    display: block;
  }
  .nav-last {
    border-bottom: none;
    border-left: none;
    margin-right: 0;
    padding: 0 0 0 0;
  }
  .nav-right {
    float: right;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover, &:focus {
      color: white;
    }
  }
  form {
    display: block;
  }
  label {
    position: absolute;
    left:-999px
  }
  input {
    background-color: #f8f8f8;
    border-radius: 0;
    border-color: black;
    border-bottom-width: 3px;
    height: 30px;
    margin-bottom: 0;
  }
  input[type=search] {
    width: 180px;
    @include rem-fallback(font-size, $base-font-size * 0.7);
    font-weight: 300;
    color: black;
    float: left;
  }
  input[type=search]:hover {
    border-color: $medium-gray;
  }
  input[type=search]:focus { 
    border-color: $red;
  }
  input[type=submit] {
    color: $dark-gray;
    padding: 0 8px 0 10px;
    float: left;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;   
    border-bottom: 3px solid black;
    &:hover, &:focus {
      color: $red;
      border-bottom-color: $red;
      background-color: $light-gray;
    }
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $dark-gray;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $dark-gray;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $dark-gray;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $dark-gray;
  }
}

// Animated hamburger icon
// http://www.elijahmanor.com/css-animated-hamburger-icon/
#nav-toggle { 
  cursor: pointer;
  padding: 10px 35px 16px 0;
  position: relative;
  left: 0;
  top: -11px;
  @include respond-to(small-up) {
    display: none;
  }
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 4px;
  width: 35px;
  background: $dark-gray;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -8px; 
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}

// Vertical scroll nav
//============================================

#scroll {
  position: fixed;
  top: 42%;
  right: 15px;
  z-index: 999;
  display: none;
  @include respond-to(small-up) {
    display: block;
  }
}

.scroll_item {
  border: 1px solid $deep-gray;
  background-color: white;
  width: 13px;
  height: 13px;
  margin: 10px;
  border-radius: 50%;
  @include transition(all 0.3s ease);
}

.scroll_item:hover {
  background: $red;
  cursor: pointer;
}

.scroll_item_active {
  border: 1px solid $deep-gray;
  width: 13px;
  height: 13px;
  margin: 10px;
  background-color: $red;
}

// Tooltips
//============================================
// Default styling is for vertical nav tooltips

$tooltip-background: $medium-gray;
$tooltip-color: $base-font-color;
$tooltip-width: 160px;
$tooltip-width: 10rem;
$tooltip-arrow-width: 6px;
$tooltip-shadow: 1px 0 0 $dark-gray;
$tooltip-arrow-distance-from-box: -$tooltip-arrow-width * 3.4;

.tooltip-item {
  position: relative;
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  .tooltip {
    @include position(absolute, -15px 0 0 -175px);
    @include box-sizing(border-box);
    background-color: $tooltip-background;
    color: $tooltip-color;
    @include rem-fallback(font-size, 0.8);
    line-height: 1.5;
    margin-right: 30px;
    opacity: 0;
    @include rem-fallback(padding, 0.6, 0.4, 0.5, 0.4);
    box-shadow: $tooltip-shadow;
    text-align: center;
    visibility: hidden;
    min-width: $tooltip-width;
    height: 30px;
    z-index: 10;
    p {
      @include rem-fallback(font-size, 0.8);
      line-height: 1;
      margin-bottom: 0;
    }
    &:after {
      @include position(absolute, -2px 0 0 152px);
      border: $tooltip-arrow-width solid transparent;
      color: $tooltip-background;
      content: '►';
      text-shadow: $tooltip-shadow;
      @include rem-fallback(font-size, 1);    
      pointer-events: none;
    }
  }
}

// Splash sections
//============================================
.usa {
  @include span-columns(12);
  background-color: $blue;
  text-align: center;
  height: 18px;
  img {
    padding-left: 5px;
    padding-top: 3px;
  }
  p {
    @include rem-fallback(font-size, $base-font-size * 0.8);
    font-family: Lato, sans-serif;
  }
}

.splash {
  // padding: 18 0 0 0; for usa bug
  padding: 0;
  border-bottom: $section-border;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/oil-pump.jpg) no-repeat 50% 50% fixed;
  @include respond-to(medium-up) { 
    background: url(../img/oil-pump.jpg) no-repeat 60% 100% fixed;
  }
  @include respond-to(large-up) { 
    background: url(../img/oil-pump.jpg) no-repeat 50% 80% fixed;
  }
  @include respond-to(largest-up) { 
    background: url(../img/oil-pump.jpg) no-repeat 100% 100% fixed;
  }
  @include prefixer(background-size, cover, webkit moz o spec);
  color: white;
  .title {
    @include span-columns(12);
    @include respond-to(medium-up) { 
      @include span-columns(7);
    }
  }
  .subpage {
    @include span-columns(12);
    @include respond-to(medium-up) { 
      @include span-columns(5);
    }
  }
  h1 {
    display: inline-block;
    color: white;
    @include rem-fallback(font-size, $base-font-size * 2.16);
    line-height: 1.2;
    @include respond-to(small-up) { 
      line-height: 1.6;
    }
    font-weight: 500;
    background-color: $red;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    &:first-of-type {
      margin-top: 100px;
    }
  }
  h1 + h1 {
    margin-bottom: -6px;
  }
  .subpage h1 {
    @include rem-fallback(font-size, 1.3);
    padding-left: 10px;
    padding-right: 10px;
    &:first-of-type {
      margin-top: 15px;
    }
    + h1 {
      margin-bottom: 10px;
    }
  }
  .small {
    @include small-type(1.5);
    @include respond-to(small-up) {
      @include small-type(2.16);
    }
  }
  .subpage {
    .small {
      @include small-type(1.6);
    }
  }
}
.intro {
  @include span-columns(11);
  @include respond-to(small-up) {
    @include span-columns(9);
    padding-right: 50px;
  }
  background-color: transparentize(black, 0.55);
  margin-left: 20px;
  margin-bottom: 250px;
  padding: 20px 15px 15px 30px;
  color: white;
  p {
    @include rem-fallback(font-size, $base-font-size * 1.28);
    line-height: 1.35;
  }
  a {
    color: white;
  }
}

.splash-subpage {
  border-bottom: none;
  background: none;
}

.map-frame {
  padding: 100px 0 100px 0;
  background: url(../img/fall-outside-denver.jpg) no-repeat 100% 100%;
  background-size: cover;
  border-top: $section-border;
  h1 {
    padding-top: 30px;
    font-family: Lato;
    font-weight: 300;
  }
  .intro {
    margin-bottom: 70px;
    @include respond-to(small-up) {
      margin-bottom: 200px;
    }
  }
}

.disbursement-frame {
  padding: 100px 0 100px 0;
  background: url(../img/salton-sea.jpg) no-repeat 100% 100%;
  background-size: cover;
  border-top: $section-border;
  h1 {
    padding-top: 30px;
    font-family: Lato;
    font-weight: 300;
  }
  .intro {
    margin-bottom: 70px;
    @include respond-to(small-up) {
      margin-bottom: 200px;
    }
  }
}

// Homepage Infographic Sections
//============================================

.section {
  padding: 40px 10px 50px 10px;
  background-color: $light-gray;
  overflow: hidden;
  @include respond-to(large-up) {
    padding-right: 0;
    padding-left: 0;
  }
}

// Sectors pie chart
//============================================

.sectors {
  background-color: $mid-gray;
  padding-top: 20px;
  padding-bottom: 0;
  h1 {
    font-family: Lato;
    font-weight: 100;
    color: white;
    margin-bottom: 15px;
  }
}

.sectors-canvas {
  background-color: $deep-gray;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sectors-text {
  @include span-columns(5);
  padding-top: 30px;
  padding-right: 50px;
  a {
    color: white;
  }
  svg {
    width: 35px;
    height: 35px;
    fill: white;
  }
  p {
    @include rem-fallback(font-size, 1.1);
    margin-bottom: 30px;
  }
  ul {
    margin-top: -30px;
    margin-left: 30px;
    list-style-type: disc;
    li {
    @include rem-fallback(font-size, 1.1);
    }
  }
}

.sectors-splash-text {
  font-weight: 400;
}

.sectors-big-text {
  @include rem-fallback(font-size, 1.4);
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.sectors-icons {
  display: block;
  float: left;
  &:last-of-type {
    margin-right: 7px;
  }
}

.sectors-chart {
  @include span-columns(7);
  @include omega();
  position: relative;
  padding: 15px;
  text {
    fill: white;
  }
}

.sectors-chart-instructions { //positions instructions, is not responsive yet
  position: absolute;
  right: 105px;
  p {
    font-style: italic;
  }
}

.sectors-chart-pie {
  position: relative;
  margin: 0px auto;
  width: 400px;
  float: center;
  svg {
    width: 440px; //Controls width of pie chart graphic
  }
}

.sectors-chart-pie-center {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 100px;
  position: absolute;
  opacity: 0.75;
  top: 50px;
  left: 50px;
}

.sectors-chart-pie-center-text {
  opacity: 1;
  color: black;
  position: absolute;
  top: 117px;
  left: 77px;
  width: 150px;
  text-align: center;
  h1 {
    font-family: Lato;
    font-weight: 200;
    @include rem-fallback(font-size, 1.5);
    span {
      font-weight: 300;
      @include rem-fallback(font-size, 1.7);
    }
  }
}

.sectors-chart-bar {
  padding-left: 25px;
  float: center;
}

.sectors-chart-reset {
  float: right;
  a {
    color: $light-gray;
    text-decoration: none;
    font-weight: 200;
  }
}

.sectors-chart-reset-button {
  width: 59px;
  height: 30px;
  padding-top: 2px;
  padding-left: 10px;
  border: 1px solid $mid-gray;
  &:hover,
  &:focus {
    background-color: $mid-gray;
  }
}


// Disbursment Bubble Graph
//============================================

.disburse {
  background-color: $mid-gray;
  padding-top: 20px;
  padding-bottom: 0;
  h1 {
    font-family: Lato;
    font-weight: 100;
    color: white;
    margin-bottom: 15px;
  }
  .bubble_tabs {
    margin-left: 40px;
    @include rem-fallback(font-size, 1.3);
    a {
      font-weight: 200;
      padding: 5px 13px 17px 13px;
      text-decoration: none;
      color: black;
      &:hover,
      &:focus {
        text-decoration: underline;
      } 
    }
    .active {
      color: white;
      background: $deep-gray;
    }
  }
}

.bubbles {
  background: $deep-gray;
}

.bubbles-viz {
  color: white;
  padding-top: 60px;

  @include span-columns(8);

  .bubbles-instructions {
    margin-top: 0;
    line-height: 1.2;
    font-style: italic;
    color: $mid-gray;
    font-weight: 300;
  }

  text {
    fill: white;
  }

  svg.pack {
    margin-top: 20px;

    g.node text {
      fill: white;
      @include rem-fallback(font-size, .9);
    }

    g.node circle {
      cursor: pointer;
      stroke: transparent;
      stroke-width: 2;
    }

    g.node:hover circle {
      stroke: white;
    }

    g.node.onshore circle {
      fill: $useiti-green;
    }

    g.node.offshore circle {
      fill: $useiti-blue;
    }
  }
}

// this is the info area for bubbles in the disbursement graph
.bubble-info {
  color: white;
  margin-top: 40px;

  // make all links white
  a {
    color: inherit;
  }

  h1 {
    margin: 0;
    color: inherit;
    @include rem-fallback(font-size, 1.1);
    font-weight: 300;

    .context {
      margin-left: .5em;

      &.onshore { color: $useiti-green; }
      &.offshore { color: $useiti-blue; }
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    color: inherit;
    @include rem-fallback(font-size, 1.1);
    font-family: Lato;
    font-weight: 200;
  }

  .icons .icon {
    width: 40px;
    height: 40px;
    fill: white;
  }

  &.default-display {
    color: $mid-gray;
    .icons .icon {
      fill: $mid-gray;
    }
  }
}

.bubbles-onshore-offshore {
  position: relative;
  @include span-columns(4);
  margin-top: 20px;
  .box {
    background: white;
    padding-top: 10px;
    padding-bottom: 1px;
  }
  h1 {
    font-family: Lato;
    font-weight: 700;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-left: -10px;
    @include rem-fallback(font-size, 1);
  }
  p {
    margin-right: 25px;
    margin-left: 25px;
    font-weight: 200;
    @include rem-fallback(font-size, 0.9);
    line-height: 1.4;
  }
}

.bubbles-offshore-words {
  margin-left: -20px;
  margin-right: 20px;
  h1 {
    background: $useiti-blue;
  }
}

.bubbles-onshore-words {
  margin-top: 20px;
  margin-bottom: 40px;
  h1 {
    background: $useiti-green;
  }
}

.bubbles .fund-info {
  position: absolute;
  top: 0;
  left: -30px; // to account for the offshore description, offset -20px
  right: -20px;
  height: 100%;
  background: $deep-gray;

  .box {
    margin-left: 20px;
  }

  .close {
    float: right;
    color: white;
    font-size: 1.5em;
    line-height: .75em;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
  }

  h1.offshore { background: $useiti-blue; }
  h1.onshore { background: $useiti-green; }
}

.tipsy-inner {
  text-align: left;
  padding: 15px;
  h1 {
    font-family: Lato;
    font-weight: 400;
    @include rem-fallback(font-size, 1.7);
  }
  h2 {
    font-family: Lato;
    font-weight: 200;
    margin-top: 0;
    padding-bottom: 0;
    color: black;
    @include rem-fallback(font-size, 1);
  }
  p {
    font-weight: 200;
    line-height: 1.4;
  }
  p:first-of-type {
    margin-bottom: 10px;
  }
  img {
    width: 40px;
    margin-right: 10px;
  }
  .sub {
    text-align: center;
  }
}

.tipsy-more {
  border-top: 1px solid $deep-gray;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    color: $deep-gray;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
      background-color: $light-gray;
    }
  }
}

.disbursement_bubble_details {
  h1 {
    font-weight: 300;
    @include rem-fallback(font-size, 1.1);
  }
  p {
    @include rem-fallback(font-size, 0.9);
    line-height: 1.4;
  }
}

.disbursement_bubble_details_images {
  width: 30%;
  display: inline-block;
}

.disbursement-bubble-img-containter {
  text-align: center;
}


//old stuff below here
.disbursement {
  a:active {
    text-decoration: underline;
  }
}

.disbursement-intro {
  @include span-columns(12);
  margin-bottom: 20px;
  h1 {
    @include span-columns(12 of 12);
    padding-bottom: 15px;
  }
  h1,
  h2 {
    @extend .h1;
    @include rem-fallback(font-size, 1.7);
    line-height: 1;
  }
  span:nth-of-type(1) {
    @include span-columns(12 of 12);
    padding-bottom: 5px;
  }
  span:nth-of-type(2) {
    @include span-columns(3 of 12);
    @include rem-fallback(font-size, 2.3);
    padding-left: 4%;
  }
  span:nth-of-type(3) {
    @include span-columns(9 of 12);
    padding-top: 3px;
  }
}

.dollars {
  @include span-columns(12);
  margin: 20px 0 60px 0;
  h1 {
    text-transform: uppercase;
    @include rem-fallback(font-size, 1.2);
    float: left;
    padding: 9px 8px 0 0;
  }
  a {
    @include button(pill, $medium-gray);
  }
}

#disbursment_totals_bar {
  margin-top: 20px;
  p {
    @include rem-fallback(font-size, 0.8);
    transform-origin: 0 0;
  }
  div.offshore_bar {
    p {
      margin-top: 15px;
      padding-left: 8px;
      transform: rotate(30deg);
    }
    div.disbursement_bar {
      margin: 2px;
      height: 20px;
      float: left;
      background-color: white;
    }
    > div:nth-of-type(1) {
      background-color: $purple0;
    }
    > div:nth-of-type(2) {
      background-color: $purple1;
    }
    > div:nth-of-type(3) {
      background-color: $purple2;
      p {
        position: relative;
        left: -4px;
      }
    }
    > div:nth-of-type(4) {
      background-color: $purple3;
      p {
        position: relative;
        left: -1px;
      }
    }
    > div:nth-of-type(5) {
      background-color: $purple4;
      p {
        position: relative;
        left: 7px;
      }
    }
  }
  div.onshore_bar {
    p {
      margin-top: -14px;
      padding-left: -1px;
      transform: rotate(-30deg);
    }
    div.disbursement_bar {
      margin: 2px;
      height: 20px;
      float: left;
    }
    > div:nth-of-type(1) {
      background-color: $orange0;
    }
    > div:nth-of-type(2) {
      background-color: $orange1;
    }
    > div:nth-of-type(3) {
      background-color: $orange2;
    }
    > div:nth-of-type(4) {
      background-color: $orange3;
    }
    > div:nth-of-type(5) {
      background-color: $orange4;
    }
  }
}

// .bubbles {
//   //@include span-columns(12);
//   .offshore {
//     @include span-columns(6 of 12);
//   }
//   .onshore {
//     @include span-columns(6 of 12);
//   }
//   h1 {
//     @include rem-fallback(font-size, 1.4);
//     span {
//       color: $purple1;
//     }
//     border-top: 2px solid $purple1;
//     margin-top: 20px;
//     margin-bottom: 10px;
//   }
//   .onshore h1 {
//     span {
//       color: $orange1;
//     }
//     border-top: 2px solid $orange1;
//   }
//   h2 {
//     text-transform: uppercase;
//     @include rem-fallback(font-size, 0.9);
//     font-weight: 800;
//     margin-top: 4px;
//     padding-left: 3px;
//     border-left: 2px solid black;
//     &:hover, &:focus {
//       border-left: none;
//     }
//     a {
//       color: black;
//       &:hover, &:focus {
//         text-decoration: none;
//         cursor: pointer;
//       }
//     }
//   }
// }
.stats-offshore {
  line-height: 15px;
  position: relative;
  img {
    height: 70px;
  }
  .info_bubble {
    border: 2px solid $highlight;
    background-color: $purple3;
  }
  > div {
    border-radius: 1000px;
    margin: 2px;
    padding: 1px;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $highlight;
      cursor: pointer;
      cursor: hand;
    }
  }
  > div:nth-of-type(2) {
    background-color: $purple2;
    margin-left: 10%;
    margin-top: 6%;
  }
  > div:nth-of-type(3) {
    background-color: $purple3;
    margin-top: 5%;
    > div {
      line-height: 1;
      @include rem-fallback(font-size, 0.9);
    }
  }
  > div:nth-of-type(4) {
    background-color: $purple1;
  }
  > div:nth-of-type(5) {
    background-color: $purple0;
    margin-top: -8%;
  }
  > div:nth-of-type(6) {
    background-color: $purple4;
    margin-left: -4%;
  }
}
.stats-onshore {
  line-height: 15px;
  position: relative;
  img {
    height: 70px;
  }
  .info_bubble {
    border: 2px solid $highlight;
    background-color: $orange3;
  }
  > div {
    border-radius: 1000px;
    margin: 2px;
    padding: 1px;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $highlight;
      cursor: pointer;
      cursor: hand;
    }
  }
  > div:nth-of-type(2) {
    background-color: $orange3;
    margin-top: 37%;
  }
  > div:nth-of-type(3) {
    background-color: $orange2;
    margin-top: 3%;
    margin-top: 24%;
  }
  > div:nth-of-type(4) {
    background-color: $orange4;
    margin-left: -39%;
    margin-top: 21%;
  }
  > div:nth-of-type(5) {
    background-color: $orange1;
    margin-left: -0.5%;
  }
  > div:nth-of-type(6) {
    background-color: $orange0;
    margin-left: -16%;
    margin-top: -6%;
  }
}
.disbursement_bubble {
  float: left;
  text-align: center;
  display: table;
  position: relative;
  width: auto;
  height: auto;
  div {
    display: table-cell;
    vertical-align: middle;
    color: black;
  }
}
div.disbursement_bubble_rollover {
  position: absolute;
  top: 65%;
  left: 25%;
  z-index: 100;
  display: none;
  padding: 10px;
  color: $light-gray;
  background-color: $dark-gray;
  border: 1px solid $deep-purple;
  opacity: 0.85;
  border-radius: 3px;
  @include rem-fallback(font-size, 0.9);
  text-align: left;
  .statsOnshore {
    border: 1px solid $deep-orange;
  }
}
.info_bubble {
  position: absolute;
  top: 20%;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1000;
  display: none;
  .disbursement_bubble_details {
    @include span-columns(9);
    @include shift(2);
    text-align: left;
    margin-top: 9%;
    h1 {
      border: none;
      color: black;
      text-transform: none;
      @include rem-fallback(font-size, 1.5);
      line-height: 1.1
    }
    p {
      @include rem-fallback(font-size, 1);
      line-height: 1.1
    }
    .disbursement_bubble_details_images {
      @include span-columns(3 of 9);
    }
  }
}

// Map
//============================================
//how do natural resources become Federal revenue?
.how {
  padding-top: 20px;
  padding-bottom: 0;
  background-color: $mid-gray;
  .map-title { //remove once the new styles become global variables
    h1 {
      font-family: Lato;
      font-weight: 100;
      color: white;
      margin-bottom: 15px;
    }
  }
  > h1 {
    @include span-columns(12);
  }
  p {
    @include span-columns(12);
    @include respond-to(small-up) { 
      @include span-columns(6);
      + p {
        @include omega();
      }
    }
    margin-right: 1%;
    @include rem-fallback(font-size, 1);
    padding-left: 0;
    line-height: 1.2;
  }
  ol {
    @include span-columns(11);
    @include respond-to(small-up) { 
      @include span-columns(5);
    }
    list-style-type: decimal;
    @include rem-fallback(margin-left, 1);
    margin-top: 5px;
    @include rem-fallback(font-size, 0.8);
    line-height: 1.1;
    li {
      padding-bottom: 8px;
    }
    span:first-of-type {
      font-weight: 600;
    }
  }
}

.map-canvas {
  background-color: $deep-gray;
}

.map-notes,
.sectors-chart-notes,
.disbursement-chart-notes {
  color: white;
  margin-top: 50px;
  padding-bottom: 30px;
  font-style: italic;
  h1,
  p {
    @include span-columns(12);
    @include rem-fallback(font-size, 0.8);
    font-weight: 300;
    font-family: $base-font-family;
    color: white;
  }
  a {
    color: inherit;
  }
  ol li,
  ul li {
    @include rem-fallback(font-size, 0.8);
  }
  .term-tooltip {
    i {
      @include rem-fallback(font-size, 0.7);
    }
  }
}

.sectors-chart-notes,
.disbursement-chart-notes {
  @include span-columns(4);
  @include shift(8);
  @include omega();
  text-align: right;
  margin-top: 0;
  padding-bottom: 0;
  li {
    line-height: 1.2;
    padding-bottom: 5px;
  }
}

.disbursement-chart-notes {
  margin-top: -20px;
  margin-bottom: 20px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-container {
  margin-top: 130px;
  @include respond-to(small-up) {
    margin-top: 0;
  }
  @include span-columns(12);
  position: relative;
  height: 400px;
  @include respond-to(small-up) {
    height: 600px;
  }
  margin-bottom: 15px;
}

.map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.menu-ui {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 10000;
}

.map-info-pane {
  position: absolute;
  right: 0;
  width: 100%;
  @include prefixer(transition, height 2s, webkit moz spec);
  @include respond-to(small-up) {
    top: 10px;
    right: 10px;
    min-height: 50px;
    min-width: 150px;
    max-width: 200px;
    span {
      display: none;
    }
  }
  line-height: 1.1;
  padding: 10px;
  z-index: 10000;
  background-color: $dark-medium-gray;
  border: 1px solid $dark-gray;
  display: none;
  h1 {
    font-family: $base-font-family;
    @include rem-fallback(font-size, 1.3);
    line-height: 1;
    font-weight: 400;
    padding-bottom: 10px;
  }
  div:first-of-type {
    margin-bottom: 9px;
  }
  aside {
    p {
      @include span-columns(12);
      margin-top: 11px;
      margin-bottom: 0px;
      color: lighten($dark-gray, 5%);
      font-style: italic;
      @include rem-fallback(font-size, 0.8);
      line-height: 1.1;
    }
    p+p {
      margin-top: 8px;
    }
  }
}

.map-info-pane-minimized {
  bottom: 0px;
  
  overflow: hidden;
  span {
    float: right;
  }
}

.map-info-pane-expanded {
  top: 190px;
  min-height: 50px;
  overflow: visible;
  span {
    &:after {
      content: '▼';
    }
  }
}

.map-comodities-pane {
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  @include respond-to(small-up) {
    top: 165px;
    left: 10px;
    width: 150px;
  }
  h1 {
    @extend .h4;
  }
  z-index: 998;
  > a {
    position: relative;
    float: left;
    width: 33%;
    height: 40px;
    @include respond-to(small-up) {
      width: 75px;
      height: 75px;
    }
    background-color: $dark-medium-gray;
    border: 1px solid black;
    color: black;
    transition: none;
    h1 {
      position: absolute;
      padding-top: 9px;
      padding-left: 6px;
      @include respond-to(small-up) {
        bottom: -18px;
        right: 2px;
        @include rem-fallback(font-size, 0.8);
        padding: 0;
      }
      @include rem-fallback(font-size, 1.1);
      font-weight: 300;
      font-family: $base-font-family;
    }
    .small { //for long commodity names
      @include rem-fallback(font-size, 1.2);
      @include respond-to(small-up) {
        @include rem-fallback(font-size, 0.72);
      }
    }
    svg {
      display: none;
      @include respond-to(small-up) {
        width: 57px;
        height: 57px;
        padding-top: 15px;
        padding-left: 15px;
        display: inline;
        fill: black;
      }
    }
    &:hover,
    &:focus {
      background-color: $darker-gray;
      cursor: pointer;
      h1 {
        color: white;
      }
      svg {
        fill: white;
      }
    }
    &[aria-pressed="true"] {
      background-color: black;
      cursor: pointer;
      outline: none;
      h1 {
        color: white;
      }
      svg {
        fill: white;
      }
    }
  }
}

.map-comodities-pane .tooltip-item {
  $tooltip-background: #9b9b9b;
  $tooltip-shadow: 0 1px 0 $dark-gray;
  $tooltip-arrow-distance-from-box: -$tooltip-arrow-width * 3.4;
  position: relative;
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  .tooltip {
    @include position(absolute, -15px 0 0 85px);
    background-color: $tooltip-background;
    opacity: 0;
    box-shadow: $tooltip-shadow;
    text-align: left;
    visibility: hidden;
    height: 70px;
    p {
      width: 100%;
    }
    &:after {
      @include position(absolute, -2px 0 0 -15px);
      border: $tooltip-arrow-width solid transparent;
      color: $tooltip-background;
      content: '◄';
      text-shadow: $tooltip-shadow; 
      pointer-events: none;
    }
  }
}

#map-scale-pane {
  position: absolute;
  right: 0;
  bottom: -80px;
  display: none;
  @include respond-to(small-up) {
    display: block;
    right: 10px;
    bottom: 35px;
  }
  background-color: $dark-medium-gray;
  border: 1px solid $dark-gray;
  padding: 3px;
  z-index: 999;
  h1 {
    font-family: $base-font-family;
    @include rem-fallback(font-size, 1.1);
    line-height: 1;
    font-weight: 400;
  }
  div.map-scale {
    width: 250px;
    height: 20px;
    border: 1px solid black;
    // background: -webkit-linear-gradient(left, #efaeab, #7e3533);
    /* For Safari 5.1 to 6.0 */
    
    // background: -o-linear-gradient(right, #efaeab, #7e3533);
    /* For Opera 11.1 to 12.0 */
    
    // background: -moz-linear-gradient(right, #efaeab, #7e3533);
    /* For Firefox 3.6 to 15 */
    
    // background: linear-gradient(to right, #efaeab, #7e3533);
    /* Standard syntax (must be last) */

    div.step {
      display: inline-block;
      height: 100%;
    }
  }
  div.map-scale-min {
    float: left;
  }
  div.map-scale-max {
    float: right;
  }
}
path {
  -webkit-transition: fill 200ms;
  transition: fill 200ms;
}

// Subpage Layout
//===============================================
article {
  @include span-columns(11);
  @include respond-to(medium-up) {
    @include span-columns(8);
  }
  @include rem-fallback(font-size, 18);
  h1 {
    padding-bottom: 24px;
  }
  h2,
  h2 a,
  .offices h1 {
    @extend .h2;
  }
  .offices h1 {
    margin-top: 0;
  }
  h3 {
    @extend .h3;
  }
  h4 {
    @extend .h4;
  }
  ul {
    margin-bottom: 13.5px;
  }
  .sectors-page {
    p,
    ul li,
    ol li {
      font-weight: 300;
    }
    ul li {
      @include rem-fallback(font-size, 1);
      margin-bottom: 3px;
      padding-left: 3px;
      color: white;
      text-shadow: 1px 1px $dark-gray;
    }
    ul:nth-of-type(1) {
      li:nth-of-type(1) {
        width: 31% * 4.5;
        background: $purple4;
      }
      li:nth-of-type(2) {
        width: 10% * 4.5;
        background: $purple3;
      }
      li:nth-of-type(3),
      li:nth-of-type(4) {
        width: 8% * 4.5;
        background: $purple2;
      }
      li:nth-of-type(5) {
        width: 4% * 4.5;
        background: $purple1;
      }
    }
    ul:nth-of-type(2) {
      li:nth-of-type(1) {
        width: 9.1% * 10.5;
        background: $purple4;
      }
      li:nth-of-type(2) {
        width: 7.1% * 10.5;
        background: $purple3;
      }
      li:nth-of-type(3) {
        width: 4.2% * 10.5;
        background: $purple2;
      }
      li:nth-of-type(4) {
        width: 2.9% * 10.5;
        background: $purple1;
      }
    }
    ul:nth-of-type(3) {
      li:nth-of-type(1) {
        width: 29% * 4.5;
        background: $purple4;
      }
      li:nth-of-type(2) {
        width: 13% * 4.7;
        background: $purple3;
      }
      li:nth-of-type(3) {
        width: 9% * 4.9;
        background: $purple2;
      }
      li:nth-of-type(4),
      li:nth-of-type(5) {
        width: 8% * 5.2;
        background: $purple1;
      }
    }
    ul:nth-of-type(4) {
      li:nth-of-type(1) {
        width: 78% * 1.6;
        background: $purple4;
      }
      li:nth-of-type(2) {
        width: 17% * 2.5;
        background: $purple3;
      }
      li:nth-of-type(3),
      li:nth-of-type(4) {
        width: 2% * 8.2;
        background: $purple2;
      }
      li:nth-of-type(5),
      li:nth-of-type(6) {
        width: 1% * 15;
        background: $purple1;
      }
    }
  }
    ol {
      margin-bottom: 13.5px;
      list-style-type: decimal;
      list-style-position: inside;
      li {
        color: black;
        text-shadow: none;
      }
    }
  }
.article-nav {
  @include span-columns(3);
  border: 1px solid white;
  background-color: darken($light-gray, 5%);
  margin-left: 20px;
  padding: 10px;
  width: 190px;
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  h1 {
    @include rem-fallback(font-size, 1);
    font-style: italic;
    color: $dark-gray;
    padding-bottom: 5px;
  }
  ul li {
    line-height: 1;
    padding: 4px;
    > ul {
      padding-top: 5px;
      li {
        @include rem-fallback(font-size, 0.8);
        padding-top: 0;
      }
    }
  }
}

.offices {
  article {
    @include span-columns(12);
    div:nth-of-type(1) {
      @include span-columns(2);
    }
    div:nth-of-type(2) {
      @include span-columns(8);
    }
    img {
      float: left;
      width: 100px;
      padding-right: 10px;
      padding-top: 21px;
    }
    div > h1 {
      font-family: $secondary-font-family;
      color: $dark-gray;
      @include rem-fallback(font-size, 1.3);
      font-weight: 300;
    }
  }
}

.terms {
  h1 {
    @extend .h2;
  }
  dl {
    @include span-columns(9);
    margin-top: 0;
    dt {
      font-family: $secondary-font-family;
      color: $dark-gray;
      @include rem-fallback(font-size, 1.3);
      font-weight: 300;
      margin-top: 20px;
    }
  }
}

// Data Dashboard
//===============================================

$max-width: 100%; //this is setting the width of outer-container.
//find this variable elsewhere and change it
//what about the rest of the site that is not full-width?

.dashboard {
  background-color: $mid-gray;
  padding-top: 20px;
  padding-bottom: 0;
  h1 {
    font-family: Lato;
    font-weight: 100;
    color: white;
    margin-bottom: 15px;
  }
  p {
    i {
    @include rem-fallback(font-size, 0.8);
    }
    a {
      color: white;
    }
  }
  .dashboard_tabs {
    margin-top: -20px;
    margin-left: 60%;
    @include rem-fallback(font-size, 1);
    a {
      font-weight: 300;
      padding: 5px 17px 17px 17px;
      text-decoration: none;
      color: black;
      &:hover,
      &:focus {
        text-decoration: underline;
      } 
    }
    .active {
      color: white;
      background: $deep-gray;
    }
  }
}

.dashboard-head {
  padding-left: 20px;
  padding-right: 20px;
}

.dashboard-canvas {
  background-color: $deep-gray;
  @include span-columns(12);
  padding: 20px;
  color: white;
  h1 {
    font-family: Lato;
    font-weight: 200;
    color: white;
    @include rem-fallback(font-size, 1.7);
  }
  > h1 {
    padding-left: 20px;
  }
  > div {
    background-color: $almost-black;
    padding: 20px;
    h1 {
      @include rem-fallback(font-size, 0.9);
      font-weight: 700;
    }
    p {
      @include rem-fallback(font-size, 0.9);
      font-style: italic;
    }
    &:nth-of-type(4) {
      background-color: $deep-gray;
    }
  }
}

.table-search-container {
  position: relative;
}

.table-search-reset {
  position: absolute;
  top: 4px;
  right: 5px;
  a i {
    color: $medium-gray;
    &:hover,
    &:focus {
      color: white;
    }
  }
}

$dashboard-height: 400px;

.dashboard-table {
  @include span-columns(4 of 12);
  height: $dashboard-height;
  a {
    color: white;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  input {
    background-color: $mid-gray;
    border: none;
    border-radius: 0;
    color: white;
    font-style: italic;
    font-weight: 200;
    @include rem-fallback(font-size, 0.9);
  }
  .dc-table-label {
    display: none;
  }
  table {
    @include rem-fallback(font-size, 0.8);
  }
}

.dashboard-table-more {
  @include rem-fallback(font-size, 0.8);
  text-align: right;
}

.dashboard-table-expand {
  @include span-columns(5 of 12);
}

.dashboard-table-canvas {
  height: 250px;
  overflow: scroll;
  th {
    padding: 0;
  }
  td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: none;
  }
}

.dashboard-revenue {
  height: $dashboard-height;
  @include span-columns(2 of 12);
  $size: 36px;
  a {
    width: 100px;
    display: block;
    padding: 1px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    @include rem-fallback(font-size, 0.8);
    > div {
      width: $size;
      height: $size;
      margin-right: 7px;
      background-color: $almost-black;
      display: inline-block;
      text-align: center;
      padding-top: 8px;
    }
    &:hover,
    &:focus {
      color: black;
      > div {
        background-color: darken($mid-gray, 10%);  
      }
    }
    &:nth-of-type(1) {
      background-color: $useiti-red;
      > div {
        color: $useiti-red;
      }
    }
    &:nth-of-type(2) {
      background-color: $useiti-green;
      > div {
        color: $useiti-green;
      }
    }
    &:nth-of-type(3) {
      background-color: $useiti-blue;
      > div {
        color: $useiti-blue;
      }
    }
    &:nth-of-type(4) {
      background-color: $useiti-purple;
      > div {
        color: $useiti-purple;
      }
    }
  }
}

.dashboard-revenue, 
.dashboard-chart {
  p {
    margin-top: -15px;
    margin-bottom: 3px;
  }
}

.dashboard-revenue-buttons {
  padding-top: 30px;
  padding-left: 13%;
}

.dashboard-chart {
  @include span-columns(4 of 12);
  @include omega();
  height: $dashboard-height;
  g g.axis text {
    fill: white;
  }
  g g.dc-legend-item text {
    fill: white;
  }
}

#dashboard-bar-rev-by-commodity-group {
  g.stack._0  > rect.bar {
    stroke: none;
    fill: $red;
  }
  g.stack._1 > rect.bar {
    stroke: none;
    fill: $useiti-green;
  }
  g.stack._2 > rect.bar {
    stroke: none;
    fill: $useiti-blue;
  }
  g.stack._3 > rect.bar {
    stroke: none;
    fill: $useiti-purple;
  }
}

#dashboard-bar-rev-by-revenue-type-coal {
  g.stack._0  > rect.bar {
    stroke: none;
    &:nth-of-type(1) {
      fill: $useiti-green;
    }
    &:nth-of-type(2) {
      fill: $useiti-purple;
    }
    &:nth-of-type(3) {
      fill: $useiti-red;
    }
    &:nth-of-type(4) {
      fill: $useiti-blue;
    }
  }
}

#dashboard-bar-rev-by-revenue-type-oil-and-gas {
  g.stack._0  > rect.bar {
    stroke: #272727;
    fill: darken($useiti-blue, 10%);
  }
  g.stack._1 > rect.bar {
    stroke: #272727;
    fill: lighten($useiti-blue, 10%);
  }
  g.stack._2 > rect.bar {
    stroke: none;
    &:nth-of-type(1) {
      fill: $useiti-green;
    }
    &:nth-of-type(2) {
      fill: $useiti-purple;
    }
    &:nth-of-type(3) {
      fill: $useiti-red;
    }
  }
  g.dc-legend-item:nth-child(1) > rect:nth-child(1) {
    stroke: none;
    fill: darken($useiti-blue, 10%);
  }
  g.dc-legend-item:nth-child(2) > rect:nth-child(1) {
    stroke: none;
    fill: lighten($useiti-blue, 10%);
  }
  g.dc-legend-item:nth-child(3) {
    display: none;
  }
}

#dashboard-bar-rev-by-revenue-type-renewables {
  g.stack._0  > rect.bar {
    stroke: none;
    &:nth-of-type(1) {
      fill: $useiti-purple;
    }
    &:nth-of-type(2) {
      fill: $useiti-red;
    }
    &:nth-of-type(3) {
      stroke: #272727;
      fill: darken($useiti-red, 10%);
    }
    &:nth-of-type(4) {
      fill: $useiti-blue;
    }
  }
  g.stack._1 > rect.bar {
    stroke: #272727;
    fill: lighten($useiti-red, 10%);
  }
  g.dc-legend-item:nth-child(1) > rect:nth-child(1) {
    stroke: none;
    fill: darken($useiti-red, 10%);
  }
  g.dc-legend-item:nth-child(2) > rect:nth-child(1) {
    stroke: none;
    fill: lighten($useiti-red, 10%);
  }
}

.dashboard-download {
  margin-top: 30px;
  margin-bottom: 5px;
  span {
    font-weight: 800;
  }
}

.dashboard-button {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  color: lighten($mid-gray, 25%);
  @include rem-fallback(font-size, 0.8);
  text-decoration: none;
  border: 1px solid lighten($mid-gray, 25%);
  &:hover, &:focus {
    color: white;
    > div {
      color: white;
    }
  }
  > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    padding-top: 3px;
    text-align: center;
    background-color: lighten($mid-gray, 25%);
    color: $almost-black;
    @include rem-fallback(font-size, 1);
  }
}

.dashboard-company {
  .dashboard-download {
    margin-left: -20px;
    p {
      margin-top: 0;
      font-weight: 300;
    }
  }
  .dashboard-button {
    margin-top: 20px;
  }
}

.dashboard-company-intro {
  @include rem-fallback(font-size, 0.9);
  width: 650px;
  margin-top: -50px;
  margin-left: 360px;
}

.dashboard-chart-back {
  margin-top: -60px;
  margin-right: 30px;
  a {
    color: white;
    text-decoration: none;
    @include rem-fallback(font-size, 0.7);
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.dashboard-over-time,
.dashboard-location {
  > div:nth-of-type(1) {
    @include span-columns(5 of 12);
    margin-bottom: 50px;
    p {
      font-style: normal;
    }
    ul li {
      @include rem-fallback(font-size, 0.9);
      padding-bottom: 5px;
      padding-left: 20px;
      span {
        font-weight: 300;
      }
    }
  }
  > div:nth-of-type(2) {
    background-color: $deep-gray;
    @include span-columns(6 of 12);
  }
}

text.x-axis-label{
  @include rem-fallback(font-size, 0.8);
  stroke: none;
  fill: white;
}

// Documentation
//============================================

.documentation {
  h1 {
    @extend .h2;
  }
  h2 {
    @extend .h3;
  }
  h3 {
    @extend .h4;
    border-bottom: none;
  }
  p i {
    @include rem-fallback(font-size, 0.8);
  }
  ul {
    margin-top: -10px;
    li {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
  span {
    font-weight: 300;
  }
  .term-tooltip {
    font-weight: 200;
  }
}

.documentation-head {
  border-bottom: 1px solid $mid-gray;
  padding-bottom: 5px;
  padding-left: 20px;
}

.documentation-tabs {
  @include rem-fallback(font-size, 1);
  a {
    font-weight: 300;
    padding: 5px 17px 8px 17px;
    text-decoration: none;
    color: black;
    border-top: 1px solid $mid-gray;
    border-right: 1px solid $mid-gray;
    border-left: 1px solid $mid-gray;
    border-bottom: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    } 
  }
  .active {
    border-bottom: 2px solid $light-gray;
  }
}

// Search
//============================================

.search-intro {
  font-weight: 300;
}

.search-results {
  .credit {
    margin-top: 40px;
    text-align: right;
  }
}

.search-header {
  p {
      @include span-columns(6);
  }
  p:last-of-type {
      text-align: right;
  }
}

.search-result-list {
  @include span-columns(8 of 8);
  h1,
  h1 a {
      @extend .h2;
  }
}

.search-no-results {
  h1 {
    @extend .h2;
  }
  h2 {
    @extend .h3;
    border-bottom: none;
  }
}

.search-new {
  @include clearfix;
  label {
    position: absolute;
    left:-999px
  }
  input {
    display: inline;
    border-radius: 0;
  }
  input[type=search] {
    float: left;
    width: 400px;
    border-top: 1px solid black; 
    border-right: 1px solid black;
    border-left: 1px solid black;   
    border-bottom: 3px solid black;
    &:hover {
      border-color: $medium-gray;
    }
    &:focus {
      border-color: $red;
    }
  }
  input[type=submit] {
    float: left;
    color: $dark-gray;
    background-color: white;
    padding: 11px 10px 11px 10px;
    border-top: 1px solid black; 
    border-right: 1px solid black;   
    border-bottom: 3px solid black;
    &:hover, &:focus {
      color: $red;
      border-bottom-color: $red;
      background-color: $light-gray;
    }
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $dark-gray;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $dark-gray;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $dark-gray;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $dark-gray;
  }
}

// Footer
//============================================

.footer {
  border-top: $section-border;
  h1 {
    @extend .h4;
    font-family: Lato;
    font-weight: 500;
  }
  img {
    width: 120px;
    margin-top: -15px;
    float: right;
  }
  a {
    color: black;
    text-decoration: underline;
    &:hover, &:focus {
      color: $red;
      text-decoration: none;
    }
  }
  span {
    font-weight: 500;
  }
}

.footer-column {
@include span-columns(12);
  @include respond-to(small-up) {
    @include span-columns(6);
  }
}

.sr-only {
  width:1px;
  height:1px;
  overflow: hidden;
  padding:0;
  margin: -1px;
  position: absolute;
}

