/*============================================
Mixins
============================================*/

// shrinks designated text and aligns it with x-height of neighboring text
// must insert size of neighboring text in em as variable
@mixin small-type($parent-font-size) {
	position: relative;
    top: -1 * (.2 * $parent-font-size);
    font-size: .35 * $parent-font-size;
}

// enlarges designated text
// must insert size of neighboring text in em as variable
@mixin large-type($parent-font-size) {
	position: relative;
	display: inline-block;
	padding: 15px 0 13px 0;
	font-size: 2.1 * $parent-font-size;
}

/*============================================
Utility
============================================*/
.container {
	@include outer-container;
}
.textRight {
	text-align: right;
}
.textLeft {
	text-align: left;
}

/*============================================
Homepage Splash
============================================*/
.usa {
	@include span-columns(12);
	background-color: $blue;
	text-align: center;
    height: 20px;
    font-size: 14px;
    font-size: rem(13);
    p {
    font-family: Lato, sans-serif;}
}
.splash {
	padding: 50px 0px 0px 0px;
    background: url(../img/oil_blur.jpg) no-repeat top center fixed;
    color: white;
    .title {
    	@include span-columns(7);
    }
    h1 {
    	display: inline-block;
        color: white;
        font-size: 2.16em;
        line-height: 1.6em;
        font-weight: 500;
        background-color: $red;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
    }
    h1 + h1 {
        margin-bottom: -6px;
    }
    .intro {
    	@include span-columns(9);
        background-color: transparentize(black, 0.55);
        margin-left: 20px;
        padding: 20px 50px 15px 30px;
        p {
        	font-size: $base-font-size + .1em;
        	line-height: 1.3em;
        }
        a {
            color: white;
        }
    }
    .small {
    	@include small-type(2.16em);
    }
}
.moreDown {
    width: 30px;
    float: left;
    margin: -5px 4px auto -14px;
}

/*============================================
Nav
============================================*/
ul.menu a.active li {
  color: lighten($blue, 35%);
  &:hover, &:focus {
      color: white;
  }
}
ul.menu a.active li::before {
  content: "\2605 ";
}
.nav {
    background: #8dc2e7;
    background: rgba(141, 194, 231, 0.65);
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    ul {
        width: 100%;
        float: left;
        list-style: none;
    }
    li {
        font-weight: 500;
        float: left;
        padding: 5px 3px 3px 3px;
        margin-right: 32px;
        border-left: 1px solid black;
        display: block;
    }
    a {
        color: black;
        text-decoration: none;
        &:hover, &:focus {
            color: white;
        }
    }
}

/*============================================
Homepage Infographic Sections
============================================*/
.section {
	padding: 40px 0 50px 0;
    overflow: hidden;
}
.break {
    padding: 8px 20px 0px 20px;
    background: url(../img/unsplash_fuzzy_lights.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  .down {
    width: 36px;
  }
}

//section background color options
.light-gray { background-color: $light-gray; }
.medium-gray { background-color: $medium-gray; }
.blue { background-color: $blue; }

//adjustments for infographic in each section
.sectors {
	@include span-columns(4);
    h1 {
        padding-bottom: 40px;
        font-size: 26px;
        font-size: rem(26);
        line-height: 1em;
        font-weight: 800;
    }
    h2 {
	    display: block;
	    color: $dark-gray;
	    font-size: 18px;
	    font-size: rem(18);
	    line-height: 1.1em;
	    font-weight: 800;
	    border-bottom: 2px solid $dark-gray;
	    margin-bottom: 15px;
	    padding-bottom: 5px;
    }
    p {
        font-size: 0.82em;
        line-height: 1em;
        padding-left: 5px;
        @include span-columns(9);
    }
}
.sectors-img {
    height: 40px;
    @include span-columns(2);
}
.sectors-chart {
	@include span-columns(7);
    background-color: #F8F8F8;
    border: 1px solid white;
    border-radius: 3px;
    padding: 15px;
    h1 {
        color: $dark-gray;
        text-transform: uppercase;
        font-size: 18px;
        font-size: rem(18);
        border-bottom: 2px solid $dark-gray;
    }
}
.sectors-social {
	@include span-columns(11);
	img {
		float: right;
	    height: 35px;
	    padding-left: 20px;
	    margin-bottom: 20px;
	}
}
.sectors-big-text {
	@include large-type(1.625rem);
	font-family: Raleway, sans-serif;
	font-weight: 800;
}

#pie-chart-center {
    height: 160px;
    width: 160px;
    background: white;
    border: 5px solid $medium-gray;
    border-radius: 100px;
    margin-left: 24%;
    margin-top: 24%;
    position: absolute;
    opacity: 0.8;
    top: -25px;
    left: -23px;
}   

#pie-chart-center-text {
    opacity: 1;
    color: $dark-gray;
    position: absolute;
    top: 117px;
    left: 77px;
    width: 150px;
    text-align: center;
    h4 {
        font-size: 22px;
        font-size: rem(22);
        font-family: $secondary-font-family;
        font-weight: 800;
    }
}

#sector-revenue-pie-chart {
    position: relative;
    margin: 0px auto;
    width: 400px;
    float: center;
    svg {
        width: 400px;
    }
}

#sector-revenue-bar-chart{
    float: center;
}

//where does the money go?
.where {
	h1 { 
		font-size: 26px;
		font-size: rem(26);
		line-height: 1em;
	}
	h3 {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 800;
	}
	h3, a {
		color: $purple1;
		text-decoration: underline;
		&:hover, &:focus{
			text-decoration: none;
			cursor: pointer;
		}
	}
	span.click-me {
        font-weight: 900;
    }
	span:first-of-type {
		@include span-columns(12);
		padding-bottom: 15px;
	}
	span:nth-of-type(2){
		@include span-columns(3);
		font-size: 34px;
		font-size: rem(34);
		padding-left: 5%;
	}
	span:nth-of-type(3){
		@include span-columns(9);
	}
}
.where-info {
    @include span-columns(6);
    img {
        height: 70px;
    }
    h2 {
        font-size: 16px;
        font-size: rem(16);
        text-transform: uppercase;
        color: $purple1;
        border-bottom: 2px solid $purple1;
	}
	.onshore h2 {
		color: $orange1;
        border-bottom: 2px solid $orange1;
	}
	p {
		margin-top: 20px;

	}
}
.offshore {
    min-height: 580px;
    position:relative;
    top: 30px;
    h1 {
        padding: 20px 0 5px 0;
    }
	span:first-of-type {
		color: $purple1;
		float: none;
		display: inline;
	}
	.where-info-examples > div {
		@include span-columns(4);
		text-align: center;
	}
}
.onshore {
    min-height: 370px;
    margin-top: -20px;
    h2, h3, a {
        color: $orange1;
        border-bottom-color: $orange1;
	}
	span:first-of-type {
		color: $orange1;
		float: none;
		display: inline;
	}
	.where-info-examples-small {
		@include span-columns(3);
		text-align: right;
	}
	.where-info-examples-large {
		@include span-columns(9);
		p {
			margin-top: 6px;
		}
	}
}
.stats-offshore, .stats-onshore {
    width: 100%;
    height: 270px;
    @include span-columns(6);
}

.stats-offshore > div, .stats-onshore > div {
    position: relative;
    margin-right: 0.5%;
    padding: 10px;
    p {
        font-family: $secondary-font-family, sans-serif;
        font-weight: 800;
        font-size: 26px;
        font-size: rem(26);
        line-height: 1em;
    }
    &:hover, &:focus {
        opacity: 0.75;
    }
}

.stats-offshore div:nth-child(1), .stats-onshore div:nth-child(1) {
    width: 49.5%;
    background-color: #7E5177;
    float: left;
    height: 100%;
}

.stats-offshore div:nth-child(2) {
    width: 49.5%;
    background-color: #9A6B93;
    float: right;
    height: 63.5%;
    margin-bottom: .5%;
    p {
        font-size: 50px;
        font-size: rem(50);
    }
}

.stats-offshore div:nth-child(3) {
    width: 22.5%;
    background-color: #B595B0;
    float: right;
    height: 35.5%;
    padding-left: 5px;
    p {
        font-size: 18px;
        font-size: rem(18);
    }
}

.stats-offshore div:nth-child(4) {
    width: 26.5%;
    background-color: #B183AA;
    float: right;
    height: 35.5%;
    padding-left: 5px;
    padding-right: 0px;
    p {
        font-size: 15px;
        font-size: rem(15);
        margin: -0.8em auto auto 34%;
    }
}

.stats-offshore > div h1, .stats-onshore > div h1 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em;
    font-size: 18px;
    font-size: rem(18);
    text-transform: uppercase;
    font-weight: 500;
}

.stats-offshore div:nth-child(3) h1, .stats-offshore div:nth-child(4) h1 {
    padding-top: 1.8em;
    padding-bottom: 0.25em;
    font-size: 0.8em;
}

.stats-offshore > div i, .stats-onshore > div i {
    position: absolute;
    text-align: right;
    font-family: $base-font-family;
    font-weight: 800;
    font-size: 50px;
    font-size:	rem(50);
    color: $deep-purple;
    top: -18px;
    right: 5px;
    font-style: normal;
}

.stats-onshore div:nth-child(1) {
    background-color: $orange1;
    p {
        font-size: 50px;
        font-size: rem(50);
    }
}

.stats-onshore div:nth-child(2) {
    width: 49.5%;
    background-color: $orange2;
    float: right;
    height: 73.5%;
    margin-bottom: .5%;
    p {
        font-size: 50px;
        font-style: rem(50);
    }
}

.stats-onshore div:nth-child(3) {
    width: 49.5%;
    background-color: $orange3;
    float: right;
    height: 25.5%;
    p {
        font-size: 24px;
        font-style: rem(24);
    }
}

.stats-onshore div:nth-child(3) h1 {
    padding-bottom: 0.25em;
}

.stats-onshore > div i {
    color: $deep-orange;
}
.dollars {
    margin-top: -30px;
    h1 {
        padding: 40px 0 20px 0;
    }
}

//how do natural resources become Federal revenue?
.how {
    h1 {
    	@include span-columns(12);
    }
    h1:first-of-type {
    	font-size: 26px;
    	font-size: rem(26);
    	line-height: 1em;
    	padding-bottom: 10px;
    }
    p {
        @include span-columns(6);
        margin-right: 1%;
        font-size: 16px;
        padding-left: 0px;
        line-height: 1.2em;
    }
}

/*============================================
Mapbox
============================================*/
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.contain {
	@include span-columns(12);
    position: relative;
    height: 400px;
}

.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

/*============================================
Footer
============================================*/
.footer {
    h1 {
      font-size: 16px;
      font-size: rem(16);
    }
    img {
      width: 80px;
      padding-right: 10px;
      float: left;
    }
    ul {
    	@include span-columns(6);
    }
    li:nth-of-type(1) {
      padding-top: 1.7em;
    }
    li {
      font-family: $base-font-family;
      font-weight: 700;
      line-height: 1.2em;
      a {
      	color: black;
      	text-decoration: underline;
      	&:hover, &:focus {
      		color: $dark-gray;
      		text-decoration: none;
      	}
      }
    }
}
