/*============================================
Mixins
============================================*/

// shrinks designated text and aligns it with x-height of neighboring text
// must insert size of neighboring text in em as variable
@mixin small-type($parent-font-size) {
	position: relative;
    top: -1 * (.2 * $parent-font-size);
    font-size: .35 * $parent-font-size;
}

// enlarges designated text
// must insert size of neighboring text in em as variable
@mixin large-type($parent-font-size) {
	position: relative;
	display: inline-block;
	padding: 15px 0 13px 0;
	font-size: 2.1 * $parent-font-size;
}

/*============================================
Utility
============================================*/
.container {
	@include outer-container;
}
.textRight {
	text-align: right;
}
.textLeft {
	text-align: left;
}
.floatRight {
    float: right;
}
.clearfix {
    clear:both;
    width:100%;
}

/*============================================
Alpha Alert
============================================*/

#burst-12 {
    background: $red;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 18px;
    right: 22px;
    text-align: center;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 80px;
        background: $red;
    }
    &:before {
        @include transform(rotate(30deg));
    }
    &:after {
        @include transform(rotate(60deg));
    }
    &.burst-blue {
        background: $blue;
        &:before, &:after {
            background: $blue;
        }
    }
}

#burst-text {
    position: absolute;
    top: 36px;
    right: 24px;
    color: white;
    text-align: center;
    p {
        margin-bottom: 0px;
        font-size: 14px;
    }
    h1 {
        font-size: 20px;
    }
}


/*============================================
Homepage Splash
============================================*/
.usa {
	@include span-columns(12);
	background-color: $blue;
	text-align: center;
    height: 20px;
    font-size: 14px;
    font-size: rem(13);
    p {
    font-family: Lato, sans-serif;}
}
.splash {
	padding: 50px 0px 0px 0px;
    background: url(../img/oil_blur.jpg) no-repeat top center fixed;
    color: white;
    .title {
    	@include span-columns(7);
    }
    .subpage {
        @include span-columns(5);
    }
    h1 {
    	display: inline-block;
        color: white;
        font-size: 2.16em;
        line-height: 1.6em;
        font-weight: 500;
        background-color: $red;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
    }
    h1 + h1 {
        margin-bottom: -6px;
    }
    .subpage h1 {
        font-size: 22px;
        font-size: rem(22);
        padding-left: 10px;
        padding-right: 10px;
    }
    .intro {
    	@include span-columns(9);
        background-color: transparentize(black, 0.55);
        margin-left: 20px;
        padding: 20px 50px 15px 30px;
        p {
        	font-size: $base-font-size + .1em;
        	line-height: 1.3em;
        }
        a {
            color: white;
        }
    }
    .small {
    	@include small-type(2.16em);
    }
}
.splash-short {
    padding: 30px 0px 0px 0px;
}
.moreDown {
    width: 30px;
    float: left;
    margin: -5px 4px auto -14px;
}

/*============================================
Nav
============================================*/
ul.menu a.active li {
  color: lighten($blue, 35%);
  &:hover, &:focus {
      color: white;
  }
}
ul.menu a.active li::before {
  content: "\2605 ";
}
.nav {
    background: #8dc2e7;
    background: rgba(141, 194, 231, 0.65);
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    ul {
        width: 100%;
        float: left;
        list-style: none;
    }
    li {
        font-weight: 500;
        float: left;
        padding: 5px 3px 3px 3px;
        margin-right: 32px;
        border-left: 1px solid black;
        display: block;
    }
    a {
        color: black;
        text-decoration: none;
        &:hover, &:focus {
            color: white;
        }
    }
}
.nav-short {
    margin-top: 15px;
}

/*============================================
Homepage Infographic Sections
============================================*/
.section {
	padding: 40px 0 50px 0;
    overflow: hidden;
}
.break {
    padding: 8px 20px 0px 20px;
    background: url(../img/unsplash_fuzzy_lights.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  .down {
    width: 36px;
  }
}

//section background color options
.light-gray { background-color: $light-gray; }
.medium-gray { background-color: $medium-gray; }
.blue { background-color: $blue; }

//adjustments for infographic in each section
.sectors {
	@include span-columns(4);
    h1 {
        padding-bottom: 40px;
        font-size: 26px;
        font-size: rem(26);
        line-height: 1em;
        font-weight: 800;
    }
    h2 {
	    display: block;
	    color: $dark-gray;
	    font-size: 18px;
	    font-size: rem(18);
	    line-height: 1.1em;
	    font-weight: 800;
	    border-bottom: 2px solid $dark-gray;
	    margin-bottom: 15px;
	    padding-bottom: 5px;
    }
    p {
        font-size: 0.82em;
        line-height: 1em;
        padding-left: 5px;
        @include span-columns(9);
    }
}
.sectors-img {
    height: 40px;
    @include span-columns(2);
}
.sectors-chart {
	@include span-columns(7);
    background-color: #F8F8F8;
    border: 1px solid white;
    border-radius: 3px;
    padding: 15px;
    h1 {
        color: $dark-gray;
        text-transform: uppercase;
        font-size: 18px;
        font-size: rem(18);
        border-bottom: 2px solid $dark-gray;
    }
}
.sectors-social {
	@include span-columns(11);
	img {
		float: right;
	    height: 35px;
	    padding-left: 20px;
	    margin-bottom: 20px;
	}
}
.sectors-big-text {
	@include large-type(1.625rem);
	font-family: Raleway, sans-serif;
	font-weight: 800;
}

// sectors viz

#pie-chart-center {
    height: 160px;
    width: 160px;
    background: white;
    border: 5px solid $medium-gray;
    border-radius: 100px;
    margin-left: 24%;
    margin-top: 24%;
    position: absolute;
    opacity: 0.8;
    top: -25px;
    left: -23px;
}   

#pie-chart-center-text {
    opacity: 1;
    color: $dark-gray;
    position: absolute;
    top: 117px;
    left: 77px;
    width: 150px;
    text-align: center;
    h4 {
        font-size: 22px;
        font-size: rem(22);
        font-family: $secondary-font-family;
        font-weight: 800;
    }
}

#sector-revenue-pie-chart {
    position: relative;
    margin: 0px auto;
    width: 400px;
    float: center;
    svg {
        width: 410px; //Controls width of pie chart graphic
    }
}

#sector-revenue-bar-chart{
    float: center;
}

/*============================================
Disbursment Bubble Graph
============================================*/
.disbursement {
	h1 { 
		font-size: 26px;
		font-size: rem(26);
		line-height: 1em;
	}
	h2 {
		text-transform: uppercase;
        font-size: 11px;
        font-size: rem(11);
		font-weight: 800;
        margin-top: 4px;
        padding-left: 3px;
        border-left: 2px solid black;
        &:hover, &:focus {
            border-left: none;
        }
        a {
            color: black;
            &:hover, &:focus{
                text-decoration: none;
                cursor: pointer;
            }
        }
	}
    span:first-of-type {
        @include span-columns(12);
        padding-bottom: 15px;
    }
    span:nth-of-type(2){
        @include span-columns(3 of 12);
        font-size: 34px;
        font-size: rem(34);
        padding-left: 5%;
    }
    span:nth-of-type(3){
        @include span-columns(9 of 12);
    }
}

// #disbursement_year_select{
//     width:100%;
//     div{
//         float:left;
//     }
//     .bar{
//         position: relative;
//         text-align: center;
//     }
//     .bar:after{
//         content: "";
//         position: absolute;
//         z-index: -1;
//         top:50%;
//         border-top: 2px solid;
//     }
// }

.dollars {
    @include span-columns(12);
    margin: 20px 0 60px 0;
    h1 {
        text-transform: uppercase;
        font-size: 18px;
        font-size: rem(18);
        float: left;
        padding: 9px 8px 0 0;
    }
    a {
        @include button(pill, $medium-gray);
    }
}


#disbursment_totals_bar{
    margin-top: 20px;
    p {
        font-size: 13px;
        font-size: rem(13);
        transform-origin: 0 0;
    }
    div.offshore_bar{
        p {
            margin-top: 15px;
            padding-left: 8px;
            transform: rotate(30deg);
        }
        div.disbursement_bar{
            margin: 2px;
            height: 20px;
            float: left;
            background-color: white;
        }
        > div:nth-of-type(1) {
            background-color: $purple0;
        }
        > div:nth-of-type(2) {
            background-color: $purple1;
        }
        > div:nth-of-type(3) {
            background-color: $purple2;
            p {
               position: relative;
               left: -4px;
            }
        }
        > div:nth-of-type(4) {
            background-color: $purple3;
            p {
               position: relative;
               left: -1px;
            }
        }
        > div:nth-of-type(5) {
            background-color: $purple4;
            p {
               position: relative;
               left: 7px;
            }
        }
        
    }
    div.onshore_bar{
        p {
            margin-top: -14px;
            padding-left: -1px;
            transform: rotate(-30deg);
        }
        div.disbursement_bar{
            margin: 2px;
            height: 20px;
            float: left;
        }
        > div:nth-of-type(1) {
            background-color: $orange0;
        }
        > div:nth-of-type(2) {
            background-color: $orange1;
        }
        > div:nth-of-type(3) {
            background-color: $orange2;
        }
        > div:nth-of-type(4) {
            background-color: $orange3;
        }
        > div:nth-of-type(5) {
            background-color: $orange4;
        }
    }
}

.bubbles {
    @include span-columns(12);
    .offshore {
        @include span-columns(6 of 12);
    }
    .onshore {
        @include span-columns(6 of 12);
    }
    h1 {
        font-size: 16px;
        font-size: rem(16);
        text-transform: uppercase;
        color: $purple1;
        border-top: 2px solid $purple1;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .onshore h1 {
        color: $orange1;
        border-top: 2px solid $orange1;
    }
}
.stats-offshore {
    line-height: 15px;
    position: relative;
    img {
        height: 70px;
    }
    .info_bubble {
        border: 2px solid $highlight;
        background-color: $purple1;
    }
    > div {
        border-radius: 1000px;
        margin: 2px;
        padding: 1px;
        border: 2px solid transparent; 
        &:hover {
           border: 2px solid $highlight;
           cursor: pointer; cursor: hand; 
        }
    }
    > div:nth-of-type(2) {
        background-color: $purple2;
        margin-left: 10%;
        margin-top: 6%;
    }
    > div:nth-of-type(3) {
        background-color: $purple3;
        margin-top: 5%;
        > div {
            line-height: 12px;
            font-size: 12px;
            font-size: rem(12);
        }
    }
    > div:nth-of-type(4) {
        background-color: $purple1;
    }
    > div:nth-of-type(5) {
        background-color: $purple0;
        margin-top: -8%;
    }
    > div:nth-of-type(6) {
        background-color: $purple4;
        margin-left: -4%;
    }
}
.stats-onshore {
    line-height: 15px;
    position: relative;
    img {
        height: 70px;
    }
    .info_bubble {
        border: 2px solid $highlight;
        background-color: $orange1;
    }
    > div {
        border-radius: 1000px;
        margin: 2px;
        padding: 1px;
        border: 2px solid transparent; 
        &:hover {
           border: 2px solid $highlight;
           cursor: pointer; cursor: hand; 
        }
    }
    > div:nth-of-type(2) {
        background-color: $orange3;
        margin-top: 37%;
    }
    > div:nth-of-type(3) {
        background-color: $orange2;
        margin-top: 3%;
        margin-top: 24%;
    }
    > div:nth-of-type(4) {
        background-color: $orange4; //tint($orange2,47%);
        margin-left: -39%;
        margin-top: 21%;
    }
    > div:nth-of-type(5) {
        background-color: $orange1;
        margin-left: -0.5%;
    }
    > div:nth-of-type(6) {
        background-color: $orange0;
        margin-left: -16%;
        margin-top: -6%;
    }
}

.disbursement_bubble {
    float: left;
    text-align: center;
    display: table;
    position: relative;
    width: auto;
    height: auto;
    div {
        display: table-cell;
        vertical-align: middle;
        color: black;
    }
}

div.disbursement_bubble_rollover {
    position: absolute;
    top: 65%; left: 25%;
    z-index: 100;
    display: none;
    padding: 10px;
    color: $light-gray;
    background-color: $dark-gray;
    border: 1px solid $deep-purple;
    opacity: 0.85;
    border-radius: 3px;
    font-size: 14px;
    font-size: rem(14);
    text-align: left;
    .statsOnshore {
        border: 1px solid $deep-orange;
    }
}

.info_bubble {
    position: absolute;
    top: 20%;
    left: 0;
    width: 0px;
    height: 0px;
    z-index: 1000;
    display: none;
    .disbursement_bubble_details {
        @include span-columns(9);
        @include shift(2);
        text-align: left;
        margin-top: 9%;
        h1 {
            border: none;
            color: black;
            text-transform: none;
            font-size: 32px;
            font-size: rem(32);

        }
        p {
            font-size: 16px;
            font-size: rem(16);
            line-height: 22px;
            line-height: rem(22);
        }
        .disbursement_bubble_details_images {
            @include span-columns(3 of 9);
        }
    }
}


/*============================================
Map
============================================*/

//how do natural resources become Federal revenue?
.how {
    h1 {
        @include span-columns(12);
    }
    h1:first-of-type {
        font-size: 26px;
        font-size: rem(26);
        line-height: 1em;
        padding-bottom: 10px;
    }
    p {
        @include span-columns(6);
        margin-right: 1%;
        font-size: 16px;
        padding-left: 0px;
        line-height: 1.2em;
    }
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.contain {
	@include span-columns(12);
    position: relative;
    height: 400px;
}

.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.menu-ui {
  position:absolute;
  top:10px;
  right:10px;
  z-index: 10000;
  }

/*===============================================
Data Dashboard
================================================*/
article {
    @include span-columns(8);
    font-size: 18px;
    font-size: rem(18);
    p {
        line-height: 23px;
        line-height: rem(23);
    }
    .credit {
        font-size: 14px;
        font-size: rem(14);
        line-height: 18px;
        line-height: rem(18);
        color: $dark-gray;
        font-style: italic;
    }
    blockquote {
        font-family: $secondary-font-family;
        color: $red;
        margin: 0 auto 0 20px;
        font-size: 20px;
        font-size: rem(20);
        font-style: italic;
        p {
            line-height: 26px;
            line-height: rem(26);
        }
    }
    h1 {
        padding-bottom: 24px;
    }
    h2 {
        font-family: $secondary-font-family;
        color: $red;
        font-size: 25px;
        font-size: rem(25);
        font-weight: 300;
        padding: 18px 0 12px 0;
    }
    h3 {
        font-family: $secondary-font-family;
        color: $dark-gray;
        border-bottom: 1px solid $red;
        font-size: 20px;
        font-size: rem(20);
        margin-bottom: 5px;
        padding-top: 13px;

    }
    h4 {
        font-family: $secondary-font-family;
        color: $dark-gray;
        font-size: 20px;
        font-size: rem(20);
        font-weight: 300;
    }
    ul {
        margin-bottom: 13.5px;
        font-size: 14px;
        font-size: rem(14);
    }
    li {
        margin-bottom: 3px;
        padding-left: 3px;
    }
    ul:nth-of-type(1) {
        li:nth-of-type(1) {
            width: 31% * 4.5;
            background: $purple4;
        }
        li:nth-of-type(2) {
            width: 10% * 4.5;
            background: $purple3;
        }
        li:nth-of-type(3), li:nth-of-type(4) {
            width: 8% * 4.5;
            background: $purple2;
        }
        li:nth-of-type(5) {
            width: 4% * 4.5;
            background: $purple1;
        }
    }
    ul:nth-of-type(2) {
        li:nth-of-type(1) {
            width: 29% * 4.5;
            background: $purple4;
        }
        li:nth-of-type(2) {
            width: 13% * 4.5;
            background: $purple3;
        }
        li:nth-of-type(3) {
            width: 9% * 4.5;
            background: $purple2;
        }
        li:nth-of-type(4), li:nth-of-type(5) {
            width: 8% * 4.7;
            background: $purple1;
        }
    }
    ul:nth-of-type(3) {
        li:nth-of-type(1) {
            width: 9.1% * 10;
            background: $purple4;
        }
        li:nth-of-type(2) {
            width: 7.1% * 10;
            background: $purple3;
        }
        li:nth-of-type(3) {
            width: 4.2% * 10;
            background: $purple2;
        }
        li:nth-of-type(4) {
            width: 2.9% * 10;
            background: $purple1;
        }
    }
    ul:nth-of-type(4) {
        li:nth-of-type(1) {
            width: 78% * 1.6;
            background: $purple4;
        }
        li:nth-of-type(2) {
            width: 17% * 2.5;
            background: $purple3;
        }
        li:nth-of-type(3), li:nth-of-type(4) {
            width: 2% * 8;
            background: $purple2;
        }
        li:nth-of-type(5), li:nth-of-type(6) {
            width: 1% * 13;
            background: $purple1;
        }
    }
    ol {
        margin-bottom: 13.5px;
        list-style-type: decimal;
        list-style-position: inside;
    }
}

/*===============================================
Data Dashboard
================================================*/

$max-width: 100%; //this is setting the width of outer-container.
//find this variable elsewhere and change it
//what about the rest of the site that is not full-width?

.dashboard {
    @include outer-container;
}
.dashboard-nav {
    @include span-columns(12);
    background: shade($orange1, 20%);
    padding-left: 10px;
    a {
        color:white;
    }
}
.last { //refactor to remove this helper class
    @include omega();
}
.dashboard-head {
    @include span-columns(12);
    background: $orange1;
    color: white;
    padding: 10px 0 10px 10px;
    div:first-child {
        @include span-columns(3 of 12);
    }
    div:last-child {
        @include omega();
    }
    .dashboard-choices {
    margin-left: -0.4%;
    @include span-columns(4 of 12);
        h1 {
            font-size: 20px;
            font-size: rem(20);
        }
    }
}

.label-switch {
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $knob-height: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-height;
  $knob-radius: $switch-height - ($switch-padding * 2);

  align-self: center;
  border-radius: $switch-radius;
  cursor: pointer;
  display: inline;
  height: $switch-height;
  position: relative;
  vertical-align: middle;
  width: $switch-width;
  @include box-sizing(border-box);

  input[type="checkbox"] {
    display: none;

  + .checkbox {
    background: lighten($blue, 20%);
    border: none;
    border-radius: $switch-radius;
    cursor: pointer;
    height: $switch-height;
    margin: 0 0 15px 0;
    padding: 0;
    position: relative;
    width: $switch-width;
    z-index: 0;
    @include box-sizing(border-box);
    @include transition(all 0.3s ease);

    &:before {
      background: lighten($blue, 20%);
      border-radius: $switch-radius;
      content: ' ';
      height: $knob-radius;
      width: $switch-width - ($switch-padding * 2);
      z-index: 1;
      @include box-sizing(border-box);
      @include position(absolute, 2px 0 0 2px);
      @include transition(all 0.3s ease);
      @include transform(scale(1));
    }

    &:after {
      background: lighten($blue, 10%);
      border-radius: $knob-radius;
      content: ' ';
      height: $knob-height;
      width: $knob-width;
      z-index: 2;
      box-shadow: 0 2px 5px rgba(0,0,0,0.4);
      @include position(absolute, 2px 0 0 2px);
      @include transition(all 0.3s ease);
    }
  }

  &:checked {
    + .checkbox {
      background: white;
        
        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}
.side-nav {
    @include span-columns(3);
    height: 100%;
    background-color: $dark-gray;
    color: white;
    padding: 10px 30px 15px 30px;
    label {
        font-weight: 300;
    }
    h1 {
        @include span-columns(3 of 3);
        @include omega();
        font-size: 24px;
        font-size: rem(24px);
        line-height: 1em;
        border-top: 1px solid white;
        margin: 30px 0 10px 0;
        padding-top: 3px;
        .checkbox {
            float: right;
        }
    }
    .side-nav-left {
        @include span-columns(1 of 3);
    }
    .side-nav-middle {
        @include span-columns(1 of 3);
    }
    .side-nav-middle-plus {
        @include span-columns(2 of 3);
        @include omega();
    }
    .side-nav-right {
        @include span-columns(1 of 3);
        @include omega();
    }
}
.dashboard-face {
    @include span-columns(9);
    padding-top: 30px;
    h2 {
        margin-bottom: 20px;
    }
    .rev-by-commodity {
        @include span-columns(6 of 9);
    }
    .total-rev {
        @include span-columns(3 of 9);
        @include omega();
        h1 {
            margin-top: 10px;
        }
    }
    .dashboard-search {
        @include span-columns(8 of 9);
        @include omega();
        margin-top: 20px;
    }
}
.dashboard-button {
    @include button(shade($blue, 10%));
    margin-bottom: 15px;
    &:hover, &:focus {
        color: $medium-gray;
    }
}



/*============================================
Footer
============================================*/
.footer {
    h1 {
      font-size: 16px;
      font-size: rem(16);
    }
    img {
      width: 80px;
      padding-right: 10px;
      float: left;
    }
    ul {
    	@include span-columns(6);
    }
    li:nth-of-type(1) {
      padding-top: 1.7em;
    }
    li {
      font-family: $base-font-family;
      font-weight: 700;
      line-height: 1.2em;
      a {
      	color: black;
      	text-decoration: underline;
      	&:hover, &:focus {
      		color: $dark-gray;
      		text-decoration: none;
      	}
      }
    }
}





