#monthly-volume-chart g.y {
    display: none;
}

/* testing out d3 tooltip */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.campusLabel {
    font: 300 18px "Helvetica Neue";
    color: #525252;
}

.chart-title {
    font-family: 'Lato', futura, georgia;
    letter-spacing: 1px;
    line-height: 15px;
    text-transform: Uppercase;
    text-align: center;
    color: #525252;
}

h3 {
    font-family: 'Helvetica Neue';
    font-size: 24px;
    font-weight: 300;
}

// body {
//     min-height: 2000px;
//     padding-top: 120px;
// }

.myName {
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    color: #525252;
    padding-left: 160px;
}