  <select id="" onchange="if (this.value) window.location = '/communities/' + this.value">
    <option value=""></option>
    <!-- <optgroup label="Iron">
      <option
        {% if (value == 'communities/' + 'stl') %}selected{% endif %}
        value="stl">St. Louis County, Minnesota</option>
      <option
        {% if (value == 'communities/' + 'alpha') %}selected{% endif %}
        value="alpha">Alpha, Alpha</option>
    </optgroup> -->

    <optgroup label="Natural Gas">
      <option
        {% if (request.url == '/communities/' + 'tar') %}selected{% endif %}
        value="tar">Tarrant &amp; Johnson Counties, Texas</option>
    </optgroup>
    <optgroup label="Oil">
      <option
        {% if (request.url == '/communities/' + 'nor') %}selected{% endif %}
        value="nor">North Slope Borough, Alaska</option>
    </optgroup>
  </select>
