<li id="barrel-units">Barrels noted as “bbl” when used as a unit of measure <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="production-exceeds-imports"><a href="http://energy.gov/articles/us-domestic-oil-production-exceeds-imports-first-time-18-years">Department of Energy, U.S. Domestic Oil Production Exceeds Imports for First Time in 18 Years</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="crude-production"><a href="http://www.eia.gov/dnav/pet/pet_crd_crpdn_adc_mbbl_a.htm">U.S. Energy Information Administration, Crude Oil Production</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="boroughs">In the state of Alaska, the county level governments are called boroughs <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="borough-population">U.S. Census Bureau, North Slope Borough 2013 population <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="petroleum-reserve"><a href="http://pubs.usgs.gov/fs/fs024-01/fs024-01.pdf">U.S. Geological Survey, The National Petroleum Reserve–Alaska (NPRA) Data Archive, 2001</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="oilgas-tech-report"><a href="http://www.north-slope.org/assets/images/uploads/NorthSlope_OG_Technical_report_CHAPTER3.pdf">Oil and Gas Technical Report: Planning for Oil and Gas Activities in the National Petroleum Reserve – Alaska, 2013</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="energy-info-administration"><a href="http://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=MANFPAK1&f=A">U.S. Energy Information Administration, Alaska North Slope Crude Oil Production, 2014</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="oilgas-tech-report-2"><a href="http://www.north-slope.org/assets/images/uploads/NorthSlope_OG_Technical_report_CHAPTER3.pdf">Oil and Gas Technical Report: Planning for Oil and Gas Activities in the National Petroleum Reserve – Alaska, 2013</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="energy-info-administration-2"><a href="http://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=MANFPAK1&f=A">U.S. Energy Information Administration, Alaska North Slope Crude Oil Production, 2014</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>


<li id="annual-average-employment"><a href="http://www.bls.gov/cew/apps/data_views/data_views.htm#tab=Tables">Bureau of Labor Statistics, Alaska North Slope Borough annual average employment for Oil and Gas Extraction, 2013</a>; Note: BLS county employment data is not linked to county residency <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="ak-non-residents"><a href="http://labor.alaska.gov/research/reshire/NONRES.pdf">Alaska Department of Labor and Workforce Development, Non-Residents Working in Alaska, 2013</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="regional-energy-plan"><a href="http://www.north-slope.org/assets/images/uploads/Feb2015_draft_NSB_Energy_Plan_2.6.15.pdf">North Slope Regional Energy Plan, 2015</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="comprehensive-annual-finances"><a href="http://www.north-slope.org/assets/images/uploads/2013_NSB_CAFR.pdf">Comprehensive Annual Financial Report of the North Slope Borough, Alaska, 2013</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="2013-annual-report"><a href="http://www.tax.alaska.gov/programs/documentviewer/viewer.aspx?1095r">Alaska Department of Revenue, 2013 Annual Report</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="revenue-sources-book"><a href="http://www.tax.alaska.gov/programs/documentviewer/viewer.aspx?1048r"> Alaska Department of Revenue Tax Division, Revenue Sources Book, 2014 Spring</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="historical-annual-dividend"><a href="http://www.apfc.org/home/Content/dividend/dividendamounts.cfm">Alaska Permanent Fund Corporation, Historical Annual Dividend Payouts</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="boroughs">In the state of Alaska, the county level governments are called boroughs <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="boroughs">In the state of Alaska, the county level governments are called boroughs <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

