@import 'mixins';

.defaultLayout {
  margin: $spacing-base auto;
  max-width: 1200px;
  padding: $spacing-base;

  @include media($breakpoint--sm) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.sidebar {
  @include media($breakpoint--sm) {
    margin-right: $spacing-base * 2;
  }
}

/* Hide the error overlay from react so we cna edit the code in dev mode in the page */
iframe {
  display: none;
}
