// heading() mixin
//
// Use the heading() mixin to add bundles of
// typographical styles to a selector
//
// Styleguide mixins.heading
@mixin heading($level) {
  margin: 0 0 1rem 0;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;

  @if $level == h1 {
    // bold 30/40
    font-size: 1.875rem; // 30px
    font-weight: $weight-bold;
    line-height: 2.5rem; // 40px
  }

  @if $level == h2 {
    // light 32/40
    font-size: 2rem; // 32px
    font-weight: $weight-light;
    line-height: 2.5rem; // 40px
  }

  @if $level == h3 {
    // bold 22/32
    font-size: 1.375rem; // 22px
    font-weight: $weight-bold;
    line-height: 2rem; // 32px
  }

  @if $level == h4 {
    // light 24/34
    font-size: 1.5rem; // 24px
    font-weight: $weight-light;
    line-height: 2.125rem; // 34px
  }

  @if $level == h5 {
    // bold 18/27
    font-size: 1.125rem; // 18px
    font-weight: $weight-bold;
    line-height: 1.6875rem; // 27px
  }

  @if $level == 'para-lg' {
    // light 18/27 (10px bottom margin)
    font-size: 1.125rem; // 18px
    font-weight: $weight-light;
    line-height: 1.6875rem; // 27px
    margin-bottom: 0.625rem; // 10px
  }
  @if $level == 'para-md' {
    font-size: $base-font-size; // 16px
    font-weight: $weight-light; // light
    line-height: $base-line-height; // 22px
    margin-bottom: 0.625rem; // 10px
    // light 16/22 (10px bottom margin)
  }
  @if $level == 'para-sm' {
    // light 13/19 (10px bottom margin)
    font-size: 0.8125rem; // 13px
    font-weight: $weight-light;
    line-height: 1.1875rem; // 29px
    margin-bottom: 0.625rem; // 10px
  }
}


// font-size() mixin
//
// Use the font-size() to set a specific size to an element or class
// typographical styles to a selector
//
// Styleguide mixins.font-size

@mixin font-size($scale: 1) {
  font-size: ($scale * $base-font-multiplier * 10) + px;
  font-size: ($scale * $base-font-multiplier) + rem;
}

