<div class="{{ className }}">{{ text }}</div>

<section class="slab-delta">
  <div class="container-page-wrapper landing-section_top ribbon ribbon-column">
    <div class="container-left-8 ribbon-hero ribbon-hero-column">
      <h1>{{ page.title }}</h1>
      <p class="ribbon-hero-description">Text.</p>
    </div>
    <div class="container-right-4 ribbon-card-column ribbon-card">
      <figure class="ribbon-card-top">
        <img src="" alt="Image or text">
      </figure>
      <figcaption class="ribbon-card-bottom">Create caption and selector versions <a href="{{site.baseurl}}" class="link-alpha">in this space.</a></figcaption>
    </div>
  </div>
</section>
