@value colors: "../../../css-global/colors.scss";
@value gray as --gray, grayDarkest as --grayDarkest, grayLight as --grayLight , grayPale as --grayPale from colors;

.root {
}

.tabContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  z-index: 10;
}

.tab {
  background-color: --grayPale;
  margin-left: 10px;
  border-top: 0px solid --grayLight;
  border-right: 0px solid --grayLight;
  border-left: 0px solid --grayLight;
  border-bottom: 0px solid --grayLight;
  color: --grayDarkest;
  cursor: pointer;
  font-size: 16px;
  font-weight: 200;
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
  float: left;
}

.tab:hover {
  text-decoration: underline;
}

.tabSelected {
  background-color: white;
  border-top: 5px solid --grayDarkest;
  border-left: 1px solid --gray;
  border-right: 1px solid --gray;
  border-bottom: none;
  padding-top: 6px;
  font-weight: bold;
  z-index: 20;
  outline: none;

  :last-of-type {
    border-right: 1px solid --grayLight;
  }
}

.tabPanelContainer {
  background-color: white;
  border-top: 1px solid --gray;

  overflow: hidden;
  position: relative;
  top: -1px;
  z-index: 0;
}

.accordionPanelContainer {
  animation: expand 0.25s;
  transform-origin: top center;
  animation-timing-function: ease-out;
}

@keyframes expand {
  0% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 481px) {
  .tabContainer {
    flex-wrap: wrap;
    padding-right: 0;
    width: 100%;
    margin-left: 0px;
  }

  .tab {
    border: 1px solid --gray;
    float: none;
    text-align: left;
    width: 100%;
    margin-left: 0px;
  }

  .tab:not(:last-of-type) {
    border-bottom: 0px;
  }

  .tabSelected {
    border-top: 5px solid --grayDarkest;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .tabPanelContainer {
    border-top: none;
    top: 0px;
  }
}
