<!-- <div class="{{ className }}">{{ text }}</div> -->

<div class="preview">

  <!-- default link style -->
  <p>Links in paragraphs or otherwise integrated with non-link text <a href="#">should be underlined</a>, so they can easily be seen.</p>

  <!-- new: link-icon-doc -->
  <a href="/downloads/federal-production/">
    <icon class="fa fa-file-text-o u-padding-right"></icon>Text link with document icon
  </a>

  <!-- rename?: downloads-download_links -->
  <ul class="downloads-download_links list-unstyled">
    <li><a href="#"><icon class="icon-cloud icon-padded"></icon>Text link with download icon</a></li>
  </ul>

  <!-- term -->
  <p>A dotted underline (and trailing book icon) indicates a <span class="term" data-term="extractive industry" title="[term name]" tabindex="0">technical term<icon class="icon-book"></icon></span> which is defined in the glossary.</p>

  <!-- term term-end -->
  <p>If punctuation immediately follows a glossary term,  <span class="term
  " data-term="extractive industry" title="[term name]" tabindex="0">like this<icon class="icon-book"></icon></span>, the <strong>.term-end</strong> style should also be included. This will shift the punctuation closer to the icon.</p>

</div>
