@value colors: "../../../css-global/colors.scss";
@value white as _white, grayDark as _grayDark, grayLight as _grayLight, grayPale as _grayPale from colors;

.root {

}

.map {
  background: _grayLight;
  box-sizing: border-box;
  display: block;
  height: auto;
  padding: 3.6%;
  width: 100%;
}

.states {
	fill: _grayPale;
	pointer-events: none;
	stroke: _grayDark;
	stroke-width: 0.5;
}

.counties {
	fill: _white;
	stroke: _grayDark;
	stroke-width: 0.5;
}