section.banner,
.header-nav,
.header-bars,
footer,
#glossary,
#nav-drawer,
iframe,
.term .icon-book,
.carousel-button,
[accordion-button],
.hash_selector,
.sticky_nav {
  display: none !important;
}

header,
.container-outer {
  margin-left: 0;
  margin-right: 0;
}

@page {
  margin: 0.5cm;
}

img {
  max-width: 500px !important;
}

a::after{
  @include font-size(1);
  content: ' (' attr(href) ') ';
}

.term {
  border-bottom: 0;
}


[accordion-content],
[accordion-item] div[aria-hidden='true'] {
  display: block !important;
}
