.ribbon-card-top,
.ribbon-card-bottom {
  text-align: left;
}

.ribbon-card-button {
  display: block;
  float: left;
  text-align: left;
  width: 100%;
}

.ribbon svg {
  max-width: 300px;

  &.states.map {
    max-width: initial;
  }
}
