// Styleguide blocks.about

.article_img-60 {
  width: 60%;

  &.article_img-centered {
    margin-left: 20%;
  }
}

.article_img-80 {
  width: 80%;
}

.article_img-100 {
  width: 100%;
}

.article_img-margin_bottom {
  margin-bottom: $base-padding;
}
