{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "no-confusing-arrow": 0,
    "linebreak-style": 0,
    "object-curly-newline": 0,
    "no-mixed-operators": 0,
    "arrow-parens": 0,
    "react/prefer-stateless-function": 0,
    "function-paren-newline": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "globals": { "graphql": true }
}
