%button {
  @include transition-property(background-color);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);
  @include transition-delay(0s);
  @include appearance(none);
  @include heading('para-md');

  border: none;
  border-radius: $small-border-radius;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.6em;
  padding-bottom: 8px;
  padding-top: 8px;
  user-select: none;
  vertical-align: middle;
  // typography
  font-family: $base-font-family;
  font-weight: $weight-book;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.legend {
  float: right;
  position: relative;
  top: -300px;
  left: -20px;
  tbody {
    tr {
      td{
        height: 15px;
        width: 15px;
        font-size: 12px;
        font-weight: bold;
        padding: 0 10px 0 5px;
    }
    }
  }
}

.graph {
  width: 650px;
}

#chart1 {
  height: 600px;
}

#chart2 {
  height: 700px;
}

@media only screen and (max-width: 480px) {
    .graph {
        width: 100%;
    }
    .legend {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      top:0;
      left: 0;
      tbody {
        border: none !important;
        tr {
          td{
            height: 15px;
            width: 15px;
            font-size: 12px;
            font-weight: bold;
            padding: 0 10px 0 5px;
        }
        }
      }
    }
}
