.graph {
  width: 650px;
}

.chart-container {
  position: relative;
  margin-bottom: 30px;

  table.legend {
    margin-bottom: 0;
    position: absolute;
    top: 300px;
    right: 20px;
    background-color: #fff;

    tbody {
      tr {
        td {
          vertical-align: middle;
          height: 15px;
          width: 15px;
          font-size: 12px;
          font-weight: bold;
          padding: 0 10px 0 5px;
          border: 1px solid #292626;
      }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .graph {
    width: 100%;
  }
  .chart-container {
    table.legend {
      position: static;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
}

.links {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #444;
  }
}

.jqplot-axis, .jqplot-point-label, .jqplot-yaxis-tick{
  font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 200;
}

.jqplot-title {
  text-align: left !important;
  padding-bottom: 20px !important;
  font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
}

.legend1 .legend2{
  background-color: #000;
}
