<div class="case_studies_intro">

  <section class="container-outer">

    <div class="container-left-7">

      <h1 class="case_studies_intro-heading">How do extractive industries impact communities like mine?</h1>

      <p class="case_studies_intro-para">In some communities, extractive industries play a much larger role than in others. These narratives provide  snapshots into twelve communities that, over the last decade, have led in production of one of six resources: iron, copper, gold, coal, oil, and natural gas.</p>

      <label>Choose a community, or <a href="{{ site.baseurl }}/case-studies/#intro">go to the overview <span class="shrink-fa"><i class="icon-chevron-sm"></i></span></a>
        <div class="case_studies_intro-select">
          {% include case-studies/_selector.html %}
        </div>
      </label>

    </div>

    <div class="container-right-5 u-centered">

      <img src="{{ site.baseurl }}/img/comm-mapFPO.png" class="case_studies_intro-image">

    </div>

  </section>

</div>
