<div class="u-centered case_studies-maps {{include.screen}}">

	{% if page.permalink == '/case-studies/' %}
  	<img src="{{ site.baseurl }}/img/counties/12-map.png" alt="Map with locations of the twelve communities given in-depth coverage in this section of the site." class="case_studies_intro-image">
		<img src="{{ site.baseurl }}/img/counties/12-map-icons.png" alt="Key for map with the icons for the six commodities given in-depth coverage in this section of the site." class="case_studies_intro-image case_studies_intro-image_key">
	{% elsif page.permalink == '/case-studies/boone-logan-and-mingo/' %}
		{% include case-studies/maps/_WV.html %}
	{% elsif page.permalink == '/case-studies/campbell/' %}
		{% include case-studies/maps/_WY.html %}
	{% elsif page.permalink == '/case-studies/greenlee/' %}
		{% include case-studies/maps/_AZ-greenlee.html %}
	{% elsif page.permalink == '/case-studies/pima/' %}
		{% include case-studies/maps/_AZ-pima.html %}
	{% elsif page.permalink == '/case-studies/elko-and-eureka/' %}
		{% include case-studies/maps/_NV-elko-eureka.html %}
	{% elsif page.permalink == '/case-studies/humboldt-and-lander/' %}
		{% include case-studies/maps/_NV-humboldt-lander.html %}
	{% elsif page.permalink == '/case-studies/marquette/' %}
		{% include case-studies/maps/_MI.html %}
	{% elsif page.permalink == '/case-studies/st-louis/' %}
		{% include case-studies/maps/_MN.html %}
	{% elsif page.permalink == '/case-studies/desoto/' %}
		{% include case-studies/maps/_LA.html %}
	{% elsif page.permalink == '/case-studies/tarrant-and-johnson/' %}
		{% include case-studies/maps/_TX.html %}
	{% elsif page.permalink == '/case-studies/kern/' %}
		{% include case-studies/maps/_CA.html %}
	{% elsif page.permalink == '/case-studies/north-slope/' %}
		{% include case-studies/maps/_AK.html %}
	{% endif %}

</div>
