<div class="u-centered case_studies-maps {{include.screen}}">

	{% if page.permalink == '/case-studies/' %}
  	<img src="{{ site.baseurl }}/img/counties/12-map.png" alt="Map with locations of the twelve communities given in-depth coverage in this section of the site." class="case_studies_intro-image">
		<img src="{{ site.baseurl }}/img/counties/12-map-icons.png" alt="Key for map with the icons for the six commodities given in-depth coverage in this section of the site." class="case_studies_intro-image case_studies_intro-image_key">
	{% elsif page.permalink == '/case-studies/boone-logan-and-mingo/' %}
		{% include case-studies/maps/WV.svg %}
	{% elsif page.permalink == '/case-studies/campbell/' %}
		{% include case-studies/maps/WY.svg %}
	{% elsif page.permalink == '/case-studies/greenlee/' %}
		{% include case-studies/maps/AZ-greenlee.svg %}
	{% elsif page.permalink == '/case-studies/pima/' %}
		{% include case-studies/maps/AZ-pima.svg %}
	{% elsif page.permalink == '/case-studies/elko-and-eureka/' %}
		{% include case-studies/maps/NV-elko-eureka.svg %}
	{% elsif page.permalink == '/case-studies/humboldt-and-lander/' %}
		{% include case-studies/maps/NV-humboldt-lander.svg %}
	{% elsif page.permalink == '/case-studies/marquette/' %}
		{% include case-studies/maps/MI.svg %}
	{% elsif page.permalink == '/case-studies/st-louis/' %}
		{% include case-studies/maps/MN.svg %}
	{% elsif page.permalink == '/case-studies/desoto/' %}
		{% include case-studies/maps/LA.svg %}
	{% elsif page.permalink == '/case-studies/tarrant-and-johnson/' %}
		{% include case-studies/maps/TX.svg %}
	{% elsif page.permalink == '/case-studies/kern/' %}
		{% include case-studies/maps/CA.svg %}
	{% elsif page.permalink == '/case-studies/north-slope/' %}
		{% include case-studies/maps/AK.svg %}
	{% endif %}

</div>
