{% assign case_studies_points = site.data.case_studies_points %}
{% assign circle_radius = 17 %}
{% assign commodities = 'coal,copper,oil,gas,iron,gold' | split:',' %}
{% assign dark_blue = '#4b9bbf' %}

<g>
  {% for commodity in commodities %}
    {% for point in case_studies_points[commodity] %}
      {% assign point_name = point[1].name %}
      {% assign point_state = point[1].state %}
      {% assign coords = point[1].circle %}
      {% assign x_offset = coords.x | minus: circle_radius %}
      {% assign y_offset = coords.y | minus: circle_radius %}

      <g class="case-studies-circle-group">

        <circle class="{{ point_state }} {{ commodity }}" cx="{{ coords.x }}" cy="{{ coords.y }}" r="17" fill="#fff" stroke="{{ dark_blue }}" stroke-width="2px"></circle>
        {% include svg/circle-icon-{{ commodity }}.svg x=x_offset y=y_offset %}
        <g>
          <rect></rect>
        </g>
      </g>
    {% endfor %}
  {% endfor %}
</g>
