<select onchange="window.location = '{{ site.baseurl }}/case-studies/' + this.value + '/'">
  <option
  {% if page.permalink == '/case-studies/' %}selected{% endif %}
  value="#">Select a community</option>
  <optgroup label="Coal">
    <option
      {% if page.permalink == '/case-studies/boone-logan-and-mingo/' %}selected{% endif %}
      value="boone-logan-and-mingo">Boone, Logan, and Mingo Counties, West Virginia</option>
    <option
      {% if page.permalink == '/case-studies/campbell/' %}selected{% endif %}
      value="campbell">Campbell County, Wyoming</option>
  </optgroup>
  <optgroup label="Copper">
    <option
      {% if page.permalink == '/case-studies/greenlee/' %}selected{% endif %}
      value="greenlee">Greenlee County, Arizona</option>
    <option
      {% if page.permalink == '/case-studies/pima/' %}selected{% endif %}
      value="pima">Pima County, Arizona</option>
  </optgroup>
  <optgroup label="Gold">
    <option
      {% if page.permalink == '/case-studies/elko-and-eureka/' %}selected{% endif %}
      value="elko-and-eureka">Elko and Eureka Counties, Nevada</option>
    <option
      {% if page.permalink == '/case-studies/humboldt-and-lander/' %}selected{% endif %}
      value="humboldt-and-lander">Humboldt and Lander Counties, Nevada</option>
  </optgroup>
  <optgroup label="Iron">
    <option
      {% if page.permalink == '/case-studies/marquette/' %}selected{% endif %}
      value="marquette">Marquette County, Michigan</option>
    <option
      {% if page.permalink == '/case-studies/st-louis/' %}selected{% endif %}
      value="st-louis">St. Louis County, Minnesota</option>
  </optgroup>
  <optgroup label="Natural Gas">
    <option
      {% if page.permalink == '/case-studies/desoto/' %}selected{% endif %}
      value="desoto">DeSoto Parish, Louisiana</option>
    <option
      {% if page.permalink == '/case-studies/tarrant-and-johnson/' %}selected{% endif %}
      value="tarrant-and-johnson">Tarrant &amp; Johnson Counties, Texas</option>
  </optgroup>
  <optgroup label="Oil">
    <option
      {% if page.permalink == '/case-studies/kern/' %}selected{% endif %}
      value="kern">Kern County, California</option>
    <option
      {% if page.permalink == '/case-studies/north-slope/' %}selected{% endif %}
      value="north-slope">North Slope Borough, Alaska</option>
  </optgroup>
</select>
