.case_studies-map {
  fill: transparent;
  stroke: $mid-gray;
  stroke-width: 0.5px;

  path {
    vector-effect: non-scaling-stroke;
  }

  g {
    &:first-child {
      stroke-width: 2px;
    }

    &:last-child {
      stroke-width: 0.5px;
    }
  }
}
