@value colors: "../../../css-global/colors.css";
@value gray-pale, gray-light, gray-darkest from colors;

.root {

}

.tabContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-right: 40%;
}

.tab {
	background-color: white;
	border: 1px solid gray-light;
	color: gray-darkest;
	cursor: pointer;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0px;
	text-align: center;
	width: 100%;
}

.tab:hover{
	text-decoration: underline;
}

.tabSelected {
	background-color: gray-pale;
	border: 1px solid gray-light;
	border-bottom: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0px;
	text-align: center;
	width: 100%;
}

.tabPanelContainer {
	background-color: gray-pale;
	border: 1px solid gray-light;
}