<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>US EITI {% block title %}{% endblock %}</title>
    <script src="/js/vendor/d3.v3.min.js"></script>
    <script src="/js/vendor/queue.v1.min.js"></script>
    <script src="/js/vendor/topojson.v1.min.js"></script>
    <script src="/js/vendor/datalib.min.js"></script>
    <script src="/js/vendor/director.min.js"></script>
    <script src="/js/vendor/colorbrewer.js"></script>
    <script src="/js/vendor/d3-tip.min.js"></script>
    <script src="/js/lib/albers-custom.js"></script>
    <script src="/js/eiti.js"></script>
    <script src="/js/eiti.charts.js"></script>
    <script src="/js/progressive.js"></script>
    <script src="/js/vendor/document-register-element.js"></script>
    <script src="/js/components/region-map.js"></script>
    <script src="/js/components/x-slider.js"></script>
   <!--  <link rel="stylesheet" href="/css/components.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
  </head>

  <body data-path="{{ request.path }}" class="{% block body_class %}{% endblock %}">

    <header class="container">

      <div>
        <h1><a href="/"><img src="/img/USEITI_Logotype.png" alt="USEITI logo"></a></h1>
      </div>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/data">Data</a></li>
          <li><a href="/data">Reports</a></li>
          <li class="search">
            <label>Search <input type="search" name="query"></label>
          </li>
        </ul>
      </nav>

    </header>

    <!-- <div id="breadcrumb" class="container">
      <nav>
        <ul class="breadcrumb">
          <li class="home"><a href="/">Home</a></li>
          {% block breadcrumb %}
          {% endblock %}
        </ul>
      </nav>
    </div> -->

    <main>
      {% block communities %}
      {% endblock %}

      {% block main %}
      {% endblock %}
    </main>

    <footer>

      <div class="container footer-col_containter">

        <div class="footer-col-left">

          <p class="footer-intro">The Department of the Interior is creating this public data portal to tell the story of natural resource revenues from Federal lands.</p>

          <p>It supports the U.S. implementation of the international Extractive Industry Transparency Initiative, is part of the cross-government Project Open Data and supports the goals of the U.S. National Action Plan for Open Government Partnership.</p>

          <div class="footer-col-inner-left">

            <h1>Questions?</h1>

            <p>Contact the Department of the Interior's Office of Natural Resources Revenue about natural resource revenues at useiti@ios.doi.gov.</p>

          </div>

          <div class="footer-col-inner-right">

            <h1><i class="fa fa-github-alt"></i> Fork us on GitHub</h1>

            <p>We welcome issues and pull requests!</p>
          
          </div>

        </div>

        <div class="footer-col-right">

          <img src="/img/DOI-mark.png">

        </div>

      </div>

    </footer>

  </body>
</html>
