{% extends 'base.html' %}

{% from 'macros.html' import location_selector %}

{% block main %}
  <section id="index" class="container">

    <div class="home-intro">

      <div>

        <h1><span class="huge">The United States Extractive Industries Transparency Initiative</span><br> was created to strengthen public accountability and promote trust in how revenues from oil, gas, mineral, and renewable energy resources in the US are managed.</h1>

        <h2>Choose a natural resource to learn more</h2>

        <ul>
          {% for slug, name in resources.groups %}
            <a href="/resources/{{ slug }}"><li class="product-{{ slug }}">{{ name }}</li></a>
          {% endfor %}
        </ul>

        <a href="#" class="link-more home-intro-more" style="display:block">Or compare data for all resources <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>

      </div>

      <article class="article_module">

        <img src="/img/placeholder_module.png" alt="Placeholder">

        <div class="article_module-content">

          <h1>Where is this extraction taking place?</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien odio, lobortis non ex in, sollicitudin iaculis velit. Pellentesque lobortis, justo vel imperdiet suscipit, orci lectus pulvinar nulla.</p>

          <form>
            <label>Choose a location
              {{ location_selector(locations=locations) }}
            </label>
          </form>

        </div>

      </article>

    </div>

    <div class="home-modules">

      <article>

        <img src="/img/placeholder_module.png" alt="Placeholder">

        <div class="article_module-content">

          <h1>What natural resources do we have in the US?</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien odio, lobortis non ex in, sollicitudin iaculis velit. Pellentesque lobortis, justo vel imperdiet suscipit, orci lectus pulvinar nulla.</p>

          <a href="#" class="link-more">Find out more <i class="fa fa-chevron-right"></i></a>

        </div>

      </article>

      <article>

        <img src="/img/placeholder_module.png" alt="Placeholder">

        <div class="article_module-content">

          <h1>How do extractive industries impact my community?</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien odio, lobortis non ex in, sollicitudin iaculis velit. Pellentesque lobortis, justo vel imperdiet suscipit, orci lectus pulvinar nulla.</p>

          <a href="#" class="link-more">View the case studies <i class="fa fa-chevron-right"></i></a>

        </div>

      </article>

      <article>

        <img src="/img/placeholder_module.png" alt="Placeholder">

        <div class="article_module-content">

          <h1>What companies work in these industries?</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien odio, lobortis non ex in, sollicitudin iaculis velit. Pellentesque lobortis, justo vel imperdiet suscipit, orci lectus pulvinar nulla.</p>

          <a href="#" class="link-more">Learn about these companies <i class="fa fa-chevron-right"></i></a>

        </div>

      </article>

      <article>

        <img src="/img/placeholder_module.png" alt="Placeholder">

        <div class="article_module-content">

          <h1>Where is this extraction taking place?</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien odio, lobortis non ex in, sollicitudin iaculis velit. Pellentesque lobortis, justo vel imperdiet suscipit, orci lectus pulvinar nulla.</p>

          <a href="#" class="link-more">Or compare data for all resources <i class="fa fa-chevron-right"></i></a>

        </div>

      </article>

    </div>

    <div class="home-final">

      <h1>Not sure where to go? Start here &#8230;</h1>

      <h2><a href="#">Learn how natural resources become federal revenues <i class="fa fa-chevron-right"></i></a></h2>

    </div>

  </section>
{% endblock %}
