<h1>Index</h1>
<h2>Resources</h2>
<ul>
{% for slug, name in resources.groups %}
  <li><a href="/resources/{{ slug }}">{{ name }}</a></li>
{% endfor %}
</ul>

<form>
  <select id="location" onchange="window.location = '/locations/' + this.value">
    <optgroup label="States">
      {% for state in locations.onshore %}
      <option value="onshore/{{ state.abbr }}">{{ state.name }}</option>
      {% endfor %}
    </optgroup>
    <optgroup label="Offshore Areas">
      {% for area in locations.offshore %}
      <option value="offshore/{{ area.id }}">{{ area.name }}</option>
      {% endfor %}
    </optgroup>
  </select>
</form>
