{% macro table(values, columns, caption='') %}
  {% set values = values|sort('Year')|sort('Commodity') %}
  <table>
    <caption>{{ caption }}</caption>
    <thead>
      <tr>
      {% for column in columns %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in values %}
      <tr>
      {% for column in columns %}
        <td>{{ row[column] }}</td>
      {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro location_selector(locations=[], prefix='/locations/', id=null, value=null) %}
  <select id="{{ id }}" onchange="if (this.value) window.location = '{{ prefix }}' + this.value">
    <option value="">States and offshore areas</option>
    <optgroup label="States">
      {% for state in locations.onshore %}
      <option
        {% if (value == 'onshore/' + state.abbr) %}selected{% endif %}
        value="onshore/{{ state.abbr }}">{{ state.name }}</option>
      {% endfor %}
    </optgroup>
    <optgroup label="Offshore Areas">
      {% for area in locations.offshore %}
      <option
        {% if (value == 'offshore/' + area.id) %}selected{% endif %}
        value="offshore/{{ area.id }}">{{ area.name }}</option>
      {% endfor %}
    </optgroup>
  </select>

{% endmacro %}

{% macro community_selector(communities=[], prefix='/communities/', id=null, value=null) %}
  <select id="{{ id }}" onchange="if (this.value) window.location = '{{ prefix }}' + this.value">
    <option value=""></option>
    <!-- <optgroup label="Iron">
      <option
        {% if (value == 'communities/' + 'stl') %}selected{% endif %}
        value="stl">St. Louis County, Minnesota</option>
      <option
        {% if (value == 'communities/' + 'alpha') %}selected{% endif %}
        value="alpha">Alpha, Alpha</option>
    </optgroup> -->
    <optgroup label="Natural Gas">
      <option
        {% if (value == 'communities/' + 'tar') %}selected{% endif %}
        value="tar">Tarrant &amp; Johnson Counties, Texas</option>
      <option
        {% if (value == 'communities/' + 'beta') %}selected{% endif %}
        value="beta">Beta, Beta</option>
    </optgroup>
    <optgroup label="Oil">
      <option
        {% if (value == 'communities/' + 'nor') %}selected{% endif %}
        value="nor">North Slope Borough, Alaska</option>
      <option
        {% if (value == 'communities/' + 'delta') %}selected{% endif %}
        value="delta">Delta, Delta</option>
    </optgroup>
  </select>

{% endmacro %}
