{% macro table(values, columns, caption='') %}
  {% set values = values|sort('Year')|sort('Commodity') %}
  <table>
    <caption>{{ caption }}</caption>
    <thead>
      <tr>
      {% for column in columns %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in values %}
      <tr>
      {% for column in columns %}
        <td>{{ row[column] }}</td>
      {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro location_selector(locations=[], prefix='/locations/', id=null, value=null) %}
  <select id="{{ id }}" onchange="if (this.value) window.location = '{{ prefix }}' + this.value">
    <option value="">States and offshore areas</option>
    <optgroup label="States">
      {% for state in locations.onshore %}
      <option
        {% if (value == 'onshore/' + state.abbr) %}selected{% endif %}
        value="onshore/{{ state.abbr }}">{{ state.name }}</option>
      {% endfor %}
    </optgroup>
    <optgroup label="Offshore Areas">
      {% for area in locations.offshore %}
      <option
        {% if (value == 'offshore/' + area.id) %}selected{% endif %}
        value="offshore/{{ area.id }}">{{ area.name }}</option>
      {% endfor %}
    </optgroup>
  </select>
{% endmacro %}

{% macro url_selector(values, url_template, selected='') %}
<select onchange="window.location = '{{ url_template }}'.replace('@', this.value);">
  {% for value, label in values %}
  <option value="{{ value }}"{% if value == selected %} selected="selected"{% endif %}>{{ label }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% macro region_map(id=null, href_prefix='', href_suffix='', simplify=null) %}
  {% set href_prefix = href_prefix + '/locations' %}
  {% set href_suffix = '{{ id }}' + href_suffix %}
  <svg is="eiti-map" {% if id %}id="{{ id }}"{% endif %} {% if simplify %}simplify="{{ simplify }}"{% endif %}
    projection="albersCustom" data-path="/data/geo/">
    <g class="offshore" data-url="offshore-simple.json"
      data-href="{{ href_prefix }}/offshore/{{ href_suffix }}"
      data-mesh="true">
    </g>
    <g class="onshore" data-url="us-states-simple.json"
      data-href="{{ href_prefix }}/onshore/{{ href_suffix }}"
      data-mesh="true">
    </g>
  </svg>
{% endmacro %}
