{% extends 'base.html' %}

{% block subpage_hero %}

<div class="communities">

  <div class="communities-intro">

    <section id="executive-summary" class="container">
	  <h2>
		  This is where our executive summary will be. This page will have a few summary paragraphs explaining what to expect in the executive summary, and a link to download the executive summary as a PDF. The PDF itself will have live links in it so as people read the work on their computers or internet-enabled devices, they can click directly back to related parts of the full report at useiti.doi.gov.
	  </h2>
    </section>
  </div>
</div>
  
{% endblock %}