{% extends 'base.html' %}

{% from 'macros.html' import region_map, url_selector, location_selector %}

{% block breadcrumb %}
  <li><a href="/resources">Resources</a></li>
  <li>{{ resource.name }}</li>
{% endblock %}

{% block main %}

<div class="map">

  <section id="resources" class="container">

    <div class="map-left">
      <form>
        <!-- resource: "{{ resource|jsonify }}" -->
        {% set resource_url_template = request.url.replace(resource.slug, '@') %}
        {{ url_selector(resources.groups, resource_url_template, resource.slug, none_option=['all', 'All']) }}
      </form>

      <form>
        <!-- region "{{ region|jsonify }}" -->
        <label>
          {{
            location_selector(
              locations=locations,
              prefix=location_prefix_url,
              value=region.id,
              none_option='All states and offshore areas'
            )
          }}
        </label>
      </form>


      {% if counties %}
      <form class="counties">
        <label>
          {% set county_url_template = location_prefix_url + 'onshore/' + request.params.state + '/@' %}
          {{ url_selector(counties,
              county_url_template,
              selected=request.params.county,
              none_option=['', 'No county'],
              access=['FIPS', 'name']) }}
        </label>
      </form>
      {% endif %}

      <p>Lorem ipsum dolor amet. Sed soitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt.</p>

      <div class="map-data_types resource_{{ resource.slug if resource else 'none' }}">

        <div class="group_inline">

          <div class="group_inline-left">
            <h2 class="current-year resource-text">2013</h2>
          </div>

          <div class="group_inline-right">
            <form>
              <select name="datatype" onchange="location.href = location.href.replace('{{ request.params.datatype }}', this.value);">
                <option value="revenue"{% if request.params.datatype == 'revenue' %} selected{% endif %}>Revenues</option>
                <option value="production"{% if request.params.datatype == 'production' %} selected{% endif %}>Production</option>
                <option value="exports"{% if request.params.datatype == 'exports' %} selected{% endif %}>Exports</option>
                <option value="jobs"{% if request.params.datatype == 'jobs' %} selected{% endif %}>Jobs</option>
              </select>
            </form>
          </div>

        </div>

        <div class="map-data_types-stats">

          <ul class="resource-text">
            <li>
              <span class="headline" id="total-revenue">$XXX</span>
              <span class="subtitle">
                {{ resource.name }} revenues in [location] <!-- in
                <span class="current-year resource-text">2013</span> -->
              </span>
            </li>
            <!-- <li>
              <span class="headline" id="export-contribution">XX%</span>
              <span class="subtitle">
                percent {{ resource.name }} contributed to U.S. exports in
                <span class="current-year resource-text">2013</span>
              </span>
            </li> -->
          </ul>
          
        </div>

      </div>

    </div>

    <div class="map-right">

      <div class="map-or_chart">
        <ul>
          <a href="#"><li class="map active">Map</li></a>
          <a href="#"><li class="charts">Charts</li></a>
        </ul>
      </div>

      <div class="map-map">

        {% set href_prefix = location_prefix_url %}
        <svg is="eiti-map" id="region-map" simplify="1e-2"
          projection="albersCustom" data-path="/data/geo/"
          zoom-to="{{ request.params.county or region.id }}">
          <g class="offshore areas" data-url="offshore-simple.json"
            data-title="properties.name"
            data-href="'{{ href_prefix }}offshore/' + id"
            data-mesh="true">
          </g>
          <g class="onshore states" data-url="us-states-simple.json"
            data-title="properties.name || properties.abbr"
            data-href="'{{ href_prefix }}onshore/' + id"
            data-mesh="true">
          </g>
          {% if request.params.state %}
          <!-- state! -->
          <g class="counties" data-url="us-topology.json"
            data-object="counties"
            data-filter="properties.state == '{{ request.params.state }}'"
            data-title="properties.county"
            data-href="'{{ href_prefix }}onshore/' + properties.state + '/' + properties.FIPS">
          </g>
          <g class="counties-mesh" data-url="us-topology.json"
            data-object="counties"
            data-filter="properties.state == '{{ request.params.state }}'"
            data-mesh="true">
          </g>
          {% elif request.params.area %}
          <!-- TODO: offshore area! -->
          {% endif %}
        </svg>

      </div>

      <div class="map-slider">

        <eiti-slider id="year-slider" min="2004" max="2013" value="2013" snap class="map-slider">
        </eiti-slider>

      </div>

      <div class="map-download_share">
        <ul>
          <a href="#"><li><i class="fa fa-cloud-download"></i> Download</li></a>
          <a href="#"><li><i class="fa fa-share-alt-square"></i> Share</li></a>
          <a href="#map-notes"><li><i class="fa fa-info-circle"></i> About</li></a>
        </ul>
      </div>

    </div>

  </section>

</div>

<section class="container map-contextual">

  <h1><a href="#">Learn how coal becomes federal revenues <i class="fa fa-chevron-right"></i></a></h1>

</section>

<section id="map-notes" class="container map-notes">

  <h2>Notes</h2>
  <p>This is where all the details on the data used in the map will go.</p>

</section>


{% endblock %}

{% block script %}
<script>
(function(resource, color) {

  var params = {
    resource: '{{ request.params.resource }}',
    color: '{{ resources.colors[request.params.resource].primary }}' || '#000'
  };

  var filter = (params.resource && params.resource !== 'all')
    ? function(d) { return d.Resource === params.resource; }
    : null;

  var map = d3.select('#region-map');
  var slider = d3.select('#year-slider')
    .on('change', update);
  var colorScale;
  var year, valuesByYear;

  var formatDollars = d3.format('$,');

{% if request.params.state %}

  var dataURL = '/data/county/by-state/{{ request.params.state }}/resource-revenues.tsv';
  var regionField = 'FIPS';
  var pathSelector = '.counties path.feature';
  // FIXME: these should have the right IDs
  var featureId = dl.accessor('properties.FIPS');

{% else %}

  var dataURL = '/data/regional/resource-revenues.tsv';
  var regionField = 'Region';
  var pathSelector = 'path.feature';
  var featureId = dl.accessor('id');

{% endif %}

{% if request.params.datatype == 'revenue' %}

  var sumField = 'Revenue';
  var aggregate = function(d) {
    return d3.sum(d, dl.accessor(sumField));
  };

{% else %}

  console.warn('FIXME: no visualization for "{{ request.params.datatype }}"');
  return;

{% endif %}

  console.warn('loading:', dataURL);
  eiti.load(dataURL, function(error, data) {
    if (error) {
      console.error('load error:', error);
      // TODO: say something about the lack of data
      return;
    }

    var values = filter
      ? data.filter(filter)
      : data;
    // console.log('values:', values);

    valuesByYear = d3.nest()
      .key(dl.accessor('Year'))
      .key(dl.accessor(regionField))
      .rollup(aggregate)
      .map(values);

    colorScale = d3.scale.linear()
      .range(['#eee', params.color]);

    update();
  });

  function update() {
    if (!valuesByYear) return;
    var prev = year;
    year = slider.property('value');
    if (year === prev) return;

    d3.selectAll('.current-year')
      .text(year);

    var values = valuesByYear[year] || {};
    var numbers = d3.values(values).sort(d3.descending);
    var max = numbers[0];
    // FIXME: negative values???
    var total = Math.max(0, ~~d3.sum(numbers));

    d3.select('#total-revenue')
      .text(formatDollars(total));

    // console.log('max:', max, numbers);

    var scale = colorScale
      .domain([0, max]);

    map.selectAll(pathSelector)
      .style('fill', function(d) {
        var id = featureId(d);
        // console.log(id, values[id]);
        var value = d.value = values[id];
        return isNaN(value)
          ? null
          : scale(value);
      })
      .classed('empty', function(d) {
        return isNaN(d.value);
      });
  }

})();
</script>
{% endblock %}
