{% extends 'base.html' %}

{% block subpage_hero %}

<div class="communities">

  <div class="communities-intro revenues-intro">

    <section class="container">

      <div class="communities-left">

        <h1>How do natural resources on federal lands become U.S. revenues?</h1>

        <p>The federal government issues leases granting rights to explore for natural resources which may exist on federal lands. In return, part of the sales value for many of these commodities is paid back to the government as “royalties” (along with other types of revenues), for the benefit of the American people.</p>

      </div>

      <div class="communities-right article_module">

        <figure>

          <img src="/img/solar-doi.png" alt="Solar energy installation on federal land">

          <figcaption class="article_module-content">
            Federal desert solar farm
          </figcaption>

        </figure>

      </div>

    </section>

  </div>

{% endblock %}

{% block main %}

  <section class="container">
    <h2 class="h1">Choose a resource to see how the process works &#8230;</h2>

    <div class="revenues-modules">

      <article>

        <a href="#"><div class="revenues-module-spash">
          <h3>Coal <span class="revenues-fa"><i class="fa fa-chevron-right"></i></span></h3>

          <div class="revenues-module-icon">
            <img src="/img/icons/coal.svg" alt="coal">
          </div>
        </div></a>

        <div class="article_module-content">

          <p>Fossil fuels like coal are the main source of electricity in the U.S. Coal forms in the ground in seams or beds over tens of millions of years. Miners extract coal through surface and underground mining.</p>

          <a href="#" class="link-more">Visit this page <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>

        </div>

      </article>

      <article>

        <a href="#"><div class="revenues-module-spash">
          <h3>Oil &amp; Gas <span class="revenues-fa"><i class="fa fa-chevron-right"></i></span></h3>

          <div class="revenues-module-icon">
            <img src="/img/icons/oil.svg" alt="oil">
          </div>
        </div></a>

        <div class="article_module-content">

          <p>Oil and gas are fossil fuels. Oil forms in underground reservoirs, taking tens of millions of years. Gas – or “natural gas” – forms over thousands of years, both on land and offshore.</p>

          <a href="#" class="link-more">Visit this page <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>

        </div>

      </article>

      <article>

        <a href="#"><div class="revenues-module-spash">
          <h3>Hardock <br>Minerals <span class="revenues-fa"><i class="fa fa-chevron-right"></i></span></h3>

          <div class="revenues-module-icon">
            <img src="/img/icons/hardrock.svg" alt="hardrock minerals">
          </div>
        </div></a>

        <div class="article_module-content">

          <p>Gold, copper and iron are the chief sources of hardrock-mineral revenues in the U.S. Hardrock minerals contain metals such as these and silver, zinc, nickel, tin, and lead. In 2013, U.S. metal production totaled $32 billion in value.</p>

          <a href="#" class="link-more">Visit this page <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>

        </div>

      </article>

      <article>

        <a href="#"><div class="revenues-module-spash">
          <h3>Renewables <span class="revenues-fa"><i class="fa fa-chevron-right"></i></span></h3>

          <div class="revenues-module-icon">
            <img src="/img/icons/renewables.svg" alt="renewables">
          </div>
        </div></a>

        <div class="article_module-content">

          <p>Environmentally sustainable energy sources like solar and wind play an ever increasing role in meeting our country’s electricity needs. Solar energy converts solar radiation into heat and electricity, while wind powers turbines.</p>

          <a href="#" class="link-more">Visit this page <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>

        </div>

      </article>

    </div>

  </section>

  <div class="revenues-section-steps">
    <section class="container">
      <h2 class="h1">These resources share four general steps in common &#8230;</h2>

    </section>
  </div>

  <div class="revenues-section-forms">
    <section class="container">
      <h2 class="h1">&#8230; and the money collected takes one of several forms.</h2>

    </section>
  </div>

  <section class="container">
    <h2 class="h1">Choose a resource to explore:</h2>

  </section>


</div>

{% endblock %}
