{% extends 'base.html' %}

{% block breadcrumb %}
  <li><a href="/locations">Locations</a></li>
  <li>{{ state.meta.name }}</li>
{% endblock %}

{% block main %}
  <section id="state" class="container">
    {% from 'macros.html' import table %}

    <h3>Counties</h3>
    <ul>
    {% for county in counties %}
      <li><a href="{{ request.path }}/{{ county.name }}">{{ county.name }}</a></li>
    {% endfor %}
    </ul>

    {{ table(state.revenues, ['Year', 'Commodity', 'Revenue'], caption='Revenues') }}

    {{ table(state.production, ['Year', 'Commodity', 'Product', 'Volume'], caption='Production Volume') }}
  </section>
{% endblock %}
