{% extends 'base.html' %}

{% from 'macros.html' import location_selector %}

{% block main %}
  <section class="container">

    <div class="home-intro styleguide">

      <div>

        <h1><span class="huge">Lato Light 48px Title</span><br> with further title text here in Lato Light 33px and #303030</h1>

        <h2>Lato Light 24px H2 in #838383</h2>

        <ul>
          <a href="#"><li class="product-oilgas">#9fa63b</li></a>
          <a href="#"><li class="product-coal">#965bcd</li></a>
          <a href="#"><li class="product-minerals">#c5403c</li></a>
          <a href="#"><li class="product-renewables">#1e7caa</li></a>
          <a href="#"><li class="product-other">#666666</li></a>
        </ul>

        <ul>
          <a href="#"><li class="guide-black">#040404</li></a>
          <a href="#"><li class="guide-light-black">#303030</li></a>
          <a href="#"><li class="guide-dark-putty">#838383</li></a>
          <a href="#"><li class="guide-mid-gray">#e1e1e1</li></a>
          <a href="#"><li class="guide-putty">#f4f4f4</li></a>
        </ul>

        <a href="#" class="link-more home-intro-more" style="display:block">Link to more Lato Regular 13px in #1075a5 <i class="fa fa-chevron-right"></i></a>

      </div>

        <article class="article_module">

          <img src="{{ site.baseurl }}/img/placeholder_module.png" alt="Placeholder">

          <div class="article_module-content">

            <h1>Lato Bold 14px H1 in #303030</h1>

            <p>Lado Light 12px Body Text in #838383. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien odio, lobortis non ex in, sollicitudin iaculis velit. Pellentesque lobortis, justo vel imperdiet suscipit, orci lectus pulvinar nulla.</p>

            <form>
              <label>Form label:
                {{ location_selector(locations=locations) }}
              </label>
            </form>

          </div>

        </article>

    </div>


    <div class="home-final">

      <h1>Not sure where to go? Start here &#8230;</h1>

      <h2><a href="#">Learn how natural resources become federal revenues <i class="fa fa-chevron-right"></i></a></h2>

    </div>

  </section>
{% endblock %}
