{% extends 'base.html' %}

{% block main %}

<div class="communities">

  <div class="communities-intro">

    <section class="container">

      <div class="communities-left">

        <h1>What are the impacts on communities like mine?</h1>

        <p>In some communities, extractive industries play a much larger role than in others. These narratives provide  snapshots into twelve communities that, over the last decade, have led U.S. counties in production of one of the following resources: iron, copper, gold, coal, oil, and natural gas.</p>

        <label>Choose a county
          <select></select>
        </label>

      </div>

      <div class="communities-right">
        
        <img src="/img/comm-mapFPO.png">

      </div>

    </section>

  </div>

  <section class="container communities-content">

    <article class="communities-left">
      
      <h3><img src="/img/iron.png" alt="iron ore">Iron ore</h3>

      <h2>St. Louis County, Minnesota</h2>


      <p>All of the iron mining in St. Louis County takes place along the Mesabi Iron Range. The Mesabi Range is a narrow, 110-mile long iron deposit stretching from Babbitt to Grand Rapids that has shaped the economic development of the region over the past century. Iron ore was first discovered in the Mesabi Range in 1866 and extractive operations began in the 1890s, focusing on exploiting the rich reserves of high-grade natural ore that could be processed into steel with little change. However, after extracting approximately 2.5 billion tons of this natural ore, the supply was largely exhausted by the 1950s and the mining industry began to pivot to a lower-grade iron ore alternative: taconite. Taconite mining targets chert-magnetite ores that are processed and upgraded into higher-grade iron pellets to feed steel mill blast furnaces. To date, approximately 1.6 billion tons of these iron pellets have been produced from Mesabi Range ore.</p>

      <p>In 2012, eight iron mines were operational in St. Louis County, producing 41.8 million metric tons of ore. Production rates have remained relatively constant over the preceding ten years, averaging 37.8 million metric tons with a compound annual growth rate of 2%. As seen in the chart, St. Louis County’s iron production drives the majority of national iron production, mirroring its rises and falls. The abnormally low production rate in 2009 was broadly the result of the global economic recession and weak demand from Chinese steel mills.</p>

      <p>The iron industry serves as the major force driving employment and economic development in St. Louis County. The three major iron companies operating the county’s primary iron mines and processing facilities are Cliffs Natural Resources, ArcelorMittal, and the United States Steel Corporation. The eight mines operated by these, and other, companies provided 3,970 jobs in 2012 out of 94,933 private sector jobs in the county. </p>

    </article>

    <div class="communities-right">

      <!-- <img src="/img/counties/stl.png" alt="Saint Louis County, Minnesota" class="communities-county"> -->

      <nav>

        <ul>
          <li class="active"><a href="#">Introduction</a></li>
          <li><a href="#">Geology</a></li>
          <li><a href="#">Production</a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Revenues</a></li>
          <li><a href="#">Costs</a></li>
          <li><a href="#">Data</a></li>
        </ul>

      </nav>

    </div>

  </section>

</div>

{% endblock %}
