<!-- <div class="{{ className }}">{{ text }}</div> -->

<div class="preview">

  <!-- breadcrumb -->
  <div>
    <a class="breadcrumb" href="{{ site.baseurl }}/#/">Breadcrumb link</a>/
    <h1>How it works section uses this style</h1>
  </div>

</div>
