<!-- <div class="{{ className }}">{{ text }}</div> -->


<!-- breadcrumb -->
<div>
  <a class="breadcrumb" href="{{ site.baseurl }}/#/">Breadcrumb link</a>/
  <h1>Title of page</h1>
</div>

<!-- genericize: case-studies-content-icon -->
<div>
  <a class="case_studies_content-icon" href="{{ site.baseurl }}/#/"><i class="icon-coal"></i>Breadcrumb link with icon</a>
  <h1>Title of page</h1>
</div>
