---
title: Resource Revenues – Coal
layout: default
permalink: /resource_revenues/coal/
---

<section class="revenues_subpage-nav container"></section>

<section class="slab-beta revenues_subpage-intro_wrapper">

  <div class="container-outer revenues_subpage-intro">
    {% include revenues/coal_intro.html %}
  </div>

  <div class="revenues_subpage-steps coal">
    {% include revenues/coal_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include revenues/coal_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include revenues/coal_involved.html %}
</div>

<div class="container-outer revenues_page-footer">
  {% include revenues/revenues-footer.html %}
</div>



<!-- Accordion -->
<script src="{{ site.baseurl }}/js/components/accordion.js"></script>
