---
title: Resource Revenues – Non-Energy Minerals
layout: default
permalink: /resource_revenues/minerals/
---

<section class="revenues_subpage-nav container">

  <div class="revenues_subpage-back">
    <a class="revenues_subpage-back" href="{{ site.baseurl }}/resource_revenues/"><i class="fa fa-chevron-left"></i> Back <span> to revenues overview</span></a>
  </div>

</section>

<section class="slab-beta">
  <div class="container-outer revenues_subpage-intro">
    {% include revenues/minerals_intro.html %}
  </div>

  <div class="revenues_subpage-steps minerals">
    {% include revenues/minerals_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include revenues/minerals_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include revenues/minerals_involved.html %}
</div>

<div class="container-outer revenues_page-footer">
  {% include revenues/revenues-footer.html %}
</div>



<!-- Accordion -->
<script src="{{ site.baseurl }}/js/components/accordion.js"></script>
