---
title: Resource Revenues – Onshore Renewables
layout: default
permalink: /resource_revenues/onshore_renewables/
---

<section class="revenues_subpage-nav container">

  <div>
    <a class="revenues_subpage-back" href="{{ site.baseurl }}/resource_revenues/"><i class="fa fa-chevron-left"></i> Back <span> to Revenues</span></a>
  </div>

  <div class="revenues_subpage-tabs">
    <ul>
        <li class="revenues_subpage-tab active">
          <a href="{{ site.baseurl }}/resource_revenues/offshore_renewables/">Offshore</a>
        </li>
        </a>
        <li class="revenues_subpage-tab">
          <a href="{{ site.baseurl }}/resource_revenues/onshore_renewables/">Onshore</a>
        </li>
    </ul>
  </div>
</section>

<section class="slab-beta">
  <div class="container-outer revenues_subpage-intro">
    {% include revenues/onshore_renewables_intro.html %}
  </div>

  <div class="revenues_subpage-steps onshore-renewables">
    {% include revenues/onshore_renewables_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include revenues/onshore_renewables_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
    {% include revenues/onshore_renewables_involved.html %}
</div>

<div class="container-outer revenues_page-footer">
    {% include revenues/revenues-footer.html %}
</div>


<!-- Accordion -->
<script src="{{ site.baseurl }}/js/components/accordion.js"></script>

