// Cards
//
// 
//
//
// Styleguide components.cards

.cards{

}

.cards-item{
	@include span-columns(4);
  @include omega(3n);
  background-color: $white;
  border-radius: 10px;
  height: 500px;
  position: relative;
  margin-top: $base-padding;

  h1 {
    @extend .article_heading;
    padding-right: $base-padding;
    margin-bottom: $base-padding-lite;

    a {
      color: $light-black;
    }
  }

  form,
  .link-more {
    position: absolute;
    bottom: $base-padding;
  }

  img {
    border-bottom: 6px solid $putty;
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
}
