.layout-content {
  position: relative;

  blockquote {
    margin-bottom: $base-padding-extra;

    p {
      @include heading('para-xl');
      margin-top: 2.25rem;
    }
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  p + h2 {
    margin-top: $base-padding-large - 0.75em;
  }


  .container-left-9 {
    @include respond-to(medium-up) {
      > *:not(blockquote) {
        max-width: flex-grid(7, 9);
      }
    }
  }
}

h2 + hr,
h1 + hr,
h3 + hr,
h4 + hr {
  border: 1px solid $gray-light;
  margin-bottom: $base-padding-extra;
}

blockquote + h2,
br + h2,
blockquote + h3,
br + h3 {
  margin-top: $base-padding-large;
}
