.layout-state-pages {

  section + section {
    padding-top: $base-padding-extra;
    padding-top: $standard-padding-large;
  }

  h2 {
    border-top: 6px solid $light-green;
    padding-top: $base-padding;
    padding-top: $standard-padding;
  }

  h3:not(.chart-title) {
    border-top: 2px solid $light-green;
    padding-top: $base-padding-large;
    padding-top: $standard-padding-large;
  }

  hr {
    border-top: 1px solid $neutral-gray;
    margin-bottom: $base-padding;
    margin-top: $base-padding;
    margin-bottom: $standard-padding;
    margin-top: $standard-padding;
  }

  p + [class*='panel-'],
  section + [class*='panel-'],
  h3 + [class*='panel-'] {
    margin-bottom: $base-padding;
    margin-top: $base-padding;
    margin-bottom: $standard-padding;
    margin-top: $standard-padding;
  }

  figure {
    margin-top: 0;
  }

  .land-ownership {
    h2 {
      border-top: none;
      margin-top: 0;
    }
  }

  svg.ownership {
    border: 1px solid $mid-light-gray;
  }

  .tab-interface {
    margin-bottom: $base-padding-extra;
    margin-top: $base-padding-extra;
    margin-bottom: $standard-padding-large;
    margin-top: $standard-padding-large;
  }
}
