.layout-state-pages {

  section + section {
    padding-top: $base-padding-extra;
  }

  h2 {
    border-top: 1px solid $mid-light-gray;
    padding-top: $base-padding;
  }

  hr {
    border-top: 1px solid $neutral-gray;
    margin-bottom: $base-padding;
    margin-top: $base-padding;
  }

  p + [class*='panel-'],
  section + [class*='panel-'],
  h3 + [class*='panel-'] {
    margin-bottom: $base-padding;
    margin-top: $base-padding;
  }

  figure {
    margin-top: 0;
  }

  section[data-nav-header='ownership'] {
    h2 {
      border-top: none;
      margin-top: 0;
    }
  }

  svg.ownership {
    border: 1px solid $mid-light-gray;
  }

  .tab-interface {
    margin-bottom: $base-padding-extra;
  }
}
