.descriptionContainer {
	padding: 1rem;
}

.downloadLinkContainer {
	margin: 2rem 0;
}

.filterContainer {

}


.filterContainer > div {
	display: inline-block;
	padding: 0rem 1rem;
	width: 25%;

}


.filterLabel {
	margin-bottom: 0.5rem;
}

