.downloadLinkContainer {
	clear: both;
	margin: 2rem 0;
}

.tableToolbarContainer {
	padding: 0rem 1rem;
	margin-bottom: 20px;
}

.tableToolbarButton {
	float: right;
}


.filterContainer > div {
	float: left;
	padding: 0rem 1rem;
	width: 33%;
}

.filterLabel {
	margin-bottom: 0.5rem;
}

.tableContainer {
	display: inline-block;
	width: 100%;
}

// Media queries

@media only screen and (max-width: 600px) {


	.filterContainer > div {
		display: block;
		padding: 0rem 1rem;
		width: 100%;
	}
}