.downloadLinkContainer {
	clear: both;
	margin: 2rem 0;
}

.tableToolbarContainer {
	padding: 0rem 1rem;
	margin-bottom: 10px;
}

.tableToolbarButton {
	float: right;
}

.tableContainer {
	display: inline-block;
	width: 100%;
}