.downloadLinkContainer {
  text-align: right;
  width: 100%;
}

.tableToolbarContainer {
	margin-bottom: 10px;
}

.tableToolbarButton {
	float: right;
}

.editGroupingButton {
  float: none;
}

.tableContainer {
	display: inline-block;
	width: 100%;  
}
.locationMessage {
  margin-bottom: 1.5em;
}