.downloadLinkContainer {
	clear: both;
	margin: 2rem 0;
}

.tableToolbarContainer {
	margin-bottom: 10px;
}

.tableToolbarButton {
	float: right;
}

.tableContainer {
	display: inline-block;
	width: 100%;  
}
.locationMessage {
  margin-bottom: 1.5em;
}