@value colors: "../../../css-global/colors.css";
@value blue-dark from colors;

.root {
	font-size: 13px;
}

.root svg {
	margin-right: 10px;
	vertical-align: middle;
}

.toggle {

}

.toggle span {
	color: blue-dark;
	cursor: pointer;
	vertical-align: middle;
}

.toggle:hover span {
	text-decoration: underline;
}

.toggle[aria-expanded="true"] .plus {
	display: none;
}

.toggle[aria-expanded="false"] .minus {
	display: none;
}

.content {
	transition-duration: 5s;
}

