<div class="communities_intro">

  <section class="container-outer">

    <div class="container-left-7">

      <h1 class="communities_intro-heading">How do extractive industries impact communities like mine?</h1>

      <p class="communities_intro-para">In some communities, extractive industries play a much larger role than in others. These narratives provide  snapshots into twelve communities that, over the last decade, have led in production of one of six resources: iron, copper, gold, coal, oil, and natural gas.</p>

      <label>Choose a community
        <div class="communities_intro-select">
          {% include case-studies_selector.html %}
        </div>
      </label>

      <a href="{{ site.baseurl }}/communities/#intro">Or, go to the overview <span class="shrink-fa"><i class="icon-chevron-sm"></i></span></a>

    </div>

    <div class="container-right-5 u-centered">

      <img src="{{ site.baseurl }}/img/comm-mapFPO.png" class="communities_intro-image">

    </div>

  </section>

</div>
