<select onchange="window.location = '{{ site.baseurl }}/communities/' + this.value + '/'">
  <option value=""></option>

  <optgroup label="Natural Gas">
    <option
      {% if page.permalink == '/communities/tarrant-and-johnson/' %}selected{% endif %}
      value="tarrant-and-johnson">Tarrant &amp; Johnson Counties, Texas</option>
  </optgroup>
  <optgroup label="Oil">
    <option
      {% if page.permalink == '/communities/north-slope/' %}selected{% endif %}
      value="north-slope">North Slope Borough, Alaska</option>
    <option
      {% if page.permalink == '/communities/greenlee/' %}selected{% endif %}
      value="greenlee">Greenlee County, Arizona</option>
    <option
      {% if page.permalink == '/communities/pima/' %}selected{% endif %}
      value="pima">Pima County, Arizona</option>
    <option
      {% if page.permalink == '/communities/kern/' %}selected{% endif %}
      value="kern">Kern County, California</option>
    <option
      {% if page.permalink == '/communities/desoto/' %}selected{% endif %}
      value="desoto">DeSoto Parish, Louisiana</option>
    <option
      {% if page.permalink == '/communities/marquette/' %}selected{% endif %}
      value="marquette">Marquette County, Michigan</option>
    <option
      {% if page.permalink == '/communities/st-louis/' %}selected{% endif %}
      value="st-louis">St. Louis County, Minnesota</option>
    <option
      {% if page.permalink == '/communities/elko-and-eureka/' %}selected{% endif %}
      value="elko-and-eureka">Elko and Eureka Counties, Nevada</option>
    <option
      {% if page.permalink == '/communities/humboldt-and-lander/' %}selected{% endif %}
      value="humboldt-and-lander">Humboldt and Lander Counties, Nevada</option>
    <option
      {% if page.permalink == '/communities/campbell/' %}selected{% endif %}
      value="campbell">Campbell County, Wyoming</option>
    <option
      {% if page.permalink == '/communities/boone-logan-and-mingo/' %}selected{% endif %}
      value="boone-logan-and-mingo">Boone, Logan, and Mingo Counties, West Virginia</option>
  </optgroup>
</select>










