<div class="communities-intro">

  <section class="container">

    <div class="communities-left">

      <h1>How do extractive industries impact communities like mine?</h1>

      <p>In some communities, extractive industries play a much larger role than in others. These narratives provide  snapshots into twelve communities that, over the last decade, have led in production of one of six resources: iron, copper, gold, coal, oil, and natural gas.</p>

      <label>Choose a community
        <!-- {{ page.title }}         -->
        {% include community_selector.html %}
      </label>

      <a href="{{ site.baseurl }}/communities/#intro" class="link-more home-intro-more" style="display:block">Or, go to the overview <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>

    </div>

    <div class="communities-right">

      <img src="{{ site.baseurl }}/img/comm-mapFPO.png" class="comm-intro-img">

    </div>

  </section>

</div>
