<section id="fourth1" class="section disbursement-frame">

  <div class="container">
    <h1>Where do these revenues go?</h1>
    <div class="intro">
      <p>The answer is: <strong>it depends</strong></p>
      <p>Laws treat revenues from offshore natural resources and onshore natural resources differently. There are set percentages and amounts from each that go certain places every year.</p>
      <p>Laws also treat different commodities differently. For example, for oil and gas, Federal and local governments get 
      {% for term in site.data.terms %} {% if term.term == "royalty" %}
        <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">royalties<i class="fa fa-question"></i></span>
      {% endif %} {% endfor %} 
      that are a percentage of sales. For many minerals such as gold, copper and silver, the governments get mining claim fees but no ongoing royalties.</p>
    </div>
  </div>
  
</section>

<section class="section medium-gray disbursement">

  <div class="container">

    <div class=" viz-title">
      <h1>Oil &amp; Gas Revenue Disbursements</h1>
    </div>

    <section class="bubbles">
      <div class="bubble_tabs">
        <a href="javascript:$('#disbursement_2012').show();$('#disbursement_2013').hide();" title="Show 2012 Disbursement Graph">2012</a>
        <a href="javascript:$('#disbursement_2013').show();$('#disbursement_2012').hide();" title="Show 2013 Disbursement Graph">2013</a>
      </div>
      
      <div class="disbursement_container" style="background:black;">
        <div id="disbursement_2012"></div>
        <div id="disbursement_2013" style="display:none;"></div>
        <div class="offshore">
          <h1>Where do <span>offshore</span> revenues go?</h1>
          <p>For natural resource revenues from <a href="http://www.boem.gov/Outer-Continental-Shelf/">offshore locations</a>, 27% of revenues from within <a href="http://statistics.onrr.gov/PDF/FAQs.pdf">8(g) boundaries (pdf)</a> goes to the state that the revenues came from, $150 million goes to the <a href="http://www.nps.gov/history/hpg/">Historic Preservation Fund</a>, up to $900 million goes to the <a href="http://www.nps.gov/lwcf/">Land &amp; Water Conservation Fund</a>, some goes to the Federal agency that manages the area, and the remainder goes to the U.S. Treasury.</p>
        </div>

        <div class="onshore">
          <h1>Where do <span>onshore</span> revenues go?</h1>
          <p>For natural resource revenues from <a href="https://www.google.com/search?q=us+federal+land+interior&rlz=1C5CHFA_enUS545US546&es_sm=91&biw=1577&bih=870&source=lnms&tbm=isch&sa=X&ei=xX0LVNCSEMmlyAS7tIKoDg&ved=0CAYQ_AUoAQ#tbm=isch&q=us+federal+land">onshore Federal land</a>, for most parts of the country 49% goes to the state that the revenues came from, 40% goes to the <a href="http://www.nps.gov/nr/travel/ReclamationDamsAndWaterProjects/Mission_of_the_Bureau_of_Reclamation.html">Reclamation Fund</a>, some goes to the agency that manages the land, and 11% goes to the U.S. Treasury. For revenues from Alaska, 89% goes to the state. For revenues from Indian Country, 100% of revenues are returned to the Tribes or individual Indian land owner.</p>
        </div>


      </div>
      
    </section>

    <div class="sectors-social">
      <img src="{{ site.baseurl }}/static/img/icon_4501.svg" alt="Download" class="share">
      <img src="{{ site.baseurl }}/static/img/icon_7584.svg" alt="Share" class="share">
    </div>

  </div>
</section>