<section id="fourth1" class="section disbursement-frame">

  <div class="container">
    <h1>Where do these revenues go?</h1>
    <div class="intro">
      <p>The answer is: <strong>it depends</strong></p>
      <p>Laws treat revenues from offshore natural resources and onshore natural resources differently. There are set percentages and amounts from each that go certain places every year.</p>
      <p>Laws also treat different commodities differently. For example, for oil and gas, Federal and local governments get 
      {% for term in site.data.terms %} {% if term.term == "royalty" %}
        <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">royalties<i class="fa fa-question"></i></span>
      {% endif %} {% endfor %} 
      that are a percentage of sales. For many minerals such as gold, copper and silver, the governments get mining claim fees but no ongoing royalties.</p>
    </div>
  </div>
  
</section>

<section class="section disburse">

  <div class="container">

    <h1>Federal revenue disbursements by fund</h1>

    <div class="bubble_tabs">
    </div>

  </div>

</section>

<section class="bubbles">

  <div class="container">

    <div class="disbursement_container bubbles-viz">
      <div class="years">
      </div>
      <div class="bubble-info default-display">
        <h1>revenues go toward:</h1>
        <div class="icons"></div>
      </div>
      <p class="bubbles-instructions">
        Hover over a circle to see revenue totals.<br/> 
        Click a circle for more information.
      </p>
    </div>

    <div class="bubbles-onshore-offshore">
      <div class="box bubbles-offshore-words">
        <h1>offshore</h1>
        <p>For natural resource revenues from <a href="http://www.boem.gov/Outer-Continental-Shelf/">offshore locations</a>, 27% of revenues from within <a href="http://statistics.onrr.gov/PDF/FAQs.pdf">8(g) boundaries (pdf)</a> goes to the state that the revenues came from, $150 million goes to the <a href="http://www.nps.gov/stlpg/">Historic Preservation Fund</a>, up to $900 million goes to the <a href="http://www.doi.gov/lwcf/">Land &amp; Water Conservation Fund</a>, some goes to the Federal agency that manages the area, and the remainder goes to the U.S. Treasury.</p>
      </div>
      <div class="box bubbles-onshore-words">
        <h1>onshore</h1>
        <p>For natural resource revenues from <a href="http://nationalmap.gov/small_scale/printable/fedlands.html">onshore Federal land</a>, for most parts of the country 49% goes to the state that the revenues came from, 40% goes to the <a href="http://www.nps.gov/nr/travel/ReclamationDamsAndWaterProjects/Mission_of_the_Bureau_of_Reclamation.html">Reclamation Fund</a>, some goes to the agency that manages the land, and 11% goes to the U.S. Treasury. For revenues from Alaska, 89% goes to the state. For revenues from Indian Country, 100% of revenues are returned to the Tribes or individual Indian land owner.</p>
      </div>

      <div class="fund-info">
        <div class="box">
          <h1 class="name">
            <span class="text"></span>
            <a class="close" role="button" href="javascript:void(0);" title="hide this text">&times;</a>
          </h1>
          <p class="content">
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="disbursement-chart-notes">
      <h1>Chart notes.</h1>
      <ul>
        <li>
          {% for term in site.data.terms %} {% if term.term == "fiscal year" %}
            <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Fiscal year<i class="fa fa-question"></i></span>  
          {% endif %} {% endfor %}
          2012 and 2013 data.</li>
      </ul>
    </div>
  </div>

</section>


