<!-- {% assign filterable_fields = include.filterable_fields | default: filterable_fields %}

<div id="nav-drawer-filter" class="drawer" aria-hidden="true">
  <div class="container">
    <button data-toggler="nav-drawer-filter" class="button--close" is="eiti-toggle" aria-expanded="false" aria-controls="nav-drawer-filter" class="header-right" title="Close filter" data-inner-markup="x"></button>
  </div>

  <h1 class="h2 drawer-header"><icon class="icon-book"></icon> Filter</h1>
  <h3>Select which commodities to view on the page.</h3>

  <form class="filter-form">

  {% for field in filterable_fields %}
    <formgroup class="filter-item nav_drawer-nav js-glossary-list list-unstyled">
      <label class="h5 filter-type" for="{{ field[0] }}">{{ field[1] }}</label>
      <input class="filter-input" type="checkbox" checked name="{{ field[0] }}">
    </formgroup>
  {% endfor %}
  </form>
</div>
 -->
