<div id="drawer-filter" class="drawer" aria-hidden="true">

  <div class="container">
    <button data-toggler="nav-drawer" class="button--close" is="eiti-toggle" aria-expanded="false" aria-controls="nav-drawer" class="header-right" title="Global navigation close" data-inner-markup="x"></button>
  </div>

  <label for="drawer-search" class="label">Search</label>

  <form>
    <label for='coal' class='sr-only'>Coal</label>
    <input type="text" name="coal">

    <label for='oil' class='sr-only'>Oil</label>
    <input type="text" name="oil">
  </form>

</div>
