<footer class="section footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter" data-target="footer">

  <div class="container">
    <div class="footer-column">
      <h1>The <a href="http://www.doi.gov/">Department of the Interior</a> is creating this public data portal to tell the story of natural resource revenues from Federal lands.</h1>
      <p> It supports the U.S. implementation of the international <a href="https://www.eiti.org/">Extractive Industries Transparency Initiative</a>, is part of the cross-government <a href="https://project-open-data.github.io/">Project Open Data</a> and supports the goals of the <a href="http://www.whitehouse.gov/blog/2013/12/06/united-states-releases-its-second-open-government-national-action-plan">U.S. National Action Plan for Open Government Partnership</a>.</p>
    </div>

    <div class="footer-column">
      <img src="{{ site.url }}/static/img/U_S__Department_of_the_Interior.gif" alt="U.S. Department of the Interior Logo">
      <p><span>Questions?</span> Contact the Department of the Interior's <a href="http://www.onrr.gov">Office of Natural Resources Revenue</a> about natural resource revenues at <a href="mailto:useiti@ios.doi.gov">useiti@ios.doi.gov</a>.</p>
      <p class="footer-code"><i class="fa fa-github"></i> <a href="https://github.com/18F/doi-extractives-data">Fork us on Github</a><br/>
        We welcome issues and pull requests!</p>
    </div>
 
  </div>

</footer>