<footer class="section blue footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter" data-target="footer">
  <div class="container">
    <ul>
      <img src="{{ site.url }}static/img/U_S__Department_of_the_Interior.gif" alt="U.S. Department of the Interior Logo">
      <li><a href="http://www.doi.gov" itemprop="url">Department of the Interior</a></li>
      <li><a href="http://www.onrr.gov" itemprop="url">Office of Natural Resources Revenue</a></li>
    </ul>
    <ul>
      <img src="{{ site.baseurl }}/static/img/18f.png" alt="18F">
      <li>Made by <a href="https://18f.gsa.gov">18F</a> and</li>
      <li><a href="http://whitehouse.gov/innovationfellows">Presidential Innovation Fellows</a></li>
    </ul>
  </div>
</footer>