<div id="glossary" class="drawer"
      aria-describedby="glossary-result" aria-hidden="true">
  <div class="container">
    <button title="Close glossary"
      class="button button--close toggle"><span class="u-visually-hidden"><icon class="icon-close-x"></icon></span>
    </button>
  </div>

  <h2 class="drawer-header"><i class="icon-book"></i> Glossary </h2>
  <label for="drawer-search" class="label">Filter glossary terms</label>
  <input class="glossary__search drawer-search" type="search" placeholder="e.g. Fossil fuel">
  <div class="drawer__content" id="glossary-result">
    <ul class="glossary__list" accordion>
      {% for term in site.data.terms %}
      <li class="drawer__item" accordion-item accordion-open="false">
        <h5 class="glossary-term">{{term[0]}}</h5>
        <button accordion-button class="accordion-button" title="Toggle for {{term[0]}}"></button>
        <p class="glossary-definition accordion-content">{{term[1]}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
