<div id="glossary" class="drawer"
      aria-describedby="glossary-result" aria-hidden="true">
  <div class="container">
    <button id="glossary-toggle" class="button button--close toggle">
      <label for="glossary-toggle" class="sr-only">Close glossary</label><icon class="icon-close-x"></icon>
    </button>
  </div>

  <h1 class="h2 drawer-header"><icon class="icon-book"></icon> Glossar </h1>
  <label for="drawer-search-bar" class="label">Glossar durchsuchen</label>
  <input id="drawer-search-bar" class="js-glossary-search drawer-search" type="search" placeholder="z. B. Subventionen">
  <div id="glossary-result">
    {% if site.lang == "de" %}
      <ul class="js-glossary-list list-unstyled" accordion="glossary-accordion">
        {% for term in site.data['terms_de'] %}
        <li class="glossary-item">
          <h2 class="h5 glossary-term">{{term[0]}}</h2>
          <button><span class="sr-only">Toggle for {{term[0]}}</span></button>
          <p class="glossary-definition accordion-content">{{term[1]}}</p>
        </li>
        {% endfor %}
      </ul>
    {% elsif site.lang == "en" %}
      <ul class="js-glossary-list list-unstyled" accordion="glossary-accordion">
        {% for term in site.data['terms_en'] %}
        <li class="glossary-item">
          <h2 class="h5 glossary-term">{{term[0]}}</h2>
          <button><span class="sr-only">Toggle for {{term[0]}}</span></button>
          <p class="glossary-definition accordion-content">{{term[1]}}</p>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
