<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>{% if page.title != "Home" %}{{ page.title }} &#8211; {% endif %}{{ site.name }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

	<!-- Twitter and Open Graph data
	================================================== -->
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ site.name }}" />
	<meta property="og:url" content="{% if page.title == "Home" %}{{ site.url | append: '/' }}{% else %}{{ site.url }}{{ page.permalink }}{% endif %}">
	
	<meta name="twitter:title" content="{{ site.name }} - {{ page.title }}">
	<meta property="og:title" content="{{ site.name }} - {{ page.title }}">

	<meta name="twitter:description" content="{% if page.title == "Home" %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">
	<meta property="og:description" content="{% if page.title == "Home" %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">

	<meta name="twitter:site" content="{{ site.owner.twitter }}">
	<meta name="twitter:creator" content="{{ site.owner.twitter }}">

	{% if page.image %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ site.url }}/static/img/{{ page.image }}">
	<meta property="og:image" content="{{ site.url }}/static/img/{{ page.image }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
	<meta property="og:image" content="{{ site.url }}{{ site.logo }}">
	{% endif %}

	{% capture canonical %}{% if page.title == "Home" %}{{ site.url | append: '/' }}{% else %}{{ site.url }}{{ page.permalink }}{% endif %}{% endcapture %}
	<link rel="canonical" href="{{ canonical }}">

	<!-- Google authorship
	================================================== -->

	{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

	{% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href="{{ site.baseurl }}/static/css/normalize.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/static/css/tipped.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/static/css/styles.css?c={{ site.cachebuster }}" rel="stylesheet">

	<!-- JS
	================================================== -->

	<!--[if lte IE 7]>
	  <style>body { display: none !important; }</style>
	  <script type="text/javascript">
	    window.location.href = '/static/oldie.html';
	  </script>
	<![endif]-->

	<!--[if lte IE 9]>
		<link rel="stylesheet" href="{{ "/static/css/ie.css" | prepend: site.baseurl }}">
		<script type="text/javascript" src="{{ site.baseurl }}/static/js/min/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/static/js/min/respond.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/static/js/min/selectivizr.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/static/js/min/html5shiv.min.js"></script>
	<![endif]-->

	<!-- Libraries -->
	<script src="{{ site.baseurl }}/static/js/lib/jquery.js"></script>
	<script src="{{ site.baseurl }}/static/js/lib/crossfilter.js"></script>
	<script src="{{ site.baseurl }}/static/js/lib/d3.js"></script>
	<script src="{{ site.baseurl }}/static/js/lib/dc.js"></script>
	<script src="{{ site.baseurl }}/static/js/lib/d3.tip.v0.6.3.js"></script>
	<script src="{{ site.baseurl }}/static/js/lib/tipped.js"></script>
	<script src="{{ site.baseurl }}/static/js/min/jquery-scrolltofixed-min.js"></script>
	<script src="{{ site.baseurl }}/static/js/min/snap.svg-min.js"></script>

	<!-- Helpers -->
	<script src="{{ site.baseurl }}/static/js/helpers.js"></script>

	<!-- For Mapbox
	================================================== -->
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

	<!-- Favicons
	================================================== -->
	<!-- 16x16 and 32x32-->
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

	<!-- For IE 10/11 Metro tile icon -->
	<meta name="application-name" content="USEITI"/>
	<meta name="msapplication-TileColor" content="#ffffff"/>
	<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/static/img/favicon/ie/tiny.png"/>
	<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/static/img/favicon/ie/square.png"/>
	<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/static/img/favicon/ie/wide.png"/>
	<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/static/img/favicon/ie/large.png"/>

	<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/static/img/favicon/favicon-152.png">

	<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/static/img/favicon/favicon-144.png">

	<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/static/img/favicon/favicon-120.png">

	<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/static/img/favicon/favicon-114.png">

	<!-- For first- and second-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/static/img/favicon/favicon-72.png">

	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/static/img/favicon/favicon-57.png">

    <!-- export some site variables to JavaScript -->
    <script>
      window.site = {};
      window.site.baseurl = "{{ site.baseurl }}";
    </script>
</head>
