{% assign _viewbox = include.viewbox | default: site.data.viewboxes.all %}
<div class="state svg-container map-container"{% if _viewbox %} style="padding-bottom: {{ _viewbox | svg_viewbox_padding }}%;"{% endif %}>
  <a href="{{ site.baseurl }}/states/" title="Explore data main page">
    <svg class="states map icon"{% if _viewbox %} viewBox="{{ _viewbox }}"{% endif %}>
    {% capture states_svg %}{{ site.baseurl }}/maps/states/all.svg{% endcapture %}
    {% capture offshore_svg %}{{ site.baseurl }}/maps/offshore/all.svg{% endcapture %}

      <g class="states features">
        <use xlink:href="{{ states_svg }}#states"></use>
      </g>

    {% for _area in site.offshore_areas %}
      <g class="states features">
        <use xlink:href="{{ offshore_svg }}#{{ _area.id }}"></use>
      </g>
    {% endfor %}

    {% for _state in site.data.states %}
      {% if state_id == _state.id %}
      <g class="state feature">
        <use xlink:href="{{ states_svg }}#state-{{ _state.id }}"></use>
      </g>
      {% endif %}
    {% endfor %}
    </svg>
  </a>
</div>

