<select
  id="location-selector"
  onchange="window.location = '{{ site.baseurl }}' + this.value">

  {% if include.default %}
    <option value="" disabled selected>{{ include.default }}</option>
  {% endif %}
  {% if include.nationwide %}
    <option value="{{ include.nationwide_url }}">{{ include.nationwide_title }}</option>
  {% endif %}
  <optgroup label="States">
    {% for state in site.states %}
    <option value="{{ state.url }}">{{ state.title }}</option>
    {% endfor %}
  </optgroup>
  <optgroup label="Offshore Regions">
    {% for region in site.offshore_regions %}
    <option value="{{ region.url }}">{{ region.title }}</option>
    {% endfor %}
  </optgroup>
</select>
