<select onchange="window.location = '{{ location_selector_url_prefix }}' + this.value"
  data-selected="{{ location_selector_selected }}">
  {% if location_selector_none %}<option value="">{{ location_selector_none }}</option>{% endif %}
  <optgroup label="States">
    {% for state in site.data.states %}
    <option
      {% if (location_selector_selected == state.id) %}selected="selected"{% endif %}
      value="onshore/{{ state.id }}">{{ state.name }}</option>
    {% endfor %}
  </optgroup>
  <optgroup label="Offshore Areas">
    {% for area in site.data.offshore_areas %}
    <option
      {% if (location_selector_selected == area.id) %}selected="selected"{% endif %}
      value="offshore/{{ area.id }}">{{ area.name }}</option>
    {% endfor %}
  </optgroup>
</select>
