<section id="third1" class="section map-frame">

  <div class="container">
    <h1>How do natural resources become Federal revenue?</h1>
    <div class="intro">
      <p>If there are natural resources under (or even suspected of being under) approved Federal lands, the U.S. Department of the Interior or the U.S. Department of Agriculture issues leases to explore for and extract these products for sale.</p>
      <p>In return, part of the sales value for many commodities is paid to the Federal government for the benefit of the American people. These are called “royalties.” There are other revenues involved, such as 
        {% for term in site.data.terms %} {% if term.term == "rent" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">rents<i class="fa fa-question"></i></span>, 
        {% endif %} {% endfor %}
        {% for term in site.data.terms %} {% if term.term == "bonus" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">bonuses<i class="fa fa-question"></i></span>, 
        {% endif %} {% endfor %}
      fees, and penalties, but by far most of the money comes from royalties.</p>
    </div>
  </div>

</section>

<section class="section how">

  <div class="container map-title">
    <h1>Federal resource royalties by location</h1>
  </div>

</section>

<section class="how map-canvas">

  <div class="map-container">

    <div id='map'></div>

    <div id='map-info-pane' class='map-info-pane'>
      <h1></h1>
      <div></div>
    </div>

    <div id='map-comodities-pane' class='map-comodities-pane'>

      <h1>Choose a commodity</h1>

      <a href='javascript:void(0)' class='oil' data-value='oil' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-oil" role="img" aria-label="Oil"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-oil"></use></svg>
        <div class="tooltip-item">
          <h1>Oil<sup> 1</sup></h1>
        </div>
      </a>

      <a href='javascript:void(0)' class='ngl' data-value='gas' tabindex='0' role="button" aria-pressed="true">
        <svg class="eiti-gas" role="img" aria-label="Gas"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-gas"></use></svg>
        <div class="tooltip-item">
          <h1>Gas<sup> 2</sup></h1>
        </div>
      </a>

      <a href='javascript:void(0)' class='coal' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-coal" role="img" aria-label="Coal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-coal"></use></svg>
        <div class="tooltip-item">
          <h1>Coal<sup> 3</sup></h1>
        </div>
      </a>

      <a href='javascript:void(0)' class='other' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-other" role="img" aria-label="Other Commodities"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-other"></use></svg>
        <div class="tooltip-item">
          <h1>Other<sup> 4</sup></h1>
        </div>
      </a>

      <a href='javascript:void(0)' class='wind' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-wind" role="img" aria-label="Wind"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-wind"></use></svg>
        <div class="tooltip-item">
          <h1>Wind<sup> 5</sup></h1>
        </div>
      </a>

      <a href='javascript:void(0)' class='geo' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-geo" role="img" aria-label="Geothermal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-geo"></use></svg>
        <div class="tooltip-item">
          <h1 class="small">Geothermal<sup> 6</sup></h1>
        </div>
      </a>

    </div>

    <div id='map-scale-pane'>
      <h1>Royalties</h1>
      <div class="map-scale"></div>
      <div class="map-scale-min">$1000</div>
      <div class="map-scale-max">$20000</div>
    </div>
      
  </div>

  <div class="container map-notes">
    <h1>Map notes. Calendar year 2013 data.</h1>
    <ol>
      <li><span>Oil.</span> 
        {% for term in site.data.terms %} {% if term.term == "royalty" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Royalties.<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}
         Includes various crude oil products such as condensate, drip and scrubber condensate, and fuel oil.</li>
      <li><span>Gas.</span>
        {% for term in site.data.terms %} {% if term.term == "royalty" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Royalties.<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}
        Includes various natural gas products such as processed and unprocessed gas, natural gas liquids (NGL), nitrogen, flash gas, fuel gas, and coal bed methane.</li>
      <li><span>Coal.</span>
        {% for term in site.data.terms %} {% if term.term == "royalty" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Royalties.<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}
        Includes various processed and unprocessed coal products such as anthracite, bituminous, subbituminous, and lignite.</li>
    </ol>
    <ol start="4">
      <li><span>Other.</span> 
        {% for term in site.data.terms %} {% if term.term == "royalty" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Royalties.<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}
        Includes a wide variety of solid minerals and other products such as carbon dioxide, phosphate, soda ash, salt, potash, and langbeinite.</li>
      <li><span>Wind.</span> 
        {% for term in site.data.terms %} {% if term.term == "bonus" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Bonus<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}
         and 
        {% for term in site.data.terms %} {% if term.term == "rent" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">rents<i class="fa fa-question"></i></span> 
        {% endif %} {% endfor %}
        from offshore wind turbine projects. These leases have not started producing in paying quanitities so there are no royalties yet.</li>
      <li><span>Geothermal.</span> 
        {% for term in site.data.terms %} {% if term.term == "royalty" %}
          <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">Royalties.<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}
        Includes royalties from geothermal electrical generation and the resulting byproducts.</li>
    </ol>
  </div>

  <!-- <div class="container download">
    <p>
      <a href="javascript:download_map_data([statesData,AK_NAD83_simp,ATL_NAD83_simp,GOM_NAD27_simp,PC_NAD83_simp])">&#8615; Download Map Data (CSV)</a>
    </p>
  </div> -->

</section>
