<section id="third1" class="section map-frame">

  <div class="container">
    <h1>How do natural resources become Federal revenue?</h1>
    <div class="intro">
      <p>If there are natural resources under (or even suspected of being under) approved Federal lands, the U.S. Department of the Interior or the U.S. Department of Agriculture grants leases to explore for and extract these products for sale.</p>
      <p>In return, part of the sales value for many commodities is paid to the Federal government for the benefit of the American people. These are called “royalties.” There are other revenues involved, such as 
        {% for term in site.data.terms %} {% if term.term == "rent" %}
          <span class="term-tooltip" title="{{ term.definition }}">rents</span>, 
        {% endif %} {% endfor %}
      fees<i class="fa fa-question"></i>, and penalties, but by far most of the money comes from these royalties.</p>
    </div>
  </div>

</section>

<section class="section how">

  <div class="container">
    <div class="viz-title-map">
      <h1>Federal resource royalties by location</h1>
    </div>
  </div>

  <div class="map-container">
    <div id='map'></div>
    <div id='map-info-pane' class='map-info-pane'>
      <h1></h1>
      <div></div>
    </div>

    <div id='map-comodities-pane' class='map-comodities-pane'>

      <a href='javascript:' class='oil' data-value='oil' tabindex='0' role="button" aria-pressed="true">
        <svg class="eiti-icon-oil" role="img" aria-label="Oil"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-oil"></use></svg>
        <div class="tooltip-item">
          <h1>Oil<sup> 1</sup></h1>
        </div>
      </a>

      <a href='javascript:' class='ngl' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-icon-gas" role="img" aria-label="Gas"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-gas"></use></svg>
        <div class="tooltip-item">
          <h1>Gas<sup> 2</sup></h1>
        </div>
      </a>

      <a href='javascript:' class='coal' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-icon-coal" role="img" aria-label="Coal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-coal"></use></svg>
        <div class="tooltip-item">
          <h1>Coal<sup> 3</sup></h1>
        </div>
      </a>

      <a href='javascript:' class='other' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-icon-other" role="img" aria-label="Other Commodities"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-other"></use></svg>
        <div class="tooltip-item">
          <h1>Other<sup> 4</sup></h1>
        </div>
      </a>

      <a href='javascript:' class='wind' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-icon-wind" role="img" aria-label="Wind"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-wind"></use></svg>
        <div class="tooltip-item">
          <h1>Wind<sup> 5</sup></h1>
        </div>
      </a>

      <a href='javascript:' class='geo' tabindex='0' role="button" aria-pressed="false">
        <svg class="eiti-icon-geo" role="img" aria-label="Geothermal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-geo"></use></svg>
        <div class="tooltip-item">
          <h1 class="small">Geothermal<sup> 6</sup></h1>
        </div>
      </a>

    </div>

    <div id='map-scale-pane'>
      <h1>Royalties</h1>
      <div class="map-scale"></div>
      <div class="map-scale-min">$1000</div>
      <div class="map-scale-max">$20000</div>
    </div>
      
  </div>

  <div class="container map-notes">
    <h1>Map notes. Calendar year 2013 data.</h1>
    <ol>
      <li><span>Oil.</span> Royalties. Includes various crude oil products such as condensate, drip and scrubber condensate, and fuel oil.</li>
      <li><span>Gas.</span> Royalties. Includes various natural gas products such as processed and unprocessed gas, natural gas liquids (NGL), nitrogen, flash gas, fuel gas, and coal bed methane.</li>
      <li><span>Coal.</span> Royalties. Includes various processed and unprocessed coal products such as anthracite, bituminous, subbituminous, and lignite.</li>
    </ol>
    <ol start="4">
      <li><span>Other.</span> Royalties. Includes a wide variety of solid mineral and other products such as copper, zinc, tar sands, clay, borax, and potassium.</li>
      <li><span>Wind.</span> Bonus and rents from offshore wind turbine projects. These leases have not started producing wind in paying quanitities so there are no royalties yet.</li>
      <li><span>Geothermal.</span> Royalties. Includes royalties from geothermal electrical generation and the resulting byproducts.</li>
    </ol>
  </div>

  <div class="container download">
    <p>
      <a href="javascript:download_map_data([statesData,AK_NAD83_simp,ATL_NAD83_simp,GOM_NAD27_simp,PC_NAD83_simp])">&#8615; Download Map Data (CSV)</a>
    </p>
  </div>

</section>
