{% assign keys = include.value %}
{% for area in include.areas %}
  {% assign area_id = area[0] %}
  {% if include.href %}<a xlink:href="{{ include.href | format_url: area_id }}">{% endif %}
  {% assign value = area[1] | get: keys %}

  {% assign year_values = null %}
  {% if include.years %}
    {% assign year_values = area[1] | get: include.years %}
    {% if include.years_property %}
      {% assign year_values = year_values | map_hash: include.years_property %}
    {% endif %}
  {% endif %}

  {% if year_values %}
    <g class="county feature{% if include.only_stroke %} only-stroke{% endif %}"
      data-fips="{{ area_id }}"
      {% unless include.only_stroke %}
        data-value='{{ value | jsonify }}'
        data-year-values='{{ year_values | jsonify }}'
      {% endunless %}>
      <title>{{ area[1].name }}</title>
      <use xlink:href="{{ offshore_svg }}#{{ area_id }}"></use>
    </g>
  {% endif %}
  {% if include.href %}</a>{% endif %}
{% endfor %}
