<section class="explore-subpage container">
    <section>
      <div class="explore-subpage-tabs">
        <ul>
          <li {% if page.url == '/downloads/federal-production/' %} class="explore-subpage-tab active" {% else %} class="explore-subpage-tab" {% endif %}>
            <a href="{{ site.baseurl }}/downloads/federal-production/">Production by year</a>
          </li>
          <li {% if page.url == '/downloads/federal-production-by-month/' %} class="explore-subpage-tab active" {% else %} class="explore-subpage-tab" {% endif %}>
            <a href="{{ site.baseurl }}/downloads/federal-production-by-month/">Production by month</a>
          </li>
        </ul>
      </div>
    </section>
</section>