<!-- sticky primary nav -->
<script>
  $(document).ready(function() {
  $('#sticky-nav').scrollToFixed({
      dontSetWidth: true,
      zIndex: 99999
    });
  });
</script>

<!-- sticky secondary nav on Sectors page -->
<script>
  $(document).ready(function() {
  $('#sticky-secondary-nav').scrollToFixed({
      marginTop: 100,
      dontSetWidth: true
    });
  });
</script>

<!-- nav toggle at smaller sizes -->
<script>
  document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
    this.classList.toggle( "active" );
  });
</script>

<script>
  $(document).ready(function() {
      $('#nav-toggle').click(function() {
          $('.menu').slideToggle("fast");
      });
  });
</script>

<!-- term definition tooltips -->
<script type="text/javascript">
  $(document).ready(function() {
    Tipped.create('.term-tooltip', { 
      position: 'topright', 
      radius: false,
      maxWidth: 200,
      offset: { y: 5 },
      shadow: false,
    });
  });
</script>

<!-- extra space at top for hash links -->
<!-- http://stackoverflow.com/questions/17534661/make-anchor-link-go-some-pixels-above-where-its-linked-to -->
<script>
// The function actually applying the offset
// function offsetAnchor() {
//     // This if statement is optional. It is just making sure that
//     // there is a valid anchor to offset from.
//     if($(location.hash).length !== 0) {
//         window.scrollTo(window.scrollX, window.scrollY - 100);
//     }
// }

// // This will capture hash changes while you are on the same page
// $(window).on("hashchange", function () {
//     offsetAnchor();
// });

// // This is here so that when you enter the page with a hash,
// // it can provide the offset in that case too. Having a timeout
// // seems necessary to allow the browser to jump to the anchor first.
// window.setTimeout(function() {
//     offsetAnchor();
// }, 2); // The delay of 1 is arbitrary and may not always work right (although it did in my testing).
  $(document).ready(function(){
    function GetURLParameter(sParam) {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
          return sParameterName[1];
        }
      }
    }
    var hashTag = GetURLParameter('h');
    if(hashTag){
      $('html, body').animate({
        scrollTop: $("a[name="+hashTag+"]").offset().top-100
      }, 1);
      console.log($("a[name="+hashTag+"]"))
    }

  })

</script>

{% if page.title == "Home" %}

  <!-- vertical scroll nav -->
  <!-- http://jsfiddle.net/sarathsprakash/8cj7C/7/ -->
  <script>
  $(document).ready(function () {
      $("#first").addClass('scroll_item_active');
      var main = main = $('#scroll');
      $('.scroll_item').click(function (event) {

          event.preventDefault();
          var trgt = $(this).attr('id') + "1";
          target_offset = $('#' + trgt).offset(),
          target_top = target_offset.top;
          $('html, body').animate({
              scrollTop: target_top
          }, 500);
          main.children().removeClass('scroll_item_active');

          $(this).addClass('scroll_item_active');

      });

      $(window).scroll(function (event) {
          if ($("#first1").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
              $("#first").addClass('scroll_item_active');
              $("#second").removeClass('scroll_item_active');
              $("#third").removeClass('scroll_item_active');
              $("#fourth").removeClass('scroll_item_active');
          }
          if ($("#second1").offset().top < $(window).scrollTop() + 150 && $(window).scrollTop()!= 0) {
              $("#second").addClass('scroll_item_active');
              $("#first").removeClass('scroll_item_active');
              $("#third").removeClass('scroll_item_active');
              $("#fourth").removeClass('scroll_item_active');
              
          }
          if ($("#third1").offset().top < $(window).scrollTop() + 150) {
              $("#third").addClass('scroll_item_active');
             $("#first").removeClass('scroll_item_active');
              $("#second").removeClass('scroll_item_active');
              $("#fourth").removeClass('scroll_item_active');
          }
          if ($("#fourth1").offset().top < $(window).scrollTop() + 150) {
              $("#fourth").addClass('scroll_item_active');
             $("#first").removeClass('scroll_item_active');
              $("#second").removeClass('scroll_item_active');
              $("#third").removeClass('scroll_item_active');
          }
      });
  });
  </script>

  <!-- sectors -->
  <script src="{{ site.baseurl }}/static/js/sectors-revenue.js"></script>

  <!-- map -->
  <script src="{{ site.baseurl }}/static/data/revenue2013.json"></script>
  <script src="{{ site.baseurl }}/static/data/0_GOM-planarea-NAD27-simp.geojson"></script>
  <script src="{{ site.baseurl }}/static/data/0_PC-planarea-NAD83-simp.geojson"></script>
  <script src="{{ site.baseurl }}/static/data/0_AK-planarea-NAD83-simp.geojson"></script>
  <script src="{{ site.baseurl }}/static/data/0_ATL-planarea-NAD83-simp.geojson"></script>
  <script src="{{ site.baseurl }}/static/js/onrrmap.js"></script>

  <!-- disbursement -->
  <script src="{{ site.baseurl }}/static/js/lib/jquery.tipsy.js"></script>
  <script src="{{ site.baseurl }}/static/js/bubblegraph.js"></script>

{% endif %}



{% if page.title == "Data" %}
  <script src='{{ site.baseurl }}/static/js/dashboard.js'></script>
  <script type="text/javascript">
   
  /*****************\
     Tab Switching
  \*****************/
  $(document).ready(function(){
    $('div.dashboard_tabs a:nth-child(1)').click(function(){
      $('div.dashboard_tabs a').each(function(){
        $(this).removeClass('active')
      });
      $(this).toggleClass('active');
      $('section.dashboard-canvas').show();
      $('section.dashboard-location').hide();
      $('section.dashboard-over-time').hide();
    });
    $('div.dashboard_tabs a:nth-child(2)').click(function(){
      $('div.dashboard_tabs a').each(function(){
        $(this).removeClass('active')
      });
      $(this).toggleClass('active');
      $('section.dashboard-canvas').hide();
      $('section.dashboard-location').show();
      $('section.dashboard-over-time').hide();
    });
    $('div.dashboard_tabs a:nth-child(3)').click(function(){
      $('div.dashboard_tabs a').each(function(){
        $(this).removeClass('active')
      });
      $(this).toggleClass('active');
      $('section.dashboard-canvas').hide();
      $('section.dashboard-location').hide();
      $('section.dashboard-over-time').show();
    });
  });

  /*********************\
      Table Sorting
  \*********************/
  $('table thead tr th a').each(function(){
    $(this).click(function(){
      var table;
      var data = $(this).attr('data-value').split(',');
      if (data[1] == 'fullTable')
        table = dashTable;
      else
        table = dashTotalsTable;
      var sort = $(this).children('i').hasClass('fa-chevron-down') ? d3.descending : d3.ascending; 
      sort_dataTable(table,data[0],sort);

      //Remove arrows
      var $parent = $(this).parent().parent();
      $('th a i', $parent).each(function(){
        $(this).removeClass('fa-chevron-down');
        $(this).removeClass('fa-chevron-up');
      });
      //Add Arrow
      if (table.order()==d3.ascending)
        $('i',$(this)).addClass('fa-chevron-down');
      else 
        $('i',$(this)).addClass('fa-chevron-up');
    })
  });
  /*********************\
         Load tab
  \*********************/
  $(document).ready(function(){
    var hash = window.location.hash.substring(1);
    switch(hash){
      case 'location':
        $('section#company-tab').hide();
        $('section#location-tab').show();
        $('a#company-tab-link').removeClass('active');
        $('a#location-tab-link').addClass('active');
        break;
      case 'overtime':
        $('section#company-tab').hide();
        $('section#overtime-tab').show();
        $('a#company-tab-link').removeClass('active');
        $('a#overtime-tab-link').addClass('active');
        break;
    }
  });

  </script>

{% endif %}

{% if page.title == "Documentation" %}
  <script type="text/javascript">
  /*****************\
     Tab Switching
  \*****************/
  $(document).ready(function(){
    $('section#tab-select a').each(function(index){
      
      $(this).click(function(){
        $('#tab-select a').each(function(){
          $(this).removeClass('active');
        });
        $('#tab1').hide();
        $('#tab2').hide();
        $('#tab3').hide();
        $('#tab4').hide();
        var n = index+1
        $('section#tab'+n).show();
        $(this).addClass('active');
      })
    })
  });
  /*********************\
         Load tab
  \*********************/
  $(document).ready(function(){
    var hash = window.location.hash.substring(1);
    switch(hash){
      case 'company':
        $('section#tab1').hide();
        $('section#tab2').show();
        $('a#tab1-link').removeClass('active');
        $('a#tab2-link').addClass('active');
        break;
      case 'location':
        $('section#tab1').hide();
        $('section#tab3').show();
        $('a#tab1-link').removeClass('active');
        $('a#tab3-link').addClass('active');
        break;
      case 'overtime':
        $('section#tab1').hide();
        $('section#tab4').show();
        $('a#tab1-link').removeClass('active');
        $('a#tab4-link').addClass('active');
        break;
    }
  });
  </script>
{% endif %}







<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48605964-1', 'gsa.gov');

  // anonymize user IPs (chops off the last IP triplet)
  ga('set', 'anonymizeIp', true);

  ga('send', 'pageview');
</script>

<!-- Digital Analytics Program roll-up -->
<script id="_fed_an_ua_tag" src="https://dvs6mwdoj87wa.cloudfront.net/dap-1.0.min.js"></script>
