  <style>
  .leaflet-popup-close-button {
  display: none;
  }
  .leaflet-popup-content-wrapper {
  pointer-events: none;
  }
  </style>

<!-- Sticky primary nav -->
<script>
  $(document).ready(function() {
  $('#sticky-nav').scrollToFixed();
  });
</script>

<!-- Sticky secondary nav on Sectors page -->
<script>
  $(document).ready(function() {
  $('#sticky-secondary-nav').scrollToFixed({
      marginTop: 100,
      dontSetWidth: true
    });
  });
</script>

<!-- vertical scroll nav -->
<!-- http://jsfiddle.net/sarathsprakash/8cj7C/7/ -->
<script>
$(document).ready(function () {
    $("#first").addClass('scroll_item_active');
    var main = main = $('#scroll');
    $('.scroll_item').click(function (event) {

        event.preventDefault();
        var trgt = $(this).attr('id') + "1";
        target_offset = $('#' + trgt).offset(),
        target_top = target_offset.top;
        $('html, body').animate({
            scrollTop: target_top
        }, 500);
        main.children().removeClass('scroll_item_active');

        $(this).addClass('scroll_item_active');

    });

    $(window).scroll(function (event) {
        if ($("#first1").offset().top < $(window).scrollTop() + $(window).outerHeight()) {
            $("#first").addClass('scroll_item_active');
            $("#second").removeClass('scroll_item_active');
            $("#third").removeClass('scroll_item_active');
            $("#fourth").removeClass('scroll_item_active');
        }
        if ($("#second1").offset().top < $(window).scrollTop() + 150 && $(window).scrollTop()!= 0) {
            $("#second").addClass('scroll_item_active');
            $("#first").removeClass('scroll_item_active');
            $("#third").removeClass('scroll_item_active');
            $("#fourth").removeClass('scroll_item_active');
            
        }
        if ($("#third1").offset().top < $(window).scrollTop() + 150) {
            $("#third").addClass('scroll_item_active');
           $("#first").removeClass('scroll_item_active');
            $("#second").removeClass('scroll_item_active');
            $("#fourth").removeClass('scroll_item_active');
        }
        if ($("#fourth1").offset().top < $(window).scrollTop() + 150) {
            $("#fourth").addClass('scroll_item_active');
           $("#first").removeClass('scroll_item_active');
            $("#second").removeClass('scroll_item_active');
            $("#third").removeClass('scroll_item_active');
        }
    });
});
</script>



  <!-- #### below here from NotAlone #### REVIEW -->
  <script src="{{ site.baseurl }}/static/js/min/init.min.js?c={{ site.cachebuster }}"></script>
  {% for include in site.data.js-includes %}
  {% for node in include.pages %}
  {% if node == page.title %}
  <script src="{{ site.baseurl }}{{ include.src }}?c={{ site.cachebuster }}"></script>
  {% endif %}
  {% endfor %}
  {% endfor %}
  <script src="{{ site.baseurl }}/static/js/min/federated.analytics.min.js"></script>
  <!-- 18F Google Analytics code --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48605964-8', 'auto');
  ga('send', 'pageview');

</script>
