<section id="second1" class="section sectors">

  <div class="container">

    <h1>Federal resource royalties by sector</h1>
  </div>

</section>

<section class="sectors-canvas">

  <div class="container">

    <div class="sectors-text">

      <p class="sectors-splash-text">Revenues from the sale of natural resources on Federal lands totaled <span class="sectors-big-text">$825.9</span> billion between 2003 and 2013.</p>

      <p>These revenues are made up of 

        {% for term in site.data.terms %} {% if term.term == "rent" %}
        <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">rent,<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}

        {% for term in site.data.terms %} {% if term.term == "bonus" %}
        <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">bonus,<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}

        {% for term in site.data.terms %} {% if term.term == "royalty" %}
        <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">royalties,<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}

        and

        {% for term in site.data.terms %} {% if term.term == "other revenues" %}
        <span class="term-tooltip" title="{{ term.definition }}" tabindex="0" role="tooltip">other revenues,<i class="fa fa-question"></i></span>
        {% endif %} {% endfor %}

        with royalties making up the biggest piece.

      </p>

      

      <p>Explore resource royalties by sector on the right, or read more about U.S. natural resource sectors such as oil, natural gas, coal, wind and geothermal energy. <a href="{{ site.baseurl }}/sectors/" itemprop="url">more >></a></p>

      <div class="sectors-icons">
        <svg class="eiti-oil" role="img" aria-label="Oil"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-oil"></use>
      </div>
      <div class="sectors-icons">
        <svg class="eiti-gas" role="img" aria-label="Gas"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-gas"></use></svg>
      </div>
      <div class="sectors-icons">
        <svg class="eiti-coal" role="img" aria-label="Coal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-coal"></use></svg>
      </div>
      <div class="sectors-icons">
        <svg class="eiti-wind" role="img" aria-label="Other Commodities"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-wind"></use></svg>
      </div>
      <div class="sectors-icons">
        <svg class="eiti-geo" role="img" aria-label="Geothermal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-geo"></use></svg>
      </div>

    </div>

    <div class="sectors-chart">

      <div id="sector-revenue-pie-chart" class="sectors-chart-pie">
        <div id="pie-chart-center" class="sectors-chart-pie-center"></div>
        <div id="pie-chart-center-text" class="sectors-chart-pie-center-text">
          <h1></h1>
        </div>
      </div>

      <div id="sector-revenue-bar-chart" class="sectors-chart-bar"></div>

      <div class="sectors-chart-reset">
        <a href="javascript:javascript:barChart.filterAll();pieChart.filterAll();dc.redrawAll();">
          <div class="sectors-chart-reset-button">
            reset
          </div>
        </a>
      </div>
      
    </div>

</section>
