<section id="second1" class="section">

  <div class="container">

    <div class="sectors">
      <h1>Revenue from the sale of natural resources on Federal lands totaled
      <span class="sectors-big-text">$97.5</span> billion between 2003 to 2013.</h1>
      
      <h2>Learn about U.S. natural resources:</h2>

      <svg class="eiti-icon-oil" role="img" aria-label="Oil"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-oil"></use>
      <p><strong>Oil.</strong> Crude oil is produced in 31 states and U.S. coastal waters. In 2012, 61% of&#133; <a href="{{ site.baseurl }}/sectors/" itemprop="url">more&#8594;</a></p>

      <svg class="eiti-icon-gas" role="img" aria-label="Gas"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-gas"></use></svg>
      <p><strong>Natural gas.</strong> In 2012, about 25% of energy used in the U. S. came from natural gas, and the&#133; <a href="{{ site.baseurl }}/sectors/" itemprop="url">more&#8594;</a></p>

      <svg class="eiti-icon-coal" role="img" aria-label="Coal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-coal"></use></svg>
      <p><strong>Coal.</strong> In 2012, 1,016.4 million short tons of coal were mined in 25 states. Wyoming&#133; <a href="{{ site.baseurl }}/sectors/" itemprop="url">more&#8594;</a></p>

      <svg class="eiti-icon-geo" role="img" aria-label="Geothermal"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-geo"></use></svg>
      <p><strong>Geothermal.</strong> In 2013, U.S. geothermal power plants produced about 17 billion kilowatthours&#133; <a href="{{ site.baseurl }}/sectors/" itemprop="url">more&#8594;</a></p>

      <svg class="eiti-icon-other" role="img" aria-label="Other Commodities"><use xlink:href="{{ site.baseurl }}/static/fonts/EITI/icons.svg#eiti-icon-other"></use></svg>
      <p><strong>Other revenues.</strong> In 2013, Federal lands produced a wide variety of minerals. For example&#133; <a href="{{ site.baseurl }}/sectors/" itemprop="url">more&#8594;</a></p>
    </div>

    <div class="sectors-chart aboutText pad50right">

      <h1>Revenues by Sector</h1>
      <div id="sector-revenue-pie-chart">
        <div id="pie-chart-center"></div>
        <div id="pie-chart-center-text">
          <h4></h4>
        </div>
      </div>

      <div id="sector-revenue-bar-chart"></div>
      <a href="javascript:javascript:barChart.filterAll();pieChart.filterAll();dc.redrawAll();">reset</a>

    </div>

    <div class="sectors-social">
      <img src="{{ site.baseurl }}/static/img/icon_4501.svg" alt="Download" class="share">
      <img src="{{ site.baseurl }}/static/img/icon_7584.svg" alt="Share" class="share">
    </div>

</section>