{% assign _viewbox = include.viewbox | default: site.data.viewboxes.all %}
{% assign states_svg = '/maps/states/all.svg' %}
{% assign offshore_svg = '/maps/offshore/all.svg' %}
<div class="state svg-container map-container wide"{% if _viewbox %} style="padding-bottom: {{ _viewbox | svg_viewbox_padding }}%;"{% endif %}>
  <svg class="states map{% if include.case_studies %} case_studies {% endif %}{% if include.ownership %} ownership {% endif %}{% if include.no_outline %} no-outlines {% endif %}"{% if _viewbox %} viewBox="{{ _viewbox }}"{% endif %}>

    {% if include.states %}
      {%
        include maps/state-areas.html
        svg=states_svg
        value=include.value
        states=include.states
        no_ownership=true
      %}
    {% endif %}

    {% if include.offshore_areas %}
      {%
        include maps/offshore-areas.html
        svg=offshore_svg
        value=include.value
        areas=include.offshore_areas
      %}
    {% endif %}

    {% if include.case_studies %}
      <g>
        <g>
          <circle class="NV-1" cx="190" cy="205" r="20" fill="#fff"></circle>
          <g x="200" y="200">
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="NV-2" cx="250" cy="235" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="WY" cx="375" cy="185" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="CA" cx="170" cy="315" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="AK" cx="185" cy="465" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="AZ-1" cx="300" cy="365" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="AZ-2" cx="260" cy="405" r="20" fill="#fff"></circle>
          <g >
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="TX" cx="490" cy="420" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="LA" cx="550" cy="435" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="MN" cx="550" cy="140" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="MI" cx="610" cy="170" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
        <g>
          <circle class="WV" cx="740" cy="280" r="20" fill="#fff"></circle>
          <g>
            <rect width="200" height="50" fill="red" stroke="#fff"></rect>
          </g>
        </g>
      </g>
    {% endif %}

  </svg>
</div>
