{% if include.empty_years %}
  {% assign empty_years = include.empty_years %}
{% endif %}

{% if include.year_range %}
  {% assign year_range = include.year_range %}
{% endif %}

{% if year_range %}
  {% assign year_list = year_range | to_list %}

  <select class="chart-selector">
    {% for _year in year_list %}
      {% assign __year = year | to_i %}
      {% assign s_year = _year | to_s %}
      {% if include.empty_years.size > 0 %}
        {% if empty_years contains s_year %}
          <option disabled value="{{ _year }}" {% if __year == _year %}selected{% endif %}>{{ _year }} no data</option>
        {% else %}
          <option value="{{ _year }}" {% if __year == _year %}selected{% endif %}>{{ _year }}</option>
        {% endif %}
      {% else %}
        <option value="{{ _year }}" {% if __year == _year %}selected{% endif %}>{{ _year }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endif %}
