<section class="container">

  <div class="revenues-section-subpage-dyk revenues-section-subpage-dyk-onshore-oil">

    <div><h4>Did you know?</h4></div>
    <div><p>Exploration for oil and gas changed in the early 2000s with advances in tech-nology known as horizontal drilling and hydraulic fracturing. <!--These methods made extracting oil and gas deep below the surface of the earth in shale rock formations profitable. Hydraulic fracturing pumps water, sand, and chemicals into the earth to fracture the shale rock so that natural gas and oil can flow through a well to the surface. Major oil and gas shale rock formations in the U.S. include the Permian, Haynesville, and Eagle Ford Regions, which are mostly in Texas; the Marcellus Region in West Virginia, Pennsylvania, and New York; the Niobrara Region in Wyoming and Colorado; and the Bakken Region in North Dakota and Montana.--></p></div>
    <a href="#" class="link-more link-more-after">more <span class="enbiggen">+</span></a>

  </div>

  <div>

    <ul class="revenues-steps-group">
      <li>
          <div class="revenues-steps-number">1</div>
          <h3>Plan</h3>
          <p>BLM prepares <a href="http://www.blm.gov/wo/st/en/prog/planning.html">Resource Management Plans</a> (RMPs) to guide leasing decisions on federal lands, including which lands are open (or closed) to oil and gas leasing. Currently 8% of all oil and 11% of all natural gas on federal lands are accessible through leasing.</p>
      </li>

      <li>
        <div class="revenues-steps-number">2</div>
        <h3>Lease</h3>
        <p>BLM field offices hold frequent (often quarterly) lease auctions, which are competitive and open to the public, to award leases for oil and gas resources. Before the auction, BLM assesses the fair market value of the lease. During the sale, an auctioneer conducts a live auction and BLM awards the lease to the highest bidder, as long as the bid meets or exceeds the pre-determined fair market value. This is done to ensure the American people receive at least a minimum fair amount in exchange for their natural resources.</p>

        <p>Once BLM accepts a bid, the bidder must pay the bid amount, called a bonus, as well as the first-year rent to BLM to secure the lease.</p>

      </li>

      <li>
        <div class="revenues-steps-number">3</div>
        <h3>Develop</h3>
        <p>After a lease has been awarded, the lease holder must get permits in order to begin operations, including an Application for a Permit to Drill (APD) from the local BLM field office, as well as other permits from additional government offices. While reviewing the APD, BLM field office will analyze the impact of drilling on the environment using an Environmental Impact Statement or an Environmental Assessment in accordance with the National Environmental Policy Act.</p>

        <p>BLM must also ensure that conditions for the National Historic Preservation Act and the Endangered Species Act are met before awarding the permit. Throughout the permitting and leasing process, BLM performs a number of inspections to enforce terms and monitor health, safety, and environmental concerns.</p>

        <p>Once a lease has started, the lease holder must pay annual rent to the Office of Natural Resources Revenue (ONRR). Then, once operators successfully extract oil and/or gas in paying quantities, the lease holder stops paying rent and starting paying royalties to ONRR.</p>

      </li>

      <li>
        <div class="revenues-steps-number">4</div>
        <h3>Decommission</h3>
        <p>Even before the close of an oil and gas operation, lease holders must begin reclaiming the lease site. The goal of reclamation is ecosystem restoration, including restoring the natural vegetation community, hydrology, and wildlife habitats. At the start of an operation, the operator writes a reclamation plan that must be approved by BLM before any construction can start.</p>

        <p>In addition, the operator must conduct interim reclamation throughout the life of the operation, concluding with appropriately plugging wells and restoring the ecosystem. BLM performs inspections throughout the operation to ensure that interim reclamation takes place, wells are appropriately plugged, and the ecosystem is restored.</p>

      </li>
    </ul>

  </div>

</section>
