<div class="revenues-subpage-intro">
  <h1>Fossil Fuel: Onshore Oil &amp; Gas</h1>

  <p>The process for developing oil and gas leases on federal land is different depending on whether you want to work offshore (which means, for federal land, more than three miles off the U.S. coast, but still on the continental shelf) or onshore.</p>

  <p>Oil and gas are managed together because before a lease is developed, it is impossible to know whether oil or gas, or some combination of the two, will be produced. So, they are sold for development and regulated together.</p>

  <p>Department of the Interior’s Bureau of Land Management (BLM) manages some federal lands, including leasing certain lands for oil and gas development. The <a href="http://www.blm.gov/wo/st/en/prog/energy/oil_and_gas.html">BLM Oil and Gas Management Program</a> includes over 63,000 onshore oil and gas wells on federal lands, and accounts for 11% of the nation’s natural gas supply and 5% of its oil.</p>

  <a href="#" class="link-more"><i class="fa fa-download"></i> Download this page as a pdf</a>
</div>

<div class="revenues-subpage-office-container">
  <div class="revenues-subpage-office">
    <img src="/img/logos/BLM-mark.png" alt="Bureau of Land Management">
    <p>Managed and regulated by the <span><a href="http://www.blm.gov/">Bureau of Land Management</a> (BLM)</span>.</p>
  </div>
  <div class="revenues-subpage-office">
    <p><img src="/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages some monetary transactions</p>
  </div>
</div>
