{% extends 'comm-home.html' %}

{% block main %}

  <section class="container communities-content">

    <article class="communities-left">
      
      <h3><img src="/img/iron.png" alt="iron ore">Oil</h3>

      <h2>North Slope Borough, Alaska</h2>

      <p>The United States has experienced something of a renaissance in domestic oil production since 2008, when crude oil production reached a low of 3.98 million bbl/day. Fast forward five years, and the U.S. has nearly doubled its daily production output, with Texas and North Dakota driving much of the growth.  Alaska, the fourth largest state producer of crude oil in 2013, did not experience the same production boom, with crude oil output in steady decline over the past decade. In spite of that downward trend, the nation’s single largest producing county is Alaska’s North Slope Borough.</p>

    </article>

    <div class="communities-right">

      <nav>

        <ul>
          <li class="active"><a href="#">Introduction</a></li>
          <li><a href="#">Geology &amp; History</a></li>
          <li><a href="#">Production</a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Revenues</a></li>
          <li><a href="#">Costs</a></li>
          <li><a href="#">Data Availability</a></li>
        </ul>

      </nav>

    </div>

  </section>

</div>

{% endblock %}
