{% extends 'comm-home.html' %}

{% block main %}

  <section class="container communities-content">

    <article class="communities-left">
      
      <h3><img src="/img/iron.png" alt="iron ore">Natural Gas</h3>

      <h2>Tarrant and Johnson Counties, Texas</h2>

      <p>Texas leads the country in natural gas production, generating more gas on an annual basis than the next three highest producing states combined (Louisiana, Oklahoma, and Wyoming).  Tarrant and Johnson Counties contribute significantly to natural gas production due to their geographic positioning atop the rich reserves of the Barnett Shale field in the Bend Arch-Fort Worth Basin.</p>

    </article>

    <div class="communities-right">

      <!-- <img src="/img/counties/stl.png" alt="Saint Louis County, Minnesota" class="communities-county"> -->

      <nav>

        <ul>
          <li class="active"><a href="#">Introduction</a></li>
          <li><a href="#">Geology</a></li>
          <li><a href="#">Production</a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Revenues</a></li>
          <li><a href="#">Costs</a></li>
          <li><a href="#">Data</a></li>
        </ul>

      </nav>

    </div>

  </section>

</div>

{% endblock %}
