{% extends 'comm-home.html' %}

{% block main %}

  <section class="container communities-content">

    <article class="communities-left">
      
      <h3><img src="/img/iron.png" alt="iron ore">Natural Gas</h3>

      <h2><a name="intro">Tarrant and Johnson Counties, Texas</a></h2>

      <p>Texas leads the country in natural gas production, generating more gas on an annual basis than the next three highest producing states combined (Louisiana, Oklahoma, and Wyoming). Tarrant and Johnson Counties contribute significantly to natural gas production due to their geographic positioning atop the rich reserves of the Barnett Shale field in the Bend Arch-Fort Worth Basin.</p>

      <h3><a name="geolo">Geology and History</a></h3>

      <p>The Barnett Shale reserve spans approximately 5,000 square miles of sedimentary clay and quartz rock, with much of the productive portion of the rock located beneath Tarrant and Johnson Counties. Containing an estimated 43 trillion cubic feet of proved reserves of natural gas, the Barnett Shale is one of the largest onshore natural gas formations in the country. For many years, the Barnett Shale acted as an important sealing cap rock for conventional oil and gas development, but was not regarded as a legitimate source for economic drilling. However, technological advances in the 1980s allowed Mitchell Energy to drill its first well, and drilling activity increased with rising gas prices in the 1990s. Specifically, horizontal drilling and hydraulic fracturing techniques allowed producers to access more natural gas from relatively thin shale deposits. The number of horizontal wells in the Barnett Shale grew from approximately 400 in 2004 to 10,860 in 2011.</p>

    </article>

    <div class="communities-right">

      <nav>

        <ul>
          <li class="active"><a href="#intro">Introduction</a></li>
          <li><a href="#geolo">Geology &amp; History</a></li>
          <li><a href="#produ">Production</a></li>
          <li><a href="#emplo">Employment</a></li>
          <li><a href="#reven">Revenues</a></li>
          <li><a href="#costs">Costs</a></li>
          <li><a href="#data">Data</a></li>
        </ul>

      </nav>

    </div>

  </section>

</div>

{% endblock %}
