{% extends 'comm-home.html' %}

{% block main %}

  <section class="container communities-content">

    <article class="communities-left">
      
      <h3><img src="/img/oil.png" alt="oil rig">Oil</h3>

      <h2><a name="intro">North Slope Borough, Alaska</a></h2>

      <p><a href="#barrel-units" aria-describedby="footnote-label" id="footnotes-ref">The United States has experienced something of a renaissance in domestic oil production since 2008, when crude oil production reached a low of 3.98 million bbl/day.</a> <a href="#production-exceeds-imports" aria-describedby="footnote-label" id="footnotes-ref">Fast forward five years, and the U.S. has nearly doubled its daily production output, with Texas and North Dakota driving much of the growth.</a>  <a href="#crude-production" aria-describedby="footnote-label" id="footnotes-ref">Alaska, the fourth largest state producer of crude oil in 2013, did not experience the same production boom, with crude oil output in steady decline over the past decade.</a> <a href="#boroughs" aria-describedby="footnote-label" id="footnotes-ref">In spite of that downward trend, the nation’s single largest producing county is Alaska’s North Slope Borough.</a></p>

      <h3><a name="geolo">Geology and History</a></h3>

      <p>The North Slope Borough is the country’s largest organized local jurisdiction, spanning over 94,000 miles north of the Arctic Circle. <a href="#borough-population" aria-describedby="footnote-label" id="footnotes-ref">Its 9,686 residents, most of whom are Inupiat Alaskan Natives, are spread across eight separate communities.</a> The northern coast of Alaska was documented as a potential oil-producing region as early as 1900. <a href="#petroleum-reserve" aria-describedby="footnote-label" id="footnotes-ref">However, the borough government was not formally incorporated until 1972, soon after the discovery of oil at Prudhoe Bay, the largest single oil field in North America.</a></p>
      <p>Oil production increased dramatically in 1977 with the opening of the Alaska Pipeline, which provided the first economically-viable way to transport large amounts of crude oil from the North Slope to market. In 1994, ARCO identified another significant deposit at the Alpine Field, located within the federally-administered National Petroleum Reserve of Alaska. The North Slope’s Prudhoe Bay and the Alpine Field constitute the majority of the state of Alaska’s oil production. <a href="#oilgas-tech-report" aria-describedby="footnote-label" id="footnotes-ref">Today, the borough’s oil reserve base is extensive, with approximately six billion barrels of proved oil.</a></p>

      <h3><a name="produ">Production</a></h3>

      <p><a href="#energy-info-administration" aria-describedby="footnote-label" id="footnotes-ref">In 2013, the North Slope Borough produced 182.5 million bbl of oil, on both state-owned and federal land.</a> Since production at Prudhoe Bay commenced, all of the North Slope’s extraction has taken place in the northern portion of the Colville-Canning province, administered by either the Alaska Dept. of Natural Resourcesor the Bureau of Land Management (BLM). <a href="#oilgas-tech-report-2" aria-describedby="footnote-label" id="footnotes-ref">Once exclusively dominated by three companies, North Slope exploration and extraction has diversified significantly, with 63 current lease holders from seven countries.</a> <a href="#energy-info-administration-2" aria-describedby="footnote-label" id="footnotes-ref">Annual oil production in the borough peaked in 1988 at 722 million bbl and has steadily declined since that time.</a></p>

      <img src="/img/counties/ak-production.png" alt="Oil Production in North Slope" class="community-graph">

      <h3><a name="emplo">Employment</a></h3>

      <p>The oil industry is a key driver of jobs throughout the borough. <a href="#annual-average-employment" aria-describedby="footnote-label" id="footnotes-ref">In 2013, oil and gas extraction provided 1,768 jobs on the North Slope, accounting for 14.3% of total private jobs (12,340).</a> Since the North Slope Borough’s population is less than 10,000, however, it follows that many of the private jobs are filled by non-residents. <a href="#ak-non-residents" aria-describedby="footnote-label" id="footnotes-ref">In 2013, nonresidents accounted for 33.6% of oil industry workers in Alaska, up from 31.6% in 2012.</a> <a href="#regional-energy-plan" aria-describedby="footnote-label" id="footnotes-ref">The North Slope Borough government itself remains the largest employer of local North Slope residents, along with the Arctic Slope Regional Corporation, school district, and local Native corporations.</a></p>

      <h3><a name="reven">Revenues</a></h3>

      <p>Given the North Slope’s relative geographic isolation, oil revenues are critical forsupporting local schools, health centers, fire stations, water and sanitation facilities, and infrastructure. <a href="#comprehensive-annual-finances" aria-describedby="footnote-label" id="footnotes-ref">In 2013, the North Slope government received $470 million in revenues. Of those revenues, the borough received $332 million from local property taxes, 98% of which were levied on oil- and gas-related property.</a> <a href="#2013-annual-report" aria-describedby="footnote-label" id="footnotes-ref">At the state level, the Alaskan government collects oil-related revenues for the benefit of the public via four mechanisms:</a></p>
      <ul style="list-style-type:square; padding-left:15px;">
        <li>Oil and gas production tax at 35% of the net value of extracted oil and gas. Revenues are deposited in the state’s General Fund, with payments received after a tax assessment deposited in the Constitutional Budget Reserve Fund (CBRE). In 2013, the state received over $4 billion in revenues from this tax.</li> 
        <li>Oil and gas property tax on the value of taxable exploration, production, and pipeline transportation property, set at 20 mills or 2% of the assessed value. This revenue is also deposited in the state’s General Fund, with payments received after a tax assessment deposited in the CBRE.</li>
        <li><a href="#revenue-sources-book" aria-describedby="footnote-label" id="footnotes-ref">Royalties assessed on state-owned land leased for oil production. In 2013, $856 million was deposited in the Alaska Permanent Fund and School Fund, and an additional $177 million flowed to the Constitutional Budget Reserve Fund from royalty settlements.</a></li>
      </ul>
      
      <p>Oil and gas corporate net income tax is set at a maximum of 9.4% on Alaskan income over $90,000. In 2013, $434 million was deposited in the state’s General Fund from this tax.Alaskan residents also receive annual dividend payments from the state’s Permanent Fund, based on a five-year average of the Fund’s performance. The state established the Permanent Fund in 1976 as construction of the Alaska Pipeline concluded. Twenty-five percent of revenues from mineral leases on state-owned lands and from federal mineral revenue-sharing payments go into the Permanent Fund for investment. <a href="#historical-annual-dividend" aria-describedby="footnote-label" id="footnotes-ref">In 2013, Alaskan residents each received $900 as a result of this payout.</a></p>

      <h3><a name="costs">Costs</a></h3>

      <p>Oil extraction also incurs certain fiscal costs. Oil exploration and development onthe North Slope requires infrastructure investments ranging from airports, docks,pads and roads, to ports, production-related facilities, pipelines, and gravelislands.18 The North Slope Borough is responsible for maintenance ofapproximately 100 miles of roads, as well as boat ramps, boat landings, portfacilities, nine public airports, and thousands of miles of winter trails and roads.19</p>

      <p>In terms of transportation infrastructure in the borough, Dalton Highway is theonly permanent road connecting the North Slope Borough to the main AlaskaHighway system. Dalton Highway was originally financed and constructed by theoil and gas industry, and is still mainly used as an industrial road.20 However, theAlaskan Department of Transportation reported spending approximately $15,260per mile annually on maintenance for Dalton Highway at the time of the lastcomprehensive borough transportation plan.21 Oil companies are required tomaintain seasonal ice routes used for industry traffic in the winter, given thatthese routes cost approximately $100,000 per mile to construct in the PrudhoeBay region.22</p>

      <p>Unlike many other Alaskan municipalities, the North Slope Borough isresponsible for its airports, which serve the local population as well as a range ofcommercial and recreational visitors.23 Annual costs for airport maintenanceacross the North Slope are about $1.4 million per year, including spending onairports and landing strips that are labeled as “unrestricted,” or permissible for oiland gas industry use.24 It is unclear what percentage of the annual airportmaintenance budget is spent specifically on support activities for the oil and gas industry.</p>

      <p>The State also spends public dollars on reclamation services, including themanagement of contaminated drilling sites. The Oil and Hazardous SubstanceRelease Prevention and Response Fund imposes a $.04 surcharge per barrel ofoil for prevention and a $.01 surcharge per barrel of oil for response.25 Theoperating budget, including expenditures and obligations, for the state Oil andHazardous Substance Release Prevention and Response Fund was $21.5million in fiscal year 2012, with $8.1 million going to spill prevention andresponse for contaminated sites.26</p>

      <p>The North Slope Borough often responds to, and pays for, emergency serviceson the oilfield roads, such as the Kuparuk Oilfield roads.27 The Alaskan stategovernment also invests a significant amount of tax dollars to prevent andrespond to oil and hazardous substance emergencies in the state. For example,the Office of Management and Budget appropriated $750,000 toward oil andhazardous substance first responder equipment and preparedness in 2013.28</p>

      <h3><a name="costs">Data Availability</a></h3>

      <p>Table will go here.</p>

      <section class="footnotes">

        <h3 id="footnote-label">Notes</h3>

        <ol class="decimal list-para">

          {% include 'includes/nor-footnotes.html' %}

        </ol>

      </section>


    </article>

    <div class="communities-right communities-sticky-nav">

      <nav>

        <ul>
          <li class="active"><a href="#">Introduction</a></li>
          <li><a href="#geolo">Geology &amp; History</a></li>
          <li><a href="#produ">Production</a></li>
          <li><a href="#emplo">Employment</a></li>
          <li><a href="#reven">Revenues</a></li>
          <li><a href="#costs">Costs</a></li>
          <li><a href="#data">Data Availability</a></li>
        </ul>

      </nav>

    </div>

  </section>

</div>

{% endblock %}
