eiti-map,
svg[is="eiti-map"] {

  path {
    vector-effect: non-scaling-stroke;
  }

  path.feature {
    fill: #ccc;
    stroke: none;
  }

  path.mesh {
    fill: none;
    stroke: #999;
    stroke-width: 1;
  }

  path.feature.zoomed {
    fill: #bbb;
  }

}
