// Import all base styles here so they can be imported as a
// nice, clean chunk in css/styles.scss

// Variables
@import 'variables';

// Mixins
@import 'mixins/all';

// Utility classes
@import 'layout/utility';

// Grid
@import 'grid';

// Elements
//
// These are site elements
//
// Styleguide elements
@import 'elements/all';

// Extends
@import 'extends/buttons';

// Layout
//
// Site layout styles
//
// Styleguide layout
@import 'layout/layout';
@import 'layout/slabs';


// Import Fonts
@import 'fonts';

// Components
//
// Site components
//
// Styleguide components
@import 'components/all';

// Blocks
//
// Styles applied to pages or non-modular blocks of html
//
// Styleguide blocks
@import 'blocks/all';

// Scratch TODO remove

.home-explore-placeholder {
  @include span-columns(12);
}
