.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: px;
  overflow: hidden;
}

.u-img {
  border-radius: $base-border-radius;
  width: 100%;
}

ul.bullet {
  list-style-type: disc;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: $base-padding;

  li {
    padding-bottom: $base-padding-lite;
  }
}

ol.decimal {
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: $base-padding;

  li {
    padding-bottom: $base-padding-lite;
  }
}

.group_inline {
  display: table;
  width: 100%;
}

.group_inline-left {
  display: table-cell;
  padding-right: 8px;
}

.group_inline-right {
  display: table-cell;
  vertical-align: middle;
}


// Site-wide
//============================================

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $putty;
}

strong {
  font-weight: 700;
}

a {

  .expand,
  .more {
    @include font-size(0.75);
    text-transform: uppercase;
  }
}

@each $name, $value in $colors {
  .product-#{'' + $name} {
    background-color: $value;
    box-shadow: inset 0 0 4px $value;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    transition: box-shadow 0.2s linear;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.5);
    }

    &:active {
      box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.5);
    }
  }

  .text-#{$name},
  .resource_#{$name} .resource-text {
    color: $value;
  }
}


// Header
//============================================

header {
  @include outer-container($max-width);
  margin-bottom: $base-padding;

  a {
    color: $dark-putty;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    margin-top: $base-padding/2;
    width: 280px;
  }

  div:first-of-type {
    @include span-columns(5);
  }

  nav {
    @include span-columns(7);
    @include omega();

    ul li {
      @include font-size(0.8);
      display: inline-block;
      letter-spacing: 2px;
      padding-right: $base-padding-large;
    }
  }
}


// Footer
//============================================

footer {
  background-color: $light-black;
  color: $white;
  padding-top: $base-padding-extra;
  padding-bottom: $base-padding-extra;

  h3 {
    color: $white;
    padding-bottom: $base-padding-lite;
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  p {
    color: $white;

    &.footer-intro {
      @include font-size($h1);
      line-height: 1.2;
      margin-bottom: 1em;
    }

    + h3 {
      padding-top: $base-padding-large;
    }
  }

  ul {
    font-weight: 200;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    li {
      line-height: 1.3;
      padding-right: 15px;
      padding-bottom: 15px;
    }
  }

  .footer-col {
    @include span-columns(3);
    margin-top: $base-padding;

    &:first-of-type {
      @include span-columns(2);
    }
  }

  .footer-col-right {
    @include span-columns(4);
    @include omega();
  }
}


// Home
//============================================

.home-intro {
  margin-top: $base-padding;

  article {
    @include span-columns (4);
    @include omega();
  }

  > div:first-of-type {
    @include span-columns(8);
  }

  .home-intro-callout {
    @extend .callout;
    width: 93%;
  }

  ul {
  display: inline-block;
  margin-bottom: $base-padding-lite;

    li {
      border-radius: $base-border-radius;
      color: $white;
      float: left;
      font-weight: 600;
      padding: $base-padding/2;
      margin-right: $base-padding/2;
      width: 150px;
    }
  }
}

.home-intro-more {
  display: block;
}

.article_module {
  background-color: $white;
  border-radius: 10px;
  height: 500px;
  position: relative;
  margin-top: $base-padding;

  h1 {
    @extend .article_heading;
    padding-right: $base-padding;
    margin-bottom: $base-padding-lite;

    a {
      color: $light-black;
    }
  }

  form,
  .link-more {
    position: absolute;
    bottom: $base-padding;
  }

  img {
    border-bottom: 6px solid $putty;
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
}

.article_module-content {
  padding: $base-padding;
}

.home-modules {
  article {
    @include span-columns (4);
    @include omega(3n);
    @extend .article_module;
  }
}

.home-final {
  @include span-columns(12);
  padding-top: $base-padding-extra;
  padding-bottom: $base-padding-extra;
  text-align: center;
}

// Community Case Studies
//============================================

.communities-intro {
  background-color: $white;
  padding-top: $base-padding-large;
  padding-bottom: $base-padding;

  .comm-intro-img {
    height: 310px;
  }

  h1 {
    @extend .article_heading;
    @include font-size($h1);
    padding-bottom: $base-padding-lite;
  }

  select {
    width: 400px;
  }

  p {
    @include font-size(1.1);
    margin-bottom: $base-padding-large;
  }
}

.communities-left {
  @include span-columns(7);
}

.communities-right {
  @include span-columns(5);
}
.communities-sticky-nav{
    position: absolute;
    left: percentage(7 / 12);
    padding-left: $base-padding-extra;
    top: 0;
}
.communities-content {
  padding-top: $base-padding;
  padding-bottom: $base-padding-extra;
  position: relative;
  h2 {
    @extend .article_heading;
    padding-bottom: $base-padding;

    a {
      color: $light-black;
    }
  }

  h3 {
    padding-bottom: $base-padding-lite;

    a {
      color: $dark-gray;
    }

    img {
      height: 20px;
      padding-right: 8px;

      &.iron {
        height: 16px;
      }

      &.copper {
        height: 22px;
      }

      &.gas {
        height: 25px;
      }
    }
  }

  nav {
    margin-top: $base-padding-extra;

    ul li {
      padding: 5px;

      a {
        color: $dark-gray;
        padding: 5px;

        &:hover,
        &:focus {
          background-color: $white;
          color: $cobalt;
          text-decoration: none;
        }
      }

      &.active a {
        border: 1px solid $mid-gray;
        border-radius: 2px;
        color: $cobalt;
      }
    }
  }

  p {
    padding-bottom: $base-padding;
  }

  table{
    border: 1px solid $mid-gray;
    border-spacing: 2px;
    @include font-size(0.9);
    color: darken($dark-putty, 15%);
    font-weight: 200;
    margin-bottom: $base-padding;
  }

  thead{
    border-bottom: 2px solid $mid-gray;
    font-weight: 400;
    text-align: center;
    background-color: $mid-gray
  }

  td{
    border: 1px solid $mid-gray;
    padding: 5px;
  }

  .communities-county {
    width: 200px;
  }

  .communities-left {
    padding-right: $base-padding-extra;
    //order-right: 1px solid $mid-gray;
      ul{
      list-style-type: square;
      padding-left: $base-padding;
      @include font-size(0.9);
      color: darken($dark-putty, 15%);
      font-weight: 200;
      padding-bottom: $base-padding;
    }
  }

  .communities-right {
    //padding-left: $base-padding-extra;
    //border-left: 1px solid $base-border-color;
  }
}

.communities-choose {
  padding-bottom: $base-padding;
}

.community-graph {
  border: $thin-border-size solid $base-border-color;
  margin-bottom: $base-padding;
  width: 75%;
}


// Resource to revenues
//============================================

.revenues-modules {
  article {
    @include span-columns (12);
    @extend .article_module;

    height: 400px;
    margin-bottom: $base-padding-large;
  }

  @include respond-to(small-up) {
      article {
        @include span-columns (6 of 12);
        @include omega(2n);
      }
    }

  @include respond-to(large-up) {
    article {
      @include omega-reset(2n);
      @include span-columns (3 of 12);
      @include omega(4n);
    }
  }
}

.revenues-module-spash {
  border-bottom: 6px solid $putty;
  background-color: $light-black;
  border-radius: 10px 10px 0 0;
  height: 170px;
  padding: $base-padding;
  position: relative;

  h3 {
    @extend .h1;
    color: $white;
    padding-top: 0;

    .revenues-fa {
      @include font-size(0.85);
      color: $shock-green;
    }
  }

  .revenues-module-icon {
    position: absolute;
    right: $base-padding;
    bottom: $base-padding;

    img {
      border-bottom: 0;
      height: 50px;
    }
  }
}

.revenues-intro {

  figcaption {
    @extend .h4;
    @include font-size(1.2);
    border-radius: 0 0 10px 10px;
    padding: $base-padding-lite;
  }

  p {
    @extend .subpage-p;
  }

  .article_module {
    margin-top: 0;
    height: auto;

    img {
      border-bottom-color: $white;
      border-bottom-width: 1px;
    }
  }

  .article_module-content {
    background-color: $putty;
  }
}

.revenues-section-steps,
.revenues-section-subpage-steps {
  background-color: $mid-gray;
  padding-top: $base-padding-large;
  padding-bottom: $base-padding-extra;

  h3 {
    @include font-size(1.7);
    color: $red;
    display: inline;
    padding-right: 8px;
  }

  .revenues-steps-number {
    @include font-size(1.8);
    background-color: $white;
    border-radius: 50%;
    color: $dark-gray;
    display: inline-block;
    padding-right: 13px;
    height: 43px;
    width: 43px;
  }
}

.revenues-steps-group {
  display: table;
  width: 100%;

  li {
    padding-top: $base-padding;
    font-weight: 200;
  }

  @include respond-to(medium-up) {
    @include span-columns(10);
    @include shift(1);
  }
}

.revenues-steps-group-left {
  display: table-cell;
  padding-right: 10px;
  text-align: right;
  width: 250px;
}

.revenues-steps-group-right {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}

.revenues-section-forms {
  background-color: $white;
  padding-top: $base-padding-large;
  padding-bottom: $base-padding-large;

  h2 {
    color: $light-black;
  }

  h3 {
    @extend .h1;
    border-bottom: 4px solid #cccccc;
    padding-bottom: 5px;
    margin-bottom: 8px;
  }

  @include respond-to(small-up) {
    .revenues-section-forms-options > div {
      @include span-columns(4 of 8);
      @include omega(2n);
    }
  }

  @include respond-to(medium-up) {
    h2 {
      @include span-columns(4);
    }
    .revenues-section-forms-options {
      @include span-columns(8);
      @include omega();

      > div {
        @include omega-reset(2n);
        @include span-columns(2 of 8);
        @include omega(4n);
      }
    }
  }
}

.revenues-section-last {
  padding-top: $base-padding-large;
  padding-bottom: $base-padding-large;

  h2 {
    @include font-size(1.2);
    color: $light-black;
    font-weight: normal;
    padding-top: 0;
  }

  ul li {
    @include font-size(1.2);
    display: inline-block;
    font-weight: 200;
    margin-right: $base-padding;

    img {
      height: 18px;
      padding-right: 8px;
    }
  }

  @include respond-to(medium-up) {
    .revenues-section-last-intro {
      @include span-columns(4 of 12);
    }

    ul {
      @include span-columns(8 of 12);
      @include omega();
    }
  }
}

// Resources to revenues pages
//============================================

.revenues-subpage-nav {
  border-bottom: 1px solid $dark-putty;
  position: relative;

  a {
    color: $light-black;
  }

  ul {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-97%);
    li {
      display: inline-block;
      font-weight: 200;
      padding: 8px 10px;

      &.active {
        background-color: $putty;
        border-top: 1px solid $dark-putty;
        border-right: 1px solid $dark-putty;
        border-left: 1px solid $dark-putty;
        font-weight: normal;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.revenues-subpage-intro {
  padding-top: $base-padding;

  h1 {
    @extend .article_heading;
    @include font-size($h1);
    padding-bottom: ($base-padding / 2);
  }

  p {
    @extend .subpage-p;
    padding-bottom: $base-padding;
  }

  @include respond-to(medium-up) {
    @include span-columns(9);
  }
}

.revenues-subpage-office-container {
  position: relative;

  a {
    color: $dark-gray;
    // position: absolute;
    // right: 0;
  }

  @include respond-to(medium-up) {
    @include span-columns(3);
    @include omega();
  }
}

.revenues-subpage-office {
  background-color: $white;
  border: 2px solid $mid-gray;
  border-radius: $base-border-radius;
  margin-top: $base-padding;
  padding: $base-padding-lite 10px;

  img {
    float: right;
    width: 50px;
    margin: 5px;
  }

  p:nth-of-type(2) {
    margin-top: 10px;
  }

  span {
    font-weight: normal;
  }
}

.enbiggen {
  @include font-size(1.8);
  font-weight: 200;
  vertical-align: -6px;
}

.forms-numbers {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 8px;
  margin-bottom: 8px;

  span {
    @include font-size($h1);
    line-height: 1.2;
  }
}

.revenues-section-subpage-steps-wrapper {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNmNGY0ZjQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNCOUUzRjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjQpIiAvPgo8L3N2Zz4=);
}
.forms-light-blue{
  color: $blue;
}

.revenues-section-subpage-steps {
  background-position: 0 100px;
  background-size: 100%;
  margin-top: $base-padding-large;

  &.onshore-oil{
    background: url(/img/revenues/rev-onshore-oil.png) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    margin-top: $base-padding-large;
  }

  &.offshore-oil{
    background: url(/img/revenues/offshore-oil.png) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    margin-top: $base-padding-large;
  }

  &.renew-on {
    background: url(/img/revenues/renew-onshore.svg) no-repeat;
    background-position: 0 20px;
    background-size: 100%;
    margin-top: 0;
  }

  &.renew-off {
    background: url(/img/revenues/renew-offshore.svg) no-repeat;
    background-position: 0 -150px;
    background-size: 100%;
    margin-top: 0;
  }

  &.rev-coal{
    background: url(/img/revenues/rev-coal.png) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    padding-bottom: 100px; //TODO remove. This is set to look good for the screen size for our presentation.
  }

  &.rev-hardrock{
    background: url(/img/revenues/rev-hardrock.svg) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    padding-bottom: 230px; //TODO remove. This is set to look good for the screen size for our presentation.
  }

  .revenues-section-subpage-dyk {
    position: relative;

    p {
      color: $cobalt;
    }

    > div {
      padding: 12px;
      &:first-of-type {
        color: $white;
        background-color: #157bac;
        border-radius: $base-border-radius $base-border-radius 0 0;
      }
      &:last-of-type {
        background-color: $white;
        border-radius: 0 0 $base-border-radius $base-border-radius;
      }
    }
    .link-more-after {
      position: absolute;
      right: 0;
    }
    &.revenues-section-subpage-dyk-coal{
      > div {
        &:first-of-type {
          background-color: #d54740;
        }
      }
      .link-more-after {
        color:white;
      }
    }

    @include respond-to(medium-up) {
      margin-top: 50%;
      @include span-columns(2);
    }

    &.revenues-section-subpage-dyk-onshore-oil{
      p {
        color: darken($dark-putty, 15%);
      }
      > a {
        color: white;
      }
      > div {
        &:first-of-type {
          background-color: #7f6e61;
        }
      }
    }
  }

  .revenues-steps-group {
    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    li {
      background-color: $white;
      margin-bottom: 4px;
      padding: $base-padding;

      &:first-of-type {
        border-radius: $base-border-radius $base-border-radius 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 $base-border-radius $base-border-radius;
      }
    }

    p, ul{
      padding-right: $base-padding;
      padding-bottom: $base-padding;
      padding-left: 60px;
    }

    ul{
      list-style-type: disc;
      padding-left: 80px;
      li{
        padding: 0;
      }
    }

    @include respond-to(medium-up) {
      @include span-columns(7);
      @include shift(3);
    }
  }

  .revenues-steps-number {
    border: 2px solid $mid-gray;
    height: 47px;
    margin-right: 8px;
    padding-left: 13px;
    width: 47px;
  }
}

.revenues-section-forms-subpage {
  background-color: $putty;
}

.revenues-section-involved {
  background-color: $white;
  padding-top: $base-padding-large;
  padding-bottom: $base-padding-large;

  h2 {
    color: $light-black;
  }

  h3 {
    @extend .h2;
    color: $cobalt;
    padding-bottom: 5px;
    margin-bottom: 8px;
  }

  p a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .fa-stack {
    // @extend .light-on-dark;
    color: $cobalt;
    line-height: 2.1em;
  }

  .revenues-section-involved-intro {
    p {
      @include font-size($h2);
    }
  }

  @include respond-to(small-up) {
    .revenues-section-involved-options > div {
      @include span-columns(4 of 8);
      @include omega(2n);
    }
  }

  @include respond-to(medium-up) {
    .revenues-section-involved-intro {
      @include span-columns(4 of 12);
    }

    .revenues-section-involved-right {
      @include span-columns(8 of 12);
    }

    .revenues-section-involved-participate {
      margin-bottom: 100px;

      > div p {
          margin-bottom: $base-padding-lite;
      }

      > div:first-of-type {
        @include span-columns(8 of 12);
      }
      > div:last-of-type {
        @include span-columns(3 of 12);
        margin-top: $base-padding-large;
      }
    }

    .revenues-section-involved-options {
      > div {
        margin-top: $base-padding-large;
        @include omega-reset(2n);
        @include span-columns(3 of 12);
        @include omega(4n);
      }
    }
  }
}


// Map
//============================================

.map {
  background-color: $mid-gray;
  padding-top: $base-padding-large;
  padding-bottom: $base-padding-extra;
}

.map-left {

  @include span-columns(12);

  @include respond-to(medium-up) {
    @include span-columns(3);
  }
}

.map-data_types {
  margin-top: $base-padding-extra;

  h2 {
    font-weight: 400;
    padding-top: 5px;
  }
}

.map-data_types-stats {
  margin-top: $base-padding-lite;

  ul li {
    font-weight: 200;
    margin-bottom: 40px;

    .headline {
      @include font-size(2.5);
      display: block;
    }

    .subtitle {
      @include font-size(0.9);
      color: $dark-gray;
      font-weight: 200;
      line-height: 1;

      // &::before {
      //   content: "\A";
      //   white-space: pre;
      // }
    }
  }

  h4 {
    color: $dark-gray;
    font-weight: 200;
  }
}

.map-right {

  @include span-columns(12);

  @include respond-to(medium-up) {
    @include span-columns(9);
  }
}

.map-or_chart {
  float: right;

  ul li {
    @include font-size(0.8);
    border: $thin-border-size solid $mid-gray;
    border-radius: $base-border-radius;
    color: $dark-gray;
    display: inline-block;
    height: 55px;
    padding: 33px 0px 10px 0px;
    margin-left: 10px;
    text-align: center;
    width: 55px;

    &.map {
      background: url(../img/icons/map.png) no-repeat;
      background: url(../img/icons/map.svg) no-repeat,
        linear-gradient(transparent, transparent);
      background-position: top center;
      background-size: 40px 40px;

      &.active {
        background: url(../img/icons/map-dark.png) no-repeat;
        background: url(../img/icons/map-dark.svg) no-repeat,
          linear-gradient(transparent, transparent);
        background-color: $white;
        background-position: top center;
        background-size: 40px 40px;
      }
    }

    &.charts {
      background: url(../img/icons/charts.png) no-repeat;
      background: url(../img/icons/charts.svg) no-repeat,
        linear-gradient(transparent, transparent);
      background-position: top center;
      background-size: 40px 40px;

      &.active {
        background: url(../img/icons/charts-dark.png) no-repeat;
        background: url(../img/icons/charts-dark.svg) no-repeat,
          linear-gradient(transparent, transparent);
        background-color: $white;
        background-position: top center;
        background-size: 40px 40px;
      }
    }

    &.active {
      border: $thin-border-size solid $dark-putty;
      color: $light-black;
      font-weight: 600;
    }

    &:hover,
    &:focus {
      border: $thin-border-size solid $dark-putty;
    }
  }
}

.map-map {
  padding-top: $base-padding-large;
  padding-right: $base-padding-large;
  padding-left: $base-padding-large;

  svg {
    display: block;
    width: 100%;
    height: 350px;
  }
}

.map-slider {
  margin-bottom: ($base-padding-large * 2);
}

.map-download_share {
  float: right;

  ul li {
    @include font-size(0.8);
    background-color: $white;
    border: $thin-border-size solid $cobalt;
    border-radius: $base-border-radius;
    color: $cobalt;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;

    &:hover,
    &:focus {
      background-color: $mid-gray;
    }
  }
}

.map-contextual {
  padding-top: $base-padding;
  padding-bottom: $base-padding-extra;
  text-align: center;
}

.map-notes {
  border-top: $thin-border-size solid $dark-putty;
  padding-bottom: $base-padding-large;
}

// Styleguide
//============================================

@each $name, $value in $guide-colors {
  .guide-#{'' + $name} {
    background-color: $value;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $light-black;
    }
  }
}

.styleguide {

  ul li {
    width: 100px;

    &.guide-mid-gray,
    &.guide-putty {
      color: $light-black;
      border: 1px solid $dark-putty;
    }
  }
}


// Footnotes
//============================================

// Technique from http://www.sitepoint.com/accessible-footnotes-css/

// Initialiazing a `footnotes` counter on the wrapper

body {
  counter-reset: footnotes;
}

.footnotes {
  padding-top-top: $base-padding-extra;
  padding-bottom: $base-padding-extra;

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  ol {
    padding-top: $base-padding-lite;
    
    list-style-type: decimal;
    padding-left: $base-padding;
    @include font-size(0.9);
    color: darken($dark-putty, 15%);
    font-weight: 200;
    padding-bottom: $base-padding;

    & :target {
    background-color: yellow;
    }
  }

  p {
    padding-bottom: $base-padding-lite;
  }
  li {
    list-style-type: decimal;
  }
}

// Inline footnotes references
// 1. Increment the counter at each new reference
// 2. Reset link styles to make it appear like regular text

a[aria-describedby="footnote-label"] {
  color: inherit; // 2
  counter-increment: footnotes; // 1
  cursor: default; // 2
  outline: none; // 2
  text-decoration: none; // 2
}

 // Actual numbered references
 // 1. Display the current state of the counter (e.g. `[1]`)
 // 2. Align text as superscript
 // 3. Make the number smaller (since it's superscript)
 // 4. Slightly offset the number from the text
 // 5. Reset link styles on the number to show it's usable
sup a[rel="footnote"]{
  vertical-align: super; // 2
  font-size: smaller;
}
sup a[rel="footnote"]:after {
  @include font-size(0.7); // 3
  font-weight: 500;
  color: $blue; // 5
  // content: '[' counter(footnotes) ']'; // 1
  cursor: pointer; // 5
  margin-left: 2px; // 4
  vertical-align: super; // 2
  font-size: smaller;
}

// Resetting the default focused styles on the number

a[rel="footnote"]:focus:after,
a[rel="footnote"]:hover:after {
  outline: thin dotted;
  outline-offset: 2px;
}


// About
//============================================

.bureaus {
  > article {
    @include span-columns(12);

    > div {
      &:first-of-type {
        @include span-columns(3 of 12);
      }

      &:last-of-type {
        @include span-columns(9 of 12);
      }

      img {
        padding-top: $base-padding;
        max-width: 100px;
      }
    }
  }
}
