@import 'lib/font-awesome/font-awesome/variables';

// Logos
$eiti-logo-width: 195px;

// Typography
$weight-light: 400; // use
$weight-book: 400; // use
$weight-bold: 900; // use
$line-height-caps: 1.2;

$sans-serif: Roboto, 'Helvetica Neue', Helvetica, arial, sans-serif;
$base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-size: 1rem;
$base-font-multiplier: 1;
$base-line-height: 1.375rem;

$z-sky: 10000;
$z-roof: 9000;
$z-mid: 500;
$z-negative: -1;

// Colors
//
// Markup:
// <p><span class="styleguide-swatch with-outline" style="background-color: #ffffff;"></span>$white</p>
// <p><span class="styleguide-swatch" style="background-color: #f0f6fa;"></span>$gray-pale</p>
// <p><span class="styleguide-swatch" style="background-color: #ebf3f7;"></span>$gray-lighter</p>
// <p><span class="styleguide-swatch" style="background-color: #d3dfe6;"></span>$gray-light</p>
// <p><span class="styleguide-swatch" style="background-color: #a7bcc7;"></span>$gray</p>
// <p><span class="styleguide-swatch" style="background-color: #768d99;"></span>$gray-dark</p>
// <p><span class="styleguide-swatch" style="background-color: #5c7380;"></span>$gray-darker</p>
// <p><span class="styleguide-swatch" style="background-color: #435159;"></span>$gray-darkest</p>
// <p><span class="styleguide-swatch" style="background-color: #323c42;"></span>$black-light</p>
// <p><span class="styleguide-swatch" style="background-color: #1d2326;"></span>$black</p>
//
// Styleguide colors

// v4
$white: #ffffff;
$gray-pale: #f0f6fa;
$gray-lighter: #ebf3f7;
$gray-light: #d3dfe6;
$gray: #a7bcc7;
$gray-dark: #768d99;
$gray-darker: #5c7380;
$gray-darkest: #435159;
$black-light: #323c42;
$black: #1d2326;

// map to deprecated values
$light-gray-light: $gray-pale;
$light-gray: $gray-pale;
$light-gray-dark: $gray-lighter;
$mid-gray: $gray-light;
$mid-light-gray: $gray-light;
$neutral-gray: $gray-light;
$another-gray: $gray-dark;
$dark-gray: $gray-darkest;
$light-black: $black-light;
$black: $black;
$blackest-black: $black;

// v3
$green: #9fa63b;
$blue: #1478a6;
$blue-contrast: #096fa0;
$light-green: #d2e2cb;
$blue-alt: darken($blue, 5%); //for constrast, darker
$light-blue: #e3f8ff;
$pale-blue: #f0fcff;
$mid-blue: #c9eeff;
$mid-blue-opaque: rgba(198, 233, 255, 0.93);
$dark-blue: #4b9bbf;

// State pages
$green-land: #69995a;
$green-mint: #cde3c3;
$green-sea: #b1d39c;
$green-dark: #657c60;
$chart-green: #a5d78a;
$green-darkest: #2f4d26;
$green-darker: #587f4c;
$green-darker-mid: lighten($green-darker, 20%);

// v2 - deprecate
$putty: #f4f4f4;
$dark-putty: #838383;
$purple: #965bcd;
$red: #c5403c;
$cobalt: #1075a5;


// Font Colors
$base-font-color: $black-light;
$base-accent-color: $mid-blue;

// Padding
$base-padding: 1.25em; //20px
$base-padding-lite: $base-padding / 3; //6.66px
$base-padding-small: 0.7em; //11.2px Reduced from .9em
$base-padding-base: 1em; //16px
$base-padding-large: 1.875em; //30px
$base-padding-extra: 3.125em; //50px
$base-padding-jumbo: 3.8em; //60.8px

// Padding on rem scale
$standard-padding: 1.25rem;
$standard-padding-standard: 1rem;
$standard-padding-lite: $standard-padding / 3;
$standard-padding-small: 0.7rem; //11.2px Reduced from .9em
$standard-padding-large: 1.875rem; //30px
$standard-padding-extra: 3.125rem; //50px
$standard-padding-jumbo: 3.8rem;
$standard-padding-fluffed: 5rem;
$standard-padding-separation: 6rem;

// Page padding
// Use in contexts where the padding/margin
// of an element would otherwise touch the edge
// of the screen
$page-padding: 5vw;

// Link Colors
$base-link-color: $dark-gray;

// Buttons
$primary-button-bg-color: $blue;
$primary-hover-button-bg-color: $blue;
$primary-button-color: $white;
$primary-hover-button-color: $white;
$secondary-button-bg-color: $white;
$secondary-hover-button-bg-color: $white;
$secondary-button-color: $dark-gray;
$secondary-hover-button-color: $dark-gray;
$secondary-button-border-color: $mid-gray;
$tertiary-button-bg-color: $mid-gray;

// Radius
$base-border-radius: 5px;
$small-border-radius: 3px;

// Border
$base-border-color: $light-black;
$thin-border-size: 1px;
$regular-border-size: 3px;
$thick-border-size: 8px;
$base-border-size: $regular-border-size;


// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-radius: $base-border-radius;
$form-box-shadow-focus: 0 0 0 2px $form-border-color-hover;

// Map legend
$opacity-federal: 0.45;
$opacity-state: 0.25;
$legend-row-height: 1em;

$greener-land-lightness-bump: lightness($green-land) * $opacity-state;
$greenest-land-lightness-bump: lightness($green-land) * $opacity-federal;
$greener-land: darken($green-land, $greener-land-lightness-bump);
$greenest-land: darken($green-land, $greenest-land-lightness-bump);


// SVG
$svg-map-padding: 3.6%;
