<figure is="data-map" color-scheme="Reds" steps="9">
  <div is="eiti-tooltip-wrapper" class="state svg-container map-container wide" style="padding-bottom: 60.15169270833333%;">
    <svg class="states map ownership  no-outlines " viewBox="22 60 936 525">
      <text>/maps/offshore/all.svg</text>
      <a xlink:href="/explore/offshore-alaska/" href="/explore/offshore-alaska/">
        <g class="state offshore-area feature" fill="">
          <title desc="Alaska offshore region" alt="Alaska offshore region"></title>
          <use xlink:href="/maps/offshore/all.svg#alaska" aria-label="Alaska offshore region"></use>
        </g>
      </a>
      <g class="states mesh">
        <use xlink:href="/maps/offshore/all.svg#alaska-mesh"></use>
      </g>

      <a xlink:href="/explore/offshore-atlantic/" href="/explore/offshore-atlantic/">
        <g class="state offshore-area feature" fill="">
          <!--- FIXME: nix fill attribute -->
          <title desc="Atlantic Ocean" alt="Atlantic Ocean"></title>
          <use xlink:href="/maps/offshore/all.svg#atlantic" aria-label="Atlantic Ocean"></use>
        </g>
      </a>
      <g class="states mesh">
        <use xlink:href="/maps/offshore/all.svg#atlantic-mesh"></use>
      </g>

      <a xlink:href="/explore/offshore-gulf/" href="/explore/offshore-gulf/">
        <g class="state offshore-area feature" fill="">
          <!--- FIXME: nix fill attribute -->
          <title desc="Gulf of Mexico" alt="Gulf of Mexico"></title>
          <use xlink:href="/maps/offshore/all.svg#gulf" aria-label="Gulf of Mexico"></use>
        </g>
      </a>
      <g class="states mesh">
        <use xlink:href="/maps/offshore/all.svg#gulf-mesh"></use>
      </g>

      <a xlink:href="/explore/offshore-pacific/" href="/explore/offshore-pacific/">
        <g class="state offshore-area feature" fill="">
          <!--- FIXME: nix fill attribute -->
          <title desc="Pacific Ocean" alt="Pacific Ocean"></title>
          <use xlink:href="/maps/offshore/all.svg#pacific" aria-label="Pacific Ocean"></use>
        </g>
      </a>
      <g class="states mesh">
        <use xlink:href="/maps/offshore/all.svg#pacific-mesh"></use>
      </g>
      <g class="states features">
        <use xlink:href="/maps/states/all.svg#states"></use>
      </g>

      <a xlink:href="/explore/AK/" href="/explore/AK/">
        <g class="state feature">
          <title desc="Alaska" alt="Alaska"></title>
          <use xlink:href="/maps/states/all.svg#state-AK" aria-label="Alaska"></use>
        </g>
      </a>

      <a xlink:href="/explore/AL/" href="/explore/AL/">
        <g class="state feature">
          <title desc="Alabama" alt="Alabama"></title>
          <use xlink:href="/maps/states/all.svg#state-AL" aria-label="Alabama"></use>
        </g>
      </a>

      <a xlink:href="/explore/AR/" href="/explore/AR/">
        <g class="state feature">
          <title desc="Arkansas" alt="Arkansas"></title>
          <use xlink:href="/maps/states/all.svg#state-AR" aria-label="Arkansas"></use>
        </g>
      </a>

      <a xlink:href="/explore/AZ/" href="/explore/AZ/">
        <g class="state feature">
          <title desc="Arizona" alt="Arizona"></title>
          <use xlink:href="/maps/states/all.svg#state-AZ" aria-label="Arizona"></use>
        </g>
      </a>

      <a xlink:href="/explore/CA/" href="/explore/CA/">
        <g class="state feature">
          <title desc="California" alt="California"></title>
          <use xlink:href="/maps/states/all.svg#state-CA" aria-label="California"></use>
        </g>
      </a>

      <a xlink:href="/explore/CO/" href="/explore/CO/">
        <g class="state feature">
          <title desc="Colorado" alt="Colorado"></title>
          <use xlink:href="/maps/states/all.svg#state-CO" aria-label="Colorado"></use>
        </g>
      </a>

      <a xlink:href="/explore/CT/" href="/explore/CT/">
        <g class="state feature">
          <title desc="Connecticut" alt="Connecticut"></title>
          <use xlink:href="/maps/states/all.svg#state-CT" aria-label="Connecticut"></use>
        </g>
      </a>

      <a xlink:href="/explore/DC/" href="/explore/DC/">
        <g class="state feature">
          <title desc="Washington, DC" alt="Washington, DC"></title>
          <use xlink:href="/maps/states/all.svg#state-DC" aria-label="Washington, DC"></use>
        </g>
      </a>

      <a xlink:href="/explore/DE/" href="/explore/DE/">
        <g class="state feature">
          <title desc="Delaware" alt="Delaware"></title>
          <use xlink:href="/maps/states/all.svg#state-DE" aria-label="Delaware"></use>
        </g>
      </a>

      <a xlink:href="/explore/FL/" href="/explore/FL/">
        <g class="state feature">
          <title desc="Florida" alt="Florida"></title>
          <use xlink:href="/maps/states/all.svg#state-FL" aria-label="Florida"></use>
        </g>
      </a>

      <a xlink:href="/explore/GA/" href="/explore/GA/">
        <g class="state feature">
          <title desc="Georgia" alt="Georgia"></title>
          <use xlink:href="/maps/states/all.svg#state-GA" aria-label="Georgia"></use>
        </g>
      </a>

      <a xlink:href="/explore/HI/" href="/explore/HI/">
        <g class="state feature">
          <title desc="Hawaii" alt="Hawaii"></title>
          <use xlink:href="/maps/states/all.svg#state-HI" aria-label="Hawaii"></use>
        </g>
      </a>

      <a xlink:href="/explore/IA/" href="/explore/IA/">
        <g class="state feature">
          <title desc="Iowa" alt="Iowa"></title>
          <use xlink:href="/maps/states/all.svg#state-IA" aria-label="Iowa"></use>
        </g>
      </a>

      <a xlink:href="/explore/ID/" href="/explore/ID/">
        <g class="state feature">
          <title desc="Idaho" alt="Idaho"></title>
          <use xlink:href="/maps/states/all.svg#state-ID" aria-label="Idaho"></use>
        </g>
      </a>

      <a xlink:href="/explore/IL/" href="/explore/IL/">
        <g class="state feature">
          <title desc="Illinois" alt="Illinois"></title>
          <use xlink:href="/maps/states/all.svg#state-IL" aria-label="Illinois"></use>
        </g>
      </a>

      <a xlink:href="/explore/IN/" href="/explore/IN/">
        <g class="state feature">
          <title desc="Indiana" alt="Indiana"></title>
          <use xlink:href="/maps/states/all.svg#state-IN" aria-label="Indiana"></use>
        </g>
      </a>

      <a xlink:href="/explore/KS/" href="/explore/KS/">
        <g class="state feature">
          <title desc="Kansas" alt="Kansas"></title>
          <use xlink:href="/maps/states/all.svg#state-KS" aria-label="Kansas"></use>
        </g>
      </a>

      <a xlink:href="/explore/KY/" href="/explore/KY/">
        <g class="state feature">
          <title desc="Kentucky" alt="Kentucky"></title>
          <use xlink:href="/maps/states/all.svg#state-KY" aria-label="Kentucky"></use>
        </g>
      </a>

      <a xlink:href="/explore/LA/" href="/explore/LA/">
        <g class="state feature">
          <title desc="Louisiana" alt="Louisiana"></title>
          <use xlink:href="/maps/states/all.svg#state-LA" aria-label="Louisiana"></use>
        </g>
      </a>

      <a xlink:href="/explore/MA/" href="/explore/MA/">
        <g class="state feature">
          <title desc="Massachusetts" alt="Massachusetts"></title>
          <use xlink:href="/maps/states/all.svg#state-MA" aria-label="Massachusetts"></use>
        </g>
      </a>

      <a xlink:href="/explore/MD/" href="/explore/MD/">
        <g class="state feature">
          <title desc="Maryland" alt="Maryland"></title>
          <use xlink:href="/maps/states/all.svg#state-MD" aria-label="Maryland"></use>
        </g>
      </a>

      <a xlink:href="/explore/ME/" href="/explore/ME/">
        <g class="state feature">
          <title desc="Maine" alt="Maine"></title>
          <use xlink:href="/maps/states/all.svg#state-ME" aria-label="Maine"></use>
        </g>
      </a>

      <a xlink:href="/explore/MI/" href="/explore/MI/">
        <g class="state feature">
          <title desc="Michigan" alt="Michigan"></title>
          <use xlink:href="/maps/states/all.svg#state-MI" aria-label="Michigan"></use>
        </g>
      </a>

      <a xlink:href="/explore/MN/" href="/explore/MN/">
        <g class="state feature">
          <title desc="Minnesota" alt="Minnesota"></title>
          <use xlink:href="/maps/states/all.svg#state-MN" aria-label="Minnesota"></use>
        </g>
      </a>

      <a xlink:href="/explore/MO/" href="/explore/MO/">
        <g class="state feature">
          <title desc="Missouri" alt="Missouri"></title>
          <use xlink:href="/maps/states/all.svg#state-MO" aria-label="Missouri"></use>
        </g>
      </a>

      <a xlink:href="/explore/MS/" href="/explore/MS/">
        <g class="state feature">
          <title desc="Mississippi" alt="Mississippi"></title>
          <use xlink:href="/maps/states/all.svg#state-MS" aria-label="Mississippi"></use>
        </g>
      </a>

      <a xlink:href="/explore/MT/" href="/explore/MT/">
        <g class="state feature">
          <title desc="Montana" alt="Montana"></title>
          <use xlink:href="/maps/states/all.svg#state-MT" aria-label="Montana"></use>
        </g>
      </a>

      <a xlink:href="/explore/NC/" href="/explore/NC/">
        <g class="state feature">
          <title desc="North Carolina" alt="North Carolina"></title>
          <use xlink:href="/maps/states/all.svg#state-NC" aria-label="North Carolina"></use>
        </g>
      </a>

      <a xlink:href="/explore/ND/" href="/explore/ND/">
        <g class="state feature">
          <title desc="North Dakota" alt="North Dakota"></title>
          <use xlink:href="/maps/states/all.svg#state-ND" aria-label="North Dakota"></use>
        </g>
      </a>

      <a xlink:href="/explore/NE/" href="/explore/NE/">
        <g class="state feature">
          <title desc="Nebraska" alt="Nebraska"></title>
          <use xlink:href="/maps/states/all.svg#state-NE" aria-label="Nebraska"></use>
        </g>
      </a>

      <a xlink:href="/explore/NH/" href="/explore/NH/">
        <g class="state feature">
          <title desc="New Hampshire" alt="New Hampshire"></title>
          <use xlink:href="/maps/states/all.svg#state-NH" aria-label="New Hampshire"></use>
        </g>
      </a>

      <a xlink:href="/explore/NJ/" href="/explore/NJ/">
        <g class="state feature">
          <title desc="New Jersey" alt="New Jersey"></title>
          <use xlink:href="/maps/states/all.svg#state-NJ" aria-label="New Jersey"></use>
        </g>
      </a>

      <a xlink:href="/explore/NM/" href="/explore/NM/">
        <g class="state feature">
          <title desc="New Mexico" alt="New Mexico"></title>
          <use xlink:href="/maps/states/all.svg#state-NM" aria-label="New Mexico"></use>
        </g>
      </a>

      <a xlink:href="/explore/NV/" href="/explore/NV/">
        <g class="state feature">
          <title desc="Nevada" alt="Nevada"></title>
          <use xlink:href="/maps/states/all.svg#state-NV" aria-label="Nevada"></use>
        </g>
      </a>

      <a xlink:href="/explore/NY/" href="/explore/NY/">
        <g class="state feature">
          <title desc="New York" alt="New York"></title>
          <use xlink:href="/maps/states/all.svg#state-NY" aria-label="New York"></use>
        </g>
      </a>

      <a xlink:href="/explore/OH/" href="/explore/OH/">
        <g class="state feature">
          <title desc="Ohio" alt="Ohio"></title>
          <use xlink:href="/maps/states/all.svg#state-OH" aria-label="Ohio"></use>
        </g>
      </a>

      <a xlink:href="/explore/OK/" href="/explore/OK/">
        <g class="state feature">
          <title desc="Oklahoma" alt="Oklahoma"></title>
          <use xlink:href="/maps/states/all.svg#state-OK" aria-label="Oklahoma"></use>
        </g>
      </a>

      <a xlink:href="/explore/OR/" href="/explore/OR/">
        <g class="state feature">
          <title desc="Oregon" alt="Oregon"></title>
          <use xlink:href="/maps/states/all.svg#state-OR" aria-label="Oregon"></use>
        </g>
      </a>

      <a xlink:href="/explore/PA/" href="/explore/PA/">
        <g class="state feature">
          <title desc="Pennsylvania" alt="Pennsylvania"></title>
          <use xlink:href="/maps/states/all.svg#state-PA" aria-label="Pennsylvania"></use>
        </g>
      </a>

      <a xlink:href="/explore/RI/" href="/explore/RI/">
        <g class="state feature">
          <title desc="Rhode Island" alt="Rhode Island"></title>
          <use xlink:href="/maps/states/all.svg#state-RI" aria-label="Rhode Island"></use>
        </g>
      </a>

      <a xlink:href="/explore/SC/" href="/explore/SC/">
        <g class="state feature">
          <title desc="South Carolina" alt="South Carolina"></title>
          <use xlink:href="/maps/states/all.svg#state-SC" aria-label="South Carolina"></use>
        </g>
      </a>

      <a xlink:href="/explore/SD/" href="/explore/SD/">
        <g class="state feature">
          <title desc="South Dakota" alt="South Dakota"></title>
          <use xlink:href="/maps/states/all.svg#state-SD" aria-label="South Dakota"></use>
        </g>
      </a>

      <a xlink:href="/explore/TN/" href="/explore/TN/">
        <g class="state feature">
          <title desc="Tennessee" alt="Tennessee"></title>
          <use xlink:href="/maps/states/all.svg#state-TN" aria-label="Tennessee"></use>
        </g>
      </a>

      <a xlink:href="/explore/TX/" href="/explore/TX/">
        <g class="state feature">
          <title desc="Texas" alt="Texas"></title>
          <use xlink:href="/maps/states/all.svg#state-TX" aria-label="Texas"></use>
        </g>
      </a>

      <a xlink:href="/explore/UT/" href="/explore/UT/">
        <g class="state feature">
          <title desc="Utah" alt="Utah"></title>
          <use xlink:href="/maps/states/all.svg#state-UT" aria-label="Utah"></use>
        </g>
      </a>

      <a xlink:href="/explore/VA/" href="/explore/VA/">
        <g class="state feature">
          <title desc="Virginia" alt="Virginia"></title>
          <use xlink:href="/maps/states/all.svg#state-VA" aria-label="Virginia"></use>
        </g>
      </a>

      <a xlink:href="/explore/VT/" href="/explore/VT/">
        <g class="state feature">
          <title desc="Vermont" alt="Vermont"></title>
          <use xlink:href="/maps/states/all.svg#state-VT" aria-label="Vermont"></use>
        </g>
      </a>

      <a xlink:href="/explore/WA/" href="/explore/WA/">
        <g class="state feature">
          <title desc="Washington" alt="Washington"></title>
          <use xlink:href="/maps/states/all.svg#state-WA" aria-label="Washington"></use>
        </g>
      </a>

      <a xlink:href="/explore/WI/" href="/explore/WI/">
        <g class="state feature">
          <title desc="Wisconsin" alt="Wisconsin"></title>
          <use xlink:href="/maps/states/all.svg#state-WI" aria-label="Wisconsin"></use>
        </g>
      </a>

      <a xlink:href="/explore/WV/" href="/explore/WV/">
        <g class="state feature">
          <title desc="West Virginia" alt="West Virginia"></title>
          <use xlink:href="/maps/states/all.svg#state-WV" aria-label="West Virginia"></use>
        </g>
      </a>

      <a xlink:href="/explore/WY/" href="/explore/WY/">
        <g class="state feature">
          <title desc="Wyoming" alt="Wyoming"></title>
          <use xlink:href="/maps/states/all.svg#state-WY" aria-label="Wyoming"></use>
        </g>
      </a>
      <image class="federal ownership" xlink:href="/maps/land/federal.gif" image-rendering="pixelated" width="960" height="670"></image>
      <image class="tribal ownership" xlink:href="/maps/land/tribal.gif" image-rendering="pixelated" width="960" height="670"></image>
      <g class="states mesh">
        <use xlink:href="/maps/states/all.svg#states-mesh"></use>
      </g>
    </svg>
  <div class="eiti-tooltip" aria-hidden="false" aria-label="Alaska offshore region" style="left: 166px; top: 332px;"><p>Alaska offshore region</p></div></div>
</figure>
