// Revenues Intro
//
//
//
// Styleguide blocks.how-it-works.intro

.revenues_intro-image {
  border-radius: 10px 10px 0 0;
}

.revenues_intro-image_caption {
  @include heading(h4);
  @include font-size(1.2);
  padding: $base-padding-lite;
}

@include respond-to(medium-down) {
	.how-it-works-page-toc {
		position: absolute;
		width: 100%;
		left: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


