// Revenues Steps
//
// Table display of different revenues steps
//
// Styleguide blocks.how-it-works.steps

.revenues_steps-heading {

  @include respond-to(medium-down) {

    @include heading(h3);

  }

  @include heading(h2);

  display: inline;
  padding-right: 8px;
}

.revenues_steps-number {

  @include heading(h3);

  background-color: $white;
  border-radius: 50%;
  display: inline-block;
  height: 38px;
  padding-right: 10px;
  padding-top: 1px;
  width: 38px;
}

.revenues_steps-group {
  display: table;
  width: 100%;
}

.revenues_steps-group_item {
  font-weight: $weight-light;
  padding-top: $base-padding;
}

.revenues_steps-group_left {
  display: table-cell;
  padding-right: 10px;
  text-align: right;
  width: 275px;
}

.revenues_steps-group_right {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
