<!-- <div class="{{ className }}">{{ text }}</div> -->

<div class="container-margin">
  <section id="companies" data-year="2016" class="explore-subpage container container-margin">
    <section class="explore-subpage-nav container">
      <div class="explore-subpage-tabs">
        <ul>
          <li class="explore-subpage-tab">
            <a href="/how-it-works/federal-revenue-by-company/2013/">2013</a>
          </li>
          <li class="explore-subpage-tab">
            <a href="/how-it-works/federal-revenue-by-company/2014/">2014</a>
          </li>
          <li class="explore-subpage-tab">
            <a href="/how-it-works/federal-revenue-by-company/2015/">2015</a>
          </li>
          <li class="explore-subpage-tab active">
            <a href="/how-it-works/federal-revenue-by-company/2016/">2016</a>
          </li>
        </ul>
      </div>
    </section>
  </section>
</div>
