<div class="container-margin">
  <div id="fee-summaries" class="tab-interface">

    <ul class="eiti-tabs info-tabs" role="tablist">
      <li role="presentation"><a href="#revenues" tabindex="0" role="tab" aria-controls="revenues" class="link-charlie">Federal revenue by phase (CY 2017)</a></li>
      <li role="presentation"><a href="#story" tabindex="-1" role="tab" aria-controls="story" aria-selected="true">Revenue details by phase</a></li>
    </ul>

    <article class="eiti-tab-panel" id="revenues" role="tabpanel" aria-hidden="true">
      <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-types">
        <thead>
          <tr>
            <th class="arrow_box"><span>Commodity</span></th>
            <th class="arrow_box"><span>1. Securing rights</span></th>
            <th class="arrow_box"><span>2. Before production</span></th>
            <th class="arrow_box-last"><span>3. During production</span></th>
            <th><span>Other revenue</span></th>
          </tr>
        </thead>
      </table>
    </article>

    <article class="eiti-tab-panel" id="story" role="tabpanel">
      <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-process">
        <thead>
          <tr>
            <th class="arrow_box"><span>Commodity</span></th>
            <th class="arrow_box"><span>1. Securing rights</span>Companies pay bonuses or other fees to secure rights to resources on federal land</th>
            <th class="arrow_box"><span>2. Before production</span>Companies pay rent on federal land while exploring for resources</th>
            <th class="arrow_box-last"><span>3. During production</span>Companies pay royalties after production begins</th>
            <th><span>Other revenue</span>Minimum or estimated royalties, settlements, and interest payments</th>
          </tr>
        </thead>
      </table>
    </article>

  </div>
</div>
