<!-- <div class="{{ className }}">{{ text }}</div> -->

<div class="container-margin">
  <section id="companies" data-year="2016" class="explore-subpage container container-margin">
    <section class="explore-subpage-nav container">
      <div class="explore-subpage-tabs">
        <ul>
          <li class="explore-subpage-tab">
            <a href="/how-it-works/federal-revenue-by-company/2013/">2013</a>
          </li>
          <li class="explore-subpage-tab">
            <a href="/how-it-works/federal-revenue-by-company/2014/">2014</a>
          </li>
          <li class="explore-subpage-tab">
            <a href="/how-it-works/federal-revenue-by-company/2015/">2015</a>
          </li>
          <li class="explore-subpage-tab active">
            <a href="/how-it-works/federal-revenue-by-company/2016/">2016</a>
          </li>
        </ul>
      </div>
    </section>
  </section>
</div>


<div class="container-margin">
    <section class="revenues_subpage-nav container">
      <div class="revenues_subpage-tabs">
        <ul>
            <li class="revenues_subpage-tab active">
              <a href="#">Offshore</a>
            </li>
            </a>
            <li class="revenues_subpage-tab">
              <a href="#">Onshore</a>
            </li>
        </ul>
      </div>
    </section>

    <section class="slab-beta revenues_subpage-intro_wrapper">
      <div class="container-page-wrapper revenues_subpage-intro">
        <div class="container revenues_subpage-intro_layout">
          <div>
            <a class="revenues_subpage-breadcrumb" href="#">How it works</a>
            /
          </div>
          <h1>Offshore Oil &amp; Gas</h1>
          <p class="revenues_subpage-intro_text">The Outer Continental Shelf Lands Act (OCSLA) of 1953 grants the Secretary of the Department of the Interior (DOI) the authority to manage offshore energy resources and to develop regulations to carry out that authority. Three agencies within DOI — BOEM, BSEE, and ONRR — work together to manage, regulate, and collect revenue from 33 million leased acres across the <span class="term term-end" data-term="Outer Continental Shelf" title="Click to define" tabindex="0">Outer Continental Shelf<icon class="icon-book"></icon></span>.</p>
        </div>
      </div>
    </section>
</div>


<div class="container-margin">
  <div id="fee-summaries" class="tab-interface">

    <ul class="eiti-tabs info-tabs" role="tablist">
      <li role="presentation"><a href="#revenues" tabindex="0" role="tab" aria-controls="revenues" class="link-charlie">Federal revenue by phase (CY 2017)</a></li>
      <li role="presentation"><a href="#story" tabindex="-1" role="tab" aria-controls="story" aria-selected="true">Revenue details by phase</a></li>
    </ul>

    <article class="eiti-tab-panel" id="revenues" role="tabpanel" aria-hidden="true">
      <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-types">
        <thead>
          <tr>
            <th class="arrow_box"><span>Commodity</span></th>
            <th class="arrow_box"><span>1. Securing rights</span></th>
            <th class="arrow_box"><span>2. Before production</span></th>
            <th class="arrow_box-last"><span>3. During production</span></th>
            <th><span>Other revenue</span></th>
          </tr>
        </thead>
      </table>
    </article>

    <article class="eiti-tab-panel" id="story" role="tabpanel">
      <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-process">
        <thead>
          <tr>
            <th class="arrow_box"><span>Commodity</span></th>
            <th class="arrow_box"><span>1. Securing rights</span>Companies pay bonuses or other fees to secure rights to resources on federal land</th>
            <th class="arrow_box"><span>2. Before production</span>Companies pay rent on federal land while exploring for resources</th>
            <th class="arrow_box-last"><span>3. During production</span>Companies pay royalties after production begins</th>
            <th><span>Other revenue</span>Minimum or estimated royalties, settlements, and interest payments</th>
          </tr>
        </thead>
      </table>
    </article>

  </div>
</div>
