<button class="{{ className }}">{{ text }}</button>

  <!-- toggle-filter -->
  <!-- <button class="toggle-filters toggle-desktop" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide filters" data-collapsed-text="Show filters" data-toggler="filters">Show filters</button> -->
