// Card
//
// 
//
// Markup:
// <div class="container">
// <article class="card">
//   <img class="card-image" src="{{ site.baseurl }}/img/sectors.png" alt="U.S. natural resource sectors">
//   <div class="card-content">
//     <h1 class="card-title">What are natural resources?</h1>
//     <p>[This is where we say what natural resources are]</p>
//     <a href="#" class="card-link">Find out more <span class="shrink-fa"><i class="fa fa-chevron-right"></i></span></a>
//   </div>
// </article>
// </div>
//
// Styleguide modules.card

.card {
	@include span-columns(4);
  @include omega(3n);
  background-color: $white;
  border-radius: 10px;
  position: relative;
  margin-top: $base-padding;
  height: 550px;
}

.card-secondary {
  height: 450px;
  @include span-columns(3);
  // Todo, add responsive breakpoints, omega-override
}

.card-splash{
  background-color: $light-black;
  color: $white;
  border-radius: 10px 10px 0 0;
  position: relative;
  height: 170px;
  padding: $base-padding;
}

.card-splash_title {
  color: $white;
}

.card-splash_image {
  position: absolute;
  right: $base-padding;
  bottom: $base-padding;
}

img.card-image {
  border-bottom: 6px solid $dark-gray;
  border-radius: 10px 10px 0 0;
  width: 100%;
  &:hover,
  &:focus {
    border-bottom: 6px solid $dark-gray;
  }
}

.card-image_link {
  border: none;
  &:hover,
  &:focus {
    border: none;
  }
}

.card-content {
  padding: $base-padding;
}

.card-title {
  padding-right: $base-padding;
  margin-bottom: $base-padding-lite;
  a {
    color: $dark-gray;
  }
}

.card-link {
  position: absolute;
  bottom: $base-padding;
}
