.revenues-subpage-nav {
  border-bottom: 1px solid $mid-gray;
  position: relative;

  a {
    color: $light-black;
  }

  ul {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-97%);
    li {
      display: inline-block;
      font-weight: 200;
      padding: 8px 10px;

      &.active {
        background-color: $light-gray;
        border-top: 1px solid $mid-gray;
        border-right: 1px solid $mid-gray;
        border-left: 1px solid $mid-gray;
        font-weight: normal;
      }

    }
  }
}
