@mixin active-tab($color:'') {
  text-decoration: none;

  @if $color == 'info' {
    background-color: $gray-light;
    border: 2px solid $gray-light;
  } @else {
    background-color: $white;
    border: 1px solid $gray-light;
    border-bottom: 1px solid $white;
    color: $base-font-color;
  }
}
