    {% assign _svg_path = include.svg | prepend: site.baseurl %}
    {% for area in site.offshore_areas %}
    {% if include.href %}<a xlink:href="{{ site.baseurl }}{{ include.href | format_url: area }}">{% endif %}
      <g class="state offshore-area feature" fill><!--- FIXME: nix fill attribute -->
        <title>{{ area.title }}</title>
        <use xlink:href="{{ _svg_path }}#{{ area.id }}"></use>
      </g>
    {% if include.href %}</a>{% endif %}
    {% endfor %}

    {% for _region in site.offshore_regions %}
    <g class="states mesh">
      <use xlink:href="{{ _svg_path }}#{{ _region.id }}-mesh"></use>
    </g>
    {% endfor %}
