{% assign _svg_path = include.svg | prepend: site.baseurl %}
{% for region in site.offshore_regions %}
  {% if include.href %}<a xlink:href="{{ site.baseurl }}{{ include.href | format_url: region }}">{% endif %}
  <g class="state offshore-area feature" fill><!--- FIXME: nix fill attribute -->
    <title>{{ region.title }}</title>
    <use xlink:href="{{ _svg_path }}#{{ region.id }}"  aria-label="{{ region.title }}"></use>
  </g>
  {% if include.href %}</a>{% endif %}
  <g class="states mesh">
    <use xlink:href="{{ _svg_path }}#{{ region.id }}-mesh"></use>
  </g>
{% endfor %}
