<h4 aria-hidden="false">
  <button is="aria-toggle" aria-controls="expandable-content" aria-expanded="false" type="button">
    <span class="hide-expanded">
      <img class="aria-toggle-icon" alt="icon with a plus sign" src="{{ path '/img/icons/icon-circled-plus.svg' }}">
      Show expanded content
    </span>
    <span class="show-expanded">
      <img class="aria-toggle-icon" alt="icon with a minus sign" src="{{ path '/img/icons/icon-circled-minus.svg' }}">
      Hide expanded content
    </span>
  </button>
</h4>
<div id="expandable-content" aria-hidden="false">
 <p>{{ label }}</p>
</div>
