<div class="{{ className }}">{{ text }}</div>

<!-- <ul accordion="primary">
   <li>
       <h3>Heading</h3>
       <button accordion-button title="Title content"></button>
       <div>Accordion Content</div
   </li>
</ul>
<ul accordion="secondary">
   <li aria-expanded="false">
       <h3>Heading</h3>
       <button accordion-text>
         <span class='accordion-more'>more</span>
         <span class='accordion-less'>less</span>
       </button>
   </li>
</ul> -->
