<table is="bar-chart-table" class="table-basic">
  <tbody id="revenue-disbursement-stream-ad-valorem-taxes" class="table-accordion-group">
    <tr>
      <td>
        <button is="aria-toggle" aria-controls="expandable-content" aria-expanded="false" class="not-button-like" type="button">
          {{ label }}
        </button>
      </td>
    </tr>
    <tr id="expandable-content" aria-hidden="true">
      <td colspan="2">{{ expandable-content }}</td>
    </tr>
  </tbody>
</table>
