@value colors: "../../../../css-global/colors.scss";
@value blue as --blue, white as --white from colors;

.root {
	display: inline-block;
	background-color: --blue;
	border-radius: 5px;
	color: --white;
	padding: 10px 20px;
}

.root div{
	display: inline-block;
	font-weight: bold;

}

.root:hover > div{
	text-decoration: underline;
}