<div class="swatch">
  <div class="swatch-color{{ name.className }}" style="background-color: {{ name.className }};"></div>
  <div class="h5">${{ name.text }}</div>
</div>

<!-- <p><span class="styleguide-swatch with-outline" style="background-color: #ffffff;"></span>$white</p> -->
