@value colors: "../css-global/colors.css";
@value variables: "../css-global/variables.scss";
@value gray-pale, gray-light, gray-darkest, green-light from colors;
@value container-max-width from variables;

.root {

}

.tabContentContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 2.2rem 1.3rem 1.3rem 1.3rem;
}

.tabContent {
	flex-basis: 65%;
	order: 0;
}

.tabContentAside{
	order: 1;
	padding: 0px 10px;
}

.oilRig > svg{
	height: 100%;
	position: relative;
	top: 30px;
	width: 276px;
}

.tabContentAside > h5{
	margin-bottom: 5px;
}

.tabContentBottomContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
}

.tabContentBottomContainer > div{
	margin-bottom: 20px;
}

.tabContentBottomContainer > div:first-child{
	margin-right: 20px;
}

.linkContainer {
	border-top: 2px solid green-light;
	padding-top: 7px;
}

.linkContainer > a {
	display: block;
	margin: 7px 0px;
	white-space: nowrap;
}

.mapSection {
	margin: 80px 0px;
}

.mapSectionContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.mapSectionLeft {
	max-width: 27%;
}

.mapSectionRight {
	width: 70%;
}

.mapSectionLocationSelector {
	max-width: 250px;
	width: 100%;
	margin-top: 30px;
}

@media screen and (max-width: 768px) {
	.mapSectionContainer {
	  flex-wrap: wrap;
	}
	.mapSectionLeft {
		max-width: 100%;
	}
	.mapSectionRight {
		width: 100%;
	}
	.mapSectionLocationSelector {
		
		margin-top: 30px;
	}
}

@media screen and (max-width: 601px) {
	.tabContentContainer {
		flex-wrap: wrap;
	}
	.tabContent {
		flex-basis: 100%;
	}
	.tabContentAside{
		margin-top: 10px;
		width: 100%;
		padding: 0px;
	}
	.oilRig > svg{
		display: none;
		width: 100%;
	}
}
