<body>
  <section class="layout-content container-page-wrapper container-margin">
    <article class="container-left-7 container-shift-reverse-2">
      <a href="#" class="breadcrumb">Optional breadcrumb link</a>
      <h1 id="intro">Example text page</h1>
      <blockquote>
        <p>This page uses a grid of seven columns on the left and three on the right, with a two-column margin between. The right-side block can hold a sticky nav unit, or be left empty. This opening paragraph is a "blockquote," which has this larger type style built in.</p>
      </blockquote>

      <h2 id="section-1">Page section one</h2>

      <p>I see that our enticingly large intro paragraph has done its job and lead you here to the meat of the page. We think you'll be glad that you stuck around to see the content we have to offer!</p>

      <h2 id="section-2">Footnote examples</h2>

      <p>This is what a footnote reference looks like.<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup> You can drop them into the middle of a sentence<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a> without too much visual disruption.</p>

      <h2 id="section-3">Section with a table</h2>

      <p>Here's a table integrated with the text of a page. Tables come in various shapes and sizes, as you can see in the <a class="Tree-entityLink" href="../../components/detail/tables">tables section</a> of the style guide.</p>

      <table class="article_table">
        <thead>
          <tr>
            <th>Header</th>
            <th>Second header</th>
            <th>Third column header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tabular content</td>
            <td>Content such as a phrase or sentence</td>
            <td>Content such as a phrase or sentence</td>
          </tr>
          <tr>
            <td>Tabular content</td>
            <td>Content such as a phrase or sentence</td>
            <td>Content such as a phrase or sentence</td>
          </tr>
          <tr>
            <td>Tabular content</td>
            <td>Content such as a phrase or sentence</td>
            <td>Content such as a phrase or sentence</td>
          </tr>
        </tbody>
      </table>

      <h2 id="notes">Notes</h2>
        <div class="footnotes">
          <ol>
            <li id="fn:1">
              <p>Footnotes generally include links to <a href="#">cited content</a>, and should always end with the "reversefootnote" class, which generates a return link, as seen here. <a href="#fnref:1" class="reversefootnote">↩</a></p>
            </li>
            <li id="fn:2">
              <p>Here's a second footnote example, again with a <a href="#">link to the cited content</a>.<a href="#fnref:2" class="reversefootnote">↩</a></p>
            </li>
          </ol>
        </div>

      </article>

  <!-- sticky side nav with anchor links -->
      <div class="pre-sticky pre-sticky-small"></div>
      <nav class="sticky sticky-float sticky_nav">
        <ul>
          <a href="#" class="sticky_nav-nav_item" data-nav-item="intro" data-active="true">Top</a>
          <a href="#section-1" class="sticky_nav-nav_item" data-nav-item="page-section-one" data-active="false">Page section one</a>
          <a href="#section-2" class="sticky_nav-nav_item" data-nav-item="footnote-examples" data-active="false">Footnote examples</a>
          <a href="#section-3" class="sticky_nav-nav_item" data-nav-item="section-with-table" data-active="false">Section with a table</a>
        </ul>
      </nav>
  </section>
</body>
