
.root {
	margin:80px 0px;
}

.title {

}

.revenueTable {
}

.alignRight {

}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.containerLeft {
    max-width: 27%;
}

.containerRight {
     width: 70%;
}
