@value colors: "./colors.scss";
@value green as _green, grayLight as _grayLight, blackLight as _blackLight, greenLight as _greenLight from colors;

.chartBar {
	cursor: pointer;
	fill: _grayLight;
}

.chartBar[selected=true] {
	fill: _green;
}

.chartBar:hover{
	fill: _green;
	opacity: 0.8;
}

.chartSelectedContentDetails {
	font-size: 14px;
	font-weight: 300;
}

.chartSelectedContentDetailsHighlight {
	color: _green;
	font-weight: 600;
}

.legendTitle {
	color: _blackLight;
	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 1.1875rem;

}

.sectionHeaderUnderline {
  border-bottom: 10px solid _greenLight;
  padding-bottom: .7rem;
}

.skipNav {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;

	&:active, 
	&:focus, 
	&:hover {
		left: 0; 
		top: 0;
		padding: 5px;
		width: auto; 
		height: auto; 
		overflow: visible;
	}
}