
:export{
	/* Grayscale */
	white: #ffffff;
	grayPale: #f0f6fa;
	grayLighter: #ebf3f7;
	grayLight: #d3dfe6;
	gray: #a7bcc7;
	grayDark: #768d99;
	grayDarker: #5c737f;
	grayDarkest: #435159;
	blackLight: #323c42;
	black: #1c2326;
	gray-blue-dark: #4e4e4e;
	gray-blue-mid: #a9a9a9;
	gray-blue-mid-light: #e0e0e0;

	/* Greens */
	green-light: #cde3c3;
	green-mid: #9dbd92;
	green-land: #69995a;
	green: #587f4c;
	green-dark: #2f4d26;

	/* Blues */
	blue-lighter: #f2fdff;
	blue-light: #dcf4fd;
	blue-mid-light: #c6e9ff;
	blue-cthru: rgba(198, 233, 255, 0.93);
	blue-mid: #79bbda;
	blue-mid-dark: #3d95bd;
	blue: #1478a6;
	blue-dark: #086996; /* darker link color for use over @value blue-cthru, for accessibility */
	blue-darker: #005078;
	blue-deep: #00354f;

	/* Reds */
	red: #c5403c;
}

.grayPaleBackground {
  background-color: #f0f6fa;
}