<div class="preview">
  <!-- Explore data "mega chart" -->
  <section class="container-left-9">
    <div id="fee-summaries" class="tab-interface">
      <ul class="eiti-tabs info-tabs" role="tablist">
        <li role="presentation">
          <a href="#revenues" tabindex="0" role="tab" aria-controls="revenues" aria-selected="true">Federal revenue by phase (2016)</a>
        </li>
        <li role="presentation">
          <a href="#story" tabindex="-1" role="tab" aria-controls="story" class="link-charlie">Revenue details by phase</a>
        </li>
      </ul>
      <article class="eiti-tab-panel" id="revenues" role="tabpanel">
        <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-types">
          <thead>
            <tr>
              <th class="arrow_box">
                <span>Commodity</span>
              </th>
              <th class="arrow_box">
                <span>1. Securing rights</span>
              </th>
              <th class="arrow_box">
                <span>2. Before production</span>
              </th>
              <th class="arrow_box-last">
                <span>3. During production</span>
              </th>
              <th>
                <span>Other revenue</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-arrow_box-category">
              <td colspan="5">
                Oil and Gas
                <icon class="icon-padded icon-oil"></icon>
              </td>
            </tr>
          </tbody>
          <tbody id="revenue-types-oil-gas-non-royalty">
            <tr>
              <th scope="row" rowspan="2" data-value="4293316801" name="#revenue-oil-gas-non-royalty" class="table-arrow_box-subheader">
                <strong>Oil &amp; Gas </strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$4,293,316,801</strong>
              </th>
              <td rowspan="2" data-value="206969491" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 3.88771%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$206,969,491</span>
              </td>
              <td rowspan="2" data-value="156667913" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 2.94285%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$156,667,913</span>
              </td>
              <td class="bars table-arrow_box-value" data-value="2945622179">
                <div class="bar">
                  <div class="bar" style="width: 55.3305%;"></div>
                  <div class="bar" style="width: 14.5462%;"></div>
                  <div class="bar" style="width: 3.30236%;"></div>
                </div>
                <span data-value="774392172"></span>
                <span data-value="175807307"></span>
                <span class="text table-arrow_box-subheader-value">
                  <strong class="text-header text-header-first">Oil</strong>
                  $2,945,622,179</span>
                <span class="text table-arrow_box-subheader-value">
                  <strong class="text-header text-header-second">Gas</strong>
                  $774,392,172</span>
                <span class="text table-arrow_box-subheader-value">
                  <strong class="text-header text-header-third">NGL</strong>
                  $175,807,307</span>
              </td>
              <td rowspan="2" data-value="33857739" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.635983%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$33,857,739</span>
              </td>
            </tr>
          </tbody>
          <tbody id="revenue-types-oil">
          </tbody>
          <tbody id="revenue-types-gas">
          </tbody>
          <tbody id="revenue-types-ngl">
          </tbody>
          <tbody id="revenue-types-tar-sands">
          </tbody>
          <tbody id="revenue-types-oil-shale">
          </tbody>
          <tbody id="revenue-types-all">
            <tr class="table-arrow_box-category">
              <td colspan="5">
                All commodities
                <icon class="icon-oil"></icon>
                <icon class="icon-coal"></icon>
                <icon class="icon-geo"></icon>
                <icon class="icon-wind"></icon>
              </td>
            </tr>
            <tr>
              <th scope="row" data-value="5323669179" name="#revenue-all" class="table-arrow_box-subheader">
                <strong>All commodities</strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$5,323,669,179</strong>
              </th>
              <td data-value="521689452" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 9.7994%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$521,689,452</span>
              </td>
              <td data-value="162711655" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 3.05637%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$162,711,655</span>
              </td>
              <td data-value="4543654221" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 85.3479%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$4,543,654,221</span>
              </td>
              <td data-value="95613850" class="table-arrow_box-value table-arrow_box-text">
                <div class="bar">
                  <div class="bar" style="width: 1.79601%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$95,613,850</span>
                <br>
                <span class="table-arrow_box-asterisk">* Note regarding this figure.</span>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="eiti-tab-panel" id="story" role="tabpanel" aria-hidden="true">
        <table is="bar-chart-table" class="revenue table-arrow_box" id="revenue-process">
          <thead>
            <tr>
              <th class="arrow_box">
                <span>Commodity</span>
              </th>
              <th class="arrow_box">
                <span>1. Securing rights</span>Companies pay bonuses or other fees to secure rights to resources on federal land
              </th>
              <th class="arrow_box">
                <span>2. Before production</span>Companies pay rent on federal land while exploring for resources
              </th>
              <th class="arrow_box-last">
                <span>3. During production</span>Companies pay royalties after production begins
              </th>
              <th>
                <span>Other revenue</span>Minimum or estimated royalties, settlements, and interest payments
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-arrow_box-category">
              <td colspan="5">
                Oil and Gas
                <icon class="icon-padded icon-oil"></icon>
              </td>
            </tr>
          </tbody>
          <tbody id="revenue-types-oil-gas-non-royalty">
            <tr>
              <th scope="row" rowspan="2" data-value="4293316801" name="#revenue-oil-gas-non-royalty" class="table-arrow_box-subheader">
                <strong>Oil &amp; Gas </strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$4,293,316,801</strong>
              </th>
              <td rowspan="2" data-value="206969491" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 3.88772%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$206,969,491</span>
              </td>
              <td rowspan="2" data-value="156667913" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 2.94286%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$156,667,913</span>
              </td>
              <td class="bars table-arrow_box-value" data-value="2945622179">
                <div class="bar">
                  <div class="bar" style="width: 55.3307%;"></div>
                  <div class="bar" style="width: 14.5462%;"></div>
                  <div class="bar" style="width: 3.30237%;"></div>
                </div>
                <span data-value="774392172"></span>
                <span data-value="175807307"></span>
                <span class="text table-arrow_box-subheader-value">
                  <strong class="text-header text-header-first">Oil</strong>
                  $2,945,622,179</span>
                <span class="text table-arrow_box-subheader-value">
                  <strong class="text-header text-header-second">Gas</strong>
                  $774,392,172</span>
                <span class="text table-arrow_box-subheader-value">
                  <strong class="text-header text-header-third">NGL</strong>
                  $175,807,307</span>
              </td>
              <td rowspan="2" data-value="33857739" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.635985%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$33,857,739</span>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="table-arrow_box-subcategory">Offshore</th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td>
                <strong>$7</strong> or
                <strong>$11</strong> annual rent per acre, increasing over time up to
                <strong>$44</strong> per acre in some cases
              </td>
              <td>
                <strong>12.5%</strong>,
                <strong>16.67%</strong>, or
                <strong>18.75%</strong> of production value
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Onshore</th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td>
                <strong>$1.50</strong> annual rent per acre for 5 years
                <br>
                <strong>$2</strong> annual rent per acre thereafter
              </td>
              <td>
                <strong>12.5%</strong> of production value
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr class="table-arrow_box-category">
              <td colspan="5">
                Coal
                <icon class="icon-padded icon-coal"></icon>
              </td>
            </tr>
          </tbody>
          <tbody id="revenue-types-coal">
            <tr>
              <th scope="row" data-value="828180683" name="#revenue-coal" class="table-arrow_box-subheader">
                <strong>Coal</strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$828,180,683</strong>
              </th>
              <td data-value="312097368" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 5.86245%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$312,097,368</span>
              </td>
              <td data-value="1257861" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.0236277%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$1,257,861</span>
              </td>
              <td data-value="511604134" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 9.60999%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$511,604,134</span>
              </td>
              <td data-value="3221320" class="table-arrow_box-value table-arrow_box-text">
                <div class="bar">
                  <div class="bar" style="width: 0.0605094%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$3,221,320</span>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td>
                <strong>$3</strong> annual rent per acre
              </td>
              <td>
                <strong>Surface mining:</strong> 12.5% of production value + $0.28 per ton in AML fees
                <br>
                <strong>Subsurface mining:</strong> 8% of production value + $0.12 per ton in AML fees
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr class="table-arrow_box-category">
              <td colspan="5">
                Geothermal
                <icon class="icon-padded icon-geo"></icon>
              </td>
            </tr>
          </tbody>
          <tbody id="revenue-types-geothermal">
            <tr>
              <th scope="row" data-value="13356892" name="#revenue-geothermal" class="table-arrow_box-subheader">
                <strong>Geothermal</strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$13,356,892</strong>
              </th>
              <td data-value="19141" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.000359545%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$19,141</span>
              </td>
              <td data-value="1427938" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.0268224%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$1,427,938</span>
              </td>
              <td data-value="11586026" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.217632%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$11,586,026</span>
              </td>
              <td data-value="323788" class="table-arrow_box-value table-arrow_box-text">
                <div class="bar">
                  <div class="bar" style="width: 0.00608205%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$323,788</span>
              </td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td>
                <strong>Nomination fee:</strong> $110 per nomination + $0.11 per acre
                <br>
                <strong>Bonus:</strong> The amount offered by the highest bidder
                <br>
                <strong>$160</strong> processing fee
              </td>
              <td>
                <strong>$2</strong> per acre for the first year
                <br>
                <strong>$3</strong> annual rent per acre for years 2-10
                <br>
                <strong>$5</strong> annual rent per acre thereafter
              </td>
              <td rowspan="2">
                <strong>Electricity sales:</strong> 1.75% of gross proceeds for 10 years, then 3.5%
                <br>
                <strong>Arm’s length sales:</strong> 10% of gross proceeds from contract multiplied by lease royalty rate
                <br>
                <a href="/downloads/federal-revenue-by-location/#note-geothermal-rate-details">More about geothermal rates</a>
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td>
                <strong>Lease:</strong> $410 payment
              </td>
              <td>
                <strong>$1</strong> annual rent per acre for 10 years
                <br>
                <strong>$5</strong> annual rent per acre thereafter
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr class="table-arrow_box-category">
              <td colspan="5">
                Offshore renewable energy
                <icon class="icon-padded icon-wind"></icon>
              </td>
            </tr>
          </tbody>
          <tbody id="revenue-types-wind">
            <tr>
              <th scope="row" data-value="5192111" name="#revenue-wind" class="table-arrow_box-subheader">
                <strong>Wind</strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$5,192,111</strong>
              </th>
              <td data-value="1886955" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.0354446%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$1,886,955</span>
              </td>
              <td data-value="3305155" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0.0620842%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$3,305,155</span>
              </td>
              <td data-value="0" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 0%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$0</span>
              </td>
              <td data-value="1" class="table-arrow_box-value table-arrow_box-text">
                <div class="bar">
                  <div class="bar" style="width: 1.8784e-08%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$1</span>
              </td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td rowspan="2">
                <strong>$3</strong> annual rent per acre
                <br>
              </td>
              <td rowspan="2">
                <strong>2%</strong> of anticipated value of wind energy produced (unless otherwise specified)
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td>
                <strong>Acquisition fee:</strong> $0.25 per acre
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr class="table-arrow_box-category">
              <td colspan="5">
                Other products
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="table-arrow_box-subcategory">Hardrock Acquired lands</th>
              <td>
                <strong>$6,500</strong> prospecting permit fee
              </td>
              <td>
                <strong>$37</strong> annual rent per acre +
                <strong>$0.50</strong> annual prospecting fee per acre
              </td>
              <td>
                Royalty rates are determined by leasing officers on an individual case basis (no minimums apply)
              </td>
              <td></td>
            </tr>
          </tbody>
          <tbody id="revenue-types-all">
            <tr class="table-arrow_box-category">
              <td colspan="5">
                All commodities
                <icon class="icon-oil"></icon>
                <icon class="icon-coal"></icon>
                <icon class="icon-geo"></icon>
                <icon class="icon-wind"></icon>
              </td>
            </tr>
            <tr>
              <th scope="row" data-value="5323669179" name="#revenue-all" class="table-arrow_box-subheader">
                <strong>All commodities</strong>
                <br>
                <strong class="table-arrow_box-subheader-value">$5,323,669,179</strong>
              </th>
              <td data-value="521689452" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 9.79943%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$521,689,452</span>
              </td>
              <td data-value="162711655" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 3.05638%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$162,711,655</span>
              </td>
              <td data-value="4543654221" class="table-arrow_box-value">
                <div class="bar">
                  <div class="bar" style="width: 85.3482%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$4,543,654,221</span>
              </td>
              <td data-value="95613850" class="table-arrow_box-value table-arrow_box-text">
                <div class="bar">
                  <div class="bar" style="width: 1.79601%;"></div>
                </div>
                <span class="text table-arrow_box-subheader-value">$95,613,850</span>
                <br>
                <span class="table-arrow_box-asterisk">* Includes revenues not tied to specific commo­dities ($54,047,456 in inspection fees, $2,888,730 in civil
                  penalties, and $165,932 in other revenue).</span>
              </td>
            </tr>
            <!-- insert other row into this include!!! -->
          </tbody>
        </table>
      </article>
    </div>
  </section>

  <article class="container-margin">
    <section class="container-left-9">
      <table is="bar-chart-table" class="table-basic">
        <thead>
          <tr>
            <th>
              <strong>State revenue stream</strong>
            </th>
            <th class="num">
              <strong>Amount collected</strong>
            </th>
          </tr>
        </thead>
        <tbody id="revenue-disbursement-stream-all" class="table-accordion-group">
          <tr>
            <td>Total</td>
            <td data-value="2568248186" data-year-values="{&quot;2015&quot;:2568248186}">
              <div class="bar">
                <div class="bar" style="width: 100%;"></div>
              </div>
              <span class="text">
                $2,568,248,186
              </span>
            </td>
          </tr>
        </tbody>
        <tbody id="revenue-disbursement-stream-royalties-rents-and-bonuses" class="table-accordion-group">
          <tr>
            <td>
              Royalties, Rents and Bonuses
            </td>
            <td data-value="1745500000" data-year-values="{&quot;2015&quot;:1745500000}">
              <div class="bar">
                <div class="bar" style="width: 67.9646%;"></div>
              </div>
              <span class="text">
                $1,745,500,000
              </span>
            </td>
          </tr>
        </tbody>
        <tbody id="revenue-disbursement-stream-oil-gas-production-tax" class="table-accordion-group">
          <tr>
            <td>
              Oil &amp; Gas Production Tax
            </td>
            <td data-value="515859408" data-year-values="{&quot;2015&quot;:515859408}">
              <div class="bar">
                <div class="bar" style="width: 20.086%;"></div>
              </div>
              <span class="text">
                $515,859,408
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>
</div>