---
title: Maps
layout: default
---
<section id="us-map" class="slab-alpha container-padded">
  <div class="container-outer">
    <h2>US Map</h2>
    <figure is="data-map" color-scheme="Greens" steps="9">
      {%
        include state-map.html
        states=site.data.state_jobs
        href='#%s'
        value='2013.count'
      %}
      <figcaption>State employment (number of extractives jobs)</figcaption>
    </figure>
  </div>
</section>

<section id="state-maps" class="slab-alpha container-padded">
  <div class="container-outer">
    <h2>State Maps</h2>

    <table is="bar-chart-table" data-percent-max="100">
      <thead>
        <tr>
          <th>State</th>
          <th>Map</th>
          <th>County</th>
          <th colspan="2">Jobs</th>
          <th colspan="2">%</th>
        </tr>
      </thead>
      <tbody>
        {% for state in site.data.states %}
          {% if state.id == 'DC' %}{% continue %}{% endif %}
          {% assign state_id = state.id %}
          {% assign viewbox = site.data.viewboxes[state_id] %}
          {% capture svg %}states/{{ state_id }}.svg{% endcapture %}
          {% assign counties = site.data.county_jobs[state_id] %}
        <tr id="{{ state.id }}">
          <td rowspan="{{ counties | size | plus: 1 }}">{{ state.name }}</td>
          <td rowspan="{{ counties | size | plus: 1 }}">
            <figure is="data-map" color-scheme="Greens" steps="7">
              {%
                include county-map.html
                state=state_id
                counties=counties
                value='employment.2013.count'
                href='#county-%s'
              %}
              <figcaption>County extractives employment (number of jobs)</figcaption>
            </figure>

            <figure is="data-map" color-scheme="Reds" steps="7" domain="[0, 100]">
              {%
                include county-map.html
                state=state_id
                counties=counties
                value='employment.2013.percent'
                href='#county-%s'
              %}
              <figcaption>County employment (percentage of extractives jobs)</figcaption>
            </figure>
          </td>
        </tr>
          {% for county in counties %}
          <tr id="county-{{ county[0] }}">
            <td>
              <map-thumbnail zoom-to=".overlay">
                <svg class="county map thumbnail">
                  <use class="feature overlay" xlink:href="states/{{ state_id }}.svg#county-{{ county[0] }}"></use>
                </svg>
              </map-thumbnail>
              {{ county[1].name }}
            </td>

            {% assign value = county[1].employment['2013'].count %}
            <td>{{ value | default: 0 | intcomma }}</td>
            <td data-series="jobs" data-value="{{ value | default: 0 }}"></td>

            {% assign value = county[1].employment['2013'].percent %}
            <td>{{ value | default: 0 | percent }}%</td>
            <td data-series="percent" data-value="{{ value | default: 0 }}"></td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

  </div><!-- /.container-outer -->
</section><!-- /.container-padded -->

<script src="{{ site.baseurl }}/js/components/bar-chart-table.js"></script>
<script src="{{ site.baseurl }}/js/components/data-map.js"></script>
<script src="{{ site.baseurl }}/js/components/map-thumbnail.js"></script>
