
.root {
	background-color: #fff1d2;;
	margin: 0 0 1rem 0;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.1875rem;
	margin-bottom: 0.625rem;
	padding: 0.625em 1.875em;
	text-align: center;
}

.alertImage {
	width: 30px;
	padding-left: 0.20833em;
	margin-bottom: -1px;
	margin-right: 3px;
}
