---
layout: default
permalink: /states/
id: US
title: Nationwide
national_page: true
nav_items:
  - name: overview
    title: Overview
  - name: production
    title: Production
    subnav_items:
      - name: federal-production
        title: Federal land
  - name: revenue
    title: Revenue
    subnav_items:
      - name: federal-revenue
        title: Federal land
  - name: economic-impact
    title: Economic impact
    subnav_items:
    - name: gdp
      title: GDP
    - name: employment
      title: Jobs
    - name: exports
      title: Exports
---

{% assign national_page = page.national_page %}
{% assign state_name = page.title %}
{% assign state_id = page.id %}

{% assign state_ref = page.id | upcase %}
{% assign year = '2013' %}
{% assign oilgas = 'Oil & Gas (Non-Royalty)' %}
{% assign commodity_names = site.data.commodity_names %}
{% assign top_products = 10 %}
{% assign steps=9 %}

<main id="states" class="container-outer layout-state-pages">
  <div>
    <a class="breadcrumb" href="{{ site.baseurl }}/states/">State Profiles</a>
    /
  </div>
  <h1 id="title">{{ state_name }}</h1>

  <div class="container-left-9">

    <figure is="data-map" color-scheme="Reds" steps="9">
      {%
        include state-map.html
        states=site.data.state_revenues
        value='products.All.2013.revenue'
        href='%/'
      %}
      <figcaption>State revenue (2013)</figcaption>
    </figure>

    <section id="production">
      {% include location/national-all-production.html %}

      {% include location/national-federal-production.html %}

    </section>

    {% include location/national-revenue.html %}


    <section id="economic-impact">
    <h2>Economic Impact</h2>

    {% include location/national-gdp.html %}

    {% include location/national-jobs.html %}

    {% include location/national-exports.html %}

    </section>

    <!-- XXX setting display: none on this prevents the mask from working -->
    <svg width="0" height="0">
      <defs>
        <clipPath id="state-outline">
          <use xlink:href="{{ states_svg }}#state-{{ state_id }}"></use>
        </clipPath>
      </defs>
    </svg>



  </div>

  <div class="container-right-3">
    <div class="sticky_nav">
      <nav class="sticky_nav-nav">
        {% include case-studies/_nav-list.html %}
      </nav>
    </div>
  </div>

</main>


<script src="{{ site.baseurl }}/js/lib/state-pages.min.js"></script>
