---
layout: default
permalink: /states/
id: US
title: Nationwide
national_page: true
nav_items:
  - name: overview
    title: Overview
  - name: production
    title: Production
    subnav_items:
      - name: all-production
        title: All land
      - name: federal-production
        title: Federal land
  - name: revenue
    title: Revenue
    subnav_items:
      - name: federal-revenue
        title: Federal land
  - name: economic-impact
    title: Economic impact
    subnav_items:
    - name: gdp
      title: GDP
    - name: employment
      title: Jobs
    - name: exports
      title: Exports
---

{% assign national_page = page.national_page %}
{% assign state_name = page.title %}
{% assign state_id = page.id %}

{% assign state_ref = page.id | upcase %}
{% assign year = '2013' %}
{% assign oilgas = 'Oil & Gas (Non-Royalty)' %}
{% assign commodity_names = site.data.commodity_names %}
{% assign top_products = 10 %}
{% assign steps=9 %}


<main id="national" class="container-outer layout-state-pages">

  <div class="container-left-9">
    <div>
      <a class="breadcrumb" href="{{ site.baseurl }}/">Home</a>
      /
    </div>
    <h1 id="title">{{ state_name }}</h1>

    <p>Natural resource extraction — and particularly federal revenue from extraction — varies widely across the country. The scope and source of data about natural resource extraction often depends on property ownership, as well as the type of resource.</p>

    <figure is="data-map" color-scheme="Reds" steps="9">
      {%
        include state-map.html
        states=site.data.state_revenues
        offshore_areas=site.data.offshore_federal_production_areas
        href=':url'
      %}
    </figure>

    <p>The USEITI Multi-Stakeholder Group gathered additional information to help illuminate the role of extractive industries in areas with significant extractive activities:</p>
    <ul>
      <li>For 18 states, we've included links to state agencies and data, which can help understand the laws and regulations governing extraction on state and local land.</li>
      <li>For 12 communities in 10 states, there are case studies that shed light on the economic and fiscal effects of oil, gas, and mineral extraction in those communities.</li>
      <li>A few states have opted in to the USEITI process by providing additional data and contextual information about natural resource extraction on state and local land. Montana is the first of these states, and Wyoming and Alaska are also participating.</li>
    </ul>

    <section id="production">

      <h2>Production</h2>

      <p>The U.S. produces more <a href="#all-production-natural-gas-mcf">natural gas</a> and <a href="#all-production-oil-bbl">oil</a> than any other country. The U.S. also ranks second in the world for production of <a href="#all-production-coal-short-tons">coal</a> and renewable energy, and third in the world for gold production.</p>

      {% include location/national-all-production.html %}

      <section id="federal-production" is="year-switcher-section" class="federal production">

      <h3>Land ownership</h3>

      {% include location/national-ownership.html %}

      {% include location/national-federal-production.html %}

    </section>

    {% include location/national-revenue.html %}

    <section id="federal-disbursements">
      <h2>Federal Disbursements</h2>
      {% include location/national-disbursements.html %}
    </section>

    <section id="economic-impact">
    <h2>Economic impact</h2>

    {% include location/national-gdp.html %}

    {% include location/national-jobs.html %}

    </section>

    <!-- XXX setting display: none on this prevents the mask from working -->
    <svg width="0" height="0">
      <defs>
        <clipPath id="state-outline">
          <use xlink:href="{{ site.baseurl }}/maps/states/all.svg#state-{{ state_id }}"></use>
        </clipPath>
      </defs>
    </svg>



  </div>

  <div class="container-right-3">
    <div class="sticky_nav" data-sticky-offset="50">
      <h3 class="state-page-nav-title container">

        <div class="nav-title">{{ state_name }}</div>
      </h3>
      <nav class="sticky_nav-nav">
        {% include case-studies/_nav-list.html %}
      </nav>
    </div>
  </div>

</main>


<script src="{{ site.baseurl }}/js/lib/state-pages.min.js"></script>
