// Utility classes (hopefully temporary)
//============================================

.hidden {
  display: none;
}

.container {
  @include padded-container();
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: px;
  overflow: hidden; 
}


// Site-wide
//============================================

* {
  box-sizing: border-box;
}

body {
  background-color: $putty;
}

strong {
  font-weight: 700;
}

a {
  .expand, 
  .more {
    @include font-size(0.75);
    text-transform: uppercase;
  }
}

@each $name, $value in $colors {
  .product-#{$name} {
    background-color: $value;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $light-black;
    }
  }
}


// Header
//============================================

header {
  @include padded-container();

  a {
    color: $dark-putty;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    margin-top: $base-padding/2;
    width: 280px;
  }

  div:first-of-type {
    @include span-columns(6);
  }

  nav {
    @include span-columns(6);
    @include omega();

    ul li {
      @include font-size(0.8);
      display: inline-block;
      letter-spacing: 2px;
      padding-right: $base-padding-large;
    }
  }
}


// Footer
//============================================

footer {
  background-color: $light-black;
  color: $white;
  padding-top: $base-padding-extra;
  padding-bottom: $base-padding-extra;

  img {
    width: 150px;
  }

  > div > div {
    &:first-of-type {
      @include span-columns(9);
    }
    &:nth-of-type(2) {
      @include span-columns(3);
      @include omega();
    }
  }
}


// Home
//============================================

.home-intro {
  margin-top: $base-padding;

  article {
    @include span-columns (4);
    @include omega();
  }

  > div:first-of-type {
    @include span-columns(8);
  }

  h1 {
    @extend .callout;
    width: 93%;
  }

  ul {  
  display: inline-block;
  margin-bottom: $base-padding-lite;

    li {
      border-radius: $base-border-radius;
      color: $white;
      float: left;
      font-weight: 600;
      padding: $base-padding/2;
      margin-right: $base-padding/3;
      width: 130px;
    }
  }
}

.home-intro-more {
  display: block;
}

.article_module {
  background-color: $white;
  border-radius: 10px;
  height: 500px;
  position: relative;
  margin-top: $base-padding;

  h1 {
    @include font-size($h2);
    color: $light-black;
    font-weight: 600;
    padding-top: 0;
    padding-right: $base-padding;
    margin-bottom: $base-padding-lite;
  }

  form,
  .link-more {
    position: absolute;
    bottom: $base-padding;
  }

  img {
    border-bottom: 6px solid $putty;
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
}

.article_module-content {
  padding: $base-padding;
}

.home-modules {
  article {
    @include span-columns (4);
    @include omega(3n);
    @extend .article_module;
  }
}

.home-final {
  @include span-columns(12);
  padding-top: $base-padding-extra;
  padding-bottom: $base-padding-extra;
  text-align: center;
}


// Styleguide
//============================================

@each $name, $value in $guide-colors {
  .guide-#{$name} {
    background-color: $value;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $light-black;
    }
  }
}

.home-intro ul li.guide-mid-gray,
.home-intro ul li.guide-putty {

  color: $light-black;
  border: 1px solid $dark-putty;

}


