// Utility classes (hopefully temporary)
//============================================

.hidden {
  display: none;
}

.container {
  @include padded-container();
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: px;
  overflow: hidden; 
}

.group_inline {
  display: inline-block;
  width: 100%;
}

.group_inline-right {
  float: right;
}

.group_inline-left {
  float: left;
  width: 88%;
  // This sets the width of the first group item
  // Would like a way to set this programatically
  // This is also not responsive. Fix.
}


// Site-wide
//============================================

* {
  box-sizing: border-box;
}

body {
  background-color: $putty;
}

strong {
  font-weight: 700;
}

a {
  .expand, 
  .more {
    @include font-size(0.75);
    text-transform: uppercase;
  }
}

@each $name, $value in $colors {
  .product-#{$name} {
    background-color: $value;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $light-black;
    }
  }
}

// section {
//   padding-top: $base-padding;
//   padding-bottom: $base-padding;

//   > h1 {
//     padding: 0 0.6em 0.6em 0;
//   }

//   &.standard {
//   }

//   &.secondary {
//     background-color: $secondary-background-color;
//     color: $white;
//   }

//   &.tertiary {
//     background-color: $tertiary-background-color;

//     h1 {
//       padding-top: $base-padding;
//       padding-bottom: $base-padding;
//     }

//     > div > div {
//       background-color: $white;
//       border-radius: 0.4em;
//       margin-top: $base-padding;
//       margin-bottom: $base-padding;
//     }

//     ul.tertiary-home {
//       padding-bottom: $base-padding-extra;

//       li {
//         padding: $base-padding $base-padding-extra;
//         border-bottom: $thin-border-size solid $base-border-color;

//         &:first-of-type {
//           border-top: $thin-border-size solid $base-border-color;
//         }
//       }
//     }

    
//   }

//   &.quaternary {
//     background-color: $quaternary-background-color;
//     color: $white;
//     padding-right: 0;
//     padding-left: 0;

//     h1 {
//       padding-left: $base-padding * 2;
//       padding-right: $base-padding * 2;
//     }

//     video {
//       background-color: $mid-gray;
//       height: auto;
//       width: 100%;
//     }

//     figcaption {

//       h1 {
//         @extend .h2;
//         padding-bottom: 0;
//       }
//     }
//   }
// }


// Header
//============================================

header {
  @include padded-container();

  a {
    color: $dark-putty;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    margin-top: $base-padding/2;
    width: 280px;
  }

  div:first-of-type {
    @include span-columns(6);
  }

  nav {
    @include span-columns(6);
    @include omega();

    ul li {
      @include font-size(0.8);
      display: inline-block;
      letter-spacing: 2px;
      padding-right: $base-padding-large;
    }
  }
}


// Footer
//============================================

footer {
  background-color: $light-black;
  color: $white;
  padding-top: $base-padding-extra;
  padding-bottom: $base-padding-extra;

  img {
    width: 150px;
  }

  > div > div {
    &:first-of-type {
      @include span-columns(9);
    }
    &:nth-of-type(2) {
      @include span-columns(3);
      @include omega();
    }
  }
}

// Home
//============================================

.home-intro {

  article {
    @include span-columns (4);
    @include omega();
  }

  div:first-of-type {
    @include span-columns(8);
  }

  h1 {
    @extend .callout;
    width: 93%;
  }

  ul {  
  display: inline-block;
  margin-bottom: $base-padding-lite;

    li {
      border-radius: $base-border-radius;
      color: $white;
      float: left;
      font-weight: 600;
      padding: $base-padding/2;
      margin-right: $base-padding/3;
      width: 130px;
    }
  }
}

.home-intro-more {
  display: block;
}

.article_module {
  background-color: $white;
  border-radius: 10px;
  height: 500px;
  padding: $base-padding;
  position: relative;
  margin-top: $base-padding;

  h1 {
    @include font-size($h2);
    font-weight: 600;
    padding-top: $base-padding;
    padding-right: $base-padding;
    margin-bottom: $base-padding-lite;
  }

  form,
  .link-more {
    position: absolute;
    bottom: $base-padding;
  }
}

.home-modules {
  article {
    @include span-columns (4);
    @include omega(3n);
    @extend .article_module;
  }
}

.home-final {
  @include span-columns(12);
  text-align: center;
}


// Search form
// For styles that are specific to 
// the home search. General form styles
// are in _forms.scss.
//============================================

.search_form {
  padding-top: 0.4em;

  p {
    @extend .supporting_copy;
    padding-top: 0.3em;
    padding-bottom: $base-padding;
  }
}

// Individual school pages
//============================================

.school-section {
  border-bottom: $regular-border-size solid $base-border-color;
}


// Search results
//============================================

.results {
  @extend .school;

  div:first-of-type {
    padding-bottom: $base-padding;

    h1 {
      padding-bottom: $base-padding-lite;
    }
  }
}

.results-cards {
  padding: $base-padding;

  ul {
    border-bottom: $thin-border-size solid $base-border-color;
    margin-bottom: $base-padding;
    padding-bottom: $base-padding;
  }
}

.tertiary .results-cards h1 {
  padding-top: 0;
  padding-bottom: $base-padding-lite;
}


