{% extends 'base.html' %}

{% from 'macros.html' import location_selector %}

{% block main %}
  <section class="container">

    <div class="revenues-subpage-back">
      <a href="/resource_revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Back to revenues overview</a>
    </div>

    <div class="revenues-subpage-intro">
      <h1>Fossil Fuel: Coal</h1>

      <p>The Department of the Interior’s Bureau of Land Management (BLM) is responsible for 570 million acres of federally-owned coal mineral estate land. This responsibility is derived from both the Mineral Leasing Act of 1920, as amended, and the Mineral Leasing Act for Acquired Lands of 1947, as amended.</p>

      <a href="#" class="link-more"><i class="fa fa-download"></i> Download this page as a pdf</a>
    </div>

     <div class="revenues-subpage-office-container">
      <div class="revenues-subpage-office">
        <img src="/img/logos/BLM-mark.png" alt="Bureau of Land Management">
        <p>Managed and regulated by the <span><a href="http://www.blm.gov/">Bureau of Land Management</a> (BLM)</span>.</p>
      </div>
    </div>

    <div class="revenues-subpage-office-container">
      <div class="revenues-subpage-office">
        <p><img src="/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages some monetary transactions</p>
      </div>
    </div>


  </section>

  <div class="revenues-section-subpage-steps rev-coal">

    <section class="container">

      <div class="revenues-section-subpage-dyk revenues-section-subpage-dyk-coal">

        <div><h4>Did you know?</h4></div>
        <div><p>In 2013, the U.S. was the world’s second largest coal producer after China. <!--Still, the U.S. isn’t currently mining all of its available coal reserves.--> There are 19.7 billion short-tons of recoverable re-serves in active mines and another 479.9 billion short-tons that could be mined at any time.</p></div>
        <a href="#" class="link-more link-more-after">more <span class="enbiggen">+</span></a>

      </div>

      <div>

        <ul class="revenues-steps-group">
          <li>
              <div class="revenues-steps-number">1</div>
              <h3>Plan</h3>
              <p>BLM evaluates federal lands for coal leasing through the multiple-use planning process. This process:</p>
              <ul class="list-para">
                <li>Identifies coal with the potential for development</li>
                <li>Decides whether the lands are suitable for coal development</li>
                <li>Considers multiple-use conflicts (there might be other uses for the land besides coal mining)</li>
                <li>Sometimes the government owns the coal below the ground, but does not own the land on the surface. In this case, BLM consults with the surface owner</li>
              </ul>
              <!-- <p>BLM sometimes adds stipulations or restrictions to a lease where developing coal resources could conflict with protections or management of other resources and federal land uses.
              </p> -->
          </li>

          <li>
            <div class="revenues-steps-number">2</div>
            <h3>Lease</h3>
            <p>All federal coal must be leased competitively. This means that any interested party can bid on the lease. BLM generally uses a "lease by application" process in which the public nominates a particular tract of coal for competitive sale. BLM then reviews each nomination to make sure mining coal in that location complies with existing federal land use plans. Next, a Regional Coal Team — with members from federal, state, local, and tribal governments — reviews the application in consultation with the public, and decides whether to continue, change, or reject the application. BLM then prepares an Environmental Impact Statement or Environmental Assessment for public comment in accordance with the National Environmental Policy Act. <a href="#" class="link-more link-more-after" style="float:right; margin-top:20px;">more <i class="fa fa-plus"></i></a></p>

            <!-- <p>If the application moves on to lease sale, the next step is to ensure that the American people receive at least a minimum fair amount for the lease. So, the BLM estimates a fair market value for the lease before it goes up for sale. At the sale, each bidder submits a sealed bid that is opened publically. The winning bid is the highest bid that meets or exceeds the coal tract’s presale estimated fair market value (so long as the bidder meets all other leasing requirements, such as paying fees). Once a bid is accepted, the bidder pays a portion of the bid amount, called the bonus, as well as the first year’s rent to BLM.</p> -->

          </li>

          <li>
            <div class="revenues-steps-number">3</div>
            <h3>Develop</h3>
            <p><strong>Permits.</strong> After BLM awards the lease, the lease holder must still obtain the appropriate permits and licenses from BLM, the Office of Surface Mining Reclamation and Enforcement, and any affected state and local governments before operations can begin.</p>

            <p><strong>Fees.</strong> If a lease holder has not started extracting coal in paying quantities yet, they pay an annual rent for the continued exclusive right to a coal tract. Once the lease holder has obtained all permits, begun operations, and produced coal in paying quantities, the lease holder stops paying rent, and starts paying royalties on the value of the coal extracted to ONRR.</p>

          </li>

          <li>
            <div class="revenues-steps-number">4</div>
            <h3>Decommission</h3>
            <p>When a coal mining operation closes, the lease holder must decommission the mine and restore its land. State governments, with oversight from the Office of Surface Mining Reclamation and Enforcement (OSMRE), regulate and oversee this process. Before starting operations, a lease holder must submit a bond to OSMRE or a state regulatory agency as both insurance for complying with the lease, and for covering the costs of reclaiming the land once mining operations stop. <a href="#" class="link-more link-more-after" style="float:right; margin-top:20px;">more <i class="fa fa-plus"></i></a></p>

            <!-- <p>There are federal and local partnerships for regulating reclamation. OSMRE is responsible for a nationwide program to protect society and the environment from the adverse effects of surface coal mining operations. OSMRE also works with states and tribes to ensure that citizens and the environment are protected during coal mining, and that the land is restored to beneficial use when mining is finished. OSMRE and its partners are also responsible for reclaiming and restoring lands and water degraded by mining operations before 1977 as part of its Abandoned Mine Land Reclamation Program.</p> -->

          </li>
        </ul>

      </div>

    </section>
  </div>

  <div class="revenues-section-forms revenues-section-forms-subpage">
    <section class="container">
      <h2 class="h1">Revenue collected by the Office of Natural Resources Revenue</h2>

      <div class="revenues-section-forms-options">

        <div>
          <h3>Bonus</h3>
          <p>A bonus is the amount paid by the highest bidder for a natural resource lease on federal land.</p>
        </div>

        <div>
          <h3>Rent</h3>
          <p class="forms-numbers"><span>$3.00</span> or less per acre</p>
          <p>Rent is an annual payment made on leased land, for the exclusive right to apply to explore for and develop natural resources on federal land for future production.</p>
        </div>

        <div>
          <h3>Royalty</h3>
          <p class="forms-numbers"><span>8%</span> underground <br><span>12.5%</span> surface</p>
          <p>A royalty is a payment determined by the percentage of the market value of the produced commodity. For federal coal, the rate depends on the extraction method.</p>
        </div>

        <div>
        </div>
      </div>

    </section>
  </div>

  <div class="revenues-section-involved">
    <section class="container">

      <div class="revenues-section-involved-intro">
        <h2 class="h1">Get involved</h2>
        <p>There are many opportunities to get involved throughout the coal process</p>
      </div>

      <div class="revenues-section-involved-right">

        <div class="revenues-section-involved-participate">

          <div>
            <h3>How to participate</h3>

            <p><strong>Contact a local BLM office.</strong> BLM has twelve field offices, mostly in the Western U.S. To learn more about land use policies for federal lands in your state, <a href="http://www.blm.gov/wo/st/en/info/directory.html">contact your state office</a>.</p>

            <p><strong>Join a Resource Advisory Council.</strong> Resource Advisory Councils (RACs) in the Western U.S. give BLM advice on managing public lands and resources. Each RAC consists of 12 to 15 ranchers, tribe members, state and local government officials, academics, and other public land users. Learn about <a href="http://www.blm.gov/wo/st/en/info/resource_advisory.html">joining your local RAC here</a>.</p>

            <p><strong>Volunteer.</strong> You can volunteer for BLM by searching for Bureau of Land Management opportunities <a href="http://volunteer.gov/index.cfm">here</a>. Or, find out how to create a BLM partnership <a href="http://www.blm.gov/wo/st/en/prog/more/partnerships_home.html">here</a>.</p>

          </div>

          <div>
            <iframe height="180px" src="https://www.youtube.com/embed/gdalYBS1lPE" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>

        <div class="revenues-section-involved-options">

          <div>
            <a href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_facebook.html">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Facebook</h3>
            </a>
            <p>Like a BLM Facebook page to get the latest from whale watching to mountain biking in your feed.</p>
          </div>

          <div>
            <a href="https://twitter.com/BLMNational">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Twitter</h3>
            </a>
            <p>Follow BLM to keep up with the latest info.</p>
          </div>

          <div>
            <a href="https://www.flickr.com/photos/mypubliclands/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Flickr</h3>
            </a>
            <p>A picture is worth a thousand words; see BLM's work on Flickr.</p>
          </div>

          <div>
            <a href="https://www.youtube.com/user/BLMNational">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
              </span>
              <h3>YouTube</h3>
            </a>
            <p>View the latest in wildlife and wilderness at BLM's YouTube channel.</p>
          </div>

        </div>

        <div class="revenues-section-involved-options">

          <div>
            <a href="http://mypubliclands.tumblr.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Tumblr</h3>
            </a>
            <p>Find BLM on Tumblr to read blogs from BLM offices across the U.S.</p>
          </div>

          <div>
            <a href="https://instagram.com/mypubliclands/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Instagram</h3>
            </a>
            <p>#seeBLM on Instagram for snapshots of over 245 million acres of public land.</p>
          </div>

          <div>
            <a href="https://www.pinterest.com/mypubliclands/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Pinterest</h3>
            </a>
            <p>Pin your favorite public land and plan your next trip from BLM's Pinterest.</p>
          </div>

          <div>
            <a href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_rssfeeds.html">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
              <h3>RSS Feeds</h3>
            </a>
            <p>Subscribe to BLM news feeds and policy document lists to have BLM news delivered directly to you. </p>
          </div>

        </div>

      </div>

    </section>
  </div>

  <div class="revenues-section-last">
    <section class="container">

      <div class="revenues-section-last-intro">
        <h2>Choose a resource to explore:</h2>
        <a href="/resource_revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Or, back to revenues overview</a>
      </div>

      {% include 'includes/revenues/revenues-footer.html' %}

    </section>
  </div>


</div>




{% endblock %}
