{% extends 'base.html' %}

{% from 'macros.html' import location_selector %}

{% block main %}
  <section class="container">

    <div class="revenues-subpage-back">
      <a href="/revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Back to revenues overview</a>
    </div>

    <div class="revenues-subpage-nav">
      <ul>
        <a href="/revenues/offshore_oil_gas"><li class="active">Offshore</li></a>
        <a href="#"><li>Onshore</li></a>
      </ul>
    </div>

    <div class="revenues-subpage-intro">
      <h1>Fossil fuel: Offshore Oil &amp; Gas</h1>

      <p>The process for developing oil and gas leases on federal land is different depending on whether you want to work offshore (which means, for federal land, <a href="http://www.boem.gov/Federal-Offshore-Lands/">more than three miles off the U.S. coast, but still on the continental shelf</a>) or onshore.</p>

      <p>Oil and gas are managed together because before a lease is developed, it is impossible to know whether oil or gas, or some combination of the two, will be produced. So, they are sold for development together.</p>

      <!-- <p>The Outer Continental Shelf Lands Act (OCSLA) of 1953 grants the <a href="http://www.doi.gov">Department of the Interior</a> (DOI) the authority to manage and regulate offshore energy resources. Two bureaus in the Department, the <a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM) and the <a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE), regulate these leases, and the <a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR) manages the related monetary transactions.</p> -->


      <a href="#" class="link-more"><i class="fa fa-download"></i> Download this page as a pdf</a>
    </div>

    <div class="revenues-subpage-office-container">
      <div class="revenues-subpage-office">
        <img src="/img/logos/BOEM.svg" alt="Bureau of Ocean Energy Management">
        <p>Managed and regulated by the <span><a href="">Bureau of Ocean Energy Management</a> (BOEM)</span> and the
        <img src="/img/logos/BOEM.svg" alt="Bureau of Ocean Energy Management"> <span><a href="">Bureau of Safety and Environmental Enforcement</a> (BSEE)</span></p>
        
        <p><img src="/img/logos/BOEM.svg" alt="Office of Natural Resources Revenue">The <span><a href="#">Office of Natural Resources Revenue</a> (ONRR)</span> manages monetary transactions</p>
      </div>
      <!-- <a href="#" class="link-more">more <span class="enbiggen">+</span></a> -->
    </div>

    
  </section>
    
  <section class="container">
    <h2 class="h1">There are four steps to oil and gas becoming a federal revenue &#8230;</h2>

  </section>

  <div class="revenues-section-steps">
    <section class="container">
      <h2 class="h1">These resources share four general steps in common &#8230;</h2>

      <ul class="revenues-steps-group">
        <li>
          <div class="revenues-steps-group-left">
            <h3>Plan</h3>
            <div class="revenues-steps-number">1</div>
          </div>
          <div class="revenues-steps-group-right">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitu.</div>
        </li>
        <li>
          <div class="revenues-steps-group-left">
            <h3>Lease</h3>
            <div class="revenues-steps-number">2</div>
          </div>
          <div class="revenues-steps-group-right">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitu.</div>
        </li>
        <li>
          <div class="revenues-steps-group-left">
            <h3>Develop</h3>
            <div class="revenues-steps-number">3</div>
          </div>
          <div class="revenues-steps-group-right">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitu.</div>
        </li>
        <li>
          <div class="revenues-steps-group-left">
            <h3>Decommission</h3>
            <div class="revenues-steps-number">4</div>
          </div>
          <div class="revenues-steps-group-right">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitu.</div>
        </li>
      </ul>

    </section>
  </div>

  <div class="revenues-section-forms">
    <section class="container">
      <h2 class="h1">Revenue collected by the Office of Natural Resources Revenue</h2>

      <div class="revenues-section-forms-options">

        <div>
          <h3>Bonus</h3>
          <p>A bonus is  the amount paid by the highest bidder for a natural resource lease on federal land. (anything else worth calling out?)</p>
        </div>

        <div>
          <h3>Rent</h3>
          <p class="forms-numbers"><span>$1.50 &mdash; $44.00<br></span> per acre</p>
          <p>Rent is an annual payment made on leased land, for the right to continue exploration and development of federal land for future production. Rent is set in the lease.</p>
        </div>

        <div>
          <h3>Royalty</h3>
          <p class="forms-numbers"><span>12.5%, 16.67%,</span> or <span>18.75%</span></p>
          <p>A royalty is a percentage of the market value of the produced commodity.</p>
        </div>

        <div>
        </div>
      </div>

    </section>
  </div>

  <div class="revenues-section-last">
    <section class="container">

      <h2>Choose a resource to explore:</h2>

      <ul>
        <li><a href="#"><img src="/img/icons/coal.svg" alt="coal"> Coal</a></li>
        <li><a href="/revenues/offshore_oil_gas"><img src="/img/icons/oil.svg" alt="coal"> Oil &amp; Gas</a></li>
        <li><a href="#"><img src="/img/icons/hardrock.svg" alt="coal"> Hardrock Minerals</a></li>
        <li><a href="#"><img src="/img/icons/renewables.svg" alt="coal"> Renewables</a></li>
      </ul>

    </section>
  </div>


</div>




{% endblock %}
