{% extends 'base.html' %}

{% from 'macros.html' import location_selector %}

{% block main %}
  <section class="container">

    <div class="revenues-subpage-back">
      <a href="/resource_revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Back to revenues overview</a>
    </div>

    <div class="revenues-subpage-nav">
      <ul>
        <a href="/resource_revenues/offshore_oil_gas"><li class="active">Offshore</li></a>
        <a href="#"><li>Onshore</li></a>
      </ul>
    </div>

    <div class="revenues-subpage-intro">
      <h1>Fossil fuel: Offshore Oil &amp; Gas</h1>

      <p>The process for developing oil and gas leases on federal land is different depending on whether you want to work offshore (which means, for federal land, <a href="http://www.boem.gov/Federal-Offshore-Lands/">more than three miles off the U.S. coast, but still on the continental shelf</a>) or onshore.</p>

      <p>Oil and gas are managed together because before a lease is developed, it is impossible to know whether oil or gas, or some combination of the two, will be produced. So, they are sold for development and regulated together.</p>

      <!-- <p>The Outer Continental Shelf Lands Act (OCSLA) of 1953 grants the <a href="http://www.doi.gov">Department of the Interior</a> (DOI) the authority to manage and regulate offshore energy resources. Two bureaus in the Department, the <a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM) and the <a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE), regulate these leases, and the <a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR) manages the related monetary transactions.</p> -->


      <a href="#" class="link-more"><i class="fa fa-download"></i> Download this page as a pdf</a>
    </div>

    <div class="revenues-subpage-office-container">
      <div class="revenues-subpage-office">
        <img src="/img/logos/BOEM.svg" alt="Bureau of Ocean Energy Management">
        <p>Managed and regulated by the <span><a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM)</span> and the
        <img src="/img/logos/BSEE-mark.png" alt="Bureau of Safety and Environmental Enforcement"> <span><a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE)</span></p>
      </div>
      <div class="revenues-subpage-office">
        
        <p><img src="/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages monetary transactions</p>
      </div>
      <!-- <a href="#" class="link-more">more <span class="enbiggen">+</span></a> -->
    </div>

    
  </section>

  <div class="revenues-section-subpage-steps">

    <section class="container">

      <div class="revenues-section-subpage-dyk">

        <div><h4>Did you know?</h4></div>
        <div><p>GOMESA bans oil and gas leasing within 125 miles of the Florida coastline until 2022</p></div>
        <a href="#" class="link-more link-more-after">more <span class="enbiggen">+</span></a>

      </div>

      <div>

        <ul class="revenues-steps-group">
          <li>
              <div class="revenues-steps-number">1</div>
              <h3>Plan</h3>
              <p>BOEM develops offshore land-use plans as part of its <a href="http://www.boem.gov/five-year-program/">Five-Year Outer Continental Shelf Leasing Program</a>. These plans are designed to <a href="http://www.boem.gov/Five-Year-Program-Details/">meet national energy needs while balancing economic, environmental, and social considerations</a>.</p>

              <p>BOEM also writes a <a href="http://www.boem.gov/5-year/2012-2017/PEIS/">Programmatic Environmental Impact Statement</a> as part of the planning process. This is required by the National Environmental Policy Act (NEPA), and evaluates the effects of potential extractive processes on the environment.</p>

              <p>Each five-year program contains a schedule of lease sales for that period. <a href="#">The public can comment on the proposed leasing program</a>. Public comments are submitted, along with the plan, to Congress and the President.</p>

              <p>For an example of what these land-use plans look like, see BOEM’s <a href="http://www.boem.gov/five-year-program/">planning site for the 2017-2022 Outer Continental Shelf Leasing Program</a>.</p>

          </li>

          <li>
            <div class="revenues-steps-number">2</div>
            <h3>Lease</h3>
            <p>Once a Five-Year Program is in place, BOEM begins planning for each regional lease sale. Each sale is a one- to two-year process that includes a site-specific Environmental Impact Statements, each with opportunities for public comment.</p>

            <p>BOEM sends notice of sales to interested bidders with the terms and conditions of the “blocks” (nine-square-mile areas) that will be up for sale. The bidding process is competitive, which means that anyone can participate, and bids are secret. The winner—the bidder with the highest offer—is subject to BOEM’s subsequent <a href="http://www.boem.gov/Fair-Market-Value/">fair market value analysis</a> and will only receive the lease if the bid meets or exceeds the fair market value of the resources on the block. BOEM calculates this number based on the expected value of exploring for and extracting oil and gas resources from that block, not on actual activities and discoveries resulting from the sale of the lease.</p>

            <p>Once BOEM accepts a bid and awards a lease, the lease holder must pay the complete bid amount, called the bonus, as well as the first-year rent payment, in addition to satisfying any <a href="http://www.boem.gov/Bonding/">bonding requirements</a>.</p>

          </li>

          <li>
            <div class="revenues-steps-number">3</div>
            <h3>Develop</h3>
            <p>Once a lease has been awarded, the lease holder must develop and submit an <a href="http://www.boem.gov/Oil-and-Gas-Energy-Program/Plans/Exploration-and-Development-Plans-Definitions.aspx">Exploration Plan and a Development or Production Plan</a> for BOEM’s approval. Once approval has been granted, the lease holder or operator may begin the process of exploring for oil and gas. If these resources are found, the lease holder will apply to <a href="http://www.bsee.gov/Exploration-and-Production/Index/">BSEE</a> for drilling and operations permits to begin extraction</p>

            <p>During this phase, BSEE oversees development and enforces lease terms and other conditions. BSEE will also conduct initial inspections to ensure the proper installation of structures and equipment, as well as periodic announced and unannounced inspections throughout the operation.</p>

            <p>The lease holder pays annual rent specified in the lease until the operation starts producing oil or gas in paying quantities, at which time the lease holder stops paying rent and begins paying a royalty. The Office of Natural Resources Revenues collects both payments.</p>

          </li>

          <li>
            <div class="revenues-steps-number">4</div>
            <h3>Decommission</h3>
            <p>When an operation closes, the lease holder must return the ocean and seafloor to its pre-lease condition. BOEM requires that retired offshore drilling platforms be removed from the marine environment within one year. Under OCSLA regulations, the lease holder is required to submit a decommissioning plan two years prior to the termination of the lease to BSEE for approval. To satisfy NEPA obligations, BOEM prepares a site-specific Environmental Assessment for each removal application on behalf of BSEE. </p>

            <p>The lease holder is required to remove the platform from its foundation by severing all bottom-founded components at least 15 feet below the mudline, and disposing of the structures in a scrap yard or fabrication yard. Alternatively, the platform can be used to create an <a href="http://www.bsee.gov/Exploration-and-Production/Decomissioning/Rigs-to-Reefs/">artificial reef underwater</a>.</p>

          </li>
        </ul>

      </div>

    </section>
  </div>

  <div class="revenues-section-forms revenues-section-forms-subpage">
    <section class="container">
      <h2 class="h1">Revenue collected by the Office of Natural Resources Revenue</h2>

      <div class="revenues-section-forms-options">

        <div>
          <h3>Bonus</h3>
          <p>The bonus is the amount paid by the highest bidder for a natural resource lease on federal land.</p>
        </div>

        <div>
          <h3>Rent</h3>
          <p class="forms-numbers"><span>$1.50 &mdash; $44.00<br></span> per acre</p>
          <p>Rent is an annual payment made on leased land for the right to continue exploration and development of federal land for future production. Rent is set in the lease.</p>
        </div>

        <div>
          <h3>Royalty</h3>
          <p class="forms-numbers"><span>12.5%, 16.67%,</span> or <span>18.75%</span></p>
          <p>A royalty is a percentage of the market value of the produced commodity.</p>
        </div>

        <div>
        </div>
      </div>

    </section>
  </div>

  <div class="revenues-section-involved">
    <section class="container">

      <div class="revenues-section-involved-intro">
        <h2 class="h1">Get involved</h2>
        <p>There are many opportunities to get involved throughout the offshore oil &amp; gas process</p>
      </div>

      <div class="revenues-section-involved-right">

        <div class="revenues-section-involved-participate">

          <div>
            <a href="http://boemoceaninfo.com/learn/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
            </span>
            <h3>YouTube: See how to participate</h3>
            </a>
            <p>BOEM is reaching out to you to get as much input as possible for potential new oil and gas leases in the Mid- and South Atlantic, Gulf of Mexico, and Alaska. Watch the video here to learn more about how you can comment on the Programmatic Environmental Impact Statement for the 2017-2022 Leasing Program, or visit <a href="http://boemoceaninfo.com/learn/">BOEM's Programmatic EIS website</a> for all the details.</p>
          </div>

          <div>
            <iframe height="180px" src="https://www.youtube.com/embed/Xkqip8Sm8ng" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>

        <div class="revenues-section-involved-options">

          <div>
            <a href="https://www.facebook.com/BureauOfOceanEnergyManagement">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Facebook</h3>
            </a>
            <p>Like BOEM on Facebook to get the latest in ocean energy management in your feed.</p>
          </div>

          <div>
            <a href="https://twitter.com/boem_doi">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Twitter</h3>
            </a>
            <p>Follow BOEM to keep up with the latest oil &amp; gas leasing info.</p>
          </div>

          <div>
            <a href="https://www.flickr.com/photos/boemgov/sets/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Flickr</h3>
            </a>
            <p>A picture is worth a thousand words; see BOEM's work on Flickr.</p>
          </div>

          <div>
            <a href="http://boemoceaninfo.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Coastal States</h3>
            </a>
            <p>BOEM has set up federal-state task forces in 16 coastal states to coordinate public engagement. <a href="http://boemoceaninfo.com/">Click to learn about your state's task force</a> and to get involved.</p>
          </div>

        </div>
        
      </div>

    </section>
  </div>

  <div class="revenues-section-last">
    <section class="container">

      <div class="revenues-section-last-intro">
        <h2>Choose a resource to explore:</h2>
        <a href="/resource_revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Or, back to revenues overview</a>
      </div>

      <ul>
        <li><a href="#"><img src="/img/icons/coal.svg" alt="coal">Coal</a></li>
        <li><a href="/resource_revenues/offshore_oil_gas"><img src="/img/icons/oil.svg" alt="coal">Oil &amp; Gas</a></li>
        <li><a href="#"><img src="/img/icons/hardrock.svg" alt="coal">Hardrock Minerals</a></li>
        <li><a href="#"><img src="/img/icons/renewables.svg" alt="coal">Renewables</a></li>
      </ul>

    </section>
  </div>


</div>




{% endblock %}
