{% extends 'base.html' %}

{% from 'macros.html' import location_selector %}

{% block main %}
  <section class="container">

    <div class="revenues-subpage-back">
      <a href="/resource_revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Back to revenues overview</a>
    </div>

    <div class="revenues-subpage-nav">
      <ul>
          <a href="/resource_revenues/offshore_oil_gas">
            <li>Offshore</li>
          </a>
          <a href="/resource_revenues/onshore_oil_gas">
            <li class="active">Onshore</li>
          </a>
      </ul>
    </div>

    <div>
      {% include 'includes/revenues/onshore_oil_gas_intro.html' %}
    </div>


  </section>

  <div class="revenues-section-subpage-steps onshore-oil">
    {% include 'includes/revenues/onshore_oil_gas_steps.html' %}
  </div>

  <div class="revenues-section-forms revenues-section-forms-subpage">
    <section class="container">
      <h2 class="h1">Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h2>

      <div class="revenues-section-forms-options">

        <div>
          <h3>Bonus</h3>
          <p>The bonus is the amount paid by the highest bidder for a natural resource lease on federal land.</p>
        </div>

        <div>
          <h3>Rent</h3>
          <p class="forms-numbers"><span>$1.50</span> per acre for five years<br> <span>$2.00</span> per acre thereafter</p>
          <p>Rent is an annual payment made on leased land, for the exclusive right to apply to explore for and develop natural resources on federal land for future production.</p>
        </div>

        <div>
          <h3>Royalty</h3>
          <p class="forms-numbers"><span>12.5%</span></p>
          <p>A royalty is a payment determined by the percentage of the market value of the produced commodity.</p>
        </div>

        <div>
        </div>
      </div>

    </section>
  </div>

  <div class="revenues-section-involved">
    <section class="container">

      <div class="revenues-section-involved-intro">
        <h2 class="h1">Get involved</h2>
        <p>There are many opportunities to get involved throughout the onshore oil &amp; gas process</p>
      </div>

      <div class="revenues-section-involved-right">

        <div class="revenues-section-involved-participate">

          <div>
            <h3>How to participate</h3>

            <p><strong>Contact a local BLM office.</strong> BLM has twelve field offices, mostly in the Western U.S. To learn more about land use policies for federal lands in your state, <a href="http://www.blm.gov/wo/st/en/info/directory.html">contact your state office</a>.</p>

            <p><strong>Join a Resource Advisory Council.</strong> Resource Advisory Councils (RACs) in the Western U.S. give BLM advice on managing public lands and resources. Each RAC consists of 12 to 15 ranchers, tribe members, state and local government officials, academics, and other public land users. Learn about <a href="http://www.blm.gov/wo/st/en/info/resource_advisory.html">joining your local RAC here</a>.</p>

            <p><strong>Volunteer.</strong> You can volunteer for BLM by searching for Bureau of Land Management opportunities <a href="http://volunteer.gov/index.cfm">here</a>. Or, find out how to create a BLM partnership <a href="http://www.blm.gov/wo/st/en/prog/more/partnerships_home.html">here</a>.</p>

          </div>

          <div>
            <iframe height="180px" src="https://www.youtube.com/embed/gdalYBS1lPE" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>

        <div class="revenues-section-involved-options">

          <div>
            <a href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_facebook.html">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Facebook</h3>
            </a>
            <p>Like a BLM Facebook page to get the latest from whale watching to mountain biking in your feed.</p>
          </div>

          <div>
            <a href="https://twitter.com/BLMNational">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Twitter</h3>
            </a>
            <p>Follow BLM to keep up with the latest info.</p>
          </div>

          <div>
            <a href="https://www.flickr.com/photos/mypubliclands/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Flickr</h3>
            </a>
            <p>A picture is worth a thousand words; see BLM's work on Flickr.</p>
          </div>

          <div>
            <a href="https://www.youtube.com/user/BLMNational">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
              </span>
              <h3>YouTube</h3>
            </a>
            <p>View the latest in wildlife and wilderness at BLM's YouTube channel.</p>
          </div>

        </div>

        <div class="revenues-section-involved-options">

          <div>
            <a href="http://mypubliclands.tumblr.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Tumblr</h3>
            </a>
            <p>Find BLM on Tumblr to read blogs from BLM offices across the U.S.</p>
          </div>

          <div>
            <a href="https://instagram.com/mypubliclands/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Instagram</h3>
            </a>
            <p>#seeBLM on Instagram for snapshots of over 245 million acres of public land.</p>
          </div>

          <div>
            <a href="https://www.pinterest.com/mypubliclands/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Pinterest</h3>
            </a>
            <p>Pin your favorite public land and plan your next trip from BLM's Pinterest.</p>
          </div>

          <div>
            <a href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_rssfeeds.html">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
              <h3>RSS Feeds</h3>
            </a>
            <p>Subscribe to BLM news feeds and policy document lists to have BLM news delivered directly to you. </p>
          </div>

        </div>

      </div>

    </section>
  </div>

  <div class="revenues-section-last">
    <section class="container">

      <div class="revenues-section-last-intro">
        <h2>Choose a resource to explore:</h2>
        <a href="/resource_revenues" class="link-more"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Or, back to revenues overview</a>
      </div>

      {% include 'includes/revenues/revenues-footer.html' %}

    </section>
  </div>


</div>




{% endblock %}
