@value colors: "../../css-global/colors.css";
@value gray-dark, black-light from colors;

.chartTitle {
	border-color: gray-dark;
	border-bottom-width: 1px;
	border-style: solid;
	color: black-light;
	font-size: 13px;
}