@value colors: "../../../css-global/colors.scss";
@value green, white from colors;

@value radius: 8px;

.root{
}

.root select {
	background-color: green;
	background-image: url(../../../img/icons/chevron-dn-med-white.svg);
	background-position: 90% 57%;
	background-size: 1.1rem;
	border: 0;
	border-radius: 5px;
	color: white;
	display: inline-block;
	float: right;
	font-size: 0.8125rem;
	font-weight: 400;
	height: inherit;
	margin-top: 0.41667rem;
	margin: 0;
	min-width: 85px;
	padding-left: 0.5rem;
}

.root:focus {

}

.option {

}