<section class="banner slab-beta-light">
  <span class="banner-left">An official website of the U.S. government <img class="banner-image" src="{{ site.baseurl }}/img/us-flag-small.png" alt="U.S. flag signifying that this is a United States Federal Government website"></span>
  <span class="banner-right"><a class="link-alpha" tabindex="0" href="{{ site.baseurl }}/about/whats-new/">See what’s new</a> or <a class="link-alpha" href="https://ethn.io/38933">help us improve the site</a>.</span>
</section>
