<section class="banner slab-beta">
  <span class="banner-left">An official website of the US Government <img class="banner-image" src="{{ site.baseurl }}/img/us_flag_small.png" alt="US flag signifying that this is a United States Federal Government website"></span>
  <span class="banner-right">This site is in development. <a class="link-alpha" title="Learn about this site's development" tabindex="0" href="https://github.com/18F/doi-extractives-data/issues/">See what's new</a>.</span>
</section>
