<footer class="footer">
  <div class="container-outer">
    <div class="container-left-3 footer-col-left">
      <img class="footer-image" src="{{ site.baseurl }}/img/USEITI_Logotype.png" alt="USEITI logo">

      <p class="footer-para_callout">We want to hear from you!</p>
      <p class="para-md footer-para">Some nice words here that link to ethnio</p>

      <button class="button-big button-primary footer-button"><a href="#">Tell us what you think</a></button>

    </div>

    <div class="container-right-9">
    	<table class="footer-table">
  			<thead class="footer-table_head">
					<tr>
						<td class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/about/">About USEITI</a></td>
						<td class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/">How It Works</a></td>
						<td class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/explore/">Explore Data</a></td>
						<td class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/case-studies/">Case Studies</a></td>
					</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/">What is USEITI?</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/natural-resources/production/">U.S. Natural Resources</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/production/">Production</a></td>
  					<td class="footer-list_item_empty"></td>
  				</tr>
  				<tr>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/report/">2015 Report</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/process-overview/">The Process</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/revenue/">Revenue</a></td>
  					<td class="footer-list_item_empty footer-list_item_bordered"></td>
  				</tr>
  				<tr class="footer-bottom_row">
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/whats-new/">What’s new</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/state-laws-and-regulations/">Laws and Regulations</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/exports/">Economic Impact</a></td>
  					<td class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/downloads/exports/"><icon class="icon-cloud icon-padded"></icon>Downloads</a></td>
  				</tr>
  			</tbody>

    	</table>

    	<div class="container-left-9">
    		<p class="footer-para_callout">Questions?</p>
	      <p class="para-md footer-para">Contact the USEITI Secretariat at <a class="link-beta" href="mailto:useiti@ios.doi.gov">useiti@ios.doi.gov</a>.</p>

	      <p class="footer-para_callout">Built in the open</p>
	      <p class="footer-para">This site is powered by <a class="link-beta" href="{{ site.baseurl }}#">USEITI Data</a> and open source code. We welcome issues and pull requests! Contribute on <a class="link-beta" href="https://github.com/18F/doi-extractives-data/">GitHub</a>.</p>

	      <p class="para-md footer-para">Mail: US Secretariat. 1849 NW MS 4211, Washington, DC, 20240</p>
    	</div>
    	<div class="container-right-3">
    		<p class="footer-para_callout">Follow us</p>

	    		<div>
		    		<span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	          <p class="footer-social">Twitter</p>
          </div>
          <div>
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	          <p class="footer-social">Facebook</p>
          </div>
    	</div>

    </div>
  </div>
</footer>
