<footer class="footer">
  <div class="container-outer">
    <div class="container-left-3 footer-col_left">
      <a href="{{ site.baseurl }}/"><img class="footer-image" src="{{ site.baseurl }}/img/logo-USEITI-white.svg" alt="USEITI logo"></a>

      <p class="footer-para_callout">We want to hear from you!</p>
      <p class="para-md footer-para">Have time for a brief interview?</p>

      <button class="button-big button-primary footer-button"><a href="#">Share your feedback</a></button>

    </div>

    <div class="container-right-8 footer-col_right">
    	<div class="footer-table">
  			<div class="footer-table_head">
					<div class="footer-list_row">
						<div class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/about/">About USEITI</a></div>
						<div class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/">How It Works</a></div>
						<div class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/explore/">Explore Data</a></div>
						<div class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/case-studies/">Case Studies</a></div>
					</div>
  			</div>
  			<div class="footer-list_body">
  				<div class="footer-list_row">
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/">What is USEITI?</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/#natural-resources/">Natural Resources</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/#production/">Production</a></div>
  					<div class="footer-list_item_empty"></div>
  				</div>
  				<div class="footer-list_row">
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/report/">2015 Report</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/#process-overview/">The Process</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore#revenue/">Revenue</a></div>
  					<div class="footer-list_item_empty footer-list_item_bordered"></div>
  				</div>
  				<div class="footer-list_bottom_row">
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/whats-new/">What’s New</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/#state-laws-and-regulations/">Laws and Governance</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore#economic-impact/">Economic Impact</a></div>
  					<div class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/downloads/"><icon class="icon-cloud icon-padded"></icon>Downloads</a></div>
  				</div>
  			</div>

    	</div>

    	<div class="container-left-8">
    		<p class="footer-para_callout">Questions?</p>
	      <p class="footer-para">Contact the Department of the Interior’s USEITI Secretariat at <a class="link-active-beta" href="mailto:useiti@ios.doi.gov">USEITI@ios.doi.gov</a>.</p>

	      <p class="footer-para_callout">Built in the open</p>
	      <p class="footer-para">This site is powered by <a class="link-beta" href="{{ site.baseurl }}#">USEITI Data</a> and open source code. We welcome contributions and comments on <a class="link-active-beta" href="https://github.com/18F/doi-extractives-data/">GitHub</a>.</p>

	      <p class="para-md footer-para footer-para_last">Mail: U.S. Secretariat, 1849 NW MS 4211, Washington, D.C. 20240</p>
    	</div>
    	<div class="container-right-3 footer-social_wrapper">
    		<p class="footer-para_callout footer-social_callout">Follow us</p>

	    		<a class="footer-link_social" href="https://twitter.com/BLMNational">
		    		<span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	          <p class="footer-social">&nbsp;Twitter</p>
          </a>
          <a class="footer-link_social" href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_facebook.html">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	          <p class="footer-social">&nbsp;Facebook</p>
          </a>
    	</div>

    </div>
  </div>
</footer>
