<footer class="footer">
  <div class="container-outer">
    <div class="container-left-3 footer-col-left">
      <img class="header-image" src="{{ site.baseurl }}/img/USEITI_Logotype.png" alt="USEITI logo">


    </div>

    <div class="container-right-9">
      <div class="footer-col">
        <ul class="footer-list">
          <li class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/about/">About USEITI</a></li>
          <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/">What is USEITI?</a></li>
          <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/report/">2015 Report</a></li>
          <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/about/whats-new/">What’s new</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul class="footer-list">
          <li class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/">How It Works</a></li>
          <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/natural-resources/production/">U.S. Natural Resources</a></li>
          <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/process-overview/">The Process</a></li>
          <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/how-it-works/state-laws-and-regulations/">Laws and Regulations</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul class="footer-list">
        <li class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/explore/">Explore Data</a></li>
        <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/production/">Production</a></li>
        <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/revenue/">Revenue</a></li>
        <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/explore/exports/">Economic Impact</a></li>
        </ul>
      </div>
      <div class="footer-col-right">
        <ul class="footer-list">
        <li class="footer-list_item_heading"><a class="link-beta" href="{{ site.baseurl }}/case-studies/">Case Studies</a></li>
        <li class="footer-list_item"><a class="link-beta" href="{{ site.baseurl }}/downloads/exports/"><icon class="icon-cloud icon-padded"></icon>Downloads</a></li>
        </ul>
      </div>
    </div>



    </div>
  </div>
</footer>
