<header class="header">
  <nav class="nav-header">
    <div class="logo-container">
      <a href="{{ site.baseurl }}/">
        <img class="header-image" src="{{ site.baseurl }}/img/deiti-logo.svg" alt="Deiti logo">
      </a>
      <div class="logo_text">
        <span>Deutschland</span>
        <span>Extractive</span>
        <span>Industries</span>
        <span>Transparency</span>
        <span>Initiative</span>
      </div>
    </div>
    <div style="clear:both"></div>
    <ul class="header-nav_bottom">
      <li>
        <a href="http://www.d-eiti.de/de/">◀ Back to D-EITI.de</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/explore/federal-production">Produktionsdaten</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/explore/production-charts">Einnahmen</a>
      </li>
    </ul>
  </nav>
  <div class="flag-container container">
      <ul>
        <li class="lang-item">
          <a>
            <img src="{{ site.baseurl }}/img/counties/de_DE.png" title="Deutsch" alt="Deutsch">
          </a>
        </li>
        <li class="lang-item">
          <a>
            <img src="{{ site.baseurl }}/img/counties/en_GB.png" title="English" alt="English">
          </a>
        </li>
      </ul>
  </div>
</header>
