<header class="header">
  <nav class="nav-header">
    <div class="logo-container">
      <a href="{{ site.baseurl_root }}/">
        <img class="header-image" src="{{ site.baseurl_root }}/img/deiti-logo.svg" alt="Deiti logo">
      </a>
      <div class="logo_text">
        <span>Deutschland</span>
        <span>Extractive</span>
        <span>Industries</span>
        <span>Transparency</span>
        <span>Initiative</span>
      </div>
    </div>
    <div style="clear:both"></div>
    <ul class="header-nav_bottom">
      <li class="back-btn">
        <a href="http://www.d-eiti.de/de/" target="_blank">{% t 'menu.back' %}</a>
      </li>
      <li>
        {% if site.lang == "de" %}
          <a href="{{ site.baseurl_root }}/explore/about"> {% t 'menu.about' %} </a>
        {% elsif site.lang == "en" %}
          <a href="{{ site.baseurl_root }}/en/explore/about"> {% t 'menu.about' %} </a>
        {% endif %}
      </li>
      <li>
        {% if site.lang == "de" %}
        <a href="{{ site.baseurl_root }}/explore/how-it-work"> {% t 'menu.how-it-work' %} </a>
        {% elsif site.lang == "en" %}
          <a href="{{ site.baseurl_root }}/en/explore/how-it-work"> {% t 'menu.how-it-work' %} </a>
        {% endif %}
      </li>
      <li>
        {% if site.lang == "de" %}
          <a href="{{ site.baseurl_root }}/">{% t 'menu.explore-data' %}</a>
        {% elsif site.lang == "en" %}
          <a href="{{ site.baseurl_root }}/en">{% t 'menu.explore-data' %}</a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <div class="flag-container container">
        {% if site.lang == "de" %}
        {% capture link1 %} {{ site.baseurl_root }}/en{{page.url}}{% endcapture %}
        {% elsif site.lang == "en" %}
        {% capture link2 %}{{ site.baseurl_root }}{{page.url}}{% endcapture %}
        {% endif %}
      <ul>
        <li class="lang-item">
          <a href="{{ link1 }}" >
            <img src="{{ site.baseurl_root }}/img/counties/en_GB.png" title="English" alt="English">
          </a>
        </li>
        <li class="lang-item">
          <a href="{{ link2 }}" >
            <img src="{{ site.baseurl_root }}/img/counties/de_DE.png" title="Deutsch" alt="Deutsch">
          </a>
        </li>
      </ul>
  </div>
</header>
