<div id="impressum-footer">
  <footer class="footer">
    <div class="container-page-wrapper">
      <div class="footer-col_left">
        <a href="{{ site.baseurl }}/"><img class="footer-image" src="{{ site.baseurl }}/img/D-Eiti-Rohstofftransparenz.png" alt="RT-D-EITI logo"></a>

        <p class="para-md footer-para">Helfen Sie uns, rohstofftransparenz.de weiter zu verbessern!</p>

        <a class="button-big button-primary footer-button" href="mailto:Sekretariat@D-EITI.de">Teilen Sie uns Ihr Feedback</a>

      </div>

      <div class="footer-col_right">

        <div class="footer-bottom-left">
          <p class="footer-para_callout">Fragen?</p>
  	      <p class="footer-para">Kontaktieren Sie uns unter <a class="link-active-beta" href="mailto:sekretariat@d-eiti.de">sekretariat@d-eiti.de</a>.</p>

  	      <p class="footer-para">Diese Seite (<a href="#" class="link-active-beta">Version XXX</a>) basiert auf dem Prinzip des Offenen-Daten-Formats. Der Source-Code kann frei verwendet werden
            <a class="link-active-beta" href="https://github.com/pfeffermind/doi-extractives-data">GitHub</a>.</p>
          <p class="footer-para">
            Wir freuen uns über Ihre aktive Teilnahme!
          </p>
          <a class="footer-link_social" href="{{ site.baseurl }}/impressum/">
            <p class="footer-social">Impressum</p>
          </a>
          <a class="footer-link_social" href="{{ site.baseurl }}/datenschutz/">
            <p class="footer-social">Datenschutzerklärungen</p>
          </a>

        </div>

        <div class="footer-bottom-right">
          <p class="footer-para_callout">
            <a class="link-beta" href="{{ site.baseurl }}/downloads/"><icon class="icon-cloud icon-padded"></icon>Downloads</a>
          </p>
        </div>

        <div class="footer-bottom footer-bottom-right">
          <p class="footer-para_callout footer-social_callout">Folgen Sie uns</p>

          <a class="footer-link_social" href="https://twitter.com/EITIDeutschland">
            <span class="fa-stack">
              <icon class="fa fa-circle fa-stack-2x"></icon>
              <icon class="fa fa-twitter fa-stack-1x fa-inverse"></icon>
            </span>
            <p class="footer-social">Twitter</p>
          </a>
          <a class="footer-link_social" href="https://www.d-eiti.de/de/kontakt/#parent-1742">
            <span class="fa-stack">
              <icon class="fa fa-circle fa-stack-2x"></icon>
              <icon class="fa fa-envelope-o fa-stack-1x fa-inverse"></icon>
            </span>
            <p class="footer-social">Newsletter</p>
          </a>
        </div>

      </div>
    </div>
  </footer>
</div>
