{% if layout.nav_items %}
  {% assign selector_nav_items = layout.nav_items %}
{% else %}
  {% assign selector_nav_items = page.nav_items %}
{% endif %}

{% assign region_name = state_name | default: region_title %}
{% assign mobile_nav_title = include.mobile_nav_title | default: region_name %}

<div is="mobile-nav" class="mobile-nav sticky">
  <button is="aria-toggle"
    aria-controls="mobile-nav-content"
    aria-expanded="false"
    class="flex-row">
      <h3 class="mobile-nav-header flex-row-flex">{{ mobile_nav_title }}</h3>
      <span class="hide-expanded flex-row-icon">
        <icon class="icon icon-chevron-sm-down"></icon>
      </span>
      <span class="show-expanded flex-row-icon">
        <icon class="icon icon-chevron-sm-up"></icon>
      </span>
  </button>
  <div id="mobile-nav-content" class="mobile-nav-list-items">
    <ul>
      {% if selector_nav_items %}
        {% for item in selector_nav_items %}
            {% if item.name == selector_nav_items[0].name %}
              <a href="#{{item.name}}" class="mobile-nav-list-item">{{item.title}}</a>
            {% else %}
              <a href="#{{item.name}}" class="mobile-nav-list-item">{{item.title}}</a>
            {% endif %}

            {% if item.subnav_items %}
              <ul>
                {% for subnav_item in item.subnav_items %}
                  <a class="mobile-nav-sublist-item" href="#{{subnav_item.name}}">{{subnav_item.title}}</a>
                {% endfor %}
              </ul>
            {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
