---
title: Resources
layout: default
permalink: /resources/
---

<div class="map">

  <section id="resources" class="container">

    <div class="map-left">
      <form>
        <select id="resource-selector">
          <option value="all">All Resources</option>
          {% for group in site.data.resources.groups %}
          <option value="{{ group[0] }}">{{ group[1] }}</option>
          {% endfor %}
        </select>
      </form>

      <form>
        <!-- region "{{ region|jsonify }}" -->
        <label>
          {% assign location_selector_id = 'region-selector' %}
          {% assign location_selector_none_value = 'US' %}
          {% assign location_selector_none = 'All US' %}
          {% include location_selector.html %}
        </label>
      </form>


      <form class="subregions">
        <label>
          <select id="subregion-selector">
            <option value="">All Counties</option>
          </select>
        </label>
      </form>

      <p>Lorem ipsum dolor amet. Sed soitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt.</p>

      <div class="map-data_types resource">

        <div class="group_inline">

          <div class="group_inline-left">
            <h2 id="output-year" class="current-year resource-text">2013</h2>
          </div>

          <div class="group_inline-right">
            <form>
              <select id="datatype-selector" name="datatype">
                {% for datatype in site.data.datatypes %}
                <option value="{{ datatype[0] }}"{% if datatype[1].disabled %} disabled{% endif %}>{{ datatype[1].name }}</option>
                {% endfor %}
              </select>
            </form>
          </div>

        </div>

        <div class="map-data_types-stats">

          <ul class="resource-text">
            <li>
              <span class="headline" id="output-numerical-total"></span>
              <span class="subtitle">
                <span id="output-text"></span>
              </span>
            </li>
            <!-- <li>
              <span class="headline" id="export-contribution">XX%</span>
              <span class="subtitle">
                percent {{ resource.name }} contributed to U.S. exports in
                <span class="current-year resource-text">2013</span>
              </span>
            </li> -->
          </ul>
          
        </div>

      </div>

    </div>

    <div class="map-right">

      <div class="map-or_chart">
        <ul>
          <a href="#"><li class="map active">Map</li></a>
          <a href="#"><li class="charts">Charts</li></a>
        </ul>
      </div>

      <div class="map-map">

        <svg is="eiti-map" id="region-map" simplify="1e-2"
          projection="albersCustom" data-path="/data/geo/">
          <g class="offshore areas" data-url="offshore-simple.json"
            data-title="properties.name"
            data-mesh="true">
          </g>
          <g class="onshore states" data-url="us-topology.json"
            data-object="states"
            data-title="properties.name || properties.abbr">
          </g>
          <g class="onshore states" data-url="us-topology.json"
            data-object="states"
            data-mesh="true">
          </g>
          <g class="onshore counties" data-url="us-topology.json"
            data-mesh="true"
            data-object="counties"
            data-title="properties.county">
          </g>
        </svg>

      </div>

      <div class="map-slider">

        <eiti-slider id="year-slider" min="2004" max="2013" value="2013" snap class="map-slider">
        </eiti-slider>

      </div>

      <div class="map-download_share">
        <ul>
          <a href="#"><li><i class="fa fa-cloud-download"></i> Download</li></a>
          <a href="#"><li><i class="fa fa-share-alt-square"></i> Share</li></a>
          <a href="#map-notes"><li><i class="fa fa-info-circle"></i> About</li></a>
        </ul>
      </div>

    </div>

  </section>

</div>

<section class="container map-contextual">

  <h1><a href="#">Learn how coal becomes federal revenues <i class="fa fa-chevron-right"></i></a></h1>

</section>

<section id="map-notes" class="container map-notes">

  <h2>Notes</h2>
  <p>This is where all the details on the data used in the map will go.</p>

</section>

<script src="/js/vendor/lodash.min.js"></script>
<script src="/js/vendor/backbone.min.js"></script>
<script src="/js/pages/resources.js"></script>
