---
title: Revenue
layout: default
permalink: /resources/revenue/
---
<section id="revenue" class="container">
  <h1>Revenue</h1>

  <svg id="timeline"></svg>

  <div id="regions">
    <section id="US" class="region">
      <h1>United States</h1>

      <svg is="eiti-map" id="US-map" simplify="1e-2"
        projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/">
        <g class="offshore areas" data-url="offshore-simple.json"
          data-id="'US-' + id"
          data-href="'#' + id"
          data-title="properties.name"
          data-mesh="true">
        </g>
        <g class="onshore states" data-url="us-topology.json"
          data-object="states"
          data-id="'US-' + id"
          data-href="'#' + id"
          data-title="properties.name || properties.abbr"
          data-mesh="true">
        </g>
      </svg>

    </section>

    {% for state in site.data.states %}
    <section id="{{ state.id }}" class="region onshore">
      <h1>{{ state.name }}</h1>

      <svg is="eiti-map" id="{{ state.id }}-map" simplify="1e-2"
        projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ state.id }}">
        <g class="onshore states" data-url="us-topology.json"
          data-object="states"
          data-filter="id === '{{ state.id }}'">
        </g>
        <g class="onshore counties" data-url="us-topology.json"
          data-object="counties"
          data-filter="properties.state === '{{ state.id }}'"
          data-title="properties.county"
          data-mesh="true">
        </g>
      </svg>

    </section>
    {% endfor %}

    {% for area in site.data.offshore_areas %}
    <section id="{{ area.id }}" class="region offshore">
      <h1>{{ area.name }}</h1>

      <svg is="eiti-map" id="{{ area.id }}-map" simplify="1e-2"
        projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ area.id }}">
        <g class="offshore areas" data-url="offshore-simple.json"
          data-title="properties.name"
          data-filter="id === '{{ area.id }}'"
          data-mesh="true">
        </g>
      </svg>

    </section>
    {% endfor %}

  </div>

</section>

<script>
</script>
