---
title: Revenue
layout: default
permalink: /resources/revenue/
---
<section class="revenue container">
  <h1>Revenue</h1>

  <p><strong>Something about revenue here.</strong> Lorem ipsum.</p>

  <svg id="timeline"></svg>

  <div class="regions">

    <section id="US" class="region active">
      <h1>United States</h1>

      <svg is="eiti-map" id="US-map" simplify="1e-2"
        projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/">
        <g class="offshore areas" data-url="offshore-simple.json"
          data-id="'US-' + id"
          data-href="'#' + id"
          data-title="properties.name"
          data-mesh="true">
        </g>
        <g class="onshore states" data-url="us-topology.json"
          data-object="states"
          data-id="'US-' + id"
          data-href="'#' + id"
          data-title="properties.name || properties.abbr"
          data-mesh="true">
        </g>
      </svg>

      <p>Some text about the entire US?</p>

    </section>

    {% for region in site.data.states %}
    <section id="{{ region.id }}" class="region onshore">
      <h1>{{ region.name }}</h1>

      <svg is="eiti-map" id="{{ region.id }}-map" simplify="1e-2"
        projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ region.id }}">
        <g class="onshore states" data-url="us-topology.json"
          data-object="states"
          data-filter="id === '{{ region.id }}'">
        </g>
        <g class="onshore counties" data-url="us-topology.json"
          data-object="counties"
          data-filter="properties.state === '{{ region.id }}'"
          data-title="properties.county"
          data-mesh="true">
        </g>
      </svg>

    </section>
    {% endfor %}

    {% for region in site.data.offshore_areas %}
    <section id="{{ region.id }}" class="region offshore">
      <h1>{{ region.name }}</h1>

      <svg is="eiti-map" id="{{ region.id }}-map" simplify="1e-2"
        projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ region.id }}">
        <g class="offshore areas" data-url="offshore-simple.json"
          data-title="properties.name"
          data-filter="id === '{{ region.id }}'"
          data-mesh="true">
        </g>
      </svg>

    </section>
    {% endfor %}

  </div>

</section>
