---
layout: default
title: Search results
permalink: /search-results/
---
<div class="container-page-wrapper container-margin">

  <div class="container-left-8">

    <h1>{{page.title}}</h1>

    <p class="search-intro">This is a curated search.<br/> Results are drawn from related websites across the U.S. government so  you can find extractive industries resources in one place.</p>

    <div class="search-results-container">

      <div class="search-no-results" style="display:none;">
        <h2 class="h3">Sorry, no results were found for your search.</h2>
        <h3 class="h4">Try a new search:</h3>
      </div>

      <div class="search-header">
        <p>Search results for <strong class='search-string'></strong></p>
        <p class="search-results-count"></p>
      </div>

      <div class="search-container">

        {% include layout/search-box.html %}
      </div>

      <div class="search-results-container"></div>

      <div class="search-no-results" style="display:none;">
        <p>Or, try one of these popular searches
          / <a href="../search-results/?query=energy" title="Search for energy">energy</a> /
          <a href="../search-results/?query=oil" title="Search for oil">oil</a> /
          <a href="../search-results/?query=conservation" title="Search for conservation">conservation</a> /
        </p>
      </div>
    </div>
  </div>
</div>


<script>
  window.store = {
    {% for document in site.data.search %}
      "{{ document.url | slugify }}": {
        "title": "{{ document.title | xml_escape }}",
        "description": "{{ document.description | xml_escape }}",
        "tag": [
        {% for tag in document.tag %}
          "{{ tag | xml_escape }}"
          {% unless forloop.last %},{% endunless %}
        {% endfor %}
        ],
        "url": "{{ document.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<script src="{{ site.baseurl }}/js/vendor/lunr.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/lib/search.min.js" charset="utf-8"></script>
<!-- <script src="{{ site.baseurl }}/js/components/search-test.js"></script> -->
