// Slabs
//
// Slabs are full-width blocks of color. Slabs should contain containers to center content. 
// Slabs can can have background color styles applied. By default is a neutral background.
// 
// .slab-alpha - full width slab of white
// .slab-beta - full width slab of blue
// .slab-charlie - full width slab of gray
//
// Markup: 
// <section class="slab {{modifier_class}}">
//	<h1>{{modifier_class}}</h1>
// </section>
//
// Styleguide layout.slabs

.slab-alpha {
	background-color: $white;
}

.slab-beta {
	background-color: $light-blue;
}

.slab-charlie {
	background-color: $light-gray;
}

