.revenues_page-footer {
  padding-bottom: $base-padding-large;
  padding-top: $base-padding-large;

  h2 {
    @include font-size(1.2);
    color: $light-black;
    font-weight: normal;
    padding-top: 0;
  }

  li {
    @include font-size(1.2);
    display: inline-block;
    font-weight: 200;
    margin-right: $base-padding;

    img {
      height: 18px;
      padding-right: 8px;
    }
  }
  i {
    color: $shock-green;
  }

}

