
.revenues-subpage-intro {
  padding-top: $base-padding;

  h1 {
    @include heading(h1);
    padding-bottom: ($base-padding / 2);
  }

  p {
    padding-bottom: $base-padding;
  }

  @include respond-to(medium-up) {
    @include span-columns(9);
  }
}

.revenues-subpage-office-container {
  position: relative;

  a {
    color: $dark-gray;
  }

  @include respond-to(medium-up) {
    @include span-columns(3);
    @include omega();
  }
}

.revenues-subpage-office {
  background-color: $white;
  border: 2px solid $mid-gray;
  border-radius: $base-border-radius;
  margin-top: $base-padding;
  padding: $base-padding-lite 10px;

  img {
    float: right;
    width: 50px;
    margin: 5px;
  }

  p:nth-of-type(2) {
    margin-top: 10px;
  }

  span {
    font-weight: normal;
  }
}

.enbiggen {
  @include font-size(1.8);
  font-weight: $weight-light;
  vertical-align: -6px;
}

.forms-numbers {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 8px;
  margin-bottom: 8px;

  span {
    @include heading(h1);
    line-height: 1.2;
  }
}

.revenues-section-subpage-steps-wrapper {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNmNGY0ZjQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNCOUUzRjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjQpIiAvPgo8L3N2Zz4=);
}
.forms-light-blue{
  color: $blue;
}

.revenues-section-subpage-steps {
  background-position: 0 100px;
  background-size: 100%;
  margin-top: $base-padding-large;

  &.onshore-oil{
    background: url(/img/revenues/rev-onshore-oil.png) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    margin-top: $base-padding-large;
  }

  &.offshore-oil{
    background: url(/img/revenues/offshore-oil.png) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    margin-top: $base-padding-large;
  }

  &.renew-on {
    background: url(/img/revenues/renew-onshore.svg) no-repeat;
    background-position: 0 20px;
    background-size: 100%;
    margin-top: 0;
  }

  &.renew-off {
    background: url(/img/revenues/renew-offshore.svg) no-repeat;
    background-position: 0 -150px;
    background-size: 100%;
    margin-top: 0;
  }

  &.rev-coal{
    background: url(/img/revenues/rev-coal.png) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    padding-bottom: 100px; //TODO remove. This is set to look good for the screen size for our presentation.
  }

  &.rev-hardrock{
    background: url(/img/revenues/rev-hardrock.svg) no-repeat;
    background-position: 0 100px;
    background-size: 100%;
    padding-bottom: 230px; //TODO remove. This is set to look good for the screen size for our presentation.
  }

  .revenues-section-subpage-dyk {
    position: relative;
    
    > div {
      padding: 12px;
      &:first-of-type {
        color: $white;
        background-color: #157bac;
        border-radius: $base-border-radius $base-border-radius 0 0;
      }
      &:last-of-type {
        background-color: $white;
        border-radius: 0 0 $base-border-radius $base-border-radius;
      }
    }
    .link-more-after {
      position: absolute;
      right: 0;
    }
    &.revenues-section-subpage-dyk-coal{
      > div {
        &:first-of-type {
          background-color: #d54740;
        }
      }
      .link-more-after {
        color:white;
      }
    }

    @include respond-to(medium-up) {
      margin-top: 50%;
      @include span-columns(2);
    }

    &.revenues-section-subpage-dyk-onshore-oil{

      > a {
        color: white;
      }
      > div {
        &:first-of-type {
          background-color: #7f6e61;
        }
      }
    }
  }

  .revenues-steps-group {
    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    li {
      background-color: $white;
      margin-bottom: 4px;
      padding: $base-padding;

      &:first-of-type {
        border-radius: $base-border-radius $base-border-radius 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 $base-border-radius $base-border-radius;
      }
    }

    p, ul{
      padding-right: $base-padding;
      padding-bottom: $base-padding;
      padding-left: 60px;
    }

    ul{
      list-style-type: disc;
      padding-left: 80px;
      li{
        padding: 0;
      }
    }

    @include respond-to(medium-up) {
      @include span-columns(7);
      @include shift(3);
    }
  }
  .revenues_subpage-steps_heading {
  	@extend .revenues_steps-heading;
  }
  .revenues-steps-number {
  	@extend .revenues_steps-number;
    border: 2px solid $mid-gray;
    height: 47px;
    margin-right: 8px;
    padding-left: 13px;
    width: 47px;
  }
}
