@import '../neat/neat-helpers';

$max-width: em(960);

// Neat Breakpoints
$tiny: em(480);
$small: em(600);
$medium: em(768);
$large: em(990);
$largest: em(1088);

$tiny-down: new-breakpoint(max-width $tiny);
$tiny-up: new-breakpoint(min-width $tiny);
$small-up: new-breakpoint(min-width $small);
$medium-up: new-breakpoint(min-width $medium);
$large-up: new-breakpoint(min-width $large);
$largest-up: new-breakpoint(min-width $largest);

@mixin respond-to($media) {
  @if $media == tiny-down {
    @media only screen and (max-width: $tiny) { @content; }
  }
  @else if $media == tiny-up {
    @media only screen and (min-width: $tiny) { @content; }
  }
  @else if $media == small-up {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $media == medium-up {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == large-up {
    @media only screen and (min-width: $large) { @content; }
  }
}