@import '../neat/neat-helpers';

$max-width: em(960); //1088

// Neat Breakpoints
$tiny: em(480);
$small: em(600);
$medium: em(768);
$large: em(990);
$largest: em(1088);

$tiny-down: new-breakpoint(max-width $tiny);
$tiny-up: new-breakpoint(min-width $tiny);
$small-up: new-breakpoint(min-width $small);
$medium-up: new-breakpoint(min-width $medium);
$large-up: new-breakpoint(min-width $large);
$largest-up: new-breakpoint(min-width $largest);