// Fonts
@include font-face(Lato, '../fonts/Lato/lato-thin-webfont', 100, normal);
@include font-face(Lato, '../fonts/Lato/lato-thinitalic-webfont', 100, italic);
@include font-face(Lato, '../fonts/Lato/lato-light-webfont', 200, normal);
@include font-face(Lato, '../fonts/Lato/lato-lightitalic-webfont', 200, italic);
@include font-face(Lato, '../fonts/Lato/lato-regular-webfont', 300, normal);
@include font-face(Lato, '../fonts/Lato/lato-italic-webfont', 300, italic);
@include font-face(Lato, '../fonts/Lato/lato-medium-webfont', 400, normal);
@include font-face(Lato, '../fonts/Lato/lato-mediumitalic-webfont', 400, italic);
@include font-face(Lato, '../fonts/Lato/lato-semibold-webfont', 500, normal);
@include font-face(Lato, '../fonts/Lato/lato-semibolditalic-webfont', 500, italic);
@include font-face(Lato, '../fonts/Lato/lato-bold-webfont', 600, normal);
@include font-face(Lato, '../fonts/Lato/lato-bolditalic-webfont', 600, italic);
@include font-face(Lato, '../fonts/Lato/lato-black-webfont', 700, normal);

@include font-face(Raleway, '../fonts/Raleway/raleway-regular-webfont', normal);
@include font-face(Raleway, '../fonts/Raleway/raleway-bold-webfont', 500);
@include font-face(Raleway, '../fonts/Raleway/raleway-heavy-webfont', 800);
//###remove extra font weights once you decide which ones you need

// Typography
$sans-serif: Lato, Arial, sans-serif;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$secondary-font-family: Raleway, Arial, sans-serif;

// Sizes
$base-font-size: 1rem;
$pixel-font-size: 16px; // Fallback for IE 8 and below
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: rem(3);

// Colors
$blue: #7ea0b7;
$dark-gray: #4d4b4b;
$dark-medium-gray: #d8d8d8;
$medium-gray: #bcbfc4;
$light-gray: #eaedf1;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$mid-gray: #5a5a5a;
$deep-gray: #313131;
$almost-black: #272727;
$useiti-red: #d54740;
$useiti-green: #9fa731;
$useiti-blue: #3397c2;
$useiti-purple: #865daa;

$deep-purple: #452941;
$purple0: #653c5f;
$purple1: #7f5078;
$purple2: #9b6a94;
$purple3: #b282ab;
$purple4: #b694b1;

// Background Color
$base-background-color: $deep-gray;

// Font Colors
$base-font-color: black;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-font-color;
$hover-link-color: $useiti-red;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$section-border: 6px solid rgba(0, 0, 0, 0.3);

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
