<div class="{{ className }}">{{ text }}</div>

<label>Choose one:</label>
<select>
   <option>Option 1</option>
   <option>Option 2</option>
 </select>


   <section id="federal-production" is="year-switcher-section" class="federal production">

     <section class="county-map-table" is="year-switcher-section">

     <div class="pre-sticky"></div><h3 class="sticky sticky-header-wrapper flex-row stuck">
       <span class="flex-row-flex">Production on federal land nationwide</span>

     <select class="chart-selector flex-row-icon">

           <option value="2016" selected="">2016</option>

           <option value="2015">2015</option>

           <option value="2014">2014</option>

           <option value="2013">2013</option>

           <option value="2012">2012</option>

           <option value="2011">2011</option>

           <option value="2010">2010</option>

           <option value="2009">2009</option>

           <option value="2008">2008</option>

           <option value="2007">2007</option>

     </select>
