<!-- <div class="{{ className }}">{{ text }}</div> -->

<div class="preview">
  <div class="container-margin container-left-4">
    <div class="filter-search_form">
      <label for="company-name-filter">Filter by company name:</label>
      <input class="filter-search" type="search" name="search" id="company-name-filter">
    </div>
  </div>
  <!-- <div class="container-margin">
    <p class="label-secondary">
      (This doesn't appear to be in use, likely nix)
    <label>Input:</label>
    <input/>
  </div> -->
</div>
