<div class="container-margin container-left-4">
  <div class="explore-subpage">
    <div class="filter-search_form">
      <label for="company-name-filter">Filter by company name:</label>
      <input class="filter-search" type="search" name="search" id="company-name-filter">
    </div>
  </div>
</div>
