// Typography
//  
// Markup:
// <h1>Introduction (h1)</h1>
// <h2>Heading 2 (h2)</h2>
// <h3>Heading 3 (h3)</h3>
// <h4>Heading 4 (h4)</h4>
// <h5>Heading 5 (h5)</h5>
// <h6>Heading 6 (h6)</h6>
// <p>Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.</p>
//  
// Styleguide elements.typography

html {
  font-size: 62.5%;
}

body {
  // -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  // font-size: 1.4rem;
  // line-height: 1.5;
}

h1 {
  @include heading(h1);
}

h2 {
  @include heading(h2);
}

h3 {
  @include heading(h3);
}

h4 {
  @include heading(h4);
}

h5 {
  @include heading(h5);
}

h6 {
  @include heading(h6);
}

p {
  margin: 0 0 1rem 0;
  color: $base-font-color;
}

