//Grayscale

.bg-white {
  background-color: $white;
}

.bg-gray-pale {
  background-color: $gray-pale;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray-darker {
  background-color: $gray-darker;
}

.bg-gray-darkest {
  background-color: $gray-darkest;
}

.bg-black-light {
  background-color: $black-light;
}

.bg-black {
  background-color: $black;
}


// Blues

.bg-blue-lighter {
  background-color: $blue-lighter;
}

.bg-blue-light {
  background-color: $blue-light;
}

.bg-blue-cthru {
  background-color: $blue-cthru;
}

.bg-blue-mid {
  background-color: $blue-mid;
}

.bg-blue-mid-dark {
  background-color: $blue-mid-dark;
}

.bg-blue {
  background-color: $blue;
}

.bg-blue-dark {
  background-color: $blue-dark;
}

.bg-blue-darker {
  background-color: $blue-darker;
}

.bg-blue-deep {
  background-color: $blue-deep;
}


// Greens

.bg-green-light {
  background-color: $green-light;
}

.bg-green-mid {
  background-color: $green-mid;
}

.bg-green-land {
  background-color: $green-land;
}

.bg-green-state-hex {
  background-color: $green-state-hex;
}

.bg-green {
  background-color: $green;
}

.bg-green-dark {
  background-color: $green-dark;
}
