// All element specific rules.
//
// This file should have basic site settings,
// such as background color.
//
// Global reset is provided separately by _reset.scss

* {
  box-sizing: border-box;
}

body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  a {
    text-decoration: none;
  }
}

strong {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

a img {
  border: 0;
  outline: 0;
}

[aria-hidden="true"] {
  display: none;
}

table{
  border: 1px solid $mid-gray;
  border-spacing: 2px;
  @include font-size(0.9);
  color: $dark-gray;
  font-weight: $weight-light;
  margin-bottom: $base-padding;
}

thead{
  border-bottom: 2px solid $mid-gray;
  font-weight: $weight-book;
  text-align: center;
  background-color: $mid-gray;
}

td{
  border: 1px solid $mid-gray;
  padding: 5px;
}

.hidden {
  display: none;
}
