// Links
// 
// Use them like this
//
// Markup:
// <a href="...">Link</a>
// 
// Styleguide elements.links

%link {
<<<<<<< 8ae4a30c73f6e975365999ede1c57bd3967e15a9
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: color 0.1s linear;
}


a,
.link-alpha {
  border: none;
  color: $base-font-color;
=======
>>>>>>> half way through offshore oil
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: color 0.1s linear;
}

a,
.link-alpha {
  @extend %link;
  color: $base-font-color;
  &:active,
  &:hover {
    text-decoration: none;
    border-bottom: $thin-border-size dotted $base-link-color;
<<<<<<< 8ae4a30c73f6e975365999ede1c57bd3967e15a9
    img, i, span{
=======
    img{
>>>>>>> half way through offshore oil
      border: none;
    }
  }

  &.button, 
  &.button-primary,
  &.button-secondary {
    border: none;
  }
  img, i, span {
    border: none;
  }

}
.link-beta {
  @extend %link;
  color: $white;
  &:active,
  &:hover {
    text-decoration: none;
    border-bottom: $thin-border-size dotted $white;
    img, i, span{
      border: none;
    }
  }
}

.link-active,
.link-active-alpha {
  @extend .link-alpha;
  border-bottom: $thin-border-size dotted $base-link-color;
}

.link-active-beta {
  @extend .link-beta;
  border-bottom: $thin-border-size dotted $white;
}

a.link-no_under {
  @extend %link;
  border: none;
  &:active,
  &:hover {
    border: none;
  }
}
