// scss-lint:disable QualifyingElement, SelectorDepth
svg.map {
  background: none;
  box-sizing: border-box;
  display: block;
  height: auto;
  padding: 1em;
  width: 100%;

  use {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
  }

  .mesh use {
    fill: none;
    pointer-events: none;
    stroke: $neutral-gray;
    stroke-width: 0.5;
  }

  .states.features use,
  .regions.features use {
    fill: $light-gray;
  }

  .feature.offshore-area use {
    fill: $greenest-land;

    &:hover,
    &:active,
    &:focus {
      fill: darken($greenest-land, 5%);
    }
  }

  .feature:not([fill]) use {
    fill-opacity: 0;

    &:hover,
    &:active,
    &:focus {
      fill-opacity: 0.3;
    }
  }

  .feature[fill] use {
    fill-opacity: 1;
  }

  .counties.features use {
    fill: $white;
  }

  .states.mesh use,
  .regions.mesh use {
    stroke: $another-gray;
  }

  .counties.mesh use {
    stroke-width: 1;
  }

  .feature.overlay use {
    fill: none;
    pointer-events: none;
    stroke: $dark-gray;
    stroke-width: 1;
  }

  .debug {
    fill: none;
    stroke: none;
  }

  &.thumbnail {
    display: inline-block;
    height: 1em;
    margin-right: 0.5em;
    padding: 1px;
    vertical-align: baseline;
    width: 1em;
  }

  .ownership {
    opacity: 0.05;
    pointer-events: none;

    &.federal {
      opacity: $opacity-state;
    }
  }

  // To make land ownership more green!
  &.ownership {
    .ownership {
      opacity: $opacity-state;
    }

    .federal.ownership {
      opacity: $opacity-federal;
    }

    .counties.features use {
      fill: $green-land;
    }
  }

  &.states.ownership {
    .states.features use {
      fill: $green-land;
    }
  }
}

svg.ownership {
  &.no-outlines {
    .states.mesh use {
      stroke: $pale-blue;
      stroke-width: 1.5px;
    }

    &.state-page {
      padding-top: 0;

      .states.features use {
        fill: transparent;
      }

      .states.mesh use {
        stroke: transparent;
      }
    }
  }
}

svg.case_studies {
  .feature.offshore-area use,
  .feature.state use {
    fill: $gray;

    &:active,
    &:hover,
    &:focus {
      fill: $gray;
    }
  }

  &.no-outlines {
    .states.mesh use {
      stroke: $pale-blue;
      stroke-width: 1.5px;
    }

    .states.features use {
      fill: $gray;
    }
  }
}

svg.icon {
  .feature.offshore-area use {
    fill: inherit;
  }
}
