// scss-lint:disable QualifyingElement
svg.map {
  background: none;
  box-sizing: border-box;
  display: block;
  height: auto;
  padding: 1em;
  width: 100%;

  use {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
  }

  .mesh {
    fill: none;
    pointer-events: none;
    stroke: $neutral-gray;
    stroke-width: 0.5;
  }

  .states.features {
    fill: $light-gray;
  }

  .feature.offshore-area {
    fill: $green-land;
  }

  .feature:not([fill]) {
    fill-opacity: 0;
  }

  .feature[fill] {
    fill-opacity: 1;
  }

  .counties.features {
    fill: $white;
  }

  .states.mesh {
    stroke: $another-gray;
  }

  .counties.mesh {
    stroke-width: 1;
  }

  .feature.overlay {
    fill: none;
    pointer-events: none;
    stroke: $dark-gray;
    stroke-width: 1;
  }

  .debug {
    fill: none;
    stroke: none;
  }

  &.thumbnail {
    display: inline-block;
    height: 1em;
    margin-right: 0.5em;
    padding: 1px;
    vertical-align: baseline;
    width: 1em;
  }

  .ownership {
    opacity: 0.05;
    pointer-events: none;

    &.federal {
      opacity: $opacity-state;
    }
  }

  // To make land ownership more green!
  &.ownership {
    .ownership {
      opacity: $opacity-state;
    }

    .federal.ownership {
      opacity: $opacity-federal;
    }

    .counties.features {
      fill: $green-land;
    }
  }

  &.states.ownership {
    .states.features {
      fill: $green-land;
    }
  }
}

svg.ownership {
  &.no-outlines {
    .states.mesh {
      stroke: $pale-blue;
      stroke-width: 1.5px;
    }

    &.state-page {

      .states.features {
        fill: transparent;
      }

      .states.mesh {
        stroke: transparent
      }
    }
  }

}
