<section class="container-outer">

  <div accordion accordion-item accordion-open="false" class="revenues_subpage-dyk">

    <h2 class="revenues_subpage-dyk_heading">Did you know?</h2>
    <p class="revenues_subpage-dyk_text">In 2013, the U.S. was the world’s second largest coal producer after China. <span class="accordion-more">The U.S. has significant available coal reserves. There are 19.7 billion short tons of recoverable reserves in active mines, and another 479.9 billion short tons that could be mined with current technologies.</span></p>
    <a class="revenues_subpage_dyk-link accordion-button_more" accordion-button>more</a>
    <a class="revenues_subpage_dyk-link accordion-button_less" accordion-button>less</a>
  </div>

  <div class="container">

    <ul accordion accordion-desktop="false" class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">

            <p>BLM evaluates federal lands for potential coal extraction through the multiple-use planning process, which includes:</p>
            <ul class="list-bullet">
              <li>Identifying coal to potentially extract on federal land</li>
              <li>Determining whether the land is suitable for coal extraction</li>
              <li>Considering multiple-use conflicts stemming from other desirable uses for the land</li>
              <li>Consulting with the surface owner when the government owns the coal below the ground and another party owns the land on the surface</li>
            </ul>
            <p>If developing coal resources could conflict with protections or managing other resources and land uses, BLM may add stipulations or restrictions to a lease.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="false">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>The Federal Coal Leasing Amendments Act of 1976 requires the federal government to lease coal competitively, meaning that any interested party can bid on a coal lease. BLM primarily uses the lease by application process. During this process, the public nominates a coal tract for BLM to sell. BLM reviews each application submitted by the public to make sure it complies with land-use plans. Next, a Regional Coal Team consisting of members from federal, state, local, and tribal governments reviews the application, consults the public, and decides whether to continue, change, or reject the application. At this point, BLM prepares an <span class="term term-p" data-term="Environmental Impact Statement (EIS)" title="Click to define" tabindex="0">Environmental Impact Statement<icon class="icon-book"></icon></span> or Environmental Assessment for public comment in accordance with the National Environmental Policy Act.</p>

          <p>Next, BLM prepares to sell the lease. In advance of the sale, BLM estimates the <span class="term term-p" data-term="fair market value" title="Click to define" tabindex="0">fair market value<icon class="icon-book"></icon></span> of the coal lease. BLM holds a lease sale where each bidder submits a sealed bid, and BLM opens the bids publicly. The highest bid wins, so long as it is equal to or greater than the coal tract’s presale estimated fair market value, and the bidder meets all requirements (such as paying fees). Once BLM accepts a bid, the bidder must pay one fifth of the <span class="term term-p" data-term="bonus" title="Click to define" tabindex="0">bonus<icon class="icon-book"></icon></span> and the first year’s rent.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="false">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>The lease holder must obtain a Coal Exploration License from the BLM to explore the lands for coal deposits. Exploration is the process of discovering the specific location, quantity, and quality of natural resources on leased land. Exploration typically takes place after leasing, but in some instances, exploration by multiple parties occurs before leasing to increase competition during the lease sale.</p>
      <p>To apply for a Coal Exploration License, companies must submit an Exploration Plan detailing the timing, location, method, and potential environmental impact of all exploration activities. The Coal Exploration License expires after two years. During the explore phase, companies pay <span class="term term-p" data-term="rent" title="Click to define" tabindex="0">rent<icon class="icon-book"></icon></span> and bonus installments to ONRR.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="false">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>After BLM awards the lease, the lease holder must obtain the appropriate permits and licenses from BLM, the Office of Surface Mining Reclamation and Enforcement (OSMRE), and any affected state and local governments before they can begin developing the site and producing coal. As soon as coal production achieves <span class="term term-p" data-term="paying quantities" title="Click to define" tabindex="0">paying quantities<icon class="icon-book"></icon></span>, the lease holder stops paying rent and starts paying royalties to ONRR. The lease holder also pays <span class="term term-p" data-term="Abandoned Mine Land Fee" title="Click to define" tabindex="0">Abandoned Mine Land Fees<icon class="icon-book"></icon></span> to OSMRE for coal produced.</p>
        </div>

      </li>

      <li class="revenues_subpage-steps_group_item revenues_subpage-steps_long" accordion-item accordion-open="false">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission <span class="break"></span>and reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>At the close of a coal mining operation, the lease holder must decommission the mine and restore the land. State governments, with oversight from OSMRE, regulate and oversee this process. Even before gaining a lease, the lease holder must submit a bond to OSMRE or a state regulatory agency as insurance for complying with the lease and covering the cost of <span class="term term-p" data-term="reclamation" title="Click to define" tabindex="0">reclaiming<icon class="icon-book"></icon></span> the land.</p>

          <p>Within coal mining, federal and local governments partner to regulate reclamation. OSMRE is responsible for establishing a nationwide program to protect society and the environment from the adverse effects of surface coal mining operations. To do so, OSMRE works with states and tribes to ensure that citizens and the environment are protected during coal mining, and that the land is restored to beneficial use when mining is finished. OSMRE and its partners are also responsible for reclaiming and restoring lands and waters degraded by mining operations before 1977.</p>

        </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="false">
        <h3 class="revenues_subpage-steps_heading_more">Learn more</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <ul class="list-bullet">
            <li><a href="http://www.blm.gov/wo/st/en/prog/energy/coal_and_non-energy.print.html ">Coal Operations</a></li>
            <li><a href="http://www.blm.gov/co/st/en/BLM_Programs/minerals/Coal.html#Coal_Exploration_Licenses">BLM Colorado Coal</a></li>
            <li><a href="http://www.blm.gov/es/st/en/prog/minerals/coal.html#a">BLM Eastern States Coal Lease Sales</a></li>
            <li><a href="http://www.blm.gov/style/medialib/blm/co/field_offices/uncompahgre_field/documents/lands___minerals.Par.35163.File.dat/2012-0301%20BLM%20Coal%20Overview%20North%20Fork.pdf">BLM Coal Resources: Uncompahgre Field Office (PDF)</a></li>
            <li><a href="http://www.blm.gov/wy/st/en/programs/energy/Coal_Resources/coalfaqs/competitive_leasing.print.html">Competitive Leasing</a></li>
            <li><a href="http://www.blm.gov/wy/st/en/programs/energy/Coal_Resources/PRB_Coal/history.html">Powder River Basin Coal: History of the Coal Program</a></li>
          </ul>
        </div>

      </li>

    </ul>

  </div>

</section>
