<section class="container-outer">
  <h1>Revenue collected by BLM and ONRR</h2>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
      <p>The amount the highest bidder paid for a natural resource lease.</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p class="revenues_page-forms_numbers"><span>$3.00</span> per acre or a fraction thereof</p>
    </div>

    <div>
      <h2>Royalty</h2>
      <p class="revenues_page-forms_numbers_first">
        <span>12.5%</span>
        <br>surface
        <br><span>8%</span>
        <br>subsurface</p>
      <p>The rate depends on whether the coal was extracted by surface or subsurface mining.</p>
    </div>

    <div>
      <h2>Fees</h2>
      <p class="revenues_page-forms_numbers_first"><span>$0.28</span> per ton
      <br>surface mining
      <br><span>$0.12</span> per ton
      <br>subsurface mining</p>
      <p>This is the Abandoned Mine Land Fee.</p>
    </div>

  </div>

</section>
