<section class="container-page-wrapper">

  <ul>
    <h3>Choose a resource to explore:</h3>
	  <li><a href="{{ site.baseurl }}/how-it-works/coal/">
      <img src="{{site.baseurl}}/public/img/icons/coal-f.svg" class="u-padding-right icon-explore"/>Coal</a></li>
	  <li><a href="{{ site.baseurl }}/how-it-works/offshore-oil-gas/">
      <img src="{{site.baseurl}}/public/img/icons/oil-f.svg" class="u-padding-right icon-explore"/>Oil &amp; Gas</a></li>
	  <li><a href="{{ site.baseurl }}/how-it-works/minerals/">
      <img src="{{site.baseurl}}/public/img/icons/mineral-f.svg" class="u-padding-right icon-explore"/>Nonenergy Minerals</a></li>
	  <li><a href="{{ site.baseurl }}/how-it-works/offshore-renewables/">
      <img src="{{site.baseurl}}/public/img/icons/wind-f.svg" class="u-padding-right icon-explore"/>Renewables</a></li>
    <li><a href="{{ site.baseurl }}/how-it-works/"><img src="{{site.baseurl}}/public/img/icons/chevron-back-blue.svg" class="u-padding-right icon-explore-small"/>Back to How it works</a></li>
	</ul>

</section>
