<section class="container-page-wrapper">

  <ul>
    <h3>Choose a resource to explore:</h3>
	  <li><a href="{{ site.baseurl }}/how-it-works/coal/">{% include svg/icon-coal.svg %}Coal</a></li>
	  <li><a href="{{ site.baseurl }}/how-it-works/offshore-oil-gas/">{% include svg/icon-oil.svg %}Oil &amp; Gas</a></li>
	  <li><a href="{{ site.baseurl }}/how-it-works/minerals/">{% include svg/icon-hardrock.svg %}Nonenergy Minerals</a></li>
	  <li><a href="{{ site.baseurl }}/how-it-works/offshore-renewables/">{% include svg/icon-renewables.svg %}Renewables</a></li>
    <li><a href="{{ site.baseurl }}/how-it-works/">{% include svg/chevron-lt.svg %} Back to How it works</a></li>
	</ul>

</section>
