<div class="container revenues_subpage-intro_layout">
  <div>
    <a class="revenues_subpage-breadcrumb" href="{{ site.baseurl }}/how-it-works/">How it works</a>
    /
  </div>
  <h1>Nonenergy Minerals</h1>

  <p class="revenues_subpage-intro_text">The General Mining Act of 1872 regulates gold, silver, cinnabar, copper, and “other valuable deposits.” Despite some amendments, this legislation still governs extraction of many nonenergy minerals, in particular hardrock locatable minerals on federal public domain lands.</p>
  <p class="revenues_subpage-intro_text">The Minerals Leasing Act of 1920 limited the scope of the 1872 Act, providing different regulations for energy-producing minerals such as coal, oil, and natural gas. The Acquired Lands Mineral Leasing Act of 1947 and the Federal Land Policy and Management Act of 1976 govern mining on acquired lands.</p>

  <a class="revenues_subpage-download" href="#"><i class="icon-cloud"></i> Download PDF</a>
</div>

<div class="revenues_subpage-office_container revenues_subpage-office_container_layout">
  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>Managed and regulated by the <span><a href="http://www.blm.gov/">Bureau of Land Management</a> (BLM)</span>.</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BLM-mark.png" alt="Bureau of Land Management">
    </div>
  </div>

  <div class="revenues_subpage-office container">
    <div class="revenues-subpage-office">
      <div class="revenues_subpage-office_text">
        <p>The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages some monetary transactions.</p>
      </div>
      <div class="revenues_subpage-office_logos">
        <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/ONRR-mark.svg" alt="Office of Natural Resources Revenue">
      </div>
    </div>
  </div>
</div>
