<section class="container-outer">
  <h1>Revenue collected by BLM and ONRR</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Fees</h2>
      <p class="revenues_page-forms_numbers_first">Claim-staking Fees</p>
      <p class="revenues_page-forms_numbers"><span>$20</span>
        <br>Processing Fee
        <br><span>$37</span>
        <br>Location Fee
        <br><span>$155</span> Initial
        <br>Maintenance Fee
      </p>
      <p class="revenues_page-forms_numbers">On acquired lands, one-time <span>$6,500</span> Prospecting Permit Fee</p>
      <p class="revenues_page-forms_numbers_first">Annual Fees</p>
      <p class="revenues_page-forms_numbers"><span>$155</span>
        <br>Annual Maintenance Fee
      </p>
    </div>

    <div>
      <h2>Bonus</h2>
      <p>No bonuses are paid for locatable hardrock mining</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p>Miners only pay annual fees and rent on acquired lands.</p>
      <p class="revenues_page-forms_numbers_last"><span>$0.50</span> per acre
        <br>Prospecting Fee
        <br><span>$1.00</span> per acre
        <br>Rent</p>
    </div>

    <div>
      <h2>Royalty</h2>
      <p>No royalties are paid for locatable hardrock mining. Mining hardrock minerals on acquired land is exempt from minimum production and royalty requirements under <a href="http://www.gpo.gov/fdsys/pkg/CFR-2011-title43-vol2/xml/CFR-2011-title43-vol2-part3500-subpart3504.xml">Title 43 in the Code of Federal Regulations.</a></p>
    </div>

  </div>

</section>
