<section class="container-outer">
  <h1>Revenue collected by ONRR</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
      <p>The amount the highest bidder paid for a natural resource lease.</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p class="revenues_page-forms_numbers"><span>$3.00</span> per acre</p>
    </div>

    <div>
      <h2>Fees</h2>
      <p class="revenues_page-forms_numbers_first"><span>$0.25</span> per acre
        <br>acquisition fee
        <br><span>2%</span>
        <br>operating fee
      </p>
      <p>Operating fees sometimes vary if they are otherwise specified or waived</p>
    </div>

    <div></div>

  </div>

</section>
