
<section class="container-outer">

  <div accordion accordion-item accordion-open="false" class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>

    <div class="revenues_subpage-dyk_text">
      <p>The Gulf of Mexico Energy Security Act of 2006 (GOMESA) changed the leasing program for extracting oil and gas on the Outer Continental Shelf.</p>
    <p class="accordion-more">GOMESA:</p>
      <ul class="list-bullet accordion-more">
        <li>Opens 8.6 million acres in the Gulf of Mexico for oil and gas leasing</li>
        <li>Stipulates that 37.5% of all qualified Outer Continental Shelf revenue will be shared among the states of Alabama, Louisiana, Mississippi, and Texas, and that 12.5% of revenue will be allocated to the Land and Water Conservation Fund (revenue from a more substantial set of leases will be shared beginning in 2017)</li>
        <li>Bans oil and gas leasing within 125 miles of the Florida coastline in the Eastern Planning Area, and within a portion of the Central Planning Area, until 2022</li>
        <li>Allows companies to exchange certain existing leases in moratorium areas for bonus and royalty credits to be used on other Gulf of Mexico leases</li>
      </ul>
    </div>
    <a class="revenues_subpage_dyk-link accordion-button_more" accordion-button>more</a>
    <a class="revenues_subpage_dyk-link accordion-button_less" accordion-button>less</a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>In accordance with the 1978 OCSLA amendment, BOEM develops a schedule of planning areas across the Outer Continental Shelf to offer for oil and gas leasing. This program is known as the Five Year Outer Continental Shelf Leasing Program. In developing five year plans, BOEM strives to address national energy needs while balancing economic, environmental, and social considerations.</p>
      <p>To implement the program, BOEM creates a programmatic <span class="term term-p" data-term="Environmental Impact Statement (EIS)" title="Click to define" tabindex="0">Environmental Impact Statement<i class="icon-book"></i></span>. The public has the opportunity to comment on the Environmental Impact Statement and the proposed leasing program. BOEM submits public comments for the program, along with the plan, to Congress and the President.</p>
          </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">

          <p>Once the Five Year Program is in place, BOEM plans for each regional lease sale, a one to two year process that includes developing site-specific Environmental Impact Statements and offering opportunities for public comment. BOEM will send a notice of sale to interested bidders with the terms and conditions of the “blocks,” the nine-square-mile areas offered in the lease sale.</p>

          <p>BOEM offers leases through a competitive process that anyone can participate in by submitting a sealed bid. BOEM reviews the bids and identifies the apparent winner (the bidder with the highest offer). The apparent winner will receive the lease if their bid is equal to or greater than BOEM’s fair market value estimate. BOEM develops the fair market value estimate after identifying the apparent winner. BOEM calculates fair market value based on the expected value of exploring for and extracting oil and gas resources from the lease block, not based on actual activities and discoveries resulting from the lease sale.</p>

          <p>Once BOEM accepts a bid and awards a lease, the lease holder must pay the <span class="term term-p" data-term="bonus" title="Click to define" tabindex="0">bonus<i class="icon-book"></i></span> and the first year’s rent to ONRR and satisfy any bonding requirements.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>During this phase, the lease holder must file an Exploration Plan with BOEM to explore the leased waters for oil and gas deposits. The plan must include timing, location of wells, method, and potential environmental impact (including the potential environmental impact in the worst-case scenario) for all exploration activities. BOEM then evaluates the plan and determines if extenuating circumstances require the lease holder to complete a site-specific Environmental Assessment before proceeding.</p>
      <p>Once a company begins exploring, the company conducts geophysical surveys, drills to locate the oil or gas, and drills additional wells after a discovery. Exploration can last five to ten years. During the explore phase, companies pay <span class="term term-p" data-term="rent" title="Click to define" tabindex="0">rent<i class="icon-book"></i></span> to ONRR.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Before extracting resources, the lease holder must submit a Development or Production Plan for BOEM’s approval. The lease holder must also apply to BSEE for drilling and operations permits to begin extraction. At the start of development, BSEE will conduct initial inspections to ensure the proper installation of structures and equipment. Thereafter, BSEE conducts periodic announced and unannounced inspections to enforce lease terms and other conditions.</p>
      <p>The lease holder pays annual rent until the operation starts producing oil or gas in paying quantities. At that time, the lease holder stops paying rent and starts paying <span class="term term-p" data-term="royalty" title="Click to define" tabindex="0">royalties<i class="icon-book"></i></span> to ONRR.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission and reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>At the close of an operation, the lease holder or operator must return the ocean and seafloor to its pre-lease condition. Under the OCSLA regulations, the lease holder is required to submit a Decommissioning Plan to BSEE for approval two years before the termination of the lease. To satisfy NEPA obligations, BOEM prepares a site-specific Environmental Assessment for each removal application on behalf of BSEE.</p>
          <p>BOEM requires that companies remove retired offshore drilling platforms from the marine environment within one year after the end of an operation. The lease holder is required to remove the platform from its foundation by severing all bottom-founded components at least 15 feet below the mudline and disposing of the structures in a scrap or fabrication yard. Alternatively, the platform can be used to create an artificial reef underwater.</p>
          <p>Lease holders post bonds held by the government to ensure compliance with lease terms, including decommissioning the site. If the lease holder fails to decommission the site, the government may use the bonds to cover the cost of decommissioning. If the lease holder complies, the government returns the bonds to the lease holder at the end of the operation.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <h3 class="revenues_subpage-steps_heading_more">Learn more</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <ul class="list-bullet">
            <li><a href="http://www.boem.gov/uploadedFiles/BOEM/Oil_and_Gas_Energy_Program/Leasing/5BOEMRE_Leasing101.pdf">Oil and Gas Leasing on the Outer Continental Shelf (PDF)</a></li>
            <li><a href="http://www.blm.gov/pgdata/etc/medialib/blm/wy/programs/energy/og/leasing/protests/2012/may/Appeals.Par.42771.File.dat/ExhP.pdf">Oil and Gas Lease Utilization: Updated Report to the President (PDF)</a></li>
            <li><a href="http://www.boem.gov/Resource-Evaluation-Glossary/">Resource Evaluation Glossary</a></li>
          </ul>
        </div>

  </li>

    </ul>

  </div>

</section>
