<section class="container-outer">

  <div class="container-left-4">
    <h1>Get involved</h1>
    <h2 class="h4">Participate in the offshore renewables leasing process.</h2>
  </div>

  <div class="container-right-8">

    <div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://www.boem.gov/Renewable-Energy-State-Activities/">
          <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/info.svg" class="u-padding-right icon-medium">
          </object>
          <h3>Coastal States</h3>
        </a>
        <p>BOEM has task forces in 16 coastal states to coordinate public engagement. <a class="link-active" href="https://www.boem.gov/National-Program-Participate/">Attend a meeting</a> near you.</p>
      </div>

    <div class="revenues_subpage-involved_option">
      <a class="link-no_under" href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001s6pS_QJvIMMyFsJiyW9qpHHXCUx5GJw4EpJZzMYvJ0dJa-pTlcQKNqg_LP2kF1bJcU5IyVl0cZG2y0ShYooNeXlI6f8QEFq0PJo8Tc_KGIMrWpNXIsqsCalELfsFx3gNFwSaOPpb5lkgyrTv8zqK0YmGU1orZzGq">
        <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/envelope.svg" class="u-padding-right icon-medium">
        </object>
        <h3>Newsletter</h3>
      </a>
      <p>Get the latest BOEM info delivered right to your inbox.</p>
    </div>

    <div class="revenues_subpage-involved_option">
      <a class="link-no_under" href="https://www.facebook.com/BureauOfOceanEnergyManagement">
        <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/facebook.svg" class="u-padding-right icon-medium">
        </object>
        <h3>Facebook</h3>
      </a>
      <p>Like BOEM on Facebook to get the latest in ocean energy management in your feed.</p>
    </div>

    <div class="revenues_subpage-involved_option">
      <a class="link-no_under" href="https://twitter.com/boem_doi">
        <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/twitter.svg" class="u-padding-right icon-medium">
        </object>
        <h3>Twitter</h3>
      </a>
      <p>Follow BOEM to keep up with the latest info.</p>
    </div>

    <div class="revenues_subpage-involved_option">
      <a class="link-no_under" href="https://www.flickr.com/photos/boemgov/">
        <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/flickr.svg" class="u-padding-right icon-medium">
        </object>
        <h3>Flickr</h3>
      </a>
      <p>Keep up with BOEM’s work on Flickr.</p>
    </div>

    </div>

  </div>

</section>
