<section class="container-outer">

  <div accordion="offshore-renewables-dyk" accordion-item class="revenues_subpage-dyk">

    <h2 class="revenues_subpage-dyk_heading">Did you know?</h2>

    <p class="revenues_subpage-dyk_text">To date, BOEM has issued over a dozen commercial wind energy leases on the Atlantic Outer Continental Shelf, including those offshore of Delaware, Maryland, Massachusetts, Rhode Island, Virginia, New York, New Jersey, and North Carolina. <span accordion-content>BOEM is in the planning stages for additional offshore areas in South Carolina, California, and Hawaii.</span></p>
    <button class="revenues_subpage_dyk-link" accordion-text>
      <span class='accordion-more'>more</span>
      <span class='accordion-less'>less</span>
    </button>

  </div>

  <div class="container">
    <ul accordion="offshore-renewables-steps" accordion-desktop="false" class="revenues_subpage-steps_group list-unstyled">
      <li class="revenues_subpage-steps_group_item" aria-expanded="true">
        <div class="revenues_subpage-steps_number">1</div>
        <h3 class="revenues_subpage-steps_heading">Plan</h3>
        <button><label class="sr-only">Plan</label></button>
        <div accordion-content>
          <p>The planning and analysis phase identifies suitable areas for wind energy leasing consideration through collaborative, consultative, and analytical processes that engage stakeholders and government agencies. This is the phase when BOEM conducts environmental compliance reviews and consultations with tribes, states, and natural resource agencies.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button><label class="sr-only">Lease</label></button>
        <div accordion-content>
          <p>BOEM grants offshore wind energy leases through either a competitive or an noncompetitive process. In a competitive bid, more than one party is interested in acquiring the lease for specific waters. BOEM will award the lease to the highest bidder above the fair market return, a minimum bid to provide the public a fair price. Once BOEM accepts a competitive bid, the lease holder must pay the {{ "bonus" | term }} to ONRR. In an noncompetitive bid, a single party negotiates the lease amount with BOEM and is required to pay an {{ "Acquisition Fee" | term_end:"acquisition fee" }}.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button><label class="sr-only">Explore</label></button>
        <div accordion-content>
          <p>Companies explore leased waters to locate suitable sites for constructing renewable energy infrastructure. During this phase, the lease holder also conducts surveys and studies of the site (e.g., avian, marine mammal, archeological). The lease holder must submit a Site Assessment Plan, which contains a detailed proposal for the construction of a meteorological tower and/or the installation of meteorological buoys. BOEM may approve, approve with modification, or disapprove of the Site Assessment Plan.</p>

          <p>If BOEM approves the plan, the lease holder can begin the site assessment activities. During the exploration period, companies pay rent to ONRR.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop</h3>
        <button><label class="sr-only">Develop</label></button>
        <div accordion-content>
          <p>To begin development and production, the lease holder submits a Construction and Operations Plan to BOEM. BOEM conducts environmental and technical reviews and decides whether to approve, approve with modification, or disapprove the plan.</p>

          <p>During this period, ONRR collects annual rent from the lease holder. Once the wind facility produces energy, ONRR also collects an {{ "Operating Fee" | term_end:"operating fee" }}.</p>

          <p>Prior to the end of the lease term, the developer must submit a plan to decommission the facilities.</p>

        </div>
      </li>

      <li class="revenues_subpage-steps_group_item">
        <h3 class="revenues_subpage-steps_heading_more">Learn more</h3>
        <button><label class="sr-only">Learn more</label></button>
        <div accordion-content>
          <ul class="list-bullet">
            <li><a href="http://www.boem.gov/Renewable-Energy/">Renewable Energy</a></li>
            <li><a href="https://www.boem.gov/Commercial-Leasing-Process-Fact-Sheet/">Wind Energy Commercial Leasing Process</a></li>
            <li><a href="https://www.boem.gov/Renewable-Energy-State-Activities/">State activities</a></li>
          </ul>
        </div>

      </li>
    </ul>

  </div>

</section>
