<section class="container-outer">

  <div class="container-left-4">
    <h1>Get involved</h1>
    <h4>Participate in the offshore renewables leasing process.</h4>
  </div>

  <div class="container-right-8">

    <div>
		
        <div class="revenues_subpage-involved_option">
          <a class="link-no_under" href="http://www.boem.gov/Renewable-Energy-State-Activities/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Coastal States</h3>
          </a>
          <p>BOEM has task forces in 16 coastal states to coordinate public engagement. <a class="link-active" href="http://boemoceaninfo.com/">Attend a meeting</a> near you.</p>
        </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001s6pS_QJvIMMyFsJiyW9qpHHXCUx5GJw4EpJZzMYvJ0dJa-pTlcQKNqg_LP2kF1bJcU5IyVl0cZG2y0ShYooNeXlI6f8QEFq0PJo8Tc_KGIMrWpNXIsqsCalELfsFx3gNFwSaOPpb5lkgyrTv8zqK0YmGU1orZzGq">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Newsletter</h3>
        </a>
        <p>Get the latest BOEM info delivered right to your inbox.</p>
      </div>

  <div class="revenues_subpage-involved_option">
    <a class="link-no_under" href="https://www.facebook.com/BureauOfOceanEnergyManagement">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <h3>Facebook</h3>
    </a>
    <p>Like BOEM on Facebook to get the latest in ocean energy management in your feed.</p>
  </div>

  <div class="revenues_subpage-involved_option">
    <a class="link-no_under" href="https://twitter.com/boem_doi">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <h3>Twitter</h3>
    </a>
    <p>Follow BOEM to keep up with the latest info.</p>
  </div>

  <div class="revenues_subpage-involved_option">
    <a class="link-no_under" href="https://www.flickr.com/photos/boemgov/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
      </span>
      <h3>Flickr</h3>
    </a>
    <p>Keep up with BOEM’s work on Flickr.</p>
  </div>

    </div>

  </div>

</section>
