<div class="container revenues_subpage-intro_layout">
  <div>
    <a class="revenues_subpage-breadcrumb" href="{{ site.baseurl }}/how-it-works/">How it works</a>
    /
  </div>
  <h1>Offshore Oil &amp; Gas</h1>

  <p class="revenues_subpage-intro_text">The Outer Continental Shelf Lands Act (OCSLA) of 1953 grants the Secretary of the Department of the Interior (DOI) the authority to manage offshore energy resources and to develop regulations to carry out that authority. Three agencies within DOI — BOEM, BSEE, and ONRR — work together to manage, regulate, and collect revenue from 33 million leased acres across the <span class="term term-p" data-term="Outer Continental Shelf" title="Click to define" tabindex="0">Outer Continental Shelf<i class="icon-book"></i></span>.</p>

  <!-- <a class="revenues_subpage-download" href="#"><i class="icon-cloud"></i> Download PDF</a> -->
</div>

<div class="revenues_subpage-office_container revenues_subpage-office_container_layout">
  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>Managed and regulated by the <span><a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM)</span> and the
      <span><a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE)</span>.</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BOEM-mark.png" alt="Bureau of Ocean Energy Management">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BSEE-mark.png" alt="Bureau of Safety and Environmental Enforcement">
    </div>
  </div>
  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages monetary transactions.</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/ONRR-mark.svg" alt="Office of Natural Resources Revenue">
    </div>
  </div>
</div>
