<section class="container-outer">
  <h1>Revenue collected by the BLM</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
      <p>The amount the highest bidder will pay for a natural resource lease.</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p>Under the proposed rule, rent will be determined by the acre and based on land values.</p>
    </div>

    <div>
      <h2>MC Fee</h2>
      <p class="revenues_page-forms_numbers_first">
        <span>$6.21</span> per KW
        <br>proposed for wind
        <br><span>$3.55–$5.32</span> per KW
        <br>proposed for solar
      </p>
      <p>For wind, there is a proposed increase from current <span>$4.16</span> per KW to <span>$6.21</span> per KW. For solar, proposed fees range from <span>$3.55–$5.32</span> per KW.</p>
    </div>

    <div>
      <em>Note: proposed revenue terms are more favorable for development within designated leasing areas.</em>
    </div>

    <!-- <div>
    </div> -->
  </div>

</section>
