<div class="container revenues_subpage-intro_layout">
  <div>
    <a class="revenues_subpage-breadcrumb" href="{{ site.baseurl }}/how-it-works/">How it works</a>
    /
  </div>
  <h1>Renewables: Onshore</h1>

  <p class="revenues_subpage-intro_text">Onshore renewable energy development on federal lands includes solar and wind energy, among other renewable natural resources. Title V of the Federal Land Policy and Management Act of 1976 provides the Bureau of Land Management (BLM) with the authority to issue rights of way for developing solar and wind energy projects on federal lands.</p>

  <a class="revenues_subpage-download" href="#"><i class="icon-cloud"></i> Download PDF</a>
</div>

<div class="revenues_subpage-office_container revenues_subpage-office_container_layout">
  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>Managed and regulated by the <span><a href="http://www.blm.gov/">Bureau of Land Management</a> (BLM)</span>.</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BLM-mark.png" alt="Bureau of Land Management">
    </div>
  </div>
</div>
