<section class="container-outer">
  <h1>Revenue collected by the BLM</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
      <p>The amount the highest bidder will pay for a natural resource lease.</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p>Rent is determined by the acre and based on land values.</p>
    </div>

    <div>
      <h2>Fees</h2>
      <p class="revenues_page-forms_numbers_first">
        <span>$5,010</span> per MW
        <br>annual wind fee
        <br><br><span>$2,863–$4,294</span> per MW
        <br>annual solar fee
      </p>
      <p>Solar fees are based on solar type and storage capacity.</p>
    </div>

    <div>
      <em>Note: wind and solar fees are expressed as {{ "Megawatt Capacity fees" | term_end:"Megawatt Capacity (MC) fee" }}.</em>
    </div>

    <!-- <div>
    </div> -->
  </div>

</section>
