<div class="{{ className }}">{{ text }}</div>

<div class="drawer" id="glossary" aria-hidden="false">
  <button title="Close glossary"
      class="button button--close toggle"><label class="sr-only">Close glossary</label><icon class="icon-close-x"></icon>
  </button>
  <label for="drawer-search" class="label">Filter glossary terms</label>
  <input id="drawer-search" type="search" placeholder="e.g. placeholder text">
</div>
