<section class="container-outer">
  <h1>Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h2>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
    </div>

    <div>
      <h2>Rent</h2>
      <p class="revenues_page-forms_numbers_last"><span>$3.00</span> per acre or a fraction thereof.</p>
    </div>

    <div>
      <h2>Royalty</h2>
      <p>The rate depends on whether the coal was extracted by surface or subsurface mining.</p>
      <p class="revenues_page-forms_numbers_last"><span>12.5%</span> surface mining, <span>8%</span> subsurface mining.</p>
    </div>

    <div>
      <h2>Abandoned Mine Land Fee</h2>
      <p class="revenues_page-forms_numbers_last"><span>$0.28</span> per ton for surface mining, <span>$0.12</span> per ton for subsurface mining.</p>
    </div>

  </div>

</section>
