<section class="container-outer">
  <h2>Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h2>

  <div class="revenues_page-forms_options">

    <div>
      <h3>Bonus</h3>
      <p>A bonus is the amount paid by the highest bidder for a natural resource lease.</p>
    </div>

    <div>
      <h3>Rent</h3>
      <p class="revenues_page-forms_numbers"><span>$3.00</span> per acre or a fraction thereof.</p>
      <p>Rent is an annual payment for leasing lands or waters before production starts.</p>
    </div>

    <div>
      <h3>Royalty</h3>
      <p class="revenues_page-forms_numbers"><span>12.5%</span> surface mining, <span>8%</span> subsurface mining.</p>
      <p>A royalty is a payment for the natural resources extracted, determined by a percentage of the resources’ production value. For federal coal, the rate depends on whether the coal was extracted by surface or subsurface mining.</p>
    </div>

    <div>
      <h3>Abandoned Mine Land Fee</h3>
      <p class="revenues_page-forms_numbers"><span>$0.28</span> per ton for surface mining, <span>$0.12</span> per ton for subsurface mining.</p>
      <p>A fee for current day coal production that funds reclamation of mines abandoned prior to 1977.</strong></p>
    </div>

  </div>

</section>
