<div class="container container-left-8">
  <h1>Coal</h1>

  <p>The Department of the Interior is responsible for 570 million acres of federally-owned land with coal resources. This responsibility comes from the Mineral Leasing Act of 1920 and the Mineral Leasing Act for Acquired Lands of 1947, as amended.</p>

  <a href="#"><i class="fa fa-download"></i> Download PDF</a>
</div>

<div class="revenues_subpage-office_container container-right-4">

  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>Managed and regulated by the <span><a href="http://www.blm.gov/">Bureau of Land Management</a> (BLM)</span>.</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BLM-mark.png" alt="Bureau of Land Management">
    </div>
  </div>

  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages some monetary transactions.</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">
    </div>
    
  </div>
</div>
