<section class="container-outer">
  <h2>Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h2>

  <div class="revenues_page-forms_options">

    <div>
      <h3>Fees</h3>
      <p class="revenues_page-forms_numbers"><span>$155</span> initial maintenance fee</p>
      <p>Fees are administrative costs paid by the claimant in the claim staking process. Since most hardrock mining occurs through the claim staking process, fees are the predominant revenues paid. For example, miners must pay annual per site maintenance fees to maintain the claim.</p>
    </div>

    <div>
      <h3>Bonus</h3>
      <p class="revenues_page-forms_numbers"><span>0</span></p>
      <p>A bonus is the amount paid by the highest bidder for a natural resource lease on federal land. <strong>No bonuses are paid for hardrock mineral leasing.</strong></p>
    </div>

    <div>
      <h3>Rent</h3>
      <p class="revenues_page-forms_numbers"><span>$0.50</span> per acre prospeccting fee<br><span>$1.00</span>per acre rental</p>
      <p>Rent is an annual payment made on leased land, for the exclusive right to apply to explore for and develop natural resources on federal land for future production.</p>
    </div>

    <div>
      <h3>Royalty</h3>
      <p class="revenues_page-forms_numbers"><span>0</span></p>
      <p>A royalty is a payment determined by the percentage of the market value of the produced commodity. For federal coal, the rate depends on the extraction method. <strong>No royalties are paid for hardrock mineral leasing.</strong></p>
    </div>

    <div>
    </div>
  </div>

</section>
