<section class="container-outer">
  <h1>Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Claim-staking Fees</h2>
      <p class="revenues_page-forms_numbers_last">Processing Fee <span>$20</span>, Location Fee <span>$37</span>, Initial Maintenance Fee <span>$155</span>.</p>
      <p class="revenues_page-forms_numbers_last">On acquired lands, miners must pay a one-time <span>$6,500</span> Prospecting Permit Fee.</p>
    </div>

    <div>
      <h2>Annual Fees</h2>
      <p class="revenues_page-forms_numbers_last">Annual Maintenance Fee <span>$155</span>.</p>
    </div>

    <div>
      <h2>Bonus</h2>
      <p>No bonuses are paid for locatable hardrock mining.</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p>Miners only pay annual fees and rent on acquired lands.</p>
      <p class="revenues_page-forms_numbers_last">Prospecting Fee <span>$0.50</span> per acre. Rent <span>$1.00</span> per acre.</p>
    </div>

    <div>
      <h2>Royalty</h2>
      <p>No royalties are paid for locatable hardrock mining. Mining hardrock minerals on acquired land is exempt from minimum production and royalty requirements under <a href="http://www.gpo.gov/fdsys/pkg/CFR-2011-title43-vol2/xml/CFR-2011-title43-vol2-part3500-subpart3504.xml">Title 43 in the Code of Federal Regulations.</a></p>
    </div>

  </div>

</section>
