<section class="container-outer">

  <div class="container-left-4">
    <h2>Get involved</h2>
    <p>Learn more about the minerals process.</p>
  </div>

  <div class="container-right-8">

    <div class="revenues_subpage-involved_participate">

      <div class="container-half">
        <h3>How to participate</h3>

        <p><strong>Contact a local BLM office.</strong> BLM has twelve field offices, mostly in the Western U.S. To learn more about land use policies for federal lands in your state, <a href="http://www.blm.gov/wo/st/en/info/directory.html">contact your state office</a>.</p>

        <p><strong>Join a Resource Advisory Council.</strong> Resource Advisory Councils (RACs) in the Western U.S. give BLM advice on managing public lands and resources. Each RAC consists of 12 to 15 ranchers, tribe members, state and local government officials, academics, and other public land users. Learn about <a href="http://www.blm.gov/wo/st/en/info/resource_advisory.html">joining your local RAC here</a>.</p>

        <p><strong>Volunteer.</strong> You can volunteer for BLM by searching for Bureau of Land Management opportunities <a href="http://volunteer.gov/index.cfm">here</a>. Or, find out how to create a BLM partnership <a href="http://www.blm.gov/wo/st/en/prog/more/partnerships_home.html">here</a>.</p>

      </div>

      <div class="container-half revenues_subpage-involved_video">
        <iframe src="https://www.youtube.com/embed/gdalYBS1lPE" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_facebook.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Facebook</h3>
        </a>
        <p>Like a BLM Facebook page to get the latest from whale watching to mountain biking in your feed.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://twitter.com/BLMNational">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Twitter</h3>
        </a>
        <p>Follow BLM to keep up with the latest info.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.flickr.com/photos/mypubliclands/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Flickr</h3>
        </a>
        <p>See breathtaking photos on BLM’s Flickr.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.youtube.com/user/BLMNational">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
          </span>
          <h3>YouTube</h3>
        </a>
        <p>Watch wildlife and wilderness videos on BLM’s channel.</p>
      </div>

    </div>

    <div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://mypubliclands.tumblr.com/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Tumblr</h3>
        </a>
        <p>Read blogs from BLM offices across the country.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://instagram.com/mypubliclands/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Instagram</h3>
        </a>
        <p>Follow #seeBLM for snapshots of over 245 million acres of public land.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.pinterest.com/mypubliclands/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Pinterest</h3>
        </a>
        <p>Plan your next trip from BLM’s Pinterest.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_rssfeeds.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
          <h3>RSS</h3>
        </a>
        <p>Get BLM news and policy updates as they happen.</p>
      </div>

    </div>

  </div>

</section>
