
<section class="container-outer">

  <div class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>
    <p class="revenues_subpage-dyk_text">BLM’s “Fix a Shaft Today!” (FAST!) Award recognizes active participation in the FAST! Campaign, which is a partnership initiative aimed at eradicating unsafe abandoned mine land features, especially open mineshafts.</p>
    <a class="revenues_subpage_dyk-link" href="#">more <span>+</span></a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>Hardrock mining on federal public domain lands takes place in 19 states, primarily in the Western U.S.: Alaska, Alabama, Arizona, Arkansas, California, Colorado, Florida, Idaho, Mississippi, Montana, Nebraska, Nevada, New Mexico, North Dakota, Oregon, South Dakota, Utah, Washington, and Wyoming. Within these states, certain federal lands, such as wildlife refuges, are not open for mining. While some hardrock mineral leasing occurs on federal acquired lands, the vast majority of hardrock mining on federal lands occurs on public domain lands through the claim staking process, originally outlined in the 1872 Act to encourage settlement in the Western U.S.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Claim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>If deposits are not known, interested parties can locate prospecting permits on a first-come, first-served basis, which allows the permittee to explore for mineral deposits. Claiming federal lands for hardrock mining falls into two categories: deposits with well-defined boundaries are called “lode claims,” all others are classified as “placer claims.” Each state has unique requirements for claim staking, the procedure of marking the boundaries of a mining area. Once a claim is staked, the prospector documents the claim by filing required forms at the state BLM office and with the county clerk of the county in which the claim is located.</p> 
          
          <p>All mining claims are initially unpatented claims, which give the right only for those activities necessary for exploration and mining, and last only as long as the claim is worked every year. The original 1872 Act allowed miners to acquire patents to purchase federal land and put in to any legal use. Land could be purchased at the rate set in 1872: $5 per acre for lode claims and $2.50 an acre for placer claims. Congress prohibited this practice through moratorium in 1994; the moratorium has been renewed annually through the Interior Appropriations Acts.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Exploration is the process of discovering the specific location, quantity, and quality of natural resources on leased or claimed land. The exploration process differs depending on where developers are conducting their exploration. On public domain land, developers explore for minerals before staking a claim. Under the General Mining Law of 1872, developers cannot stake a claim until they have discovered a deposit of valuable minerals. Developers pay claim staking fees to the BLM after making a discovery and staking a claim.</p>
          
          <p>On acquired lands, developers pays a Prospecting Permit Fee to the BLM in order to explore for deposits of valuable minerals. Developers pay rent to the federal government until they begin production on any discovered deposits, which is collected by the ONRR.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop & Produce</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Pursuant to the Federal Land Policy and Management Act (FLPMA), BLM regulation requires miners to prevent unnecessary or undue degradation of the land. For activities which do not require the use of earthmoving equipment or explosives, the miner must submit a notice or plan of operations. These actions are processed at the local level because many states have their own laws and regulations regarding environmental factors such as air and water pollution, use of hazardous materials, or use of suction dredges. Additionally, construction activities require meeting the standards of a county code and state public health and safety standards. Miners cannot construct any permanent structures, mobile structures, or store equipment without the prior approval of an authorized federal official. The miner must pay an annual per site maintenance fee to BLM or—if a small scale operator—file for a waiver stating that $100 worth of improvement work has been completed annually.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission & Reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>In 1981, BLM issued regulations requiring miners to remove all facilities and return the land to a sound environmental state. In 2001, BLM expanded on these regulations requiring miners to provide bonds or other financial reassurances regarding reclaiming the land before beginning exploration or mining activities.</p>
        </div>

      </li>
    </ul>

  </div>

</section>
