<section class="container-outer">

  <div class="container-left-4">
    <h1>Get involved</h1>
    <h4>Participate in the offshore oil and gas leasing process.</h4>
  </div>

  <div class="container-right-8">

    <div class="revenues_subpage-involved_participate">

      <div class="container-half">
        <a class="link-no_under" href="http://boemoceaninfo.com/learn/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
        </span>
        <h3>YouTube</h3>
        </a>
		
		<p><strong>Comment on the leasing program.</strong> Planning for the 2017–2022 Five Year Program is underway. BOEM wants input from anyone that may be affected, positively or negatively, by Outer Continental Shelf oil and gas development activity. Watch the video and <a href="http://boemoceaninfo.com/learn/">visit BOEM’s website</a> for more details.</p>
		
      </div>

      <div class="container-half revenues_subpage-involved_video">
        <iframe src="https://www.youtube.com/embed/Xkqip8Sm8ng" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.facebook.com/BureauOfOceanEnergyManagement">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Facebook</h3>
        </a>
        <p>Like BOEM to get the latest in ocean energy management in your feed.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://twitter.com/boem_doi">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Twitter</h3>
        </a>
        <p>Follow BOEM to keep up with the latest info.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.flickr.com/photos/boemgov/sets/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Flickr</h3>
        </a>
        <p>See breathtaking photos on BLM’s Flickr.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://boemoceaninfo.com/get-involved/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Coastal States</h3>
        </a>
        <p>BOEM has task forces in 16 coastal states to coordinate public engagement. <a class="link-active" href="http://boemoceaninfo.com/">Attend a meeting</a> near you.</p>
      </div>

    </div>

  </div>

</section>
