<section class="container-outer">

  <div class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>

    <p class="revenues_subpage-dyk_text">There are 9 commercial wind energy leases on the Atlantic OCS. They are offshore of Delaware, Maryland, Massachusetts, Rhode Island, and Virginia.</p>
    <a class="revenues_subpage_dyk-link" href="#">more <span>+</span></a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>BOEM identifies areas of the Outer Continental Shelf for wind leasing through a collaborative, consultative, and analytical process that engages stakeholders, beginning with a call for information and nominations. BOEM then reviews submissions, and identifies priority Wind Energy Areas (WEAs) offshore that appear most suitable for wind energy development.</p>
            
            <p>Alternatively, a citizen or American company can apply to lease lands on the Outer Continental Shelf that BOEM hasn’t identifies, and BOEM will review these applications.</p>

            <p>During this phase, BOEM may conduct an Environmental Assessment in accordance with the National Environmental Policy Act./p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">

          <p>BOEM grants leases through either a competitive or noncompetitive process.</p>

          <p>In a competitive bid, more than one party is interested in acquiring the lease for a specific land area. BOEM will award the lease to the highest bidder above the fair return amount, a minimum bid to provide the public a fair price. In a non-competitive bid, a single party negotiates the lease amount with BOEM and is required to pay an acquisition fee.</p>

          <p>Once a bid is accepted and a lease has been awarded competitively, the lease holder must pay the bid amount, called the bonus, to the Office of Natural Resources Revenue (ONRR).</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>The exploration phase for renewable resources differs from non-renewable resources; rather than locate deposits of natural resources, companies explore leased land to locate suitable sites for the construction of renewable infrastructure. During the explore phase, the lease holder must submit a site assessment plan (SAP) to the BOEM for approval. The lease holder’s SAP must include a detailed proposal for the construction of meteorological towers and/or the installation of meteorological buoys which will gather information on the site’s suitability for infrastructure. The lease holder may also be required to conduct site characterization studies to determine how renewable infrastructure will impact will impact the surrounding environment (e.g., avian, marine mammal, archeological). The BOEM will then evaluate the SAP and either approve, modify, or reject the application.</p>

          <p>After the BOEM approves the SAP, the lease holder may execute the site assessment activities. During the exploration period, companies pay rent on the leased land to the federal government, collected by the ONRR. Companies can choose whether or not to extend their leases based on their findings during exploration.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop & Produce</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>After gaining conducting a site assessment, the lease holder will develop and submit a Construction and Operations Plan (COP) to BOEM. The BOEM must approve this plan before construction can begin.</p>

          <p>BOEM issues two types of grants during the development phase: Right of Way and Easement. Right of Way grants allow developers to build supporting structures, such as cables, for wind energy projects. Easements similarly allow developers to build structures on the Outer Continental Shelf to support wind energy projects.</p>

          <p>During this period, ONRR collects annual rental payments from the lease holder. Once the wind facility produces energy, the lease holder no longer pays rental payments. Instead, ONRR collects an operations fee, a percentage of the anticipated value of the energy created.</p>

          <p>As the wind energy projects progress, the Bureau of Safety and Environmental Enforcement (BSEE) will conduct both scheduled and unscheduled inspections to enforce conditions of the lease.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Develop & Produce</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Two years prior to the end of the lease, the developer must submit a plan to decommission and remove the facilities. BSEE will issue decommissioning permits and licenses. Currently, BOEM is continuing to develop the decommissioning process.</p>
        </div>
      </li>
    </ul>

  </div>

</section>
