<div class="container container-left-8">
  <h1>Renewables: Offshore</h1>

  <p>The Energy Policy Act of 2005 established the Outer Continental Shelf Renewable Energy Program and created guidelines that inform the Bureau of Ocean Energy Management’s (BOEM) regulations for offshore wind, ocean wave, and ocean current energy. To date, the majority of renewable energy development on the Outer Continental Shelf has been wind energy. For each state with the potential to harness wind energy, BOEM convenes a unique intergovernmental task force of federal agencies, state agencies, and tribes. This taskforce helps guide the project from planning through decommissioning. All taskforce meetings are open to the public.</p>

  <p><em>Offshore renewable resources result in revenue beginning with…</em></p>

   <a href="#"><i class="fa fa-download"></i> Download this page as a pdf</a>
</div>
    
<div class="revenues_subpage-office_container container-right-4">
  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>Managed and regulated by the <span><a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM)</span> and the
     <span><a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE)</span></p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BOEM.svg" alt="Bureau of Ocean Energy Management">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BSEE-mark.png" alt="Bureau of Safety and Environmental Enforcement">
    </div>
  </div>
  <div class="revenues_subpage-office container">
    <div class="revenues_subpage-office_text">
      <p>The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages monetary transactions</p>
    </div>
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">
    </div>   
  </div>
</div>
