<section class="container-outer">
  <h1>Revenue collected by the Office of Natural Resources Revenue</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
    </div>

    <div>
      <h2>Acquisition Fee</h2>
      <p class="revenues_page-forms_numbers_last"><span>$0.25</span> per acre</p>
    </div>

    <div>
      <h2>Rent</h2>
      <p class="revenues_page-forms_numbers_last"><span>$3.00</span> per acre</p>
    </div>

    <div>
      <h2>Operating Fee</h2>
      <p class="revenues_page-forms_numbers"><span>2%</span> unless otherwise specified or waived</p>
    </div>

  </div>

</section>
