<section class="container-outer">
  <h1>Revenue collected by the Office of Natural Resources Revenue</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h3>Bonus</h3>
      <p>The amount the highest bidder paid for a natural resource lease.</p>
    </div>

    <div>
      <h3>Acquisition Fee</h3>
      <p>A fee charged for securing an uncompetitive lease in place of a bonus.</p>
      <p class="revenues_page-forms_numbers_last"><span>$0.25</span> per acre</p>
    </div>

    <div>
      <h3>Rent</h3>
      <p>An annual payment for leasing lands or waters.</p>
      <p class="revenues_page-forms_numbers_last"><span>$3.00</span> per acre</p>
    </div>

    <div>
      <h3>Operating Fee</h3>
      <p class="revenues_page-forms_numbers">A revenue payment for a percentage (<span>2%</span> unless otherwise specified or waived) of the anticipated value of the wind energy produced on federal waters.</p>
    </div>

  </div>

</section>
