<section class="container-outer">

  <div accordion accordion-item accordion-open="false" class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>

    <p class="revenues_subpage-dyk_text">To date, BOEM has issued nine commercial wind energy leases on the Atlantic Outer Continental Shelf, including those offshore of Delaware, Maryland, Massachusetts, Rhode Island, and Virginia. <span class="accordion-more">BOEM expects to hold lease sales for areas offshore of New Jersey and North Carolina in the near future and is considering other commercial Wind Energy Areas (WEAs).</span></p>
    <a class="revenues_subpage_dyk-link accordion-button_more" accordion-button>more</a>
    <a class="revenues_subpage_dyk-link accordion-button_less" accordion-button>less</a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>BOEM identifies areas within the Outer Continental Shelf for wind energy leasing through a collaborative, consultative, and analytical process that engages stakeholders and begins with a call for information and nominations. BOEM then reviews submissions and identifies priority Wind Energy Areas offshore that appear most suitable for wind energy development. Alternatively, a citizen or company can apply to lease waters within the Outer Continental Shelf that BOEM hasn’t identified, and BOEM will review these applications. During this phase, BOEM may also conduct an Environmental Assessment in accordance with the National Environmental Policy Act.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>BOEM grants offshore wind energy leases through either a competitive or an uncompetitive process. In a competitive bid, more than one party is interested in acquiring the lease for specific waters. BOEM will award the lease to the highest bidder above the fair market return, a minimum bid to provide the public a fair price. Once BOEM accepts a competitive bid, the lease holder must pay the bonus to ONRR. In an uncompetitive bid, a single party negotiates the lease amount with BOEM and is required to pay an Acquisition Fee.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>During the explore phase, companies explore leased waters to locate suitable sites for constructing renewable energy infrastructure. The lease holder must submit a Site Assessment Plan (SAP) to the BOEM for approval that includes a detailed proposal for constructing meteorological towers or installing meteorological buoys. The lease holder may also be required to conduct site characterization studies to determine how renewable energy infrastructure will impact the surrounding environment (e.g., avian, marine mammal, and archeological studies). BOEM then evaluates the plan and either approves, modifies, or rejects the application.</p>

          <p>If BOEM approves the plan, the lease holder can begin the site assessment activities. Companies can choose whether or not to extend their leases based on their findings. During the explore period, companies pay rent to ONRR.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>To begin development and production, the lease holder submits a Construction and Operations Plan (COP) to BOEM. BOEM must approve this plan before construction can begin.</p>

          <p>BOEM issues two types of grants during development and production: right-of-way and easement. Right-of-way grants allow developers to build supporting structures, such as cables for wind energy projects. Easements similarly allow developers to build structures on the Outer Continental Shelf to support wind energy projects.</p>

          <p>During this period, ONRR collects annual rent from the lease holder. Once the wind facility produces energy, ONRR also collects an Operating Fee.</p>

          <p>As the wind energy projects progress, the Bureau of Safety and Environmental Enforcement (BSEE) will conduct scheduled and unscheduled inspections to enforce lease, safety, and environmental conditions.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission and reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Two years before the end of the lease, the developer must submit a plan to decommission and remove the facilities. BSEE will then issue decommissioning permits and licenses. Currently, the government is continuing to develop the decommissioning process. However, developers must post bonds held by the government as insurance for decommissioning projects and complying with lease and other terms. If developers decommission projects, the government returns the bonds to the lease holder. If developers fail to decommission projects, the government uses the bonds to cover the cost of decommissioning.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <h3 class="revenues_subpage-steps_heading_more">Learn more</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <ul class="bullet">
            <li><a href="http://www.boem.gov/Renewable-Energy/">Renewable Energy</a></li>
            <li><a href="http://www.boem.gov/RE-Commercial-Leasing-Process-Fact-Sheet/">Wind Energy Commercial Leasing Process</a></li>
          </ul>
        </div>

      </li>
    </ul>

  </div>

</section>
