<section class="container-outer">
  <h1>Revenue collected by the Office of Natural Resources Revenue</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h3>Bonus</h3>
      <p>A bonus is the amount paid by the highest bidder for a natural resource lease.</p>
    </div>

    <div>
      <h3>Rent</h3>
      <p class="revenues_page-forms_numbers">Offshore either <span>$7.00</span> or <span>$11.00</span> per acre depending on depth, increasing throughout the term of the lease up to <span>$44.00</span> per acre in some cases.</p>
      <p>Rent is an annual payment for leasing lands or waters before production starts. Rent is set in the lease.</p>
    </div>

    <div>
      <h3>Royalty</h3>
      <p class="revenues_page-forms_numbers"><span>12.5%, 16.67%,</span> or <span>18.75%</span> offshore rates.</p>
      <p>A royalty is a payment for the natural resources extracted, determined by a percentage of the resources’ production value.</p>
    </div>

    <div>
    </div>
  </div>

</section>
