<div class="revenues-subpage-intro">
  <h1>Fossil Fuel: Offshore Oil &amp; Gas</h1>

  <p>The process for developing oil and gas leases on federal land is different depending on whether you want to work offshore (which means, for federal land, <a href="http://www.boem.gov/Federal-Offshore-Lands/">more than three miles off the U.S. coast, but still on the continental shelf</a>) or onshore.</p>

  <p>Oil and gas are managed together because before a lease is developed, it is impossible to know whether oil or gas, or some combination of the two, will be produced. So, they are sold for development and regulated together.</p>

  <!-- <p>The Outer Continental Shelf Lands Act (OCSLA) of 1953 grants the <a href="http://www.doi.gov">Department of the Interior</a> (DOI) the authority to manage and regulate offshore energy resources. Two bureaus in the Department, the <a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM) and the <a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE), regulate these leases, and the <a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR) manages the related monetary transactions.</p> -->


  <a href="#" class="link-more"><i class="fa fa-download"></i> Download this page as a pdf</a>
</div>

<div class="revenues-subpage-office-container">
  <div class="revenues-subpage-office">
    <img src="/img/logos/BOEM.svg" alt="Bureau of Ocean Energy Management">
    <p>Managed and regulated by the <span><a href="http://www.boem.gov/">Bureau of Ocean Energy Management</a> (BOEM)</span> and the
    <img src="/img/logos/BSEE-mark.png" alt="Bureau of Safety and Environmental Enforcement"> <span><a href="http://www.bsee.gov/">Bureau of Safety and Environmental Enforcement</a> (BSEE)</span></p>
  </div>
  <div class="revenues-subpage-office">

    <p><img src="/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages monetary transactions</p>
  </div>
  <!-- <a href="#" class="link-more">more <span class="enbiggen">+</span></a> -->
</div>
