<section class="container">

      <div class="revenues-section-involved-intro">
        <h2 class="h1">Get involved</h2>
        <p>There are many opportunities to get involved throughout the offshore renewables process</p>
      </div>

      <div class="revenues-section-involved-right">

        <!-- <div class="revenues-section-involved-participate">

          <div>
            <h3>Coastal States</h3>

            <p>BOEM has set up federal-state task forces in 16 coastal states to coordinate public engagement. <a href="http://boemoceaninfo.com/">Click to learn about your state's task force</a> and to get involved.</p>

            <p><strong>Join a Resource Advisory Council.</strong> Resource Advisory Councils (RACs) in the Western U.S. give BLM advice on managing public lands and resources. Each RAC consists of 12 to 15 ranchers, tribe members, state and local government officials, academics, and other public land users. Learn about <a href="http://www.blm.gov/wo/st/en/info/resource_advisory.html">joining your local RAC here</a>.</p>

            <p><strong>Volunteer.</strong> You can volunteer for BLM by searching for Bureau of Land Management opportunities <a href="http://volunteer.gov/index.cfm">here</a>. Or, find out how to create a BLM partnership <a href="http://www.blm.gov/wo/st/en/prog/more/partnerships_home.html">here</a>.</p>

          </div>

          <div>
            <iframe height="180px" src="https://www.youtube.com/embed/gdalYBS1lPE" frameborder="0" allowfullscreen></iframe>
          </div>

        </div> -->

        <div class="revenues-section-involved-options">

          <div>
            <a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001s6pS_QJvIMMyFsJiyW9qpHHXCUx5GJw4EpJZzMYvJ0dJa-pTlcQKNqg_LP2kF1bJcU5IyVl0cZG2y0ShYooNeXlI6f8QEFq0PJo8Tc_KGIMrWpNXIsqsCalELfsFx3gNFwSaOPpb5lkgyrTv8zqK0YmGU1orZzGq">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Mailing List</h3>
            </a>
            <p>Sign up to get the latest BOEM info delivered right to your inbox.</p>
          </div>

          <div>
            <a href="https://www.facebook.com/BureauOfOceanEnergyManagement">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Facebook</h3>
            </a>
            <p>Like BOEM on Facebook to get the latest in ocean energy management in your feed.</p>
          </div>

          <div>
            <a href="https://twitter.com/boem_doi">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Twitter</h3>
            </a>
            <p>Follow BOEM to keep up with the latest offshore renewables leasing info.</p>
          </div>

          <div>
            <a href="https://www.flickr.com/photos/boemgov/sets/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
              </span>
              <h3>Flickr</h3>
            </a>
            <p>A picture is worth a thousand words; see BOEM's work on Flickr.</p>
          </div>

        </div>

      </div>

    </section>
