<section class="container-outer">
  <h1>Revenue collected by the Office of Natural Resources Revenue</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
    </div>

    <div>
      <h2>Rent</h2>
      <p class="revenues_page-forms_numbers_last">Offshore either <span>$7.00</span> or <span>$11.00</span> per acre depending on depth, increasing throughout the term of the lease up to <span>$44.00</span> per acre in some cases.</p>
    </div>

    <div>
      <h2>Royalty</h2>
      <p class="revenues_page-forms_numbers_last"><span>12.5%, 16.67%,</span> or <span>18.75%</span> offshore rates.</p>
    </div>

    <div>
    </div>
  </div>

</section>
