
<section class="container-outer">

  <div class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>
    <p class="revenues_subpage-dyk_text">GOMESA bans oil and gas leasing within 125 miles of the Florida coastline until 2022</p>
    <a class="revenues_subpage_dyk-link" href="#">more <span>+</span></a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">

            <p>BOEM develops offshore land-use plans as part of its <a href="http://www.boem.gov/five-year-program/">Five-Year Outer Continental Shelf Leasing Program</a>. These plans are designed to <a href="http://www.boem.gov/Five-Year-Program-Details/">meet national energy needs while balancing economic, environmental, and social considerations</a>.</p>

            <p>BOEM also writes a <a href="http://www.boem.gov/5-year/2012-2017/PEIS/">Programmatic Environmental Impact Statement</a> as part of the planning process. This is required by the National Environmental Policy Act (NEPA), and evaluates the effects of potential extractive processes on the environment.</p>

            <p>Each five-year program contains a schedule of lease sales for that period. <a href="#">The public can comment on the proposed leasing program</a>. Public comments are submitted, along with the plan, to Congress and the President.</p>

            <p>For an example of what these land-use plans look like, see BOEM’s <a href="http://www.boem.gov/five-year-program/">planning site for the 2017-2022 Outer Continental Shelf Leasing Program</a>.</p>
          </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">

          <p>BOEM sends notice of sales to interested bidders with the terms and conditions of the “blocks” (nine-square-mile areas) that will be up for sale. The bidding process is competitive, which means that anyone can participate, and bids are secret. The winner—the bidder with the highest offer—is subject to BOEM’s subsequent <a href="http://www.boem.gov/Fair-Market-Value/">fair market value analysis</a> and will only receive the lease if the bid meets or exceeds the fair market value of the resources on the block. BOEM calculates this number based on the expected value of exploring for and extracting oil and gas resources from that block, not on actual activities and discoveries resulting from the sale of the lease.</p>

          <p>Once BOEM accepts a bid and awards a lease, the lease holder must pay the complete bid amount, called the bonus, as well as the first-year rent payment, in addition to satisfying any <a href="http://www.boem.gov/Bonding/">bonding requirements</a>.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>During the explore phase, the lease holder must file an exploration plan (EP) with the BOEM in order to explore the leased land for oil and gas deposits. The BOEM defines exploration as “the process of searching for minerals preliminary to development. Exploration activities include: (1) geophysical surveys, (2) any drilling to locate an oil or gas reservoir, and (3) the drilling of additional wells after a discovery to delineate a reservoir. It enables the lessee to determine whether to proceed with development and production.” Companies must submit an EP detailing all planned exploration activities, including timing, location of wells, method, potential environmental impact, and potential environmental impact in the worst-case blowout scenario. The BOEM evaluates the EP and determines if extenuating circumstances require the lease holder to complete a site-specific environmental assessment (SEA) before proceeding.</p>
          <p>The BOEM will grant an exploratory lease ranging from five to ten years based on water depth and adversity of conditions. During the exploration period, companies pay rent on the leased or claimed land to the federal government, collected by the ONRR. Companies can choose whether or not to extend their leases based on their findings during exploration.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop & Produce</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Once a lease has been awarded, the lease holder must develop and submit an Exploration Plan and a Development or Production Plan for BOEM’s approval. Once approval has been granted, the lease holder or operator may begin the process of exploring for oil and gas. If these resources are found, the lease holder will apply to BSEE for drilling and operations permits to begin extraction.</p>
          <p>During this phase, BSEE oversees development of natural resources and enforces lease terms and other conditions. BSEE will also conduct initial inspections to ensure the proper installation of structures and equipment, as well as periodic announced and unannounced inspections throughout the operation.</p>
          <p>During the development of the natural resource, the lease holder pays annual rent specified in the lease, until the operation starts producing oil or gas in paying quantities, at which time the lease holder stops paying rent and begins paying a royalty. The Office of Natural Resources Revenues collects both payments.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission & Reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>At the close of an operation, the lease holder or operator must return the ocean and seafloor to its pre-lease condition. BOEM requires that retired offshore drilling platforms be removed from the marine environment within one year. Under the OCSLA regulations, the lease holder is required to submit a decommissioning plan two years prior to the termination of the lease to BSEE for approval. To satisfy NEPA obligations, BOEM prepares a site-specific Environmental Assessment for each removal application on behalf of BSEE.</p>
          <p>The lease holder is required to remove the platform from its foundation by severing all bottom-founded components at least 15 feet below the mudline, and disposing of the structures in a scrap yard or fabrication yard. Alternatively, the platform can be permitted to create an artificial reef underwater.</p>
        </div>
      </li>

    </ul>

  </div>

</section>
