<section class="container-outer">
  <h1>Revenue collected by the Office of Natural Resources Revenue</h1>

  <div class="revenues_page-forms_options">

    <div>
      <h3>Bonus</h3>
      <p>The bonus is the amount paid by the highest bidder for a natural resource lease on federal land.</p>
    </div>

    <div>
      <h3>Acquisition</h3>
      <p class="revenues_page-forms_numbers"><span>$0.25</span> per acre</p>
      <p>An acquisition fee charged for uncompetitive leases in place of a bonus.</p>
    </div>

    <div>
      <h3>Rent</h3>
      <p class="revenues_page-forms_numbers"><span>$3.00</span> per acre</p>
      <p>Rent is an annual payment made on leased land for the right to continue exploration and development of federal land for future production.</p>
    </div>

    <div>
      <h3>Operations</h3>
      <p>An operations fee is a percentage of the anticipated value of the energy produced.</p>
    </div>

  </div>

</section>
