<section class="container-outer">

  <div class="container-left-4">
    <h2>Get involved</h2>
    <h4>There are many opportunities to get involved throughout the offshore oil &amp; gas process</h4>
  </div>

  <div class="container-right-8">

    <div class="revenues_subpage-involved_participate">

      <div class="container-half">
        <a class="link-no_under" href="http://boemoceaninfo.com/learn/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
        </span>
        <h3>YouTube: See how to participate</h3>
        </a>
        <p>BOEM is reaching out to you to get as much input as possible for potential new oil and gas leases in the Mid- and South Atlantic, Gulf of Mexico, and Alaska. Watch the video here to learn more about how you can comment on the Programmatic Environmental Impact Statement for the 2017-2022 Leasing Program, or visit <a href="http://boemoceaninfo.com/learn/">BOEM's Programmatic EIS website</a> for all the details.</p>
      </div>

      <div class="container-half revenues_subpage-involved_video">
        <iframe src="https://www.youtube.com/embed/Xkqip8Sm8ng" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.facebook.com/BureauOfOceanEnergyManagement">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Facebook</h3>
        </a>
        <p>Like BOEM on Facebook to get the latest in ocean energy management in your feed.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://twitter.com/boem_doi">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Twitter</h3>
        </a>
        <p>Follow BOEM to keep up with the latest oil &amp; gas leasing info.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.flickr.com/photos/boemgov/sets/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Flickr</h3>
        </a>
        <p>A picture is worth a thousand words; see BOEM's work on Flickr.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://boemoceaninfo.com/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Coastal States</h3>
        </a>
        <p>BOEM has set up federal-state task forces in 16 coastal states to coordinate public engagement. <a class="link-active" href="http://boemoceaninfo.com/">Click to learn about your state's task force</a> and to get involved.</p>
      </div>

    </div>

  </div>

</section>
