<section class="container-outer">
  <h1>Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h2>

  <div class="revenues_page-forms_options">

    <div>
      <h3>Bonus</h3>
      <p>A bonus is the amount paid by the highest bidder for a natural resource lease.</p>
    </div>

    <div>
      <h3>Rent</h3>
      <p class="revenues_page-forms_numbers"><span>$1.50</span> per acre for five years<br> <span>$2.00</span> per acre thereafter</p>
      <p>Rent is an annual payment for leasing lands or waters before production starts.</p>
    </div>

    <div>
      <h3>Royalty</h3>
      <p class="revenues_page-forms_numbers"><span>12.5%</span> onshore rate.</p>
      <p>A royalty is a payment for the natural resources extracted, determined by a percentage of the resources’ production value.</p>
    </div>

    <div>
    </div>
  </div>

</section>
