
<section class="container-outer">

  <div class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>

    <p class="revenues_subpage-dyk_text">Since 2010, BLM has approved 25 utility-scale solar energy projects with a total capacity of over 8,000 megawatts. That's enough clean energy to power about 2.5 million homes.</p>
    <a class="revenues_subpage_dyk-link" href="#">more <span>+</span></a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
            <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>Over the past decade, the federal government has taken steps to update regulations to clarify and encourage planning for renewable energy development on federal lands, in particular for wind and solar.</p>
            <p>In 2005, BLM published a programmatic Environmental Impact Statement to create a framework for developing wind energy on federal lands in the West. At the same time, BLM amended 53 land use plans to allow for wind energy development. BLM field offices can amend additional land use plans any time to support wind energy development.</p>
            <p>In 2012, BLM released the Final Solar Environmental Impact Statement. This statement furthered a proposal to create a competitive leasing program on federal lands for commercial-scale solar development in 19 new Solar Energy Zones in the West.</p>
            <p>BLM has also proposed a rule that would promote the use of “designated leasing areas” for competitive leasing. These are preferred areas for solar and wind energy development because they have fewer environmental and cultural resource conflicts.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>BLM has proposed amendments to existing regulations which would establish two distinct processes for awarding rights to develop wind and solar energy projects on federal lands: one within designated leasing areas, and one outside of designated leasing areas.</p>

          <p>Within designated leasing areas, BLM will competitively offer leases for parcels of land for wind and solar energy development. Interested parties will offer bids for the lease, and BLM will award the lease to the highest bidder, so long as the bid meets or exceeds the minimum bid (based on administrative costs incurred by the government and the estimated value of the land) and 20% of the bonus bid (any amount the bidder is willing to pay beyond the minimum bid). Some bidders may quality for offsets up to 20% of the total bid.</p>

          <p>Outside of designated leasing areas, BLM will have opportunity to offer right–of–way grants through a competitive process. BLM will hold pre-application meetings and screen all applicants. Where there are two or more applicants (or at BLM’s discretion), BLM can offer right-of-way grants by holding a competitive offer. The bidder who submits the highest total bid becomes the preferred applicant, the only party who can apply for a right-of-way grant for a given parcel of land. BLM may offer the applicant a grant at its discretion. There are no bid offsets outside of the designated leasing areas, and site specific National Environmental Policy Act analysis is required for right-of-way grants.</p>
        </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>The exploration phase for renewable resources differs from non-renewable resources; rather than locate deposits of natural resources, companies explore leased land to locate suitable sites for the construction of renewable infrastructure. Under the proposed rule, once the BLM grants a developer a lease or right-of-way, the developer has a period of time to construct facilities and begin generating electricity from wind or solar energy.</p>
          <p>The exploration process for onshore renewables is easier than offshore renewables, and therefore the exploration period is shorter. Within designated leasing areas, a developer has two years to find a suitable site for infrastructure and submit a Plan of Development. Outside of designated leasing areas, a developer has two years to begin construction. During the exploration period, companies pay rent on the leased land to the federal government, collected by the ONRR. Companies can choose whether or not to extend their leases based on their findings during exploration.</p>
        </div>
      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop & Produce</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Under the proposed rule, once a developer submits a Plan of Development, they have a period of time to construct facilities and begin generating electricity from wind or solar energy. Within designated leasing areas, a developer has seven years to complete construction. Outside of designated leasing areas, a developer has 24 months to complete construction. During this phase, a developer pays MC fees based on the amount of energy produced to BLM.</p>
        </div>

      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission & Reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>At the close of a solar or wind project, developers must remove all facilities and return the land to a sound environmental state. Under the proposed rule, when an applicant gains a solar or wind energy lease or grant, they must provide BLM a bond. BLM holds the bond through the life of the project to ensure compliance with terms and conditions.</p>
          <p>Under the proposed rule, bonding requirements would differ based on whether the project is in a designed leasing area or not. Inside designated leasing areas, the standard bond amount for solar energy developments would be $10,000 per acre and $20,000 per turbine for wind energy projects. These same amounts would be the minimum requirements for bonds outside designated leasing areas, subject to adjustment by BLM.</p>
          <p>Provided the developer appropriately decommissions solar and wind projects and meets terms and conditions, BLM returns the bond at the close of the project.</p>
        </div>
      </li>
    </ul>

  </div>

</section>

