<section class="container-outer">

  <div class="container-left-4">
    <h2>Get involved</h2>
    <h4>There are many opportunities to get involved throughout the onshore oil &amp; gas process</h4>
  </div>

  <div class="container-right-8">

    <div class="revenues_subpage-involved_participate">

      <div class="container-half">
        <h3>How to participate</h3>

        <p><strong>Contact a local BLM office.</strong> BLM has twelve field offices, mostly in the Western U.S. To learn more about land use policies for federal lands in your state, <a href="http://www.blm.gov/wo/st/en/info/directory.html">contact your state office</a>.</p>

        <p><strong>Join a Resource Advisory Council.</strong> Resource Advisory Councils (RACs) in the Western U.S. give BLM advice on managing public lands and resources. Each RAC consists of 12 to 15 ranchers, tribe members, state and local government officials, academics, and other public land users. Learn about <a href="http://www.blm.gov/wo/st/en/info/resource_advisory.html">joining your local RAC here</a>.</p>

        <p><strong>Volunteer.</strong> You can volunteer for BLM by searching for Bureau of Land Management opportunities <a href="http://volunteer.gov/index.cfm">here</a>. Or, find out how to create a BLM partnership <a href="http://www.blm.gov/wo/st/en/prog/more/partnerships_home.html">here</a>.</p>

      </div>

      <div class="container-half revenues_subpage-involved_video">
        <iframe src="https://www.youtube.com/embed/gdalYBS1lPE" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div> 

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_facebook.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Facebook</h3>
        </a>
        <p>Like a BLM Facebook page to get the latest from whale watching to mountain biking in your feed.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://twitter.com/BLMNational">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Twitter</h3>
        </a>
        <p>Follow BLM to keep up with the latest info.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.flickr.com/photos/mypubliclands/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Flickr</h3>
        </a>
        <p>A picture is worth a thousand words; see BLM's work on Flickr.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.youtube.com/user/BLMNational">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
          </span>
          <h3>YouTube</h3>
        </a>
        <p>View the latest in wildlife and wilderness at BLM's YouTube channel.</p>
      </div>

    </div>

    <div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://mypubliclands.tumblr.com/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Tumblr</h3>
        </a>
        <p>Find BLM on Tumblr to read blogs from BLM offices across the U.S.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://instagram.com/mypubliclands/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Instagram</h3>
        </a>
        <p>#seeBLM on Instagram for snapshots of over 245 million acres of public land.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="https://www.pinterest.com/mypubliclands/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Pinterest</h3>
        </a>
        <p>Pin your favorite public land and plan your next trip from BLM's Pinterest.</p>
      </div>

      <div class="revenues_subpage-involved_option">
        <a class="link-no_under" href="http://www.blm.gov/wo/st/en/info/socialmedia/socialmediatools_rssfeeds.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
          <h3>RSS Feeds</h3>
        </a>
        <p>Subscribe to BLM news feeds and policy document lists to have BLM news delivered directly to you. </p>
      </div>

    </div>

  </div>

    </section>
