<section class="container-outer">

  <div accordion accordion-item accordion-open="false" class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>
    <div class="revenues_subpage-dyk_text">
      <p>Exploration for oil and gas changed significantly in the early 2000s, with new applications of extraction methods, known as horizontal drilling and hydraulic fracturing, commonly called “fracking.” <span class="accordion-more">These methods made extracting oil and gas deep below the surface of the earth in shale rock formations profitable.</span></p>
    	<p class="accordion-more">Hydraulic fracturing pumps water, sand, and chemicals into the earth to fracture the shale rock so that natural gas and oil can flow through the well to the surface. Major oil and gas shale rock formations in the U.S. include the Permian, Haynesville, and Eagle Ford Regions mostly in Texas; the Marcellus Region in West Virginia, Pennsylvania, and New York; the Niobrara Region in Wyoming and Colorado; and the Bakken Region in North Dakota and Montana.</p>
    </div>
    <a class="revenues_subpage_dyk-link accordion-button_more" accordion-button>more</a>
    <a class="revenues_subpage_dyk-link accordion-button_less" accordion-button>less</a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>BLM field offices prepare comprehensive Resource Management Plans (RMPs) to guide leasing decisions on federal lands, including which lands are open to oil and gas leasing, and which lands are closed. Currently 8% of all oil and 11% of all natural gas on federal lands are available for extraction through leasing. BLM field offices develop RMPs in line with multiple-use and sustained-yield principles, and by engaging the public and various levels of government.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>BLM field offices award leases for oil and gas resources on lands designated within RPMs during frequent (often quarterly) live lease auctions open to the public. Before the live auction, the BLM field office estimates the fair market value for the natural resources in question.</p>
		  <p>During the live auction, bidders compete for a lease by placing bids. The BLM field office awards the lease to the highest bidder, so long as the bid is equal to or greater than the fair market value estimate. Once the BLM field office accepts a bid, the bidder must pay the bonus as well as the first year’s rent to BLM to secure the lease.</p>
        </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
			<p>During the explore phase, the lease holder must file an Application for Permit to Drill (APD) with the BLM field office in order to explore the leased land for oil and gas deposits. To apply for an APD, lease holders must submit an Exploration Plan that includes information about the well and associated rights of way, roads, pipelines, and production facilities. After the APD is filed, there is a mandatory 30-day public notification period before the permit can be approved.</p>
			<p>While reviewing the APD, BLM analyzes the impact of drilling on the environment using an Environmental Impact Statement or an Environmental Assessment in accordance with the National Environmental Policy Act. BLM must also ensure that conditions for the National Historic Preservation Act and the Endangered Species Act are met before awarding the permit.</p>
			<p>Once granted, the APD expires within two years. Companies can choose whether or not to extend their leases based on their findings. During the explore phase, companies pay rent to the ONRR.</p>
        </div>
      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>The APD is one of many permits a lease holder must obtain to move from exploration to development and production. Once operators and lease holders obtain all needed permits and licenses, companies build their operations and extract oil and gas from federal lands.</p>
		  <p>During development and production, the BLM field office performs a number of inspections to enforce lease terms and monitor health, safety, and environmental concerns. Once operators successfully extract oil or gas in paying quantities, the lease holder stops paying rent and starting paying royalties to ONRR.</p>
        </div>

      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission and reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Even before the close of an oil and gas operation, operators and lease holders must begin reclamation. At the start of an operation, the operator includes a Reclamation Plan in the Surface Use Plan that must be approved by BLM before construction can start.</p>
		  <p>The lease holder also posts a bond of at least $10,000 that BLM holds during the operation to enforce lease terms and reclamation. The operator must conduct interim reclamation throughout the life of the operation, concluding with appropriately plugging wells and restoring the ecosystem.</p>
		  <p>The BLM field office performs inspections throughout the operation to ensure that interim reclamation takes place, wells are appropriately plugged, and the ecosystem returns.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <h3 class="revenues_subpage-steps_heading_more">Learn more</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <ul class="bullet">
          	<li><a href="http://www.blm.gov/wo/st/en/prog/energy/oil_and_gas/leasing_of_onshore.html">Leasing of Onshore Oil and Gas Resources</a></li>
      			<li><a href="http://www.blm.gov/style/medialib/blm/wo/Communications_Directorate/public_affairs/socioeconomic.Par.81563.File.dat/socioeconomic_2012.pdf">The BLM: A Sound Investment for America</a></li>
          </ul>
        </div>

      </li>

    </ul>

  </div>

</section>
