
<section class="container-outer">

  <div accordion accordion-item accordion-open="false" class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>

    <p class="revenues_subpage-dyk_text">Since 2010, BLM has approved <a href="http://www.blm.gov/wo/st/en/prog/energy/renewable_energy/Renewable_Energy_Projects_Approved_to_Date.html">34 utility-scale solar energy projects</a>, with a total approved capacity of 9,763 megawatts. <span class="accordion-more">That’s enough clean, renewable energy to power nearly 2.8 million homes.</span></p>
    <a class="revenues_subpage_dyk-link accordion-button_more" accordion-button>more</a>
    <a class="revenues_subpage_dyk-link accordion-button_less" accordion-button>less</a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
            <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>Over the past decade, the federal government has taken steps to update regulations to clarify and encourage planning for renewable energy development on federal lands, in particular for wind and solar energy.</p>

            <p>In 2005, BLM published a programmatic Environmental Impact Statement (EIS) to create a framework for developing wind energy on federal lands in the West. At the same time, BLM amended 53 land-use plans to allow for wind energy development. BLM field offices can amend additional land-use plans any time to support wind energy development.</p>

            <p>In 2012, BLM released the final solar EIS. This statement furthered a proposal to create a competitive leasing program on federal lands for commercial-scale solar development in 19 new <a href="http://solareis.anl.gov/documents/fpeis/maps/alternatives/Six_State_Alternatives_Final_Solar_PEIS.pdf">Solar Energy Zones</a>.</p>

            <p>BLM has also <a href="http://www.blm.gov/style/medialib/blm/wo/MINERALS__REALTY__AND_RESOURCE_PROTECTION_/energy/solar_and_wind.Par.4208.File.dat/Solar%20and%20Wind%20Competitive%20Leasing%20Proposed%20Rule.pdf">proposed a rule</a> that would promote offering designated leasing areas for solar and wind energy development competitively. Designated leasing areas have fewer environmental and cultural resource conflicts compared to others, making them better candidates for development.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>BLM has proposed amendments to existing regulations that would establish two distinct processes for awarding rights to apply to develop wind and solar energy projects on federal lands: one within designated leasing areas, and one outside of designated leasing areas.</p>

          <p>Within designated leasing areas, BLM would competitively offer leases for parcels of land for wind and solar energy development. Interested parties would offer bids for the lease, and BLM would award the lease to the highest bidder, so long as the payment is equal to or greater than the minimum bid (based on administrative costs incurred by the government and the estimated value of the land) and 20% of the bonus bid (any amount the bidder is willing to pay beyond the minimum bid). Some bidders may pre-qualify for offsets up to 20% of the high bid.</p>

          <p>Outside of designated leasing areas, BLM would offer right–of–way grants through a competitive process. BLM would hold pre-application meetings and screen all applicants. Where there are two or more applicants (or at BLM’s discretion), BLM could offer right-of-way grants by holding a competitive offer. The highest bidder becomes the preferred applicant, the only party that could apply for a right-of-way grant for a given parcel of land. BLM could offer the applicant a grant at its discretion. There would be no bid offsets outside of the designated leasing areas, and subsequent site-specific National Environmental Policy Act analysis would be required for right-of-way grants.</p>
        </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>During the explore phase, companies explore leased land to locate suitable sites for constructing renewable infrastructure. Under the proposed rule, once BLM grants a developer a lease or right of way, the developer has a period of time to construct facilities and begin generating electricity from wind or solar energy.</p>

          <p>Exploration for onshore renewables is easier and faster than for offshore renewables. Within designated leasing areas, a developer has two years to find a suitable site for infrastructure and submit a Plan of Development. Outside of designated leasing areas, a developer has two years to begin construction. Companies can choose whether or not to extend their leases based on their findings. During exploration, companies pay rent to BLM.</p>
        </div>
      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Under the proposed rule, once a developer submits a Plan of Development, they have a period of time to construct facilities and begin generating electricity from wind or solar energy. Within designated leasing areas, a developer has seven years to complete construction. Outside of designated leasing areas, a developer has two years. During this phase, the developer pays MC Fees for the energy produced as part of the rent to BLM.</p>
        </div>

      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission and reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>At the close of a solar or wind project, developers must remove all facilities and return the land to a sound environmental state. Under the proposed rule, when an applicant gains a solar or wind energy lease or grant, they must provide BLM a bond. BLM holds the bond through the life of the project to ensure compliance with terms and conditions, including site reclamation.</p>

          <p>Bonding requirements differ based on whether the project is in a designed leasing area or not. Inside designated leasing areas, the standard bond amounts would be $10,000 per acre for solar energy projects and $20,000 per turbine for wind energy projects. These same amounts would be the minimum requirements for bonds outside designated leasing areas, subject to adjustment by BLM.</p>

          <p>Provided the developer appropriately decommissions solar and wind projects and meets terms and conditions, BLM returns the bond at the close of the project.</p>
        </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <h3 class="revenues_subpage-steps_heading_more">Learn more</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <ul class="bullet">
            <li><a href="http://www.blm.gov/wo/st/en/prog/energy/renewable_energy.html">New Energy for America</a></li>
            <li><a href="http://www.blm.gov/wo/st/en/prog/energy/solar_energy.html">Solar Energy</a></li>
            <li><a href="http://www.blm.gov/flpma/FLPMA.pdf">The Federal Land Policy and Management Act of 1976 as Amended</a></li>
          </ul>
        </div>

      </li>

    </ul>

  </div>

</section>

