<div class="container container-left-8">
  <div>
    <a class="revenues_subpage-breadcrumb" href="{{ site.baseurl }}/resource_revenues/">How it works</a>
    /
  </div>
  <h1>Onshore Oil &amp; Gas</h1>

  <p class="revenues_subpage-intro_text">The Federal Land Policy and Management Act of 1976 and the Mineral Leasing Act of 1920 grant the Bureau of Land Management (BLM) the authority to manage federal lands, including leasing certain lands for oil and gas development. The Oil and Gas Management Program includes over 63,000 onshore oil and gas wells on federal lands.</p>
  
  <a class="revenues_subpage-intro_text" href="#"><i class="icon-cloud"></i> Download PDF</a>
</div>

<div class="revenues_subpage-office_container container-right-4">
  <div class="revenues_subpage-office container">
    
    <p class="revenues_subpage-office_text"><strong>Managed and regulated by</strong> the <span><a href="http://www.blm.gov/">Bureau of Land Management</a> (BLM)</span>.</p>
    
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/BLM-mark.png" alt="Bureau of Land Management">
    </div>
  </div>
  <div class="revenues_subpage-office container">
    <p class="revenues_subpage-office_text">The <span><a href="http://www.onrr.gov/">Office of Natural Resources Revenue</a> (ONRR)</span> manages some monetary transactions.</p>
    
    <div class="revenues_subpage-office_logos">
      <img class="revenues_subpage-office_logo" src="{{ site.baseurl }}/img/logos/DOI-mark.png" alt="Office of Natural Resources Revenue">
    </div>
  </div>
</div>
