<section class="container-outer">
  <h1>Revenue collected by the Bureau of Land Management and the Office of Natural Resources Revenue</h2>

  <div class="revenues_page-forms_options">

    <div>
      <h2>Bonus</h2>
    </div>

    <div>
      <h2>Rent</h2>
      <p class="revenues_page-forms_numbers_last"><span>$1.50</span> per acre for five years<br /> <span>$2.00</span> per acre thereafter.</p>
    </div>

    <div>
      <h2>Royalty</h2>
      <p class="revenues_page-forms_numbers_last"><span>12.5%</span> onshore rate.</p>
    </div>

    <div>
    </div>
  </div>

</section>
