<section class="container-outer">

  <div class="revenues_subpage-dyk">

    <h4 class="revenues_subpage-dyk_heading">Did you know?</h4>
    <p class="revenues_subpage-dyk_text">Exploration for oil and gas changed significantly starting in the early 2000s, with advances in technology, known as horizontal drilling and hydraulic fracturing. These extraction methods made extracting oil and gas deep below the surface of the earth in shale rock formations profitable. Hydraulic fracturing pumps water, sand, and chemicals into the earth to fracture the shale rock so that natural gas and oil can flow through the well to the surface. Major oil and gas shale rock formations in the U.S. include the Permian, Haynesville, and Eagle Ford Regions mostly in Texas; the Marcellus Region in West Virginia, Pennsylvania, and New York; the Niobrara Region in Wyoming and Colorado; and the Bakken Region in North Dakota and Montana.</p>
    <a href="#" class="revenues_subpage_dyk-link">more <span>+</span></a>

  </div>

  <div class="container">

    <ul accordion class="revenues_subpage-steps_group">
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
          <div class="revenues_subpage-steps_number">1</div>
          <h3 class="revenues_subpage-steps_heading">Plan</h3>
          <button class="accordion-button" accordion-button></button>
          <div class="accordion-content">
            <p>BLM field offices prepare comprehensive Resource Management Plans (RMPs) in order to guide leasing decisions on federal lands, including which lands are open to oil and gas leasing, and which lands are closed. Currently 8% of all oil and 11% of all natural gas on federal lands are accessible through leasing. BLM field offices develop RMPs in line with multiple use and sustained yield principles, and by engaging both the public and multiple levels of government.</p>
          </div>
      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">2</div>
        <h3 class="revenues_subpage-steps_heading">Lease</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>BLM field offices hold frequent, often quarterly lease auctions, which are competitive and open to the public, to award leases for oil and gas resources in land parcels designated within RMPs. An auctioneer conducts a live auction, where BLM awards the lease to the highest bidder, so long as the bid meets or exceeds the fair market value, BLM’s prior estimation of the value of the resources on the land parcel in question.</p>

          <p>Once BLM accepts a bid, the bidder must pay the bid amount, called a bonus, as well as the first-year rent to BLM to secure the lease.</p>
        </div>

      </li>

      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">3</div>
        <h3 class="revenues_subpage-steps_heading">Explore</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>During the explore phase, the lease holder must file an Application for Permit to Drill (APD) with the BLM in order to explore the leased land for oil and gas deposits. Exploration is the process of discovering the specific location, quantity, and quality of natural resources on leased or claimed land. To apply for an APD, companies must submit an exploration plan detailing all relevant information on the well and associated rights-of-way, roads, pipelines, and production facilities. After the APD is filed, there is a mandatory 30-public notification period before the permit can be approved. The lease holder must then physically stake out the boundaries of the proposed well before the BLM conducts an onsite inspection. At this stage, the lease holder must complete resource survey information to comply with NEPA, if necessary. The BLM will then evaluate the application.</p>
        
          <p>The APD expires two years after the BLM grants it. During the exploration period, companies pay rent on the leased or claimed land to the federal government, collected by the ONRR. Companies can choose whether or not to extend their leases based on their findings during exploration.</p>
        </div>
      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">4</div>
        <h3 class="revenues_subpage-steps_heading">Develop & Produce</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>After a lease has been awarded, the lease holder must seek permits in order to begin operations, including an Application for a Permit to Drill (APD) from the local BLM field office, as well as other permits from additional government offices. While reviewing the APD, the BLM field office will analyze the impact of drilling on the environment using an Environmental Impact Statement or an Environmental Assessment in accordance with the National Environmental Policy Act. BLM must also ensure that conditions for the National Historic Preservation Act and the Endangered Species Act are met before awarding the permit. Throughout the permitting and leasing process, BLM performs a number of inspections to enforce terms and monitor health, safety, and environmental concerns.</p>
        
          <p>Once a lease has started, the lease holder must pay annual rent to the Office of Natural Resources Revenue (ONRR). However, once operators successfully extract oil and/or gas in paying quantities, the lease holder stops paying rent and starting paying royalties to ONRR.</p>
        </div>

      </li>
      <li class="revenues_subpage-steps_group_item" accordion-item accordion-open="true">
        <div class="revenues_subpage-steps_number">5</div>
        <h3 class="revenues_subpage-steps_heading">Decommission & Reclaim</h3>
        <button class="accordion-button" accordion-button></button>
        <div class="accordion-content">
          <p>Even before the close of an oil and gas operation, operators and lease holders must begin reclamation: the process of returning the land to its original state. The ultimate goal of reclamation is ecosystem restoration, including restoring the natural vegetation community, hydrology, and wildlife habitats. At the start of an operation, the operator includes a reclamation plan in the surface use plan, which must be approved by BLM before any construction can start. The operator must conduct interim reclamation throughout the life of the operation, concluding with appropriately plugging wells and restoring the ecosystem. BLM performs inspections throughout the operation to ensure that interim reclamation takes place, wells are appropriately plugged, and the ecosystem returns.</p>
        </div>
      </li>
    </ul>

  </div>

</section>
