<section class="container-outer">

  <div class="container-left-4">
    <h2>Choose a resource to explore:</h2>
    <a href="{{ site.baseurl }}/resource_revenues/"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Back to Revenues</a>
  </div>

  <ul class="container-right-8">
	  <li><a href="{{ site.baseurl }}/resource_revenues/coal/"><i class="icon-coal"></i>Coal</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/offshore_oil_gas/"><i class="icon-oil"></i>Oil &amp; Gas</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/minerals/"><i class="icon-hardrock"></i></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/offshore_renewables/"><i class="icon-wind"></i>Renewables</a></li>
	</ul>
</section>


