<section class="container-outer">

  <div class="container-left-4">
    <h2>Choose a resource to explore:</h2>
    <a href="{{ site.baseurl }}/resource_revenues/"><i class="icon-chevron-sm-left"></i> Back to Revenues</a>
  </div>

  <ul class="container-right-8">
	  <li><a href="{{ site.baseurl }}/resource_revenues/coal/"><i class="icon-coal icon-padded"></i>Coal</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/offshore_oil_gas/"><i class="icon-oil icon-padded"></i>Oil &amp; Gas</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/minerals/"><i class="icon-hardrock icon-padded"></i>Non-Energy Minerals</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/offshore_renewables/"><i class="icon-wind icon-padded"></i>Renewables</a></li>
	</ul>
</section>


