<section class="container-outer">

  <div class="container-left-4">
    <h2>Choose a resource to explore:</h2>
    <a href="{{ site.baseurl }}/resource_revenues/"><span class="shrink-fa"><i class="fa fa-chevron-left"></i></span> Back to Revenues</a>
  </div>

  <ul class="container-right-8">
	  <li><a href="{{ site.baseurl }}/resource_revenues/coal/"><img src="{{ site.baseurl }}/img/icons/coal.svg" alt="coal">Coal</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/offshore_oil_gas/"><img src="{{ site.baseurl }}/img/icons/oil.svg" alt="oil and gas">Oil &amp; Gas</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/minerals/"><img src="{{ site.baseurl }}/img/icons/hardrock.svg" alt="minerals">Non-Energy Minerals</a></li>
	  <li><a href="{{ site.baseurl }}/resource_revenues/offshore_renewables/"><img src="{{ site.baseurl }}/img/icons/renewables.svg" alt="renewables">Renewables</a></li>
	</ul>
</section>


