$arrow-box-height: 70px;
$arrow-box-half: $arrow-box-height / 2;
$arrow-box-gutter: 2px;
$arrow-box-wrap: $arrow-box-half + (2 * $arrow-box-gutter);
$arrow-box-h-indent: ($arrow-box-half / 2);
$arrow-box-w-indent: ($arrow-box-half / 2) + $arrow-box-gutter;
$arrow-box-padding: 30px;

#revenue-types {
  width: 100%;

  thead th {
    background-color: $green-mint;
    font-size: 12px;
    height: $arrow-box-height;
    line-height: $base-line-height;
    padding-left: $arrow-box-padding;
    padding-right: $arrow-box-padding;
    text-align: left;
    vertical-align: middle;
    z-index: 100;
  }

  th:nth-child(1) {
    padding-left: $arrow-box-padding / 2;
  }

  th:nth-child(2) {
    z-index: 50;
  }

  th:nth-child(3) {
    z-index: 40;
  }

  th:nth-child(4) {
    z-index: 30;
  }

  th:nth-child(5) {
    z-index: 20;
  }

  th:last-child {
    padding-left: $arrow-box-padding / 2;
    z-index: 0;
  }

  .arrow_box,
  .arrow_box-last {
    background: $green-mint;
    position: relative;
  }

  .arrow_box-last {
    border-right: $arrow-box-gutter solid $white;
  }

  .arrow_box:first-of-type {
    background: $green-sea;
    color: $white;
    font-weight: $weight-bold;

    &::after {
      border-left-color: $green-sea;
    }
  }

  .arrow_box::before,
  .arrow_box::after {
    border: solid transparent;
    content: "";
    height: 0;
    left: 100%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
  }

  .arrow_box::before {
    border-color: transparent;
    border-left-color: white;
    border-width: $arrow-box-wrap 0 $arrow-box-wrap $arrow-box-w-indent;
    margin-top: -$arrow-box-wrap;
  }

  .arrow_box:after {
    border-color: transparent;
    border-left-color: $green-mint;
    border-width: $arrow-box-half 0 $arrow-box-half $arrow-box-h-indent;
    margin-top: -$arrow-box-half;
  }
}
