$ab-height: 70px;
$ab-height-half: $ab-height / 2;
$ab-gutter: 2px;
$ab-wrap: $ab-height-half + (2 * $ab-gutter);
$ab-h-indent: ($ab-height-half / 2);
$ab-w-indent: ($ab-height-half / 2) + $ab-gutter;
$ab-padding: 10px;
$ab-padding-half: ($ab-padding / 2);

$ab-color-dark: $mid-light-gray;
$ab-color-primary: $mid-light-gray;
$ab-border-thin: 1px;
$ab-border-thick: 4px;

// Table arrow box

.table-arrow_box,
.table-arrow_box thead,
.table-arrow_box thead tr,
.table-arrow_box td,
.table-arrow_box th {
  border: 0;
}

.table-arrow_box {
  width: 100%;

  thead {
    th {
      @include heading('para-sm');

      background-color: $ab-color-primary;
      border-top: 20px solid $ab-color-primary;
      border-right: $ab-gutter solid $white;
      height: $ab-height;
      padding-top: 0;
      padding-left: $ab-padding;
      padding-right: $ab-padding;
      text-align: left;
      vertical-align: top;
      width: 20%;
      z-index: 100;

      &:last-of-type {
        border-right: none;
      }
    }

    // th:nth-child(2) {
    //   z-index: 50;
    // }
    //
    // th:nth-child(3) {
    //   z-index: 40;
    // }
    //
    // th:nth-child(4) {
    //   z-index: 30;
    // }
    //
    // th:nth-child(5) {
    //   z-index: 20;
    // }

    th:last-child:not(.arrow_box):not(.arrow_box-last) {
      padding-left: $ab-padding;

      span {
        font-weight: $weight-light;
      }
    }

    th:first-child {
      padding-left: $ab-padding;

      span {
        font-weight: $weight-light;
      }
    }

    span {
      font-weight: $weight-bold;
      line-height: 2.3;
      white-space: pre;

      &::after {
        content:'\A';
      }

      &:nth-child(4),
      &:nth-of-type(8) {
        font-weight: $weight-light;
      }
    }
  }

  // tr {
  //   border-top: $ab-border-thin solid $ab-color-primary;
  // }

  //td,
  // tbody th {
  //   padding: $base-padding $base-padding-lite $base-padding-lite $base-padding-lite;
  // }

  tbody th {
    padding: 10px;
    padding-left: 0;
  }

  tbody td {
    padding: 10px;
  }

  .table-arrow_box-subcategory,
  .table-arrow_box-category {
    @include heading('para-sm');
  }

  .table-arrow_box-category {
    border-bottom: $ab-border-thin solid $ab-color-primary;
    border-top: 40px solid $white;
    color: $green-dark;
    font-weight: $weight-bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    &::after {
      content: ' ';
    }

    td {
      padding-left: 0;
    }

    icon {
      color: $green-dark;
      font-weight: $weight-bold;
      font-size: 20px;
    }
  }

  // .arrow_box-last {
  //   border-right: $ab-gutter solid $white;
  // }
}


// // FIXME
// #revenue-types tbody:first-of-type tr,
// #revenue-types tbody:first-of-type tr,
// #revenue-process tr:first-of-type,
// #revenue-process tr:first-of-type {
//   border-top: 0;
// }

// Arrow box

.arrow_box,
.arrow_box-last {
  background: $ab-color-primary;
  position: relative;
}

.arrow_box:first-of-type {
  //background: $ab-color-dark;
  //font-weight: $weight-bold;
  padding-left: $ab-padding-half;

  // &::after {
  //   border-left-color: $ab-color-dark;
  // }
}

// .arrow_box::before,
// .arrow_box::after {
//   border: solid transparent;
//   content: '';
//   height: 0;
//   left: 100%;
//   pointer-events: none;
//   position: absolute;
//   top: 50%;
//   width: 0;
// }

// .arrow_box::before {
//   border-color: transparent;
//   border-left-color: $white;
//   border-width: $ab-wrap 0 $ab-wrap $ab-w-indent;
//   margin-top: -$ab-wrap;
// }

// .arrow_box::after {
//   border-color: transparent;
//   border-left-color: $ab-color-primary;
//   border-width: $ab-height-half 0 $ab-height-half $ab-h-indent;
//   margin-top: -$ab-height-half;
// }

// FIXME
#revenue-types tbody th .bar,
#revenue-process tbody th .bar {
  display: none;
}
