// scss-lint:disable QualifyingElement, SelectorDepth
.state-page-nav-title {
  @include heading(large-caps);
  align-items: center;
  border-bottom: 1px solid $mid-gray;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  position: relative;

  svg.map {
    .state.feature use,
    .offshore-area.feature use {
      fill-opacity: 1;
    }

    .states.features use {
      @include transition(all, 0.2s);

      fill: $gray;
      fill-opacity: 1;
      stroke: $gray;
    }

    .offshore.features use {
      @include transition(all, 0.2s);

      fill: $gray-light;
      fill-opacity: 1;
      stroke: $gray-light;
    }
  }

  figure {
    align-self: flex-end;
    margin: 0;
    width: 33%;

    &:hover,
    &:focus,
    &:active {

      + .nav-prompt {
        visibility: visible;
      }

      svg.map .states.features use,
      svg.map .state.feature use {
        fill: $black-light;
        fill-opacity: 1;
        stroke: $black-light;
      }

      svg.map .offshore.features use,
      svg.map .offshore-area.feature use {
        fill: $gray-darker;
        fill-opacity: 1;
        stroke: $gray-darker;
      }
    }

    svg.map {
      padding: 0;
    }
  }

  .nav-title {
    align-self: center;
    width: 67%;
  }

  .nav-prompt {
    @include font-size(0.8);
    @include transition(visibility, 0.3s);

    color: $gray-darker;
    font-style: italic;
    position: absolute;
    right: 0;
    text-transform: capitalize;
    top: -20px;
    visibility: hidden;
  }
}
