<div class="sticky sticky_nav container-right-3">
  <nav>
    <ul>
      <a href="#" class="sticky_nav-nav_item" data-nav-item="title" data-active="false">Top</a>
      <a href="#" class="sticky_nav-nav_item" data-nav-item="section-a" data-active="true">Section A</a>
      <ul>
          <a href="#" class="sticky_nav-nav_item sticky_nav-nav_item-sub" data-nav-item="sub-item-a" data-active="false">Sub-item a</a>
          <a href="#" class="sticky_nav-nav_item sticky_nav-nav_item-sub" data-nav-item="sub-item-b" data-active="false">Sub-item b</a>
      </ul>
      <a href="#" class="sticky_nav-nav_item" data-nav-item="section-b" data-active="false">Section B</a>
      <a href="#" class="sticky_nav-nav_item" data-nav-item="section-c" data-active="false">Section C</a>
      <a href="#" class="sticky_nav-nav_item" data-nav-item="section-d" data-active="false">Section D</a>
    </ul>
  </nav>
</div>
