table[is=bar-chart-table] {
  $cell-padding: 5px;
  $border-radius: 3px;

  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 2em 0;

  tbody tr:focus,
  tbody tr:hover {
    background: #fff;
  }

  .numeric,
  [data-value] {
    text-align: left;
  }

  [data-value] {
    position: relative;
    min-width: 120px;

    .bar {
      display: block;
      height: 1em;
      color: $blue;
      background: currentColor;
    }

    &:not([data-value="0"]) {
      .bar {
        min-width: 1px;
      }
    }
  }

  [data-series=percent] .bar {
    color: $green;
  }

  // negative values
  [data-value^="-"] .bar {
    border: 1px solid;
    background: transparent;
  }

  &[orient=vertical] {
    display: block;
    position: relative;
    height: 6em;

    thead {
      display: none;
    }

    tbody {
      display: flex;
      height: 100%;

      td,
      th {
        display: none;
        padding: 0;
        width: auto;
        border: 0;
      }


      tr {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0 0 1.5em 0;
        border-radius: $border-radius;
      }

      tr + tr {
        margin-left: 10px;
      }

      .label {
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        text-align: center;
      }

      [data-value] {
        display: flex;
        height: 100%;
        width: 100%;
        min-width: auto;
        margin: $border-radius;
        margin-bottom: 0;

        .bar {
          display: block;
          align-self: flex-end;
          width: 100%;
          border-radius: $border-radius;
          position: relative;
        }

        // hide text in vertical
        .text {
          display: none;
        }
      }

      [data-value] + [data-value] {
        margin-left: 2px;
      }

      tr:hover,
      tr:focus {
        [aria-label]::after {
          content: attr(aria-label);
        }

        [aria-label]::after,
        [data-value] .text {
          display: block;
          background: #000;
          color: #fff;
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          text-align: center;
          margin-bottom: $border-radius * 2;
          border-radius: $border-radius;
        }
      }

    } // tbody

  } // &[orient=vertical]

} // table[is=bar-chart-table]
