// Buttons
//
// Buttons suitable for clicking
//
// .button              - Standard class -- creates generic button
// .button-primary      - primary style of button
// .button-secondary     - primary style of button
// .button-big           - larger button
//
// Markup: 
// <button class="button {{modifier_class}}">{{modifier_class}}</button>
//
// Styleguide components.buttons

button,
.button,
input[type="submit"] {
  @extend %button;
}

.button-primary{
  @extend %button;
  background-color: $primary-button-bg-color;
  color: $primary-button-color;
  &:hover,
    &:focus {
      background-color: $primary-hover-button-bg-color;
      color: $primary-hover-button-color;
      a{
        color: $primary-button-color;
        border-bottom:none;
      }
    }
  a{
    color: $primary-button-color;
    border-bottom:none;
  }
}

.button-secondary{
  @extend %button;
  background-color: $secondary-button-bg-color;
  color: $secondary-button-color;
  border: 1px solid $secondary-button-border-color;
  &:hover,
  &:focus {
    background-color: $secondary-hover-button-bg-color;
    color: $secondary-hover-button-color;
    a{
      color: $secondary-button-color;
      border-bottom:none;
    }
  }
  a{
    color: $secondary-button-color;
    border-bottom:none;
  }
}

.button-big {
  -webkit-font-smoothing: antialiased;
  width: 150px;
  height: 35px;
  // typography
  font-size: $base-font-size;
}
