// Carousel
//
// A carousel with circle pagination
//
// Markup:
// <div class="carousel">
//   <h3>How do natural resources become federal revenues?</h3>
//   <button class="carousel-button button-big button-primary">See how it works</button>
//   <h2>Step 1: Plan</h2>
//   <img class="carousel-image" src="https://eiti-dev.18f.gov/img/revenues.png" alt="revenues">
// </div>
//
// Styleguide components.carousel

.carousel {
  background-color: $pale-blue;
  border-left: 4px solid $white;
  border-right: 4px solid $white;
  padding-bottom: 0;
  padding-top: $base-padding-extra;
  text-align: center;
}

.carousel-button {
  margin-bottom: $base-padding-large;
  padding: 1em;
}

.carousel-image {
  width: 100%;
  float: left;
}
