// Carousel
//
// A carousel with circle pagination
//
// Markup:
// <div class="carousel">
//   <h3>How do natural resources become federal revenues?</h3>
//   <button class="carousel-button button-big button-primary">See how it works</button>
//   <h2>Step 1: Plan</h2>
//   <img class="carousel-image" src="https://eiti-dev.18f.gov/img/revenues.png" alt="revenues">
// </div>
//
// Styleguide components.carousel

.carousel {
  background-color: $pale-blue;
  border: 0;
  padding-bottom: 0;
  padding-top: $base-padding-extra;
  text-align: center;

  &.carousel-column {
    display: flex;
    flex-direction: column;
    border-left: 0;
    border-right: 0;

    &:first-child {
      border-bottom: 4px solid $white;
    }
  }

  &.carousel-has-image {
    padding-top: 0;

    .carousel-top {
      padding-top: 0;

      img {
        background-color: $pale-blue;
        border: 0;
        padding-left: 20%;
        padding-right: 20%;
        width: 100%;
      }
    }
  }

  figure {
    margin: 0;
  }
}

.carousel-top {
  border-bottom: 0;
  flex: 1 0 auto;
  padding-left: $base-padding;
  padding-right: $base-padding;
  padding-top: 0;
}

.carousel-bottom.hero-right_caption {
  @include heading('para-sm');

  background-color: $mid-blue;
  color: $dark-gray;
  font-weight: $weight-book;
  margin-bottom: 0;
  padding: $base-padding;
  text-align: center;

  a {
    color: $dark-gray;
  }
}

.carousel-button {
  margin-bottom: $base-padding-large;
  padding: 1em;
}

.top-ribbon svg,
.carousel-image {
  width: 100%;
  float: left;
}


.top-ribbon {
  .top-ribbon-carousel {
    padding-top: $base-padding-large;
    position: relative;
  }

  .top-ribbon-hero {
    padding-bottom: $base-padding-large;
    padding-left: $base-padding;
    padding-right: $base-padding;
    padding-top: $base-padding-large;

    &.hero-left-column {
      align-self: flex-start;
    }
  }

  &.top-ribbon-column {
    flex-direction: column;
  }
}

.container-page-wrapper.top-ribbon {
  margin-left: 0;
  margin-right: 0;
}

svg {
  display: inline-block;

  &.small {
    display: none;
  }
}

.hero-description {
  @include heading('para-lg');
}

// used to override .hero-description for homepage
.hero-description_text {
  @include font-size(1.375);
  font-weight: $weight-light;
}

@include respond-to(tiny-up) {

  .top-ribbon {

    .top-ribbon-hero {
      padding-left: $base-padding;
      padding-right: $base-padding;
    }

    .top-ribbon-carousel {
      padding-top: 0;
      position: relative;
    }

    svg {
      display: none;

      #rig-dollars {
        display: inline-block;
        transform: scale(.6) translate(300px, 87px);
      }

      #Symbols {
        transform: translateY(-24px)
      }

      rect {
        height: 43px;
      }

      &.small {
        display: inline-block;
      }
    }
  }

  .carousel:not(.carousel-column) {
    .carousel-button {
      float: left;
      position: absolute;
      left: 12.5%;
      bottom: 50%;
      margin: 0;
    }
  }

  .carousel {
    &.carousel-column {
      .carousel-top {
        padding-top: $base-padding-large;
      }
    }

    &.carousel-has-image {
      .carousel-top {
        padding-top: 0;

        img {
          padding-left: 30%;
          padding-right: 30%;
        }
      }
    }
  }
}

@include respond-to(tiny-to-small) {
  .carousel-top.about_intro-callout > * {
    margin-left: 10%;
    margin-right: 10%;
  }
}


@include respond-to(small-to-huge) {
  .top-ribbon .top-ribbon-hero,
  .carousel-top {
    padding-left: $page-padding;
    padding-right: $page-padding;

    &.about_intro-callout > * {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
}

@include respond-to(medium-up) {

  .carousel {
    border-left: 4px solid $white;
    border-right: 4px solid $white;

    &:not(.carousel-column) .carousel-button {
      float: none;
      position: static;
    }
  }

  .top-ribbon {
    align-items: flex-end;
    display: flex;

    .top-ribbon-carousel {
      align-self: stretch;
      padding-top: $base-padding-large;
      position: relative;
    }

    .top-ribbon-hero:not(.hero-left-column) {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      display: inline-block;

      #rig-dollars {
        transform: inherit;
      }

      #Symbols {
        transform: inherit;
      }

      rect {
        height: 72px;
      }

      &.small {
        display: none;
      }
    }
  }
}

@include respond-to(medium-to-huge) {

  .top-ribbon {
    &.container-page-wrapper:not(.top-ribbon-column) {
      margin-left: $page-padding;
      margin-right: $page-padding;
    }
  }
}

@include respond-to(medium-to-huge-plus) {

  .carousel-column.container-right-4 {
    @include span-columns(12);
  }

  .hero-left-column.container-left-8 {
    @include span-columns(12);
    margin-right: 0;
  }
}

@include respond-to(huge-up) {

  .carousel-top {
    border-bottom: 4px solid $white;
  }

  .top-ribbon.top-ribbon-column {
    flex-direction: row;
    margin-left: $page-padding;
    margin-right: $page-padding;

    .top-ribbon-hero {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .carousel {
    &.carousel-column {
      border-left: 4px solid $white;
      border-right: 4px solid $white;

      .carousel-top {
        padding-top: 0;
      }
    }

    &.carousel-has-image {
      .carousel-top {
        img {
          padding-left: 5%;
          padding-right: 5%;
        }
      }
    }
  }
}

@include respond-to(huge-plus-up) {
  .container-page-wrapper.top-ribbon {
    margin-left: auto;
    margin-right: auto;
  }
}
