// Carousel
//
// A carousel with circle pagination
//
// Markup:
// <div class="carousel">
//   <h3>How do natural resources become federal revenues?</h3>
//   <button class="carousel-button button-big button-primary">See how it works</button>
//   <h2>Step 1: Plan</h2>
//   <img class="carousel-image" src="https://eiti-dev.18f.gov/img/revenues.png" alt="revenues">
// </div>
//
// Styleguide components.carousel

.carousel {
  background-color: $pale-blue;
  border: 0;
  padding-bottom: 0;
  padding-top: $base-padding-extra;
  text-align: center;

  &.carousel-column {
    display: flex;
    flex-direction: column;
  }
}

.carousel-top {
  flex: 1 0 auto;
  padding-left: $base-padding;
  padding-right: $base-padding;
  // padding-top: $base-padding-large;
  padding-top: 0;
}

.carousel-bottom.hero-right_caption {
  text-align: center;
}

.carousel-button {
  margin-bottom: $base-padding-large;
  padding: 1em;
}

.top-ribbon svg,
.carousel-image {
  width: 100%;
  float: left;
}


.top-ribbon {
  .top-ribbon-carousel {
    padding-top: $base-padding-large;
    position: relative;
  }

  .top-ribbon-hero {
    padding-left: $base-padding;
    padding-right: $base-padding;
  }

  &.top-ribbon-column {
    flex-direction: column;
  }
}

.container-page-wrapper.top-ribbon {
  margin-left: 0;
  margin-right: 0;
}

svg {
  display: inline-block;

  &.small {
    display: none;
  }
}

.carousel-column.container-right-4 {
  @include span-columns(12);
}

.hero-left-column.container-left-8 {
  @include span-columns(12);
}

@include respond-to(tiny-up) {

  .top-ribbon {

    .top-ribbon-hero {
      padding-left: $base-padding;
      padding-right: $base-padding;
    }

    .top-ribbon-carousel {
      padding-top: 0;
      position: relative;
    }

    svg {
      display: none;

      #rig-dollars {
        display: inline-block;
        transform: scale(.6) translate(300px, 87px);
      }

      #Symbols {
        transform: translateY(-24px)
      }

      rect {
        height: 43px;
      }

      &.small {
        display: inline-block;
      }
    }
  }

  .carousel:not(.carousel-column) {
    .carousel-button {
      float: left;
      position: absolute;
      left: 12.5%;
      bottom: 67%;
      margin: 0;
    }
  }

  .carousel.carousel-column {
    .carousel-top {
      padding-top: $base-padding-large;
    }
  }
}

@include respond-to(small-to-huge) {
  .top-ribbon .top-ribbon-hero,
  .carousel-top {
    padding-left: $page-padding;
    padding-right: $page-padding;
  }
}

@include respond-to(medium-up) {

  .carousel {
    border-left: 4px solid $white;
    border-right: 4px solid $white;

    &:not(.carousel-column) .carousel-button {
      float: none;
      position: static;
    }
  }

  .top-ribbon {
    align-items: flex-end;
    display: flex;

    .top-ribbon-carousel {
      align-self: stretch;
      padding-top: $base-padding-large;
      position: relative;
    }

    .top-ribbon-hero:not(.hero-left-column) {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      display: inline-block;

      #rig-dollars {
        transform: inherit;
      }

      #Symbols {
        transform: inherit;
      }

      rect {
        height: 72px;
      }

      &.small {
        display: none;
      }
    }
  }

  .top-ribbon-hero {
    align-self: flex-end;
  }
}

@include respond-to(medium-to-huge) {
  .top-ribbon {
    &.container-page-wrapper:not(.top-ribbon-column) {
      margin-left: $page-padding;
      margin-right: $page-padding;
    }
  }

  .carousel-column.container-right-4 {
    @include span-columns(12);
  }

  .hero-left-column.container-left-8 {
    @include span-columns(12);
  }
}

@include respond-to(huge-up) {
  // .top-ribbon.container-page-wrapper:not(.top-ribbon-column),
  // .top-ribbon.top-ribbon-column.container-page-wrapper {
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  .carousel-column.container-right-4 {
    // @include span-columns(4);
    // @include omega();

    // .carousel-top {
    //   padding-left: $base-padding;
    //   padding-right: $base-padding;
    // }
  }

  // .hero-left-column.container-left-8 {
  //   @include span-columns(8);
  // }

  // .top-ribbon.top-ribbon-column {
  //   flex-direction: row;
  // }
}

@include respond-to(huge-plus-up) {
  .container-page-wrapper.top-ribbon {
    margin-left: auto;
    margin-right: auto;
  }
}
