data-map {
  display: block;

  svg {
    border: 1px solid $mid-light-gray;

    [data-value] {
      cursor: pointer;
    }
  }
}


// Land ownership map
.land-ownership {

  figure {
    margin-top: 0;
  }

  > .text-container {
    @include span-columns(4);
  }

  > .map-container {
    @include span-columns(8);
    @include omega();

    .svg-container {
      @include span-columns(8);

      &.wide {
        @include span-columns(12);
        @include omega();
      }
    }

    .legend-container {
      @include span-columns(4);
      @include omega();

      &.wide {
        @include span-columns(12);
      }
    }
  }
}

.legend-ownership-svg {
  .cell {
    .swatch {
      fill: $green-land;
    }

    &.federal .swatch:last-of-type {
      fill: $blackest-black;
      opacity: $opacity-federal;
    }

    &.state .swatch:last-of-type {
      fill: $blackest-black;
      opacity: $opacity-state;
    }
  }
}

// map legend
.details-container {
  bottom: 0;
  margin: 0;
  position: absolute;
  left: $standard-padding-lite;
}

eiti-data-map {
  .svg-container.wide {
    .details-container {
      display: none;
    }
  }

  .legend-container {
    .details-container {
      display: none;
    }

    &.wide .details-container {
      display: block;
      position: static;
      text-align: left;
    }
  }

  .feature.county {
    cursor: pointer;

    &.selected,
    &:hover,
    &:active,
    &:focus {
      stroke: $green-dark-chart;
      stroke-width: 3px;
    }
  }

}

.legend-svg,
.legend-ownership-svg {
  border: none;
  padding: $base-padding-lite;
  width: 200px;
  height: 215px;

  .swatch {
    stroke: $neutral-gray;
    stroke-width: 1;
  }

  .cell text {
    @include font-size(3 / 4);
  }
}

.legend-container.wide {
  padding-top: $standard-padding-lite;

  .legend-ownership-svg {
    width: 100%;
    height: 100px;
  }

  .legend-svg.horizontal {
    height: 50px;
  }
}

.legend-svg.horizontal {
  .cell text {
    font-size: 10px;
  }
}

.legend-container.wide .legend-ownership-svg {
  .label {
    @include font-size(0.75);
  }
}
