data-map {
  display: block;

  svg {
    border: 1px solid $mid-light-gray;

    [data-value] {
      cursor: pointer;
    }
  }
}

.details-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

$legend-row-height: 1em;

.legend-swatch {
	display: inline-block;
  float: left;
  height: $legend-row-height;
  margin-right: $base-padding-lite;
  width: $legend-row-height;
}

[threshold-start] {
  display: inline-block;
  float: left;
  line-height: $legend-row-height;
}

[threshold-end] {
  clear: both;
  float: left;
  padding-left: $legend-row-height + $base-padding-lite;
  padding-bottom: $base-padding-lite;
}
