
// Land ownership map
.land-ownership {

  figure {
    margin-top: 0;
  }

  > .text-container {
    @include span-columns(4);
  }

  > .map-container {
    @include span-columns(8);
    @include omega();

    > * {
      @include span-columns(6);

      &:last-child {
        @include omega();
      }
    }
  }

  .legend-swatch {
    background-color: $green-land;
    height: $legend-row-height;
    margin-bottom: $base-padding-lite;
    position: relative;
    width: $legend-row-height;
  }

  .legend-text {
    line-height: $legend-row-height;
  }

  .swatch-layer {
    // layer black to emulate svg layers
    background-color: $blackest-black;
    height: $legend-row-height;
    opacity: $opacity-federal;
    position: absolute;
    width: $legend-row-height;

    &.state {
      opacity: $opacity-state;
    }
  }
}



.details-container {
  bottom: 0;
  margin: 0;
  position: absolute;
  right: 0;
}

$legend-row-height: 1em;

[legend-swatch][data-step],
.legend-swatch {
  display: inline-block;
  float: left;
  height: $legend-row-height;
  margin-right: $base-padding-lite;
  width: $legend-row-height;
}

[legend-swatch] {
  &[aria-hidden=true] {
    display: none;
  }
}

[legend-start],
[legend-end]
 {
  display: inline-block;
  float: left;
  line-height: $legend-row-height;
  padding-bottom: $base-padding-lite;
}

[legend-end] {
  padding-left: 0.1em;
}
