data-map {
  display: block;

  svg {
    border: 1px solid $mid-light-gray;

    [data-value] {
      cursor: pointer;
    }
  }
}


// Land ownership map
.land-ownership {

  figure {
    margin-top: 0;
  }

  > .text-container {
    @include span-columns(4);
  }

  > .map-container {
    @include span-columns(8);
    @include omega();

    .svg-container {
      @include span-columns(8);

      &.wide {
        @include span-columns(12);
        @include omega();
      }
    }

    .legend-container {
      @include span-columns(4);
      @include omega();

      &.wide {
        @include span-columns(12);
      }
    }
  }
}

.legend-ownership-svg {
  .cells {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .cell {
    @include font-size(0.7);
    @include span-columns(4);

    line-height: 0.9rem;
    font-weight: $weight-book;
    padding: 0;
    padding-left: calc(12px + #{$base-padding-lite});
    position: relative;

    &:last-of-type {
      @include omega();
    }

    &:first-of-type {
      .swatch {
        background-color: $greenest-land;
      }
    }

    &:nth-of-type(2) {
      .swatch {
        background-color: $greener-land;
      }
    }

    .swatch {
      background-color: $green-land;
      display: inline-block;
      height: 12px;
      left: 0;
      margin-right: $base-padding-lite;
      position: absolute;
      top: 0;
      width: 12px;
    }
  }
}

// map legend
.details-container {
  bottom: 0;
  margin: 0;
  position: absolute;
  left: $standard-padding-lite;
}

eiti-data-map {
  .svg-container.wide {
    .details-container {
      display: none;
    }
  }

  .legend-container {
    .details-container {
      display: none;
    }

    &.wide .details-container {
      display: block;
      position: static;
      text-align: left;
    }
  }

  .feature.county {
    cursor: pointer;

    &.selected,
    &:hover,
    &:active,
    &:focus {
      stroke: $green-dark-chart;
      stroke-width: 3px;
    }
  }

}

.legend-svg {
  border: none;
  padding: 0;
  width: 200px;
  height: 215px;

  // .swatch {
  //   stroke: $neutral-gray;
  //   stroke-width: 1;
  // }

  .cell text {
    @include font-size(3 / 4);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.legend-container.wide {
  padding-top: $standard-padding-lite;

  .legend-svg.horizontal {
    height: 50px;
  }
}

.legend-svg.horizontal {
  .cell text {
    font-size: 10px;
  }
}

.legend-container.wide .legend-ownership-svg {
  .label {
    @include font-size(0.75);
  }
}
