// XXX reducing the selector depth here would require going overboard on the
// classes. -- @shawnbot
// scss-lint:disable SelectorDepth
eiti-bar-chart {

  svg {
    display: block;
    font-size: inherit;
    font-weight: $weight-light;
    height: auto;
    opacity: 0.85;
    transition: opacity 0.5s;
    width: 100%;
  }

  &:hover svg {
    opacity: 1;
  }

  .bar {
    cursor: pointer;
  }

  .bar-value {
    fill: $mid-light-gray;
    pointer-events: none;
    transition: fill 0.1s;
  }

  .bar-mask {
    fill: transparent;
    stroke: $white;
    stroke-width: 2;
  }

  .axis {
    line,
    path {
      fill: none;
      stroke: none;
    }

    .tick line {
      stroke: $white;
    }

    .tick:first-child line,
    .tick:last-child line {
      stroke: none;
    }

    text {
      @include font-size(1);
      fill: $dark-gray;
      font-weight: $weight-light;

      &.dataless {
        fill: $mid-light-gray;
      }
    }
  }

  .bar-selected .bar-value,
  .tick-selected text {
    fill: $green-dark-chart;
    font-weight: $weight-bold;

    &.dataless {
      fill: $green-dark-chart;
    }
  }
}

.eiti-bar-chart-x-value,
.eiti-bar-chart-y-value {
  @include font-size(15 / 16); // 15px
  color: $green-dark-chart;
  font-weight: $weight-bold;
}

.x-axis-label {
  text-transform: uppercase;

  text {
    @include font-size(1);

    text-anchor: middle;
  }
}

.extent-line {
  text {
    @include font-size(0.9);
  }

  line {
    stroke: $green-dark-chart;
    stroke-dasharray: 3,5;
    stroke-width: 2;
  }
}

.x-axis-baseline line {
  stroke: $neutral-gray;
}
