// XXX reducing the selector depth here would require going overboard on the
// classes. -- @shawnbot
// scss-lint:disable SelectorDepth
eiti-line-chart {
  svg {
    display: block;
    font-size: inherit;
    font-weight: $weight-light;
    height: auto;
    width: 100%;
  }

  .line {
    fill: none;
    opacity: 0.666;
    stroke: $chart-green;
    stroke-linecap: round;
    stroke-width: 3;
    vector-effect: non-scaling-stroke;
  }

  .area {
    fill: $light-gray;
    stroke: none;
  }

  circle {
    fill: $chart-green;
  }

  .axis {
    line,
    path {
      fill: none;
      stroke: none;
    }

    .tick line {
      stroke: $white;
    }

    .tick:first-child line,
    .tick:last-child line {
      stroke: none;
    }

    text {
      @include font-size(1);
      font-weight: $weight-book;
    }
  }
}
