eiti-slider {
  $slider-background: #4b9bbf;
  background: $slider-background;
  cursor: pointer;
  display: block;
  height: 0.3em;
  margin: 2em 25px 2.5em 10px;
  opacity: 1;
  position: relative;
  position: relative;
          user-select: none;
     -moz-user-select: none;
  -webkit-user-select: none;

  label {
    color: #666;
    left: -50px;
    margin-left: -1em;
    position: absolute;
    text-transform: uppercase;
    top: -0.5em;
  }

  .handle {
    background: $white;
    border: 1px solid #999;
    border-radius: 1em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    height: 1.4em;
    margin-left: -0.4em;
    margin-top: -0.55em;
    position: absolute;
    width: 1.4em;
    z-index: 100;

    &:after {
      border-color: $neutral-gray;
      border-style: solid;
      border-width: 0 1px;
      box-sizing: border-box;
      content: '';
      display: block;
      height: 0.6em;
      left: 50%;
      margin: -0.3em 0 0 -0.1em;
      position: absolute;
      top: 50%;
      width: 0.2em;
    }
  }

  .tick {
    position: absolute;
    z-index: 50;

    &:after {
      background: $slider-background;
      border-radius: 500em;
      content: ' ';
      display: block;
      height: 1.2em;
      margin: -0.45em 0 0 -0.25em;
      position: absolute;
      width: 1.2em;
    }

    .label {
      font-size: $base-font-size;
      left: 50%;
      margin-left: -1.2em;
      margin-top: 1.2em;
      position: absolute;
      text-align: center;
      top: 100%;
      width: 3em;
    }

    &.selected .label {
      font-weight: bold;
    }
  }

  // shrink the fonts on medium screens and smaller
  @media screen and (max-width: $medium) {
    .tick .label {
      font-size: $base-font-size * 0.8;
    }
  }

  // hide all but the first and last labels on small screens
  @media screen and (max-width: $small) {
    .tick {
      .label {
        display: none;
      }

      &:nth-child(2) .label,
      &:last-child .label {
        display: block;
      }
    }
  }
}

