eiti-map {
  display: block;
  position: relative;

  svg {
    display: block;
    margin: 0;
  }

  path {
    vector-effect: non-scaling-stroke;
  }

  path {
    fill: transparent;
    stroke: $neutral-gray;
  }

  &.clickable path.feature {
    cursor: pointer;
  }

  path.feature.zoomed {
    // fill: #bbb;
  }

  a:hover path.feature {
    stroke: $neutral-gray;
    stroke-width: 2;
  }

  path.mesh {
    fill: none;
    pointer-events: none;
    stroke: lighten($neutral-gray, 10%); // #aaa
    stroke-width: 1;
  }

  path.feature.zoomed {
    stroke: $neutral-gray;
    stroke-width: 3;
  }

}
