// // State-page filter
// //
// // Filter utility for Explore
// //
// // Styleguide components.state-page-filter

#nav-drawer-filter {
  @include respond-to('tiny-down') {
  width: 100%;
  }

  z-index: $z-sky;
}

.filter-item {
  display: flex;
  flex-direction: row;
}

.filter-type {
  margin: 0;
  width: 100%;
}

.filter-input {
  margin: 0;
  display: flex;
  align-self: center;
}

[filter-item][aria-hidden=true] {
  display: none !important;
}


// Filter mode area

body.filter-mode {

  .sticky_nav-nav_item[data-active=true] {
    color: $gray;
  }

  .layout-state-pages {
    section:not(.container):target {
      // background-color: peachpuff;
      padding: 16px;
      border: 3px solid $gray;
      cursor: pointer;
    }

    .sticky_nav-nav_item + ul[aria-hidden=true] {
      display: none;
    }
  }
}


