// Footnotes
//
// Technique from http://www.sitepoint.com/accessible-footnotes-css/
// Initialiazing a `footnotes` counter on the wrapper
//
// Markup:
// <p>This is an example foonote.<sup id="fnref:26">
// 	<a href="#fn:26" class="footnote">26</a>
// </sup>
// </p>
// <div class="footnotes">
//   <ol>
//     <li id="fn:26">
//       <p>Barrels noted as “bbl” when used as a unit of measure <a href="#fnref:1" class="reversefootnote">↩</a></p>
//     </li>
//   </ol>
// </div>
//
// Styleguide components.footnotes

body {
  counter-reset: footnotes;
}

.footnotes {

  a {
    @extend .link-active;
  }

  ol {
    @include heading('para-sm');

    font-weight: 200;
    list-style-type: decimal;
    padding-bottom: $base-padding;
    padding-left: $base-padding;
    padding-top: $base-padding-lite;

    &:target {
      background-color: $mid-blue;
    }
  }

  p {
    padding-bottom: $base-padding-lite;
  }

  li {
    list-style-type: decimal;
  }
}

.footnote {
  @extend .link-charlie;
  font-size: smaller;
  vertical-align: super; // 2
}
