// // Glossary
// //
// // The site glossary
// //
// // Styleguide components.glossary

#glossary {
  width: 100%;

  @include respond-to(tiny-up) {
    width: 300px;
  }
}

.drawer__item {

  .glossary-term {
    color: $white;
    margin: 0;
  }

  .glossary-definition {
    font-family: $base-font-family;
    padding-bottom: 1rem;
  }
}


// Term classes
//
// Wrap glossary terms with these classes
//
// .term          - Standard class -- adds the book icon
// .term-p        - Used in conjuction with .term when the term is in a body paragaraph of text, reduces padding and adds margin
//
// Markup:
// <p>What are <span class="term {{modifier_class}}" data-term="extractive industry" title="Click to define" tabindex="0">
//     extractive industries
//     <i class="icon-book"></i>
// </span>, Brian asked inquisitively</p>
//
// Styleguide components.drawer.term

.term {
  @include transition(background-color, 0.2s, box-shadow, 0.2s, color, 0.2s);

  border-bottom: 1px dotted $base-font-color;
  box-shadow: 0 0 0 4px transparent;
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:hover {
    border-bottom: 1px solid $base-font-color;
    text-decoration: none;
  }

  i {
    font-size: 0.75em;

    &:before {
      padding-left: $base-padding-lite * 0.75;
    }

  }
}

.term-p {
  @extend .term;
  box-shadow: none;
  margin-right: 0.25rem;
}
