// // Glossary
// //
// // The site glossary
// //
// // Styleguide components.glossary

$drawer-width: 300px;
$term-width: 200px;
$term-width-max: 375px;

#glossary {
  width: 100%;

  @include respond-to(tiny-up) {
    width: $drawer-width;
  }
}

.glossary-item {
  border-bottom: 1px solid $mid-gray;
  padding-top: $base-padding;

  &:first-child {
    border-top: 1px solid $mid-gray;
  }

  .accordion-button {
    color: $white;
    margin: 0;
    top: 0;
  }
}

.glossary-term {
  color: $white;
  display: inline-block;
  margin: 0;
  max-width: $term-width-max;
  padding-bottom: $base-padding;
  width: 100%;

  @include respond-to(tiny-up) {
    width: $term-width;
  }
}

.glossary-definition {
  font-family: $base-font-family;
  margin-bottom: $base-padding-lite;
  padding-bottom: $base-padding;
}

// Term classes
//
// Wrap glossary terms with these classes
//
// .term          - Standard class -- adds the book icon
// .term-p        - Used in conjuction with .term when the term is in a body paragaraph of text, reduces padding and adds margin
//
// Markup:
// <p>What are <span class="term {{modifier_class}}" data-term="extractive industry" title="Click to define" tabindex="0">
//     extractive industries
//     <i class="icon-book"></i>
// </span>, Brian asked inquisitively</p>
//
// Styleguide components.drawer.term

.term {
  @include transition(background-color, 0.2s, box-shadow, 0.2s, color, 0.2s);

  border-bottom: 1px dotted $base-font-color;
  box-shadow: 0 0 0 4px transparent;
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:hover {
    border-bottom: 1px solid $base-font-color;
    text-decoration: none;
  }

  i {
    font-size: 0.75em;

    &:before {
      padding-left: $base-padding-lite * 0.75;
    }

  }
}

.term-p {
  @extend .term;
  box-shadow: none;
  margin-right: 0.25rem;
}
