// Hero
//
// A hero is a prominent eye-catcher above the fold
//
// Markup:
// <section class="slab-delta">
//   <div class="container-outer">
//    <div class="container-left-8 hero-left">
//      <h1>{{ page.title }}</h1>
//      <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
//    </div>
//    <div class="container-right-4 hero-right">
//       <div class="hero-right_square">
//         <figure>
//           <img class="hero-right_image" src="{{ site.baseurl }}/img/landing-placeholders/federal-rev.png"/>
//           <figcaption class="hero-right_caption"><a href="">Link to how something works</a></figcaption>
//         </figure>
//       </div>
//     </div>
//  </div>
// </section>
//
// Styleguide components.hero

.hero {
  padding-bottom: 2em;
  padding-top: 2em;
}

.hero-title_text {
  font-size: 3rem;
}

.hero-button {
  margin: 0.5em;
  margin-top: 1em;
}

.hero-left {
  padding-bottom: $base-padding;
  padding-top: $base-padding;
}

.hero-right {
  padding-bottom: 0;
}

.hero-right_square {
  background-color: $pale-blue;
  border-left: 4px solid $white;
  border-right: 4px solid $white;
  padding-top: 4px;
  text-align: center;
}

.hero-right_image {
  width: 100%;
}

.hero-right_caption {
  @include heading('para-sm');

  background-color: $mid-blue;
  color: $dark-gray;
  margin-bottom: 0;
  padding: $base-padding-lite;
  text-align: left;

  a {
    color: $dark-gray;
  }
}

.hero-description {
  @include heading('para-lg');
}

.hero-left {
	padding-top: $base-padding;
	padding-bottom: $base-padding;
}

.hero-right {
	padding-bottom: 0px;
}

.hero-right_square {
	background-color: $pale-blue;
  border-left: 4px solid $white;
  border-right: 4px solid $white;
  padding-top: 4px;
  text-align: center;
}

.hero-right_image {
  width: 100%;
}

.hero-right_caption {
	@include heading('para-sm');

	background-color: $mid-blue;
	color: $dark-gray;
	margin-bottom: 0;
	padding: $base-padding-lite;
	text-align: left;

	a {
		color: $dark-gray;
	}
}

.hero-description {
	@include heading('para-lg');
}
