
//Background icon sizing and placement for small icons//
.background-icon {
  background-repeat: no-repeat;
  background-size: 0.8rem 0.8rem;
  content: '';
  display: inline-block;
  height: 0.8rem;
  margin: 0 0 0.3rem 0.2rem;
  width: 0.8rem;
}

//Background icon sizing and placement for large icons//
.large-background-icon {
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  content: '';
  display: inline-block;
  height: 1rem;
  margin: 0 0.4rem -0.1rem 0;
  width: 1rem;
}

//currentColor fills SVG with inherited color based on instance
.icon {
  fill: currentColor;
  margin: 0 0.1rem;
}

.icon-leading {
  margin-right: 0.4em;
}

.icon-middle {
  padding-bottom: 0.1rem;
  vertical-align: middle;
}

.icon-bottom {
  vertical-align: bottom;
}

.icon-small {
  width: 1.5rem;
}

.icon-medium {
  width: 3rem;
}

.icons-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.icons-stack-1x,
.icons-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icons-stack-1x {
  line-height: inherit;
}

.icons-stack-2x {
  font-size: 2em;
}
