//Fills SVG with color based on instance
.icon {
  fill: currentColor;
  margin: 0 0.1rem;
}

ul.downloads-download_links .icon {
  margin-right: 0.4rem;
}

.icon-middle {
  padding-bottom: 0.1rem;
  vertical-align: middle;
}

.icon-bottom {
  vertical-align: bottom;
}

.icon-small {
  width: 1.5rem;
}

.icon-medium {
  width: 3rem;
}

.icons-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.icons-stack-1x,
.icons-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icons-stack-1x {
  line-height: inherit;
}

.icons-stack-2x {
  font-size: 2em;
}
