

.icon-small {
  width: 1.5rem;
}

.icon-medium {
  width: 3rem;
}

.icon-leading {
  width: 1.8rem;
}

.icon-leading-small {
  vertical-align: middle;
  width: 1.2rem;
}

.icon-trailing {
  vertical-align: middle;
  margin-left: .5em;
  width: 1.6rem;
}

.icons-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.icons-stack-1x,
.icons-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icons-stack-1x {
  line-height: inherit;
}

.icons-stack-2x {
  font-size: 2em;
}
