
// Map TODO
//============================================

.map {
  background-color: $mid-gray;
  padding-bottom: $base-padding-extra;
  padding-top: $base-padding-large;
}

.map-left {

  @include span-columns(12);

  @include respond-to(medium-up) {
    @include span-columns(3);
  }
}

.map-data_types {
  margin-top: $base-padding-extra;

  h2 {
    font-weight: 400;
    padding-top: 5px;
  }
}

.map-data_types-stats {
  margin-top: $base-padding-lite;

  ul li {
    font-weight: 200;
    margin-bottom: 40px;

    .headline {
      @include font-size(2.5);
      display: block;
    }

    .subtitle {
      @include font-size(0.9);
      color: $dark-gray;
      font-weight: 200;
      line-height: 1;

      // &::before {
      //   content: "\A";
      //   white-space: pre;
      // }
    }
  }

  h4 {
    color: $dark-gray;
    font-weight: 200;
  }
}

.map-right {

  @include span-columns(12);

  @include respond-to(medium-up) {
    @include span-columns(9);
  }
}

.map-or_chart {
  float: right;

  ul li {
    @include font-size(0.8);
    border: $thin-border-size solid $mid-gray;
    border-radius: $base-border-radius;
    color: $dark-gray;
    display: inline-block;
    height: 55px;
    margin-left: 10px;
    padding: 33px 0 10px 0;
    text-align: center;
    width: 55px;

    &.map {
      background: url('../img/icons/map.png') no-repeat;
      background: url('../img/icons/map.svg') no-repeat,
        linear-gradient(transparent, transparent);
      background-position: top center;
      background-size: 40px 40px;

      &.active {
        background: url('../img/icons/map-dark.png') no-repeat;
        background: url('../img/icons/map-dark.svg') no-repeat,
          linear-gradient(transparent, transparent);
        background-color: $white;
        background-position: top center;
        background-size: 40px 40px;
      }
    }

    &.charts {
      background: url('../img/icons/charts.png') no-repeat;
      background: url('../img/icons/charts.svg') no-repeat,
        linear-gradient(transparent, transparent);
      background-position: top center;
      background-size: 40px 40px;

      &.active {
        background: url('../img/icons/charts-dark.png') no-repeat;
        background: url('../img/icons/charts-dark.svg') no-repeat,
          linear-gradient(transparent, transparent);
        background-color: $white;
        background-position: top center;
        background-size: 40px 40px;
      }
    }

    &.active {
      border: $thin-border-size solid $mid-gray;
      color: $light-black;
      font-weight: 600;
    }

    &:hover,
    &:focus {
      border: $thin-border-size solid $mid-gray;
    }
  }
}

.map-map {
  padding-left: $base-padding-large;
  padding-right: $base-padding-large;
  padding-top: $base-padding-large;

  svg {
    display: block;
    height: 350px;
    width: 100%;
  }
}

.map-slider {
  margin-bottom: ($base-padding-large * 2);
}

.map-download_share {
  float: right;

  ul li {
    @include font-size(0.8);
    background-color: $white;
    border: $thin-border-size solid $blue;
    border-radius: $base-border-radius;
    color: $blue;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;

    &:hover,
    &:focus {
      background-color: $mid-gray;
    }
  }
}

.map-contextual {
  padding-bottom: $base-padding-extra;
  padding-top: $base-padding;
  text-align: center;
}

.map-notes {
  border-top: $thin-border-size solid $mid-gray;
  padding-bottom: $base-padding-large;
}
