.tile {
  // margin: 10px;

  a {
    text-decoration: none;
  }
  .tile-item {
    .production-picture {
      position: relative;
      height:250px;
      width: 250px;
      background-color: #e3f8ff;
      background-image: url('../img/tiles/placeholder.png');
      background-repeat:no-repeat;

      .production-name {
        text-align: center;
        position: relative;
        top: 80%;
      }
    }

    .production-picture:hover {
      background-image: url('../img/tiles/placeholder.png');
      background-color: #157bac;
      color: white;
    }
  }

  .oil_gas {
    .production-picture {
      background-image: url('../img/tiles/erdoel.png');
    }

    .production-picture:hover {
      background-image: url('../img/tiles/erdoel-h.png');
    }
  }

  .coal {
    .production-picture {
      background-image: url('../img/tiles/kohle.png');
    }

    .production-picture:hover {
      background-image: url('../img/tiles/kohle-h.png');
    }
  }

  .salts {
    .production-picture {
      background-image: url('../img/tiles/salze.png');
    }

    .production-picture:hover {
      background-image: url('../img/tiles/salze-h.png');
    }
  }

  .stones_and_soils {
    .production-picture {
      background-image: url('../img/tiles/steine.png');
    }

    .production-picture:hover {
      background-image: url('../img/tiles/steine-h.png');
    }
  }

  .other_raw_materials {
    .production-picture {
      background-image: url('../img/tiles/sonstige.png');
    }

    .production-picture:hover {
      background-image: url('../img/tiles/sonstige-h.png');
    }
  }

}
