.tile {
  display: block;
  float: left;
  background: #e3f8ff url('../img/tiles/placeholder_blue.png');
  width: 250px;
  height: 250px;
  margin: 3px;
  position: relative;

  &:hover {
    background-color: #157bac;
    background-image: url('../img/tiles/placeholder_white.png');
    color: white;
    cursor: pointer;
  }
  &.disabled {
    color: #a7a7a7;
    background-image: url('../img/tiles/placeholder.png');
  }

  span {
    position: absolute;
    bottom: 5px;
    width: 96%;
    text-align: center;
    margin: 0 2%;
  }
}

.tile-erdoel {
  background-image: url('../img/tiles/erdoel.png');
  &:hover { background-image: url('../img/tiles/erdoel-h.png') }
}
.tile-kohle {
  background-image: url('../img/tiles/kohle.png');
  &:hover { background-image: url('../img/tiles/kohle-h.png') }
}
.tile-salze {
  background-image: url('../img/tiles/salze.png');
  &:hover { background-image: url('../img/tiles/salze-h.png') }
}
.tile-steine {
  background-image: url('../img/tiles/steine.png');
  &:hover { background-image: url('../img/tiles/steine-h.png') }
}
.tile-sonstige {
  background-image: url('../img/tiles/sonstige.png');
  &:hover { background-image: url('../img/tiles/sonstige-h.png') }
}
