.notice {
  //background-color: $gray-light;
  border-color: $gray-light;
  border-style: dotted;
  border-width: 2px;
  border-radius: 0 $base-border-radius $base-border-radius 0;
  padding: 0.5em;
}
