.sticky_nav {
  padding-left: $standard-padding-large;
  padding-top: $standard-padding-large;
  top: 0;

  @include respond-to(medium-down) {
    display: none;

    &.sticky_nav-show_mobile {
      display: block;
    }
  }

  ul a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  nav > ul:first-of-type {
    padding-left: 0;
    padding-top: $base-padding-lite;
  } 
}

.sticky_nav-nav_item {
  @include heading('para-md');
  display: block;
  line-height: 1.2;
  list-style-type: none;
  margin-bottom: 0;
  padding: $base-padding-lite;
  padding-left: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  + ul {
    display: none;
  }

  &[data-active=true] {
    color: $dark-gray;
    font-weight: $weight-book;

    + ul {
      display: inline-block;
    }
  }

  &[aria-hidden=true] {
    display: none;
  }
}

.sticky_nav-nav_item-sub {
  border-left: 3px solid $neutral-gray;
  padding-left: $base-padding-lite;

  &:first-of-type {
    margin-top: $base-padding-lite;
    padding-top: 0;
  }
}

