.sticky {
  background: #fff;
  padding-top: $base-padding-lite;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $z-roof;
}

.sticky::before,
.sticky::after {
  content: '';
  display: table;
}

.sticky-float {
  float: left;
}

.sticky-sibling {
  margin-right: 0;
}
