.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;

  &.sticky-top {
    top: 0;
  }
}

.sticky::before,
.sticky::after {
  content: '';
  display: table;
}

.sticky-float {
  float: left;
}

.sticky-sibling {
  margin-right: 0;
}
