.sticky_nav {
  padding-left: $base-padding-extra;
  padding-top: $base-padding-extra;
  top: 0;

  @include respond-to(medium-down) {
    display: none;

    &.sticky_nav-show_mobile {
      display: block;
    }
  }

  ul a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.sticky_nav-nav_item {
  @include heading('para-md');
  display: block;
  line-height: 1.2;
  list-style-type: none;
  margin-bottom: 0;
  padding: $base-padding-lite;

  &[data-active=true] {
    color: $dark-gray;
    font-weight: $weight-book;
  }
}
