.sticky_nav {
  left: percentage(7 / 12);
  padding-left: $base-padding-extra;
  position: absolute;
  top: 0;

  @include respond-to(medium-down) {
    display: none;
  }
}

.sticky_nav-nav {
  margin-top: $base-padding-extra;
}

.sticky_nav-nav_item {
  @include heading('para-md');

  line-height: 1.2;
  list-style-type: none;
  margin-bottom: 0;
  padding: $base-padding-lite;

  &.active a {
    color: $dark-gray;
    font-weight: $weight-book;
  }
}
