.tabs {
  width:100%;
  display:inline-block;

  .tab {
      display:none;
  }

  .tab.active {
      display:block;
  }

  .tab-links {
    :after {
      display:block;
    }

    a {
      padding: 9px 15px;
      display:inline-block;
      border-radius:3px 3px 0px 0px;
      font-size:16px;
      font-weight:600;
      transition:all linear 0.15s;

      :hover {
        background:#a7cce5;
        text-decoration:none;
      }
    }

    li {
      margin:5px 5px;
      float:left;
      list-style:none;
    }

    li.active a, li.active a:hover {
      background-color: #0a88c3;
      color: #fff;
      text-decoration:none;
    }
  }

  .tab-content {
      padding-top:20px;
  }
}

#tab2 {
  .tab-top {
    text-align: right;
  }
}


.tab-top {
  background-color: #0a88c3;
  color: white;
  font-size: 20px;
  padding: 40px 60px 40px 60px;
  position: relative;

  a {
    color: white;
  }

  .left-arrow {
    height: 140px;
    position: absolute;
    left: 10px;
    z-index: 1;
  }

  .icon-tab-1 {
    height: 50%;
    position: absolute;
    top: 30px;
    right: 0px;
  }
  .icon-tab-2 {
    height: 70px;
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .right-arrow {
    height: 140px;
    position: absolute;
    right: 10px;
    z-index: 1;
  }
}

.third-slide {
  background-image: url('../img/genehmigung/background.png');
  background-size: 100% 100%;
  line-height: 100%;
  position: relative;
  height: 300px;

  .tab-bottom-top {
    height: 200px;
    a {
      color: #435159;
    }
    img {
      position: absolute;
      right: 15px;
      top: 45px;
      height: 120px;
      width: 80px;
    }
    p {
      margin: auto;
      width: 70%;
      line-height: 100%;
      margin-top: 20px;
      &:first-child {
        font-size: 30px;
        padding-top: 50px;
      }
    }
 }
 .tab-bottom-bottom {
   position: relative;
   top: -50px;

   img {
     position: absolute;
     right: 20px;
     top: 30px;
     width: 80px;
   }
   p {
     margin: auto;
     width: 70%;
     line-height: 100%;
     margin-top: 20px;
     color: white;
     &:first-child {
       font-size: 30px;
       padding-top: 50px;
     }
   }
 }
}

.third-slide-bottom {
  background-color: #0a88c3;
  position: relative;
  top: -2px;

  p {
    margin: auto;
    width: 70%;
    color: white;
    padding-bottom: 20px;
  }
}

.tab-bottom {
  position: relative;
  background-image: url('../img/genehmigung/background.png');
  background-size: 100% 100%;
  height: 450px;
  line-height: 100%;

  .tab-bottom-top {
    margin: auto;
    width: 70%;
    height: 300px;

    a {
      color: #435159;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline !important;
    }
    p {
      &:first-child {
        font-size: 30px;
        padding-top: 50px;
        line-height: 100%;
      }
      &:last-child {
        font-size: 15px;
        font-weight: 400;
      }
    }
    img {
      position: absolute;
      right: 15px;
      top: 100px;
      height: 120px;
      width: 80px;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .tab-bottom-text {
    padding: 20px 0 10px 0;
    margin-bottom: 30px;
    background-color: #0a88c3;
    p {
      margin: auto;
      width: 70%;
      color: white;
    }
  }

  .tab-bottom-bottom {
    margin: auto;
    width: 70%;
    height: 65px;

    p {
      font-size: 30px;
      color: white;
      line-height: 100%;
      margin-top: 20px;
    }

    img {
      position: absolute;
      right: 15px;
      bottom: 50px;
      height: 90px;
      width: 90px;
    }
  }
}

@media only screen and (max-width: em(600)) {
  ol, ul {
    padding-left: 0;
  }
  .tabs .tab-links li {
    width: 40%;
  }
  .tab-top {
    .icon-tab-1, .icon-tab-2 {
      height: 25%;
      top:100px;
    }
  }
  .tab-bottom {
    .tab-bottom-top {
      p {
        font-size: 15px;
        line-height: 1rem;
        &:first-child {
          font-size: 16px;
        }
        &:last-child {
          font-size: 12px;
        }
      }
      img {
        height: 60px;
        width: 40px;
      }
    }
    .tab-bottom-bottom {
      img {
        width: 45px;
        height: 45px;
        bottom: 80px;
      }
      p {
        font-size: 16px;
      }
    }
    .tab-bottom-text {
      p {
        font-size: 15px;
        line-height: 1.125rem;
      }
    }
  }
  .third-slide {
    .tab-bottom-top {
      color: #435159;
      img {
        height: 60px;
        width: 40px;
      }
      p {
        font-size: 15px;
        &:first-child {
          font-size: 20px;
        }
      }
    }
    .tab-bottom-bottom {
      img {
        width: 40px;
      }
      p {
        &:first-child {
          font-size: 20px;
        }
      }
    }
  }
  .third-slide-bottom {
    p {
      font-size: 15px;
      line-height: 1.125rem;
    }
  }
}
