.eiti-tooltip {
  background: $white;
  border: 2px solid $greenest-land;
  max-width: 300px;
  opacity: 0.9;
  padding: $base-padding-lite;
  padding-bottom: ($base-padding-lite / 2);
  padding-top: 0.23em; // to account for verticality of text
  pointer-events: none;
  position: absolute;
  z-index: 9000;

  p {
    @include heading('para-sm');

    color: $greenest-land;
    font-weight: $weight-bold;
    margin: 0;
  }
}
