.eiti-tooltip {
	position: absolute;
	z-index: 9000;
	background: $white;
	border: 2px solid $greenest-land;
	padding: $base-padding-lite;
	max-width: 300px;

	p {
		@include heading('para-md');

		font-weight: $weight-bold;
		color: $green-land;
		margin: 0;
	}
}
