---
title: Explore | Gross Domestic Product
layout: default
permalink: /explore/gdp/
---
<section id="gdp" class="explore-subpage container">
  <div class="container-left-4">
    <div class="container-outer">
      <div>
        <a class="breadcrumb" href="{{ site.baseurl }}/explore/">Explore</a>
        /
      </div>
      <h1>Gross Domestic Product</h1>

      <p>In 2013, our GDP was $16.8 trillion, making the U.S. economy the largest in the world. Overall the extractive industries account for 2.6% of the economy, outpacing utilities, agriculture, and education services in contribution to national GDP.</p>

      <p><em>Explore GDP from 2004 to 2013 by state as a dollar value, or as a percentage of total GDP.</em></p>

      <a href="{{site.baseurl}}/downloads/#gdp">Data and documentation &#8594;
      </a>

    </div>
  </div>
  <section class="container-right-8">
    <div class="filters-wrapper slab-foxtrot container">
      <h1 data-toggler="filters" id="filter-description" class="filter-description filter-description_closed">
        GDP from extractives in
        <a href="#region-selector" class="filter-part" data-key="region">the entire U.S.</a>
        (<a href="#year-selector" class="filter-part" data-key="year">2013</a>)
      </h1>

      <button class="toggle-filters toggle-desktop" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide filters" data-collapsed-text="Show filters" data-toggler="filters">Show filters</button>

      <form id="filters" aria-hidden="true" class="filters">
        <div class="filters-heading">
          <h3>Filter</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing
      elit.</p>
        </div>

        <div class="container-left-6 filter">
          <label for="region-selector">Region</label>
          <select id="region-selector" name="region">
            <option value="">All U.S.</option>
            {% for state in site.data.states %}
            <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="unit-filter" class="container-right-6 filter">

          <label for="unit-selector">Units</label>
          <!-- <div id="unit-selector" class="container">
            <label class="unit-selector_label"><input class="unit-selector" type="radio" checked="true" name="units" value="dollars">Dollars</label>
            <label class="unit-selector_label"><input class="unit-selector" type="radio" name="units" value="percent">Percent</label>
          </div> -->
          <div id="unit-selector" class="container">
            <input class="unit-selector" type="radio" checked="checked" name="units" value="dollars">Dollars
            <input class="unit-selector" type="radio" name="units" value="percent">Percent
          </div>

          <!-- <label for="unit-selector">Units</label>
          <select id="unit-selector" name="units">
            <option value="dollars" selected>Dollars</option>
            <option value="percent">Percentage</option>
          </select> -->
        </div>


        <div class="container-left">
          <label for="year-selector">Years</label>
        </div>
        <div class="filter container">
          <svg id="timeline" class="timeline" viewBox="0 0 1024 60"></svg>
        </div>

        <div class="filter container filters-last">
          <eiti-slider id="year-selector" name="year"
            min="2004" max="2013" snap="1" value="2013">
          </eiti-slider>
        </div>

        <h1 id="filter-description" class="filter-description">
          GDP from extractives in
          <a href="#region-selector" class="filter-part" data-key="region">the entire U.S.</a>
          (<a href="#year-selector" class="filter-part" data-key="year">2013</a>)
        </h1>

      </form>

      <div class="container-outer">
        <button class="toggle-filters toggle" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide Filters" data-collapsed-text="Show Filters" data-toggler="filters">Show Filters</button>
      </div>

    </div>


  </div>

  <div class="slab-alpha">

    <div class="regions container">

      <p class="map-intro_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

      <section id="US" class="region active">
        <div class="map-wrapper">
          <svg is="eiti-map" id="US-map" class="region-map" simplify="1e-2"
            preserveAspectRatio="xMidYMid meet"
            projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/">
            <g class="onshore states" data-url="us-topology.json"
              data-object="states"
              data-id="'US-' + id"
              data-href="'#?region=' + id"
              data-title="properties.name"
              data-mesh="true">
            </g>
          </svg>

          <div class="map-legend"></div>
        </div>

        <h3 class="region-header-category">GDP by state</h3>
        <table class="subregions">
          <thead class="region-header"></thead>
          <tbody></tbody>
        </table>

      </section>

      {% for region in site.data.states %}
      <section id="{{ region.id }}" class="region onshore">
        <div class="map-wrapper">
          <svg is="eiti-map" id="{{ region.id }}-map" class="region-map" simplify="1e-2"
            preserveAspectRatio="xMidYMid meet"
            projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ region.id }}">
            <g class="onshore states" data-url="us-topology.json"
              data-object="states"
              data-filter="id === '{{ region.id }}'">
            </g>
          </svg>

          <div class="map-legend"></div>
        </div>

        <h3 class="region-header-category">GDP in {{ region.name }}</h3>
        <table class="subregions">
          <thead class="region-header"></thead>
          <tbody></tbody>
        </table>

      </section>
      {% endfor %}

    </div>
  </section>
</section>

<script src="{{ site.baseurl }}/js/vendor/immutable.min.js"></script>
<script src="{{ site.baseurl }}/js/components/eiti-bar.js"></script>
<script>
  eiti.data.REGION_ID_NAME = {
    {% for state in site.data.states %}
    '{{ state.id }}': '{{ state.name }}',
    {% endfor %}
    {% for area in site.data.offshore_areas %}
    '{{ area.id }}': '{{ area.name }}',
    {% endfor %}
    'US': 'the entire U.S.'
  };
</script>
<script src="{{ site.baseurl }}/js/pages/gdp.js"></script>
