---
title: Explore | Gross Domestic Product
layout: default
permalink: /explore/gdp/
---
<section id="gdp" class="explore-subpage container">
  <div class="container-left-4">
    <div class="container-outer">
      <h5 class="subpage-breadcrumb"><a href="{{ site.baseurl }}/explore/">Explore</a> /</h5>
      <h1>Gross Domestic Product</h1>

      <p>In 2013, our GDP was $16.8 trillion, making the U.S. economy the largest in the world. Overall the extractive industries account for 2.6% of the economy, outpacing utilities, agriculture, and education services in contribution to national GDP. Extractive industries totaled <a href="http://www.bea.gov/iTable/iTable.cfm?ReqID=51&step=1#reqid=51&step=51&isuri=1&5114=a&5102=1">$439 billion in real value added</a>.</p>

      <h3>2013 extractive industries value-added GDP</h3>

      <table>
        <tr>
          <th>Industry</th>
          <th>Real value added</th>
          <th>Value added as a percentage of total GDP</th>
        </tr>
        <tr>
          <td>All industries</td>
          <td>$16,768.1 billion</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Extractive industries</td>
          <td>$439.4 billion</td>
          <td>2.6%</td>
        </tr>
        <tr>
          <td>Oil and gas</td>
          <td>$291.9 billion</td>
          <td>1.7%</td>
        </tr>
        <tr>
          <td>Mining except oil and gas</td>
          <td>$78.8 billion</td>
          <td>0.5%</td>
        </tr>
        <tr>
          <td>Support activities for mining</td>
          <td>$68.7 billion</td>
          <td>0.4%</td>
        </tr>
      </table>

      <p>Extractive industries affect the economy in a number of ways, including the quantity and value of the natural resources produced, the revenue collected for public purposes, the jobs held by people working in extractive industries, and the exports that draw in money from abroad. While it can be difficult to quantify an industry’s impact on a country, these measures—production, revenue, employment, and exports—start to highlight the extractive industries’ role in the economy.</p>
    </div>
  </div>
  <section class="container-right-8">
    <div class="filters-wrapper slab-foxtrot container">
      <button class="toggle-filters toggle-desktop" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide Filters">Show Filters</button>

      <form id="filters" aria-hidden="true" class="filters">
        <div class="filters-heading">
          <h3>Filter</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing
      elit.</p>
        </div>

        <div class="container-left-6 filter">
          <label for="region-selector">Region</label>
          <select id="region-selector" name="region">
            <option value="">All U.S.</option>
            {% for state in site.data.states %}
            <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="container-right-6 filter">
          <label for="unit-selector">Units</label>
          <div id="unit-selector" class="container">
            <form>
              <label class="unit-selector"><input type="radio" name="units" value="dollars">$</label>
              <label class="unit-selector"><input type="radio" name="units" value="percent">%</label>
            </form>
          </div>
        </div>


        <div class="container-left">
          <label for="year-selector">GDP by Year</label>
        </div>
        <div class="filter container">
          <svg id="timeline" class="timeline" viewBox="0 0 1024 60"></svg>
        </div>

        <div class="filter container">
          <eiti-slider id="year-selector" name="year"
            min="2004" max="2013" snap="1" value="2013">
          </eiti-slider>
        </div>

      </form>

      <div class="container-outer">
        <button class="toggle" aria-controls="filters" data-expanded-text="Hide Filters">Show Filters</button>
      </div>

    </div>


  </div>

  <div class="slab-alpha">
    <div class="container-outer">
      <h1 id="filter-description" class="filter-description">
        GDP from extractives in
        <a href="#region-selector" class="filter-part" data-key="region">the entire U.S.</a>
        (<a href="#year-selector" class="filter-part" data-key="year">2013</a>)
      </h1>
    </div>

    <div class="regions container">

      <section id="US" class="region active">
        <div class="map-wrapper">
          <svg is="eiti-map" id="US-map" class="region-map" simplify="1e-2"
            preserveAspectRatio="xMidYMid meet"
            projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/">
            <g class="onshore states" data-url="us-topology.json"
              data-object="states"
              data-id="'US-' + id"
              data-href="'#?region=' + id"
              data-title="properties.name"
              data-mesh="true">
            </g>
          </svg>

          <div class="map-legend"></div>
        </div>

        <h3 class="region-header-category">GDP by state</h3>
        <table class="subregions">
          <thead class="region-header"></thead>
          <tbody></tbody>
        </table>

      </section>

      {% for region in site.data.states %}
      <section id="{{ region.id }}" class="region onshore">
        <div class="map-wrapper">
          <svg is="eiti-map" id="{{ region.id }}-map" class="region-map" simplify="1e-2"
            preserveAspectRatio="xMidYMid meet"
            projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ region.id }}">
            <g class="onshore states" data-url="us-topology.json"
              data-object="states"
              data-filter="id === '{{ region.id }}'">
            </g>
          </svg>

          <div class="map-legend"></div>
        </div>

        <h3 class="region-header-category">GDP in {{ region.name }}</h3>
        <table class="subregions">
          <thead class="region-header"></thead>
          <tbody></tbody>
        </table>

      </section>
      {% endfor %}

    </div>
  </section>
</section>

<script src="{{ site.baseurl }}/js/vendor/immutable.min.js"></script>
<script src="{{ site.baseurl }}/js/components/eiti-bar.js"></script>
<script src="{{ site.baseurl }}/js/components/eiti-toggle.js"></script>
<script>
  eiti.data.REGION_ID_NAME = {
    {% for state in site.data.states %}
    '{{ state.id }}': '{{ state.name }}',
    {% endfor %}
    {% for area in site.data.offshore_areas %}
    '{{ area.id }}': '{{ area.name }}',
    {% endfor %}
    'US': 'the entire U.S.'
  };
  eiti.data.STATE_ID_FIPS = {
    {% for state in site.data.states %}
    '{{ state.FIPS }}': '{{ state.id }}',
    {% endfor %}
  };
</script>
<script src="{{ site.baseurl }}/js/pages/gdp.js"></script>
