---
title: Jobs | Explore Data
layout: default
permalink: /explore/jobs/
---
<section id="jobs" class="explore-subpage container">
  <div class="container-left-4">
    <div class="container-outer">
      <div>
        <a class="breadcrumb" href="{{ site.baseurl }}/explore/">Explore</a>
        /
      </div>
      <h1>Jobs</h1>

      <!-- <p>808,000 people drew wages or salaries from work in the extractive industries in 2013. In addition, there are thousands of self-employed people working across the extractive industries.</p> -->

      <p>Explore extractive industries jobs from 2004 to 2013 by state for both salaried employees and self-employed.</p>

      <p>There are two types of jobs data here. <em>Wage and Salary</em> data is from the Bureau of Labor Statistics and describes the number of people employed in natural resource extraction that receive wages or salaries from companies. <em>Self-Employed</em> data is from the Bureau of Economic Analysis and describes people who work in natural resource extraction, but don’t receive wages or salaries because they own their company.</p>

      <p>Note: The Self-Employed data includes some double counting because people appear on multiple tax forms.</p>

      <a href="{{site.baseurl}}/downloads/#jobs">See data and documentation &#8594;
      </a>

    </div>
  </div>
  <section class="container-right-8">
    <div class="filters-wrapper slab-foxtrot container">
      <h1 data-toggler="filters" data-filter-description="" class="filter-description filter-description_closed">
        Extractive industries jobs in
        <a href="#region-selector" class="filter-part" data-key="region">the entire U.S.</a>
        (<a href="#year-selector" class="filter-part" data-key="year">2013</a>)
      </h1>

      <button class="toggle-filters toggle-desktop" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide filters" data-collapsed-text="Show filters" data-toggler="filters">Show filters</button>

      <form id="filters" aria-hidden="true" class="filters">
        <div class="filters-heading">
          <h3>Filter</h3>
        </div>

        <div class="container-left-6 filter">
          <label for="region-selector">Region</label>
          <select id="region-selector" name="region">
            <option value="">All U.S.</option>
            {% for state in site.data.states %}
            <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="figure-filter" class="container-right-6 filter">
          <!--
          <label for="figure-selector">Units</label>
          <div id="figure-selector" class="container">
            <label class="figure-selector"><input type="radio" name="units" value="dollars">$</label>
            <label class="figure-selector"><input type="radio" name="units" value="percent">%</label>
          </div>
          -->
          <label for="figure-selector">Job type</label>
          <select id="figure-selector" name="figure">
            <option value="wage" selected>Wage and salary</option>
            <option value="self">Self-employed</option>
          </select>
        </div>


        <div class="container-left">
          <label for="year-selector">Years</label>
        </div>
        <div class="filter container">
          <svg id="timeline" class="timeline" viewBox="0 0 1024 60"></svg>
        </div>

        <div class="filter container filters-last">
          <eiti-slider id="year-selector" name="year"
            min="2004" max="2013" snap="1" value="2013">
          </eiti-slider>
        </div>

        <h1 data-toggler="filters" data-filter-description="" class="filter-description">
          Extractive industries jobs in
          <a href="#region-selector" class="filter-part" data-key="region">the entire U.S.</a>
          (<a href="#year-selector" class="filter-part" data-key="year">2013</a>)
        </h1>

      </form>

      <div class="container-outer">
        <button class="toggle-filters toggle" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide filters" data-collapsed-text="Show Filters" data-toggler="filters">Show filters</button>
      </div>

    </div>


  </div>

  <div class="slab-alpha">

    <div class="regions container">

      <!-- <p class="map-intro_text">There are two types of jobs data here. One is <em>Wage and Salary</em> data, which describes the number of people employed in natural resource extraction that receive wages or salaries from companies. The other type is <em>Self-Employed</em>, which describes people work in natural resource extraction, but don’t receive wages or salaries because they own their company. You can select which type of data you'd like to see in the filters above.</p> -->

      <section id="US" class="region active">
        <div class="map-wrapper">
          <svg is="eiti-map" id="US-map" class="region-map" simplify="1e-2"
            preserveAspectRatio="xMidYMid meet"
            projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/">
            <g class="onshore states" data-url="us-topology.json"
              data-object="states"
              data-id="'US-' + id"
              data-href="'#?region=' + id"
              data-title="properties.name"
              data-mesh="true">
            </g>
          </svg>

          <div class="map-legend"></div>
        </div>

        <h3 class="region-header-category">Jobs by state</h3>
        <table class="subregions">
          <thead class="region-header"></thead>
          <tbody></tbody>
        </table>

      </section>

      {% for region in site.data.states %}
      <section id="{{ region.id }}" class="region onshore">
        <div class="map-wrapper">
          <svg is="eiti-map" id="{{ region.id }}-map" class="region-map" simplify="1e-2"
            preserveAspectRatio="xMidYMid meet"
            projection="albersCustom" data-path="{{ site.baseurl }}/data/geo/" zoom-to="{{ region.id }}">
            <g class="onshore states" data-url="us-topology.json"
              data-object="states"
              data-filter="id === '{{ region.id }}'">
            </g>
          </svg>

          <div class="map-legend"></div>
        </div>

        <h3 class="region-header-category">Jobs in {{ region.name }}</h3>
        <table class="subregions">
          <thead class="region-header"></thead>
          <tbody></tbody>
        </table>

      </section>
      {% endfor %}

    </div>
  </section>
</section>

<script src="{{ site.baseurl }}/js/vendor/immutable.min.js"></script>
<script src="{{ site.baseurl }}/js/components/eiti-bar.js"></script>
<script>
  eiti.data.REGION_ID_NAME = {
    {% for state in site.data.states %}
    '{{ state.id }}': '{{ state.name }}',
    {% endfor %}
    {% for area in site.data.offshore_areas %}
    '{{ area.id }}': '{{ area.name }}',
    {% endfor %}
    'US': 'the entire U.S.'
  };
</script>
<script src="{{ site.baseurl }}/js/pages/jobs.js"></script>
