<body>
  <section class="layout-content container-page-wrapper container-margin">
    <article class="container-left-7 container-shift-reverse-2">

      <p>This is what a footnote reference looks like.<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup> You can drop them into the middle of a sentence<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a> without too much visual disruption.</p>

      <h2 id="notes">Notes</h2>
        <div class="footnotes">
          <ol>
            <li id="fn:1">
              <p>Footnotes generally include links to <a href="#">cited content</a>, and should always end with the "reversefootnote" class, which generates the return-link arrow shown here. <a href="#fnref:1" class="reversefootnote">↩</a></p>
            </li>
            <li id="fn:2">
              <p>Here's a second footnote example, again with a link to the <a href="#">cited content</a>.<a href="#fnref:2" class="reversefootnote">↩</a></p>
            </li>
          </ol>
        </div>
      </article>
  </section>
</body>
