---
layout: default
---

<!-- {% include case-studies/_intro.html %} -->

<section class="container-outer case_studies_content">

	<article class="container-left-7">

		{% if page.resource == 'oil' %}
		  <h3 class="case_studies_content-icon"><i class="icon-oil"></i>Oil</h3>
		{% elsif page.resource == 'gas' %}
		  <h3 class="case_studies_content-icon"><i class="icon-gas"></i>Natural Gas</h3>
		{% elsif page.resource == 'coal' %}
		  <h3 class="case_studies_content-icon"><i class="icon-coal"></i>Coal</h3>
		{% elsif page.resource == 'gold' %}
		  <h3 class="case_studies_content-icon"><i class="icon-gold"></i>Gold</h3>
		{% elsif page.resource == 'copper' %}
		  <h3 class="case_studies_content-icon"><i class="icon-copper"></i>Copper</h3>
		{% elsif page.resource == 'iron' %}
		  <h3 class="case_studies_content-icon"><i class="icon-iron"></i>Iron</h3>
		{% endif %}

	  {{content | markdownify}}

	</article>

	<div class="container-right-5">

		<label>Choose a community page
			<div class="case_studies_intro-select">
				{% include case-studies/_selector.html %}
			</div>
		</label>

		<div class="u-centered case_studies-maps">

			{% if page.permalink == '/case-studies/' %}
      	<img src="{{ site.baseurl }}/img/counties/12-map.png" alt="Map with locations of the twelve communities given in-depth coverage in this section of the site." class="case_studies_intro-image">
				<img src="{{ site.baseurl }}/img/counties/12-map-icons.png" alt="Key for map with the icons for the six commodities given in-depth coverage in this section of the site." class="case_studies_intro-image case_studies_intro-image_key">
			{% elsif page.permalink == '/case-studies/boone-logan-and-mingo/' %}
				<eiti-map data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="WV">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'WV'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'WV'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'WV' &amp;&amp; properties.name.match(/Boone|Logan|Mingo/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/campbell/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="WY">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'WY'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'WY'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'WY' &amp;&amp; properties.name.match(/Campbell/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/greenlee/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="AZ">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'AZ'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'AZ'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'AZ' &amp;&amp; properties.name.match(/Greenlee/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/pima/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="AZ">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'AZ'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'AZ'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'AZ' &amp;&amp; properties.name.match(/Pima/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/elko-and-eureka/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="NV">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'NV'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'NV'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'NV' &amp;&amp; properties.name.match(/Elko|Eureka/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/humboldt-and-lander/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="NV">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'NV'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'NV'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'NV' &amp;&amp; properties.name.match(/Humboldt|Lander/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/marquette/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="MI">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'MI'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'MI'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'MI' &amp;&amp; properties.name.match(/Marquette/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/st-louis/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="MN">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'MN'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'MN'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'MN' &amp;&amp; properties.name.match(/Saint Louis/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/desoto/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="LA">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'LA'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'LA'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'LA' &amp;&amp; properties.name.match(/De Soto/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/tarrant-and-johnson/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="TX">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'TX'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'TX'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'TX' &amp;&amp; properties.name.match(/Tarrant|Johnson/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/kern/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="CA">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'CA'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'CA'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'CA' &amp;&amp; properties.name.match(/Kern/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% elsif page.permalink == '/case-studies/north-slope/' %}
				<eiti-map is="eiti-map" data-path="{{ site.baseurl }}/data/geo/"
					simplify="1e-2"
					projection="albersCustom"
					preserveAspectRatio="xMidYMid meet"
					zoom-to="AK">
					<svg>
						<g data-url="us-topology.json"
							data-object="states"
							data-mesh="true"
							data-filter="id === 'AK'"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'AK'"
							data-mesh="true"></g>
						<g data-url="us-topology.json"
							data-object="counties"
							data-filter="properties.state === 'AK' &amp;&amp; properties.name.match(/North Slope/)"
							class="case_studies-selected_counties"></g>
					</svg>
				</eiti-map>
			{% endif %}

    </div>

		<div class="sticky_nav">

		  <nav class="sticky_nav-nav">

		    <ul>
		      {% if page.nav_items %}
		      	{% for item in page.nav_items %}
			        {% if item.name == page.nav_items[0].name %}
			          <a href="#{{item.name}}" class="sticky_nav-nav_item" data-nav-item="{{item.name}}" data-active="true">{{item.title}}</a>
			        {% else %}
			          <a href="#{{item.name}}" class="sticky_nav-nav_item" data-nav-item="{{item.name}}">{{item.title}}</a>
			        {% endif %}
			      {% endfor %}
		      {% endif %}
		    </ul>

		  </nav>

		</div>

	</div>

</section>

<script src="{{ site.baseurl }}/js/components/eiti-map.js"></script>
<script src="{{ site.baseurl }}/js/components/sticky-nav.js"></script>
<script src="{{ site.baseurl }}/js/components/open-list-nav.js"></script>
