---
layout: default
script: <script src="/js/pages/communities.js"></script>
---

<div id="communities" class="communities">


  {% include communities_intro.html %}
  
  <section class="container communities-content">
  
		<article class="communities-left">
		    
				{% if page.resource == 'oil' %}
				  <h3><img src="{{ site.baseurl }}/img/oil.png" alt="oil rig">Oil</h3>
				{% elsif page.resource == 'gas' %}
					<h3><img src="{{ site.baseurl }}/img/gas.png" alt="gas burner" class="gas">Natural Gas</h3>
				{% elsif page.resource == 'coal' %}
					<h3><img src="{{ site.baseurl }}/img/coal.png" alt="coal cart">Coal</h3>
				{% elsif page.resource == 'gold' %}
					<h3><img src="{{ site.baseurl }}/img/gold.png" alt="goal inguts">Gold</h3>
				{% elsif page.resource == 'copper' %}
					<h3><img src="{{ site.baseurl }}/img/copper.png" alt="copper penny" class="copper">Copper</h3>
				{% elsif page.resource == 'iron' %}
					<h3><img src="{{ site.baseurl }}/img/iron.png" alt="iron ore" class="iron">Iron</h3>
				{% endif %}


			  {{content | markdownify}}
		

		</article>

		<div class="communities-right communities-sticky-nav">

		  <nav>

		    <ul>
		      {% if page.nav_items %}
		      	{% for item in page.nav_items %}
			        {% if item.name == page.nav_items[0].name %}
			          <li class="active"><a href="#{{item.name}}">{{item.title}}</a></li>
			        {% else %}
			          <li><a href="#{{item.name}}">{{item.title}}</a></li>
			        {% endif %}
			      {% endfor %}
		      {% endif %}
		    </ul>

		  </nav>

		</div>
  </section>
</div>
