---
layout: default
---

<section class="layout-content container-page-wrapper container-margin">

  <article class="{% if page.resource %}container-left-9{% else %}container-left-7 container-shift-reverse-2{% endif %}">

    {% if page.resource == 'oil' %}
      <h3 class="case_studies_content-icon"><i class="icon-oil"></i>Oil</h3>
    {% elsif page.resource == 'gas' %}
      <h3 class="case_studies_content-icon"><i class="icon-gas"></i>Natural Gas</h3>
    {% elsif page.resource == 'coal' %}
      <h3 class="case_studies_content-icon"><i class="icon-coal"></i>Coal</h3>
    {% elsif page.resource == 'gold' %}
      <h3 class="case_studies_content-icon"><i class="icon-gold"></i>Gold</h3>
    {% elsif page.resource == 'copper' %}
      <h3 class="case_studies_content-icon"><i class="icon-copper"></i>Copper</h3>
    {% elsif page.resource == 'iron' %}
      <h3 class="case_studies_content-icon"><i class="icon-iron"></i>Iron</h3>
    {% endif %}

    {% if page.breadcrumb %}
      <div>
        <a class="breadcrumb" href="{{ site.baseurl }}{{ page.breadcrumb[0].permalink }}">{{ page.breadcrumb[0].title }}</a>
        /
      </div>
    {% endif %}

    {% assign nav_slug = page.nav_items[0].name %}

    {% if page.title_display %}
      {% if page.nav_items %}
        {% if page.selector == 'hash' %}
          <h1 id="{{nav_slug}}">{{page.title_display}}</h1>
        {% elsif page.selector == 'list' %}
          <h1 id="{{nav_slug}}">{{ page.title_display }}</a></h1>
        {% endif %}
      {% else %}
        <h1>{{page.title_display}}</h1>
      {% endif %}
    {% elsif page.title %}
      {% if page.nav_items %}
        {% if page.selector == 'hash' %}
          <h1 id="{{nav_slug}}">{{page.title_display}}</h1>
        {% elsif page.selector == 'list' %}
          <h1 id="{{nav_slug}}">{{ page.title_display }}</a></h1>
        {% endif %}
      {% else %}
        <h1>{{page.title}}</h1>
      {% endif %}
    {% endif %}

    {% include case-studies/_maps.html %}

    {{ content | markdownify }}

  </article>

  {% if page.selector %}
    <div class="{% unless page.resource %} sticky sticky_nav {% endunless %} {% if page.resource %} sticky-sibling {% endif %}container-right-3">

      {% if page.resource %}

        {% include case-studies/_selector.html screen="desktop" %}

      {% else %}
        {% if page.selector == 'list' %}
          <nav>
            {% include case-studies/_nav-list.html %}
          </nav>
        {% elsif page.selector == 'hash' %}
          <nav>
            {% include hash_selector.html %}
          </nav>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  {% if page.resource %}
      <nav class="sticky sticky-float sticky_nav">
        {% include case-studies/_nav-list.html %}
      </nav>
  {% endif %}
</section>

{% if page.selector %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/lib/narrative.min.js" charset="utf-8"></script>
{% endif %}
