---
layout: default
---

<div class="layout-content container-outer container-margin">

  <article class="container-left-7">

    {% if page.breadcrumb %}
      <div>
        <a class="breadcrumb" href="{{ site.baseurl }}{{ page.permalink }}">{{ page.breadcrumb }}</a>
        /
      </div>
    {% endif %}

    {% if page.title_display %}
      <h1>{{page.title_display}}</h1>
    {% elsif page.title %}
      <h1>{{page.title}}</h1>
    {% endif %}

    {{ content | markdownify }}

  </article>

</div>
