<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/Product">
  <head>
    {% include head.html %}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
  <div id="burst-12" class="burst-blue"></div>
  <div id="burst-text">
  	<p>This site is in</p>
  	<h1>Alpha</h1>
  </div>

 	<!-- <aside class="usa">
	  <div class="container">
	    <p>
	      An official website of the United States Government <img class="flag" src="{{ site.url }}static/img/us_flag_small.png">
	    </p>
	  </div>
	</aside> -->

	<!-- <section class="splash splash-short">
	  <div class="container">
	    <div class="title subpage">
	      <h1>Natural Resource Revenue</h1>
	      <h1><span class="small">from</span> U.S. Federal Lands</h1>
	    </div>
	  </div>
	    {% include nav.html %}
	</section> -->

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
