<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <!-- 3rd party dependencies -->
    <script src="{{ site.baseurl }}/js/vendor/d3.v3.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/queue.v1.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/topojson.v1.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/datalib.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/colorbrewer.js"></script>

    <!-- custom map projection -->
    <script src="{{ site.baseurl }}/js/albers-custom.js"></script>

    <!-- EITI libs -->
    <script src="{{ site.baseurl }}/js/eiti.js"></script>

    <!-- custom elements -->
    <script src="{{ site.baseurl }}/js/vendor/document-register-element.js"></script>
    <script src="{{ site.baseurl }}/js/components/eiti-map.js"></script>
    <script src="{{ site.baseurl }}/js/components/eiti-slider.js"></script>

    <!-- Glossary -->
    <script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/lodash.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/list.min.js"></script>

    

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>

  <body class="{{ page.body_class }}">

    {% include layout/header.html %}

    <main>
      {% include glossary.html %}

      {{ content }}
    </main>

    {% include layout/footer.html %}

    <script src="{{ site.baseurl }}/js/components/glossary.js"></script>
    {{ page.script }}
  </body>

</html>
