<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter and OpenGraph data
    ================================================== -->
    <!-- type -->
    <meta property="og:type" content="website">

    <!-- title -->
    {% if page.title %}
      <title>{{ page.title }}</title>
      <meta property="og:title" content="{{ page.title | xml_escape }}" />
      <meta name="twitter:title" content="{{ page.title | xml_escape }}">
    {% else %}
      <title>{{ site.title }}</title>
      <meta property="og:title" content="{{ site.title | xml_escape }}" />
      <meta name="twitter:title" content="{{ site.title | xml_escape }}">
    {% endif %}

    <!-- url -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- img -->
    <meta property="og:img" content="{{ site.url }}/img/explore-home-revenue.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/explore-home-revenue.png">

    <!-- description -->
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">

    <!-- Favicons
    ================================================== -->
    <!-- <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon-32x32.png" sizes="32x32"> -->

    <!-- Styles
    ================================================== -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <!-- Scripts
    ================================================== -->

    <!-- 3rd party dependencies -->
    <script src="{{ site.baseurl }}/js/vendor/d3.v3.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/queue.v1.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/topojson.v1.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/datalib.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/colorbrewer.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>

    <!-- custom map projection -->
    <script src="{{ site.baseurl }}/js/albers-custom.js"></script>

    <!-- EITI libs -->
    <script src="{{ site.baseurl }}/js/eiti.js"></script>
    <script>
      eiti.data.path = '{{ site.baseurl }}/data/';
      eiti.commodities = ({{ site.data.commodities|jsonify }});
    </script>

    <!-- custom elements -->
    <script src="{{ site.baseurl }}/js/vendor/document-register-element.js"></script>
    <script src="{{ site.baseurl }}/js/components/eiti-map.js"></script>
    <script src="{{ site.baseurl }}/js/components/eiti-slider.js"></script>
    <script src="{{ site.baseurl }}/js/components/eiti-toggle.js"></script>
    <script src="{{ site.baseurl }}/js/components/search.js"></script>

    <!-- Glossary -->
    <script src="{{ site.baseurl }}/js/vendor/lodash.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/list.min.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48605964-8', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('set', 'forceSSL', true);
      ga('send', 'pageview');
    </script>

  </head>

  <body class="{{ page.body_class }}">
    {% include layout/banner.html %}

    {% include layout/header.html %}

    <main>
      {% include glossary.html %}
      {% include layout/nav-drawer.html %}

      {{ content }}
    </main>

    {% include layout/footer.html %}

    <script src="{{ site.baseurl }}/js/components/glossary.js"></script>
    {{ page.script }}

    <!-- Digital Analytics Program roll-up, see the data at https://analytics.usa.gov -->
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js" id="_fed_an_ua_tag"></script>

  </body>

</html>
