---
layout: default
---
<section id="companies" data-year="{{ page.year }}" class="explore-subpage container container-margin">
  <section class="revenues_subpage-nav container">
    <div class="revenues_subpage-tabs">
      <ul>
        {% for year in site.company_revenue_years %}
        <li class="revenues_subpage-tab{% if year == page.year %} active{% endif %}">
          <a href="{{ site.baseurl }}/explore/federal-revenue-by-company/{% if forloop.last %}{% else %}{{ year }}{% endif %}">{{ year }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <div class="container-left-4">
    <div class="container-outer">
      <div>
        <a class="breadcrumb" href="{{ site.baseurl }}/explore/">Explore data</a>
        /
      </div>

      <h1>Federal Revenue by Company</h1>

      <p>Explore revenues on federal lands and waters in {{ page.year }} by commodity, revenue type, and company.</p>

      <p>This data comes from the Department of the Interior's Office of Natural Resources Revenue and is calendar year data.</p>

      <p>Choose a commodity or revenue type to filter the list of revenues. To search for a specific company, start typing the name of the company.</p>

      <a href="{{site.baseurl}}/downloads/federal-revenue-by-company/">
        <i class="fa fa-file-text-o u-padding-right"></i>Data and documentation
      </a>
    </div>
  </div>

  <section class="container-right-8 filters-wrapper_outer">

    <div data-absolute="true" data-offset-parent="mobile" class="sticky_nav sticky_nav-show_mobile filters-wrapper container" data-toggler="filters" data-max-width="675">
      <h1 data-toggler="filters" data-filter-description="" class="filter-description filter-description_closed">
        <a href="#type-selector" class="filter-part" data-key="type">All revenue</a>
        from
        <a href="#commodity-selector" class="filter-part" data-key="commodity">all commodities</a>
        extraction on federal lands ({{ page.year }})
      </h1>
      <button class="toggle-filters toggle-desktop" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide filters" data-collapsed-text="Show filters" data-toggler="filters">Show filters</button>

      <form id="filters" aria-hidden="true" class="filters">

        <div class="filters-heading">
          <h3>Filter revenue</h3>
        </div>


        <div class="container-left-6">
          <div id="commodity-filter" class="filter">
            <label for="commodity-selector">Commodity</label>
            <select id="commodity-selector" name="commodity">
              <option value="">All commodities</option>
            </select>
          </div>
        </div>

        <div class="container-left-6" style="margin-right: 0;">
          <div id="type-filter" class="filter filters-last">
            <label for="type-selector">Revenue Type</label>
            <select id="type-selector" name="type">
              <option value="">All</option>
            </select>
          </div>
        </div>

      </form>

      <div class="container-outer">
        <button class="toggle-filters toggle" is="eiti-toggle" aria-controls="filters" data-expanded-text="Hide filters" data-toggler="filters" data-collapsed-text="Show filters">Show filters</button>
      </div>

    </div>

    <div class="explore-exploration slab-alpha">

      <div class="container">
        <h2 class="h3 region-title">Total revenues by type</h2>
        <table id="revenue-types" class="revenue-type-list subregions">
        </table>
      </div>

      <div class="container">
        <h2 class="h3 region-title">Companies</h2>
        <div>
          <label for="company-name-filter">Filter by company name:</label>
          <input type="text" name="search" id="company-name-filter">
        </div>
        <table id="companies" class="company-list subregions">
        </table>
      </div>

    </div>

  </section>

</section>
<script type="text/javascript" src="{{ site.baseurl }}/js/lib/explore.min.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/js/eiti.explore.js"></script>
<script src="{{ site.baseurl }}/js/pages/company-revenue.js"></script>
