---
layout: default
nav_items:
  - name: production
    title: Production
    subnav_items:
      - name: offshore-area-federal-production
        title: Federal waters
  - name: revenue
    title: Revenue
    subnav_items:
      - name: federal-revenue
        title: Federal revenue
---

{% assign area_name = page.title %}
{% assign area_id = page.id %}
{% assign region_name = page.region %}
{% assign commodity_names = site.data.commodity_names %}
{% assign year = '2013' %}

<main id="offshore-area-{{ area_id }}" class="container-page-wrapper layout-state-pages">
  <div class="container-left-9">
    <div>
      <a class="breadcrumb" href="{{ site.baseurl }}/explore/">Explore data</a>
      /
    </div>
    <h1 id="title">{{ area_name }}</h1>

    <section id="production">
      <h2>Production</h2>
      {% include location/offshore-area-federal-production.html %}
    </section>

    {% include location/offshore-area-revenue.html %}
  </div>

  <div class="container-right-3">
    <div class="sticky_nav" data-sticky-offset="50">
      <h3 class="state-page-nav-title container">

        <div class="nav-title">{{ area_name }}</div>
        <figure is="data-map">

          {%
            include icon-map.html
            state=area_id
            highlighted_state=area_id
            offshore=true
          %}
        </figure>
        <label class="nav-prompt">Explore data main page</label>
      </h3>
      <nav class="sticky_nav-nav">
        {% include case-studies/_nav-list.html %}
      </nav>
    </div>
  </div>

</main>

<script src="{{ site.baseurl }}/js/lib/state-pages.min.js"></script>
