---
layout: subpage
class: search
---

{{ content }}

<!--[if lte IE 8]>
  <style>
  #search-results {display: none !important;}
  .no-js-message {display: block; margin: auto; text-align: center; font-weight: bold;}
  </style>
<![endif]-->
<!-- Uncomment the following when we add browser js detection -->
<!-- <span class="no-js-message">Whoops! It does not appear that your browser supports searching.</span> -->
<div class="search-results" class="js-required">

  <div class="container search-header">
    <p>Search results for <strong>energy information</strong></p>
    <p>3 results</p>
  </div>

  <div class="container">
  {% for title in site.data.search limit:3 %}
    <article class="search-result-list">
      <h1><a href="{{ title.url }}">{{ title.title }} &#8594;</a></h1>
      <p>{{ title.description }}</p>
      <p>Tagged / 
        {% for item in title.tag %}
          <a>{{ item }}</a> /
        {% endfor %}
      </p>
    </article>
  {% endfor %}
  </div>
  
  <div class="container">
    <p class="credit">Search powered by <a href="#">Beckley Beta</a></p>
  </div>

</div>
