---
layout: subpage
class: search
---

{{ content }}

<!--[if lte IE 8]>
  <style>
  #search-results {display: none !important;}
  .no-js-message {display: block; margin: auto; text-align: center; font-weight: bold;}
  </style>
<![endif]-->
<!-- Uncomment the following when we add browser js detection -->
<!-- <span class="no-js-message">Whoops! It does not appear that your browser supports searching.</span> -->
<div class="search-results" class="js-required">

  <div class="container search-header">
    <p>Search results for <strong class='search-string'></strong></p>
    <p id="search-results-count"></p>
  </div>

  <div class="container" id="search-results-container">
    <h1 class="loading">Loading...</h1>
  </div>

  <div class="container search-no-results" id="search-no-results">
    <h1>Sorry, no results were found for your search.</h1>
    <h2>Try a new search:</h2>
    <form role="form" id="search" action="{{ site.baseurl }}/search" method="GET">
      <div class="search-content search-new">
          <label for="site-search-text">Search our resources...</label>
          <input type="search" class="form-control" id="site-search-text" name="q" title="Search" role="search" placeholder="Search our resources...">
          <input type="submit" value="&#10095;" title="Submit Search">
      </div>
    </form>
    <p><strong>Or, try one of these popular searches </strong>
      / <a href="#">energy</a> / 
      <a href="#">oil</a> / 
      <a href="#">conservation</a> / 
    </p>
  </div>
  
  <div class="container">
    <p class="credit">Search powered by <a href="#">Beckley Beta</a></p>
  </div>

</div>

<script type="text/javascript" src='{{ site.baseurl }}/static/js/search.js'></script>
