---
layout: default
---

{% assign state_name = page.data.name %}
{% assign state_id = page.data.id %}
{% assign year = '2013' %}

{% assign jobs = site.data.state_jobs[state_id] %}
{% assign gdp = site.data.state_gdp[state_id] %}

{% assign exports_commodities = site.data.state_exports[state_id].commodities %}
{% assign exports_total = site.data.state_exports[state_id].commodities.All[year].dollars %}
{% assign exports_commodities_num = site.data.state_exports[state_id].commodities | size | minus:2 %}

{% assign revenue_products = site.data.state_revenues[state_id].products %}
{% assign revenue_total = revenue_products.All[year].revenue %}
{% assign top_revenue_products = site.data.top_state_products[state_id].revenue[year] %}

{% assign federal_products = site.data.state_federal_production[state_id].products %}
{% assign federal_products_num = federal_products | size %}
{% assign top_federal_products = site.data.top_state_products[state_id].federal_production[year] %}

{% assign all_products = site.data.state_all_production[state_id].products %}
{% assign all_products_num = all_products | size %}
{% assign top_all_products = site.data.top_state_products[state_id].all_production[year] %}



<main id="state-{{ state_id }}" class="container-outer">
  <h1>{{ state_name }}</h1>

  <section id="key-facts" class="revenue">
    <h2>Key Facts</h2>
    <ul class="list-bullet">

    {% if revenue_total %}
      <li>{{ state_name }} generated
        <strong>${{ revenue_total | intcomma }}
          in federal revenue</strong> from
        <a href="#revenue">{{ revenue_products | size }} product{{ revenue_products | size | plural }}</a>
        in {{ year }}.
        {% if top_revenue_products %}
        Among them, these are the most notable in terms of revenue:
        <ul class="list-bullet">
          {% for product in top_revenue_products %}
          <li><a href="#revenue-{{ product.product | slugify }}">{{ product.product }}</a>:
            #{{ product.rank }} ({{ product.percent | floor }}%)</li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% else %}
      <li>{{ state_name }} generated no federal revenue in {{ year }}.</li>
    {% endif %}

    {% if all_products_num > 0 %}
      <li>{{ state_name }} produced
        <a href="#all-production">{{ all_products | size }} product{{ all_products | size | plural }}</a>
        on all lands and waters in {{ year }}.
        {% if top_all_products %}
        Among them, these are the most notable:
        <ul class="list-bullet">
          {% for product in top_all_products %}
          <li><a href="#all-production-{{ product.product | slugify }}">{{ product.product }}</a>:
            #{{ product.rank }} ({{ product.percent | floor }}%)</li>
          {% if forloop.index > 10 %}{% break %}{% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% else %}
      <li>We have no record of production on all lands and waters in {{ state_name }} in {{ year }}.</li>
    {% endif %}

    {% if federal_products_num > 0 %}
      <li>{{ state_name }} produced
        <a href="#federal-production">{{ federal_products | size }} product{{ federal_products | size | plural }}</a>
        on federal lands in {{ year }}.
        {% if top_federal_products %}
        Among them, these are the most notable:
        <ul class="list-bullet">
          {% for product in top_federal_products %}
          <li><a href="#federal-production-{{ product.product | slugify }}">{{ product.product }}</a>:
            #{{ product.rank }} ({{ product.percent | floor }}%)</li>
          {% if forloop.index > 10 %}{% break %}{% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        </li>
    {% else %}
      <li>We have no record of federal production in {{ state_name }} in {{ year }}.</li>
    {% endif %}

    {% capture jobs_summary %}
      {% if jobs[year].count %}
        The extractives industry created
        <a href="#employment">{{ jobs[year].count | intcomma }} jobs</a>
        on average in {{ state_name }} in {{ year }}, or
        {{ jobs[year].percent | percent }}% of state-wide employment.
      {% else %}
        The extractives industry did not create any jobs in {{ state_name }} in {{ year }}.
      {% endif %}
    {% endcapture %}

      <li class="employment">{{ jobs_summary }}</li>


    {% capture gdp_summary %}
      {% if gdp[year].dollars %}
        The extractives industry contributed
        <a href="#gdp">${{ gdp[year].dollars | intcomma }}</a>
        toward {{ state_name }}'s GDP in {{ year }}, or
        {{ gdp[year].percent | percent }}%.
      {% else %}
        The extractives industry did not have any effect on GDP in {{ state_name }} in {{ year }}.
      {% endif %}
    {% endcapture %}

      <li class="gdp">{{ gdp_summary }}</li>

    {% capture exports_summary %}
      {% if exports_commodities and exports_commodities['All'] and exports_commodities_num > 0 %}
        The extractives industry exported
        <strong>${{ exports_commodities.All[year].dollars | intcomma }}</strong>
        from <a href="#exports">{{exports_commodities_num}}</a> commodit{{ exports_commodities_num | plural:'ies' | default: 'y' }} in {{ state_name }} in {{ year }}, or
        {{ exports_commodities['All'][year].percent | percent }}% of state-wide exports.
      {% else %}
        The extractives industry did not have any exports in {{ state_name }} in {{ year }}.
      {% endif %}
    {% endcapture %}

      <li class="exports">{{ exports_summary }}</li>
    </ul>
  </section>


  <section id="revenue" class="federal revenue">
    <h2>Revenue</h2>
    {% for product in revenue_products %}
    <section id="revenue-{{ product[0] | slugify }}">
      {% assign revenue = product[1][year].revenue %}
      {% if product[0] == 'All' %}
        {% assign product_name = 'All products' %}
      {% else %}
        {% assign product_name = product[0] %}
      {% endif %}
      <h3>{{ product_name }}</h3>
      <p>{{ state_name }} generated
        {% if revenue %}${{ revenue | intcomma }} in
        {% else %}no{% endif %}
        federal revenue from {{ product_name | downcase }} in {{ year }}.
        Historically:</p>

      <table>
        <thead>
          <th>Year</th>
          <th class="numeric">Revenue</th>
          <th class="numeric">US %</th>
          <th class="numeric">Rank</th>
        </thead>
        <tbody>
        {% for year in product[1] %}
          <tr>
            <td>{{ year[0] }}</td>
            <td class="numeric">${{ year[1].revenue | intcomma }}</td>
            <td class="numeric">{{ year[1].percent | percent }}%</td>
            <td class="numeric">{{ year[1].rank | ordinal:'super' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </section>
    {% endfor %}
  </section>

  <section id="federal-production" class="federal production">
    <h2>Production on Federal Lands</h2>
    {% for product in federal_products %}
    <section id="federal-production-{{ product[0] | slugify }}">
      {% assign product_name = product[0] %}
      {% assign volume = product[1][year].volume %}
      <h3>{{ product[0] }}</h3>
      <p>{{ state_name }} produced
        {% if volume %}{{ volume | intcomma }} (units) of
        {% else %}no{% endif %}
        {{ product[0] | downcase }} in {{ year }}. Historically:</p>

      <table>
        <thead>
          <th>Year</th>
          <th class="numeric">Production (units)</th>
          <th class="numeric">US %</th>
          <th class="numeric">Rank</th>
        </thead>
        <tbody>
        {% for year in product[1] %}
          <tr>
            <td>{{ year[0] }}</td>
            <td class="numeric">${{ year[1].volume | intcomma }}</td>
            <td class="numeric">{{ year[1].percent | percent }}%</td>
            <td class="numeric">{{ year[1].rank | ordinal:'super' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </section>
    {% endfor %}
  </section>

  <section id="all-production" class="all-lands production">
    <h2>Production on All Lands &amp; Waters</h2>

    {% for product in all_products %}
    <section id="all-production-{{ product[0] | slugify }}">
      {% assign product_name = product[0] %}
      {% assign volume = product[1][year].volume %}
      <h3>{{ product[0] }}</h3>

      <p>{{ state_name }} produced
        {% if volume %}{{ volume | intcomma }} (units) of
        {% else %}no{% endif %}
        {{ product[0] | downcase }} in {{ year }}. Historically:</p>

      <table>
        <thead>
          <th>Year</th>
          <th class="numeric">Production (units)</th>
          <th class="numeric">US %</th>
          <th class="numeric">Rank</th>
        </thead>
        <tbody>
        {% for year in product[1] %}
          <tr>
            <td>{{ year[0] }}</td>
            <td class="numeric">{{ year[1].volume | intcomma }}</td>
            <td class="numeric">{{ year[1].percent | percent }}%</td>
            <td class="numeric">{{ year[1].rank | ordinal:'super' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </section>
    {% endfor %}
  </section>

  <section id="employment" class="economic employment">
    <h2>Employment</h2>
    <p>{{ jobs_summary | strip_html }} Historically:</p>

    <table>
      <thead>
        <th>Year</th>
        <th class="numeric">Jobs</th>
        <th class="numeric">State %</th>
      </thead>
      <tbody>
      {% for year in jobs %}
        <tr>
          <td>{{ year[0] }}</td>
          <td class="numeric">{{ year[1].count | intcomma }}</td>
          <td class="numeric">{{ year[1].percent | percent }}%</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <h3>County-Level Employment</h3>
    <table>
      <thead>
        <tr>
          <th>County</th>
          <th class="numeric">Jobs</th>
          <th class="numeric">County %</th>
        </tr>
      </thead>
      <tbody>
      {% for county in site.data.county_jobs[state_id] %}
        {% if county[1].employment[year].count > 0 %}
        <tr>
          <td>{{ county[1].name }}</td>
          <td class="numeric">{{ county[1].employment[year].count | intcomma }}</td>
          <td class="numeric">{{ county[1].employment[year].percent | percent }}%</td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </section>


  <section id="gdp" class="economic gdp">
    <h2>GDP</h2>
    <p>{{ gdp_summary | strip_html }} Historically:</p>

    <table>
      <thead>
        <th>Year</th>
        <th class="numeric">Dollars</th>
        <th class="numeric">State %</th>
      </thead>
      <tbody>
      {% for year in gdp %}
        <tr>
          <td>{{ year[0] }}</td>
          <td class="numeric">${{ year[1].dollars | intcomma }}</td>
          <td class="numeric">{{ year[1].percent | percent }}%</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section id="exports" class="economic exports">
    <h2>Exports</h2>
    <p>{{ exports_summary | strip_html }}{% if exports_commodities_num > 0 %} Historically:{% endif %}</p>

    {% for commodity in exports_commodities %}
      {% if commodity[0] != 'Total' %}
        <h3>{{commodity[0]}}</h3>
        {% if commodity[0] != 'All' %}
          <th>{{ commodity[0] }} commodities</th>
        {% else %}
          <th>{{ commodity[0] }}</th>
        {% endif %}
        <table>
          <thead>
            <th>Year</th>
            <th class="numeric">Dollars</th>
            <th class="numeric">State %</th>
          </thead>
          <tbody>
            {% for commodity_year in commodity[1] %}
              <tr>
                <td>{{ commodity_year[0] }}</td>
                <td class="numeric">${{ commodity_year[1].dollars | intcomma }}</td>
                <td class="numeric">{{ commodity_year[1].percent | percent }}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
  </section>

</main>
