<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/Product">
  <head>
    {% include head.html %}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
  <div id="burst-12"></div>
  <div id="burst-text">
  	<p>This site is in</p>
  	<h1>Alpha</h1>
  </div>

 	<aside class="usa">
	  <div class="container">
	    <p>
	      An official website of the United States Government <img class="flag" src="{{ site.url }}static/img/us_flag_small.png">
	    </p>
	  </div>
	</aside>

	<section class="splash">
	{% include nav.html %}
	  <div class="container">
	    <div class="title subpage">
	      <h1>Natural Resource Revenue</h1>
	      <h1><span class="small">from</span> U.S. Federal Lands</h1>
	    </div>
	  </div>
	</section>

	<main role="main" itemscope itemprop="mainContentOfSite">

	<section class="section light-gray">
	  <div class="container">
	  	<article class="article">

    	{{ content }}

    	</article>
    	{% if page.title == "Natural Resource Sectors in the U.S." %}
    		<nav id="sticky-secondary-nav" class="article-nav" role="navigation" aria-label="secondary" itemscope itemtype="https://schema.org/SiteNavigationElement">
    			<h1>On this page</h1>
    			<ul>
    				<a href="#nonrenewable" itemprop="url"><li itemprop="name">Nonrenewable Energy</li></a>
    				<a href="#renewable" itemprop="url"><li itemprop="name">Renewable Energy</li></a>
    				<a href="#non-fuel" itemprop="url"><li itemprop="name">Other Products:<br/>Non-fuel Minerals</li></a>
    				<a href="#top" itemprop="url"><li itemprop="name">&#8593; Back to Top</li></a>
    			</ul>
    		</nav>
    	{% endif %}
      </div>
	</section>

	</main>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
