<!doctype html>

<html lang="en" class="no-js" itemscope itemtype="http://schema.org/Product">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">

    {% include stage.html %}

   	<!-- {% include usa-bug.html %} -->

  	<section class="splash splash-subpage">

      {% include nav.html %}
  	  
     

  	</section>

  	<main role="main" itemscope itemprop="mainContentOfSite">

    	<section class="section light-gray">
    	  <div class="container" id="main-container">

    	  	<article class="article">

        	 {{ content }}

        	</article>

        	{% if page.title == "Natural Resource Sectors in the U.S." %}
        		<nav id="sticky-secondary-nav" class="article-nav" role="navigation" aria-label="secondary" itemscope itemtype="https://schema.org/SiteNavigationElement">
        			<h1>On this page</h1>
        			<ul>
        				<a href="#nonrenewable" itemprop="url"><li itemprop="name">Nonrenewable Energy
                  <ul>
                    <a href="#oil" itemprop="url"><li itemprop="name">Oil</li></a>
                    <a href="#ngl" itemprop="url"><li itemprop="name">Natural Gas</li></a>
                    <a href="#coal" itemprop="url"><li itemprop="name">Coal</li></a>
                  </ul>
                </li></a>
        				<a href="#renewable" itemprop="url"><li itemprop="name">Renewable Energy
                  <ul>
                    <a href="#geothermal" itemprop="url"><li itemprop="name">Geothermal</li></a>
                    <a href="#wind" itemprop="url"><li itemprop="name">Wind</li></a>
                    <a href="#hydro" itemprop="url"><li itemprop="name">Hydropower</li></a>
                  </ul>
                </li></a>
        				<a href="#non-fuel" itemprop="url"><li itemprop="name">Other Products:<br/>Non-fuel Minerals
                  <ul>
                    <a href="#trends" itemprop="url"><li itemprop="name">Significant Events, Trends, and Issues</li></a>
                  </ul>
                </li></a>
        				<a href="#top" itemprop="url"><li itemprop="name">&#8593; Back to Top</li></a>
        			</ul>
        		</nav>
        	{% endif %}

        </div>
    	</section>

  	</main>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
