<div class="{{ className }}">{{ text }}</div>



<section class="banner slab-beta">
  <span class="banner-left"><img class="banner-image" src="{{ site.baseurl }}/img/us-flag-small.png" alt="US flag signifying that this is a United States Federal Government website">An official website of the US Government</span>
</section>
