// Container
//
// .container-outer - should be placed on an outer div for appropriate padding
// .container-left - 7/12 width container that floats left
// .container-right - 5/12 width container that floats left
// .container-left-8 - 8/12 width container that floats left
// .container-right-4 - 4/12 width container that floats left
// .container-half - 6/12 width container that floats left
// .container-padded - full width container with padding
//
// Styleguide layout.container
.container {
  @include outer-container($max-width);
}

.container-outer {
  @extend .container;
  padding-left: $base-padding;
  padding-right: $base-padding;

  @include respond-to(huge-plus) {
    margin-left: $base-padding;
    margin-right: $base-padding;
  }

  @include respond-to(huge-up) {
    padding-left: 0;
    padding-right: 0;
  }

}

%container-side {

  @include respond-to(tiny-down) {

    @include span-columns(12);

    padding-bottom: $base-padding;
  }

  @include respond-to(tiny-up) {

    @include span-columns(12);

    padding-bottom: $base-padding;
  }

  @include respond-to(huge-up) {
    padding-left: 0;
    padding-right: 0;
  }

}

.container-left,
.container-left-7 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(7);

  }
}

.container-left-8 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(8);

  }
}

.container-left-9 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(9);

  }
}

.container-left-4 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(4);

  }
}

.container-right,
.container-right-5 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(5);

  }
}

.container-right-4 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(4);

  }
}

.container-right-7 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(8);

  }
}

.container-right-8 {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(8);

  }
}

.container-half {
  @extend %container-side;

  @include respond-to(medium-up) {

    @include span-columns(6);

    @include omega(odd);

  }
}

.container-padded {
  padding-bottom: $base-padding-extra;
  padding-top: $base-padding-extra;
}
