// Revenues Steps
//
// Table display of different revenues steps
//
// Styleguide blocks.revenues_steps

.revenues_steps-heading {

  @include respond-to(medium-down) {

    @include heading(h4);

  }

  @include respond-to(tiny-down) {

    @include heading(h5);

    font-weight: $weight-light;
  }

  @include heading(h1);

  color: $red;
  display: inline;
  font-weight: $weight-light;
  padding-right: 8px;
}

.revenues_steps-number {

  @include respond-to(tiny-down) {
    @include font-size(1.125);
    padding-left: 14px;
  }

  @include respond-to(medium-down) {
    @include font-size(1.5);
    padding-right: 15px;
  }

  @include font-size(1.8);

  background-color: $white;
  border-radius: 50%;
  color: $dark-gray;
  display: inline-block;
  height: 43px;
  padding-right: 13px;
  padding-top: 10px;
  width: 43px;
}

.revenues_steps-group {
  display: table;
  width: 100%;
}

.revenues_steps-group_item {
  font-weight: $weight-light;
  padding-top: $base-padding;
}

.revenues_steps-group_left {
  display: table-cell;
  padding-right: 10px;
  text-align: right;
  width: 275px;
}

.revenues_steps-group_right {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
