// Revenues Steps
//
// Table display of different revenues steps
//
// Styleguide blocks.how-it-works.steps

.revenues_steps-heading {

  @include respond-to(medium-down) {

    @include heading(h4);

  }

  @include respond-to(tiny-down) {

    @include heading(h5);

    font-weight: $weight-medium;
  }

  @include heading(h1);

  color: $red;
  display: inline;
  font-weight: $weight-medium;
  padding-right: 8px;
}

.revenues_steps-number {

  @include respond-to(tiny-down) {
    @include font-size(1.125);
    padding-left: 14px;
  }

  @include respond-to(small-up) {
    @include font-size(1.5);
    background-color: $white;
    border-radius: 50%;
    color: $dark-gray;
    display: inline-block;
    height: 43px;
    width: 43px;
  }
}

.revenues_steps-group {
  display: table;
  width: 100%;
}

.revenues_steps-group_item {
  font-weight: $weight-medium;
  padding-top: $base-padding;
}

.revenues_steps-group_left {
  display: table-cell;
  padding-right: 10px;
  text-align: right;
  width: 275px;
}

.revenues_steps-group_right {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
