// Revenues Subpage Involved Section
//
// This block is where we post videos and social
// media links on how to become involved
//
// Styleguide blocks.how-it-works.subpage_involved

.revenues_subpage-involved {
  background-color: $white;
  padding-bottom: $base-padding-large;
  padding-top: $base-padding-large;

  h2 {
    color: $light-black;
    font-weight: $weight-light;
  }

  h3 {
    margin-bottom: 8px;
    padding-bottom: 5px;
  }

  .fa-stack {
    line-height: 2.1em;
  }
}

.revenues_subpage-involved_option {
  @include respond-to(small-up) {
    @include span-columns(4 of 8);
    @include omega(2n);
  }

  @include respond-to(medium-up) {
    @include omega-reset(2n);
    @include span-columns(3 of 12);
    @include omega(4n);

    margin-top: $base-padding-large;
  }
}

.revenues_subpage-involved_video {
  text-align: center;

  @include respond-to(medium-up) {
    iframe {
      width: 100%;
    }
  }
}
