// Styleguide blocks.disbursements

.disbursment-figure {
  padding-bottom: $base-padding-extra;
  padding-top: $base-padding-extra;

  figcaption {
    @include heading(h5);
    font-weight: $weight-bold;

    span {
      font-weight: $weight-light;
    }
  }
}

$onshore-color: $green-dark;
$offshore-color: $green-light;
$eight-g-color: $green-light;
$gomesa-color: $green-land;

.disbursement-stacked-bar {
	.chart-legend-onshore {
		background-color: $onshore-color;
	}
	.chart-legend-gomesa {
		background-color: $gomesa-color;
	}
	.chart-legend-8g {
		background-color: $eight-g-color;
	}
	.chart-legend-offshore {
		background-color: $offshore-color;
	}

	.stacked-bar-onshore {
		fill: $onshore-color;
	}
	.stacked-bar-gomesa {
		fill: $gomesa-color;
	}
	.stacked-bar-8g {
		fill: $eight-g-color;
	}
	.stacked-bar-offshore {
		fill: $offshore-color;
	}
}

