@value colors: "../../../../css-global/colors.scss";
@value blue, white from colors;

.exploreDataLink svg{
	fill: blue;
	vertical-align: middle;
	margin-right: 8px;
}

.exploreDataLink span{
	vertical-align: baseline;
}