@value colors: "../../../../css-global/colors.scss";
@value blue as --blue from colors;

.exploreDataLink svg{
	fill: --blue;
	vertical-align: middle;
	margin-right: 8px;
}

.exploreDataLink a {
	text-decoration: none;
}

.exploreDataLink span{
	font-size: 1rem;
	margin-right: 1rem;
	vertical-align: baseline;
}