@value colors: "../../../../css-global/colors.scss";
@value blue as _blue from colors;

.root svg{
	fill: currentColor;
	vertical-align: middle;
	margin-right: 8px;
}

.root span{
	vertical-align: baseline;
}