<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>USEITI Data: Components</title>
    <script src="../vendor/d3.v3.min.js"></script>
    <script src="../vendor/aight.min.js"></script>
    <script src="../vendor/webcomponents.min.js"></script>
    <script src="../vendor/polymer.min.js"></script>
    <link rel="import" href="x-slider.html">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/components.css">
    <style>
      x-slider {
        margin-left: 1em;
        margin-right: 1em;
      }
    </style>
  </head>
  <body unresolved>

    <section id="slider">
      <h2>Year: <span class="year"></span></h2>

      <x-slider snap min="2004" max="2013" value="2008">
        <div class="handle">
          <span class="value"></span>
        </div>
      </x-slider>

      <script>
      (function() {

        var context = d3.select('#slider');

        var slider = context.select('x-slider')
          .on('change', function() {
            // console.log('slider change', this.value);
            year.text(this.value);
          });

        var year = context.selectAll('span.year')
          .text(slider.property('value'));

      })();
      </script>
    </section>

  </body>
</html>
