<polymer-element name="x-slider"
  min="0"
  max="100"
  value="0"
  constructor="XSlider">
  <script>
  (function() {

  // console.log('hello? x-slider');

  // "private" method
  var dispatchChange = function() {
    this.value = this.slider.value();
    // console.log('dispatch change:', this.value);
    return this.fire('change', {value: this.value});
  };

  Polymer('x-slider', {

    // attributes to publish
    publish: {
      min: 0,
      max: 1,
      value: 0,
      snap: false
    },

    created: function() {
      // console.log('slider created!');
      this.slider = d3_slider()
        .value(this.value)
        .on('change', dispatchChange.bind(this));
    },

    attached: function() {
      // console.log('slider inserted!', this.value);
      this.update();
    },

    detached: function() {
      // TODO: remove handlers
    },

    attributeChanged: function(attr, prev, value) {
      switch (attr) {
        case 'min':
        case 'max':
        case 'value':
        case 'snap':
          this.slider[attr](value);
          updateAndChange.call(this);
          break;
      }
    },

    minChanged: update,
    maxChanged: update,
    valueChanged: updateAndChange,
    snapChanged: update,

    update: update
  });

  function update() {
    // console.log('slider.update()', this.value);
    var slider = this.slider
      .min(this.min)
      .max(this.max)
      .value(this.value)
      .snap(this.snap);
    d3.select(this)
      .call(slider);
  }

  function updateAndChange() {
    this.update();
    dispatchChange.call(this);
  }

  var d3_slider = function() {

    var slider = function(selection) {
      root = selection;

      // XXX don't capture right-clicks (for inspecting)
      selection
        .on('mousedown', function() {
          var e = d3.event;
          if (e.button === 2) {
            e.preventDefault();
            e.stopPropagation();
            return false;
          }
        })
        .call(drag);

      if (typeof value !== 'undefined') {
        slider.update(root);
      }
    };

    var root, value;
    var dragging = false;

    var handle = '.handle';
    var scale = d3.scale.linear()
      .clamp(true);

    var snap = false;
    var dispatch = d3.dispatch('change');
    var format = String;

    var body = d3.select('body');
    var win = d3.select(window);

    function drag(selection) {
      selection.on('mousedown.slider', function() {
        // console.log('[drag] down');
        dragging = true;
        body.on('mouseup.slider', mouseup);
        win.on('mouseup.slider', mouseup);
        move(d3.event);
      });

      selection.on('touchstart.slider', function() {
        // console.log('[drag] down');
        dragging = true;
        body.on('touchend.slider', mouseup);
        body.on('touchmove.slider', function() {
          move(d3.event);
        });
        win.on('touchend.slider', mouseup);
        move(d3.event);
      });

      body.on('mousemove.slider', function() {
        if (dragging) {
          // console.log('[drag] move');
          move(d3.event);
          return false;
        }
      });
    }

    function mouseup() {
      // console.log('[drag] up');
      dragging = false;
      body
        .on('mouseup.slider', null)
        .on('touchend.slider', null)
        .on('touchmove.slider', null);
      win.on('mouseup.slider', null);
    }

    function move(e) {
      var p = getPosition(e),
          w = getWidth(root.node()),
          x = Math.max(0, Math.min(p.x, w)),
          u = x / w,
          v = scale(u);

      // console.log('[slider] drag:', [p.x, p.y].join(','), [w, x, u, v].join(' '));

      if (value != v) {
        value = v;
        dispatch.change({
          x: x,
          u: u,
          value: value,
          sourceEvent: e.sourceEvent
        });
      }

      root.each(update);
      // this should prevent text selection when dragging
      e.preventDefault();
    }

    function getPosition(e) {
      var p = e.type === 'touchstart'
        ? d3.touches(root.node())[0]
        : d3.mouse(root.node());
      return {x: p[0], y: p[1]};
    }

    slider.handle = function(selector) {
      if (!arguments.length) return handle;
      handle = selector;
      return slider;
    };

    slider.range = function(range) {
      if (!arguments.length) return scale.range();
      scale.range(range);
      return slider;
    };

    slider.min = function(_) {
      if (!arguments.length) return scale.range()[0];
      var range = scale.range();
      range[0] = +_;
      scale.range(range);
      return slider;
    };

    slider.max = function(_) {
      if (!arguments.length) return scale.range()[1];
      var range = scale.range();
      range[1] = +_;
      scale.range(range);
      return slider;
    };

    slider.snap = function(x) {
      if (!arguments.length) return snap;
      snap = x;
      var range = scale.range();
      if (snap) {
        scale.rangeRound(range);
      } else {
        scale.range(range);
      }
      return slider;
    };

    slider.value = function(x) {
      if (!arguments.length) return value;
      value = +x;
      if (root && !dragging) {
        slider.update(root);
      }
      return slider;
    };

    slider.update = function(selection) {
      selection.each(update);
    };

    function update() {
      var left = scale.invert(value) * 100;
      d3.select(this).select(handle)
        .style('left', left.toFixed(2) + '%')
        .select('.value')
          .text(format(value))
          .style('margin-left', function() {
            var w = getWidth(this);
            return -Math.round(w / 2) + 'px';
          });
    }

    function dragstart() {
      var e = d3.event,
          o = e.sourceEvent,
          p = o.type === 'touchstart'
            ? d3.touches(root.node())[0]
            : d3.mouse(root.node());
      e.x = p[0];
      e.y = p[1];
      dragging = true;
      dragmove();
    }

    function dragmove() {
      var e = d3.event,
          w = getWidth(root.node()),
          x = Math.max(0, Math.min(e.x, w)),
          u = x / w,
          v = scale(u);

      if (value != v) {
        value = v;
        dispatch.change({
          x: x,
          u: u,
          value: value,
          sourceEvent: e.sourceEvent
        });
      }

      root.each(update);
    }

    function dragend() {
      var e = d3.event;
      // console.log('[drag] end');
      dragging = false;
    }

    function getWidth(node) {
      return node.getBoundingClientRect().width;
    }

    d3.rebind(slider, dispatch, 'on');
    return slider;
  };

  })();
  </script>
</polymer-element>
