{% assign product_ref = include.product_ref %}
{% assign caption = include.caption %}

{% assign units = county[1].products[1].units %}
{% if include.long_units %}
  {% assign units = include.long_units %}
{% endif %}


<table is='bar-chart-table'
       data-percent-max='100'
       class='county-table'
       year='{{ include.year }}'>
  <thead>
    <tr>
      <th>{{ locality_name }}</th>
      <th colspan='2' class='numeric' data-series='volume'>{{ units | capitalize }} of {{ product_name | downcase | suffix: units_suffix }}</th>
    </tr>
  </thead>
  <tbody>
    {% if include.scrollable %}
    <tr class="inner-table-row">
      <td colspan="3" class="inner-table-cell">
        <div class="inner-table-wrapper">
          <table>
            <tbody>
    {% endif %}
    {% for county in include.values %}
      {% assign product_volume = county[1].products[product_ref].volume[include.year] %}

      {% assign years_values =  county[1].products[product_ref].volume %}
      {% assign fips = county[0] | pad_left: 5, '0' %}
      {% if years_values != null %}
        <tr data-fips='{{ fips }}' data-year-values='{{ years_values | jsonify }}'>
          <td><div class='swatch'
                   data-value-swatch='{{ product_volume }}'
                   data-year-values='{{ years_values | jsonify }}'></div>{{ county[1].name }}</td>
          <td data-value-text='{{ product_volume }}'
              data-year-values='{{ years_values | jsonify }}'>{{ product_volume | intcomma }}</td>
          <td class='numberless'
              data-series='volume'
              data-value='{{ product_volume }}'
              data-year-values='{{ years_values | jsonify }}'>{{ product_volume | intcomma }}</td>
        </tr>

        <tr data-fips='{{ fips }}'>
          <td colspan='3'
              data-year-values='{{ years_values | jsonify }}'
              data-sentence='{{ product_volume }}'
              aria-hidden='true'
              data-witheld="false">
              <span class="withheld" aria-hidden="true">
                Data about {{ product_name | downcase }} extraction on federal land in {{ county[1].name }} in <span data-year='{{ year }}'>{{ year }}</span> is withheld.
              </span>
              <span class="has-data">
                <span data-value='{{ product_volume }}'>{{ product_volume | intcomma }}</span> {{ units }} of {{ product_name | downcase | suffix: units_suffix }} were produced in {{ county[1].name }} in <span data-year='{{ year }}'>{{ year }}</span>.
              </span>
            </td>
        </tr>
      {% endif %}
    {% endfor %}
    {% if include.scrollable %}
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
