{% assign product_ref = include.product_ref %}

{% assign product_name = county[1].products[1].name %}

{% assign units = county[1].products[1].units %}
{% if include.long_units %}
  {% assign units = include.long_units %}
{% endif %}

<table is="bar-chart-table" data-percent-max="100">
  <thead>
    <tr>
      <th>County</th>

      <th class="numeric" data-series="volume">Volume {{ county[1].products[1].name }} ({{ units }})</th>
    </tr>
  </thead>
  <tbody>
  {% for county in include.values %}
    {% assign product_volume = county[1].products[product_ref].volume[include.year] %}

    {% if product_volume > 0 %}
    <tr>
      <td>{{ county[1].name }}</td>
      <td class="numeric" data-series="volume" data-value="{{ product_volume }}">{{ product_volume | intcomma }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
