{% assign caption = include.caption %}

<label>{{ caption }}</label>
<table is="bar-chart-table" data-percent-max="100">
  <thead>
    <tr>
      <th>County</th>
      <th class="numeric" data-series="volume">Revenue</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for county in include.values %}
    {% assign revenue_amount = county[1].revenue[include.year] %}
    {% assign years_values =  county[1].revenue %}
    {% if revenue_amount > 0 %}
    <tr data-year-values='{{ years_values | jsonify }}'>
      <td><div class='swatch'
                 data-value-swatch='{{ revenue_amount }}'
                 data-year-values='{{ years_values | jsonify }}'></div>{{ county[1].name }}</td>
      <td data-value-text='{{ revenue_amount }}'
          data-year-values='{{ years_values | jsonify }}'
          data-format="$,">${{ revenue_amount | intcomma }}</td>
      <td class='numberless'
            data-series='volume'
            data-value='{{ revenue_amount }}'
            data-year-values='{{ years_values | jsonify }}'>{{ revenue_amount | intcomma }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
