{% assign fund_map = site.data.fund_names %}
<div class="u-overflow-wrapper">
  <table class="table-basic disbursements-table" is="bar-chart-table">
    <thead>
      <th>Fund</th>
      <th>All funds</th>
      <th>From onshore revenue</th>
      <th>From offshore revenue</th>
    </thead>
    <tbody>
    {% for _fund in include.values %}
      {% if _fund[0] == 'All' %}{% continue %}{% endif %}
      {% assign _fund_name = _fund[0] %}
      {% assign _values = _fund[1] %}
      {% if _values.All[include.year] %}
      <tr>

        {% if include.state_name and _fund_name == 'States'  %}
          <td>{{ include.state_name }}</td>
        {% else %}
          <td>
            <strong>{{ fund_map[_fund_name].name | default:_fund_name }}</strong><br>
            {{ fund_map[_fund_name].description }}
          </td>
        {% endif %}

        <td class="numeric" data-value="{{ _values.All[include.year] | default: 0 }}">${{ _values.All[include.year] | round | intcomma }}</td>
        <td class="numeric" data-value="{{ _values.Onshore[include.year] | default: 0 }}">${{ _values.Onshore[include.year] | round | intcomma }}</td>
        <td class="numeric" data-value="{{ _values.Offshore[include.year] | default: 0 }}">${{ _values.Offshore[include.year] | round | intcomma }}</td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
