{% assign federal_products = site.data.national_federal_production[state_id].products %}
{% assign federal_products_num = federal_products | size %}
{% assign units_map = site.data.production_units %}
{% assign year_range = site.data.years.federal_production | default: site.data.years.default | jsonify %}
{% assign year_list = year_range | to_list %}

<section id="federal-production" is="year-switcher-section" class="federal production">

  <section class="county-map-table" is="year-switcher-section">

    <h3 class="sticky">Production on federal land nationwide</h3>

    <div class="chart-selector-wrapper">

      {% include year-selector.html year_range=year_range %}

      <p class="chart-description">
        ONRR collects detailed data about natural resources produced on federal lands and waters.
        <br>
        <a href="{{site.baseurl}}/downloads/federal-production/">
          <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
        </a>
      </p>
    </div>

    <div class="chart-list">

    {% assign withheld_products = '' | split: '' %}

    {% for product in federal_products %}

      {% assign all_withheld = true %}
      {% for product_year in product[1].volume %}
        {% if year_range contains product_year[0] and product_year[1] != nil %}
          {% assign all_withheld = false %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% assign product_name = product[1].name | default: product[0] %}
      {% if all_withheld %}
        <!-- all withheld: {{ product[0] }} -->
        {% assign withheld_products = withheld_products | push: product %}
        {% continue %}
      {% endif %}

      {% assign product_slug = product[0] | slugify %}
      {% assign production_values = product[1].volume %}
      {% assign volume = production_values[year] %}
      {% assign units = product[1].units | downcase %}
      {% assign short_units = units_map[units].short | default: units %}
      {% assign long_units = units_map[units].long | default: units %}
      {% assign units_suffix = units_map[units].suffix | default: '' %}
      {% assign units_title = units_map[units].title %}

      <section id="national-federal-production-{{ product_slug }}" class="product chart-item">

        <h4 class="chart-title">
          <span>
            {{ product_name }}
            {% if units_title %} ({{ units_title }}){% endif %}
          </span>
        </h4>

        <figure class="chart">
          <eiti-bar-chart
            aria-controls="national-federal-production-figures-{{ product_slug }}"
            data='{{ production_values | jsonify }}'
            x-range="{{ year_range }}"
            x-value="{{ year }}"
            data-units="{{ long_units }}">
          </eiti-bar-chart>
          <figcaption id="national-federal-production-figures-{{ product_slug }}">
            <span class="caption-data">
              <span class="eiti-bar-chart-y-value" data-format=",">{{ volume | default: 0 | intcomma }}</span>
                {{ long_units | term }} of {{ product_name | downcase | suffix:units_suffix }} were
                produced on federal land in
                <span class="eiti-bar-chart-x-value">{{ year }}</span>.
            </span>
            <span class="caption-no-data" aria-hidden="true">
              There is no data about production of {{ product_name | downcase | suffix:units_suffix }} on federal land in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>.
            </span>
            <span class="caption-withheld" aria-hidden="true">
              Data about {{ product_name | downcase | suffix:units_suffix }} production on federal land in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>
              is withheld.
            </span>
          </figcaption>
        </figure>

      </section>
    {% endfor %}

    </div><!-- /.chart-list -->

    {% if withheld_products.size > 0 %}
    <section id="national-federal-production-withheld" class="product chart-item">
      <h3>Withheld production data</h3>
      {% assign all_years = year_list | to_s %}
      <p>Data was {{ 'withheld' | term }} for
        {% for product in withheld_products %}{% if forloop.last %} and {% endif %}
          {% assign product_years = '' | split: '' %}
          {% for _year in product[1].volume %}
            {% assign product_years = product_years | push: _year[0] %}
          {% endfor %}
        <span>{{ product[0].name | default: product[0] }}
          <tt>[{% for y in all_years %}{% if product_years contains y %}?{% else %}-{% endif %}{% endfor %}]</tt></span>{% unless forloop.last %},{% endunless %}{% endfor %}.</p>
    </section>
    {% endif %}

  </section>

</section>
