<section id="federal-disbursements">

  {% assign disbursements = site.data.federal_disbursements.US %}
  {% assign disbursement_year = site.data.years.disbursements | to_s | default: default_year %}

  <h2>Federal disbursements</h2>

  <p>After collecting revenue from natural resource extraction, the Office of Natural Resources Revenue (ONRR) distributes that money to different agencies, funds, and local governments for public use. This process is called “disbursement.”
    <strong>
      {% if disbursements %}
      In {{ disbursement_year }}, ONRR disbursed a total of
      {{ disbursements.All.All[disbursement_year] | round | intcomma_dollar }}.
      {% endif %}
    </strong></p>
  <p>
    <a href="{{site.baseurl}}/downloads/disbursements/">
      <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/file-text-o.svg" class="u-padding-right icon-small">
      </object>Data and documentation
    </a>
  </p>

  <h3 id="by-fund">Disbursements by fund for {{ disbursement_year }}</h3>

  {% if disbursements %}
    {%
      include location/display-disbursements.html
      year=disbursement_year
      values=disbursements
    %}
  {% endif %}

  <h4 id="lwcf">Land and Water Conservation Fund</h4>

  <p>{{ "ONRR" | term }} disburses revenue to the <a href="https://www.nps.gov/subjects/lwcf/index.htm">Land and Water Conservation Fund</a> (LWCF) according to federal law. However, these funds are subject to congressional appropriations. Some of the money disbursed from ONRR to the fund is spent on LWCF projects, but some of it ultimately goes to other expenditures. The fund is authorized to receive and disburse $900 million each year, but congressional appropriations to LWCF projects have been limited to between $149 million and $573 million each year since 1999.</p>

  <p>
    <a href="{{site.baseurl}}/downloads/disbursements/#land-and-water-conservation-fund">
      <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/file-text-o.svg" class="u-padding-right icon-small">
      </object>Data archive
    </a>
  </p>

  <h4 id="hpf">Historic Preservation Fund</h4>

  <p>Like the LWCF, money in the Historic Preservation Fund is subject to congressional appropriations. Some of it is spent on historic preservation projects, but some of it ultimately goes to other expenditures. The fund is authorized to receive and disburse $150 million each year, but annual appropriations have declined from $94 million to less than $60 million since 2001.</p>

  <p>
    <a href="{{site.baseurl}}/downloads/disbursements/#historic-preservation-fund">
      <object type="image/svg+xml" data="{{site.baseurl}}/public/img/icons/file-text-o.svg" class="u-padding-right icon-small">
      </object>Data archive
    </a>
  </p>

</section>
