<section id="federal-disbursements">

  {% assign disbursements = site.data.federal_disbursements.US %}

  <h2>Federal disbursements</h2>

  <p>After collecting revenue from natural resource extraction, the Office of Natural Resources Revenue distributes that money to different agencies, funds, and local governments for public use. This process is called &ldquo;disbursement.&rdquo;</p>
  <p>Most federal revenue goes to the General Fund of the Treasury, infrastructure and operational funds, and funds that support public works. Funds disbursed directly to state governments account for about 38% of federal revenue from onshore natural resource extraction and less than 1% of revenue from offshore natural resource extraction.</p>
  <p>
    <a href="{{site.baseurl}}/downloads/disbursements/" class="disbursements-data">
      <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
    </a>
  </p>

  <p><strong>
    {% if disbursements %}
    In {{ year }}, ONRR disbursed a total of
    ${{ disbursements.All.All[year] | round | intcomma }}.
    {% endif %}
  </strong></p>

  {% if disbursements %}
    {%
      include location/display-disbursements.html
      values=disbursements
    %}
  {% endif %}

</section>