{% assign federal_products = site.data.national_federal_production[state_id].products %}
{% assign federal_products_num = federal_products | size %}
{% assign units_map = site.data.production_units %}
{% assign year_range = site.data.years.federal_production | default: site.data.years.default | jsonify %}
{% assign year_list = year_range | to_list %}

<section id="federal-production" is="year-switcher-section" class="federal production">

  <section class="county-map-table" is="year-switcher-section">

    {%
      include sticky-header.html
      header_text='Production on federal land nationwide'
      year_range=year_range
      selector=true
    %}

    <div class="chart-selector-wrapper">

      {% include year-selector.html year_range=year_range %}

      <p class="chart-description">
        The Office of Natural Resources Revenue collects detailed data about natural resource {{ "production" | term }} on federal lands and waters.
        <br>
        <a href="{{site.baseurl}}/downloads/federal-production/">
          <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
        </a>
      </p>
    </div>

    <div class="chart-list">

    {% assign withheld_products = '' | split: '' %}

    {% for product in federal_products %}
      {% assign product_name = product[1].name | default: product[0] %}

      {% assign all_withheld = true %}
      {% for product_year in product[1].volume %}
        {% if year_range contains product_year[0] and product_year[1] != nil %}
          {% assign all_withheld = false %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if all_withheld %}
        <!-- all withheld: {{ product[0] }} -->
        {% assign withheld_products = withheld_products | push: product %}
        {% continue %}
      {% endif %}

      {% assign product_slug = product[0] | slugify %}
      {% assign production_values = product[1].volume %}
      {% assign volume = production_values[year] %}
      {% assign units = product[1].units | downcase %}
      {% assign short_units = units_map[units].short | default: units %}
      {% assign long_units = units_map[units].long | default: units %}
      {% assign term_units = units_map[units].term | default: long_units %}
      {% assign units_suffix = units_map[units].suffix | default: '' %}
      {% assign units_title = units_map[units].title %}


      <section id="national-federal-production-{{ product_slug }}" class="product chart-item">
        {% assign chart_toggle = 'federal-production-figures-chart-{{ product_slug }}' | liquify %}
        {%
          include chart_title.html
          chart_name=product_name
          chart_toggle=chart_toggle
          chart_values=production_values
          units=long_units
          is_icon=true
          chart_units_title=units_title
        %}

        <figure class="chart" id="{{ chart_toggle }}">
          <eiti-bar-chart
            aria-controls="national-federal-production-figures-{{ product_slug }} national-federal-production-withheld"
            data='{{ production_values | jsonify }}'
            x-range="{{ year_range }}"
            x-value="{{ year }}"
            data-units="{{ long_units }}">
          </eiti-bar-chart>
          <figcaption id="national-federal-production-figures-{{ product_slug }}">
            <span class="caption-data">
              <span class="eiti-bar-chart-y-value" data-format=",">{{ volume | default: 0 | intcomma }}</span>
                {{ long_units | term: term_units }} of {{ product_name | downcase | suffix:units_suffix }} were
                produced on federal land in
                <span class="eiti-bar-chart-x-value">{{ year }}</span>.
            </span>
            <span class="caption-no-data" aria-hidden="true">
              There is no data about production of {{ product_name | downcase | suffix:units_suffix }} on federal land in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>.
            </span>
            <span class="caption-withheld" aria-hidden="true">
              Data about {{ product_name | downcase | suffix:units_suffix }} production on federal land in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>
              is withheld.
            </span>
          </figcaption>
        </figure>

      </section>
    {% endfor %}

    </div><!-- /.chart-list -->

    <section id="national-federal-production-withheld">
    {% if withheld_products.size > 0 %}
      <h3>Data withheld</h3>
      <p>
        Production volume was {{ 'withheld' | term }} for the
        following products:
      </p>
      <ul id="federal-production-withheld-products" class="expandable">
        {% assign all_years = year_list | to_s %}
        {% for product in withheld_products %}
          {% assign product_years = '' | split: '' %}
          {% for _year in product[1].volume %}
            {% assign product_years = product_years | push: _year[0] %}
          {% endfor %}
        <li>
          {{ product[1].name | default: product[0] }}
          ({{ product_years | year_range }})
        </li>
        {% endfor %}
      </ul>
      <button is="aria-toggle"
              aria-expanded="false"
              aria-toggles="aria-expanded"
              aria-controls="federal-production-withheld-products"
              class="aria-toggle-large aria-toggle-white">
        <span class="hide-expanded">
          <img class="aria-toggle-icon" alt="icon with a plus sign" src="{{ site.baseurl }}/img/icons/icon-circled-plus.svg"/>
          Show all {{ withheld_products.size }} product{{ withheld_products.size | plural }}
        </span>
        <span class="show-expanded">
          <img class="aria-toggle-icon" alt="icon with a minus sign" src="{{ site.baseurl }}/img/icons/icon-circled-minus.svg"/>
          Close
        </span>
      </button>
    {% endif %}
    </section>

  </section>

</section>
