{% assign revenue_commodities = site.data.national_revenues[state_id].commodities %}
{% assign revenue_total = revenue_commodities.All[year] %}

{% assign year_range = site.data.years.revenue | default: site.data.years.default %}
{% assign year = year_range | last | to_s | default: default_year %}
{% assign year_range = year_range | jsonify %}

{% assign units = '$' %}



<section id="revenue" is="year-switcher-section" class="federal revenue">

  <h2>Revenue</h2>

  <p>Companies pay a wide range of fees, rates, and taxes to extract natural resources in the United States. The types and amounts of payments differ, depending on <a href="{{ site.baseurl }}/how-it-works/ownership/">who owns the natural resources</a>.</p>

  <p>Natural resource extraction can lead to federal revenue in two ways: non-tax revenue and tax revenue. Most USEITI data is about non-tax revenue from extractive industry activities on federal land.</p>

  <section>

    {%
      include sticky-header.html
      header_id='federal-revenue'
      header_text='Revenue from extraction on federal land'
    %}

    <p>When companies extract natural resources on federal lands and waters, they pay royalties, rents, bonuses, and other fees, much like they would to any landowner. This non-tax revenue is collected and reported by the Office of Natural Resources Revenue (ONRR).</p>

    <p>For details about the laws and policies that govern how rights are awarded to companies and what they pay to extract natural resources on federal land: <a href="{{ site.baseurl }}/how-it-works/coal/">coal</a>, <a href="{{ site.baseurl }}/how-it-works/onshore-oil-gas/">oil and gas</a>, <a href="{{ site.baseurl }}/how-it-works/onshore-renewables/">renewable resources</a>, and <a href="{{ site.baseurl }}/how-it-works/minerals/">hardrock minerals</a>.</p>

    <p>The federal government collects different kinds of fees at each phase of natural resource extraction. This chart shows how much federal revenue ONRR collected in {{ year}} for production or potential production of natural resources on federal land, broken down by phase of production.
    </p>
    <p>
      <a href="{{site.baseurl}}/downloads/federal-revenue-by-location/" class="data-downloads">
        <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
      </a>
    </p>

    <div id="fee-summaries" class="tab-interface">
      <ul class="eiti-tabs info-tabs" role="tablist">
        <li role="presentation"><a href="#revenues" tabindex="0" role="tab" aria-controls="revenues" aria-selected="true">Federal revenue by phase ({{ year }})</a></li>
        <li role="presentation"><a href="#story" tabindex="-1" role="tab" aria-controls="story" class="link-charlie">Revenue details by phase</a></li>
      </ul>

      <article class="eiti-tab-panel" id="revenues" role="tabpanel">
        {%
          include location/revenue-type-table.html
          id='revenue-types'
          location_id=state_id
          location_name=state_name
          year=year
        %}
      </article>

      <article class="eiti-tab-panel" id="story" role="tabpanel" aria-hidden="true">
        {%
          include location/revenue-process-table.html
          id='revenue-process'
          location_id=state_id
          location_name=state_name
          year=year
        %}
      </article>
    </div>

    {%
      include sticky-header.html
      header_text='Federal revenue trends by resource'
      year_range=year_range
      header_size='h4'
      header_id='revenue-trends'
      selector=true
    %}

    <div class="chart-selector-wrapper">

      <div class="chart-description">
        <p>
          Non-tax revenue collected by {{ "ONRR" | term }} often depends on what resources are available on federal land, as well as the laws and regulations about extraction of each resource.
        </p>
        <p>
          <a href="{{site.baseurl}}/downloads/federal-revenue-by-location/" class="data-downloads">
            <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
          </a>
        </p>
      </div>
    </div>
    <section class="chart-list">

      {% for commodity in revenue_commodities %}
        {% assign annual_revenue = commodity[1] %}
        {% assign revenue = annual_revenue[year] %}
        {% assign commodity_name = commodity[0] | lookup: commodity_names %}
        {% assign commodity_slug = commodity[0] | slugify %}

        <section id="revenue-{{ commodity_slug }}" class="chart-item">

          {% assign chart_toggle = 'revenue-figures-chart-{{ commodity_slug }}' | liquify %}

          {%
            include chart_title.html
            chart_name=commodity_name
            chart_toggle=chart_toggle
            chart_values=annual_revenue
            units="$,"
            is_icon=true
          %}

          <figure class="chart" id="{{ chart_toggle }}">
            <eiti-bar-chart
              data='{{ annual_revenue | jsonify }}'
              aria-controls="revenue-figures-{{ commodity_slug }}"
              x-range="{{ year_range }}"
              x-value="{{ year }}"
              data-units="$,">
            </eiti-bar-chart>
            <figcaption id="revenue-figures-{{ commodity_slug }}">
              <span class="caption-data">
              {% if commodity_name == 'Non-commodity revenue' %}
                Companies paid <span class="eiti-bar-chart-y-value" data-format="$,">{{ annual_revenue[year] | default: 0 | intcomma_dollar }}</span> in inspection fees, civil penalties, and other revenues in <span class="eiti-bar-chart-x-value">{{ year }}</span>.
              {% else %}
                Companies paid <span class="eiti-bar-chart-y-value" data-format="$,">{{ annual_revenue[year] | default: 0 | intcomma_dollar }}</span> to produce {{ commodity_name | downcase }} on federal land in <span class="eiti-bar-chart-x-value">{{ year }}</span>.
              {% endif %}
              </span>
              <span class="caption-no-data" aria-hidden="true">
                There is no data about revenue from production of {{ commodity_name | downcase }} on federal land in
                <span class="eiti-bar-chart-x-value">{{ year }}</span>.
              </span>
            </figcaption>
          </figure>

        </section>

      {% endfor %}

    </section><!-- /.chart-list -->

  </section><!-- /#federal-revenue -->

  <section>
    {%
      include sticky-header.html
      header_text='Federal tax revenue'
      header_id='federal-tax-revenue'
    %}

    <div>
      <p>Individuals and corporations (specifically C-corporations) pay income taxes to the IRS. Depending on company income, federal corporate income tax rates can range from 15–35%. Public policy provisions, such as tax expenditures, can decrease corporate income tax and other revenue payments in order to promote other policy goals.</p>
      <p>Learn more about <a href="{{ site.baseurl }}/how-it-works/revenues/#all-lands-and-waters">revenue from extraction on all lands and waters</a>.</p>
    </div>
  </section>

</section>
