{% capture states_svg %}{{ site.baseurl }}/maps/states/all.svg{% endcapture %}

<section class="container-outer land-ownership">

  <section class="text-container">
    <p>Broadly speaking, USEITI focuses on data about natural resource extraction on federal lands and waters. Federal land represents {{ site.data.land_stats[state_id].federal_percent | percent }}% of all land in the United States, much of which is concentrated in the American West.</p>
  </section>

  <aside class="map-container">
    <eiti-data-map color-scheme="Reds" steps="9">
      {%
        include state-map.html
        states=site.data.state_revenues
        value='products.All.2013.revenue'
        href=':url'
        ownership=true
      %}
    </eiti-data-map>
    <aside class="legend-container">
      {% include maps/federal_land_ownership_legend.svg %}
    </aside>
  </aside>

  <p>Unlike land (which can also be owned by <a href="{{ site.baseurl }}/how-it-works/ownership/">states, local governments, corporations, or private individuals</a>), the waters and submerged lands of the Outer Continental Shelf are entirely administered by the federal government. This means that all offshore drilling and energy generation takes place in federal waters.</p>
</section>
