{% assign gdp = site.data.national_gdp.US %}

{% assign year_range = site.data.years.gdp | default: site.data.years.default %}
{% assign year = year_range | last | to_s | default: default_year %}
{% assign year_range = year_range | jsonify %}

<section id="gdp" is="year-switcher-section" class="economic gdp">

  {%
    include sticky-header.html
    header_text='Gross domestic product (GDP)'
    year_range=year_range
    selector=true
  %}

  <div class="chart-selector-wrapper">

    <div class="chart-description">
      <p>
        Data about {{ "gross domestic product" | term:"Gross domestic product (GDP)" }} comes from the Bureau of Economic Analysis.
      </p>
      <p>
        <a href="{{ site.baseurl }}/downloads/#gdp">
          <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
        </a>
      </p>
    </div>
  </div><!-- .chart-selector-wrapper -->

  <div class="chart-list">

    {% assign _metrics = 'dollars' | split: ' ' %}
    {% for _metric in _metrics %}
      {% assign _format = ',' %}
      {% if _metric == 'dollars' %}
        {% assign _format = '$,' %}
      {% elsif _metric == 'percent' %}
        {% assign _format = '%' %}
      {% endif %}

    <section class="chart-item">
      <h3 class="chart-title"><span>GDP ({{ _metric }})</span></h3>

      <figure class="chart chart-{{ _metric }}">
        <eiti-bar-chart
          aria-controls="gdp-figures-{{ _metric }}"
          data='{{ gdp | map_hash: _metric | jsonify }}'
          x-range="{{ year_range }}"
          x-value="{{ year }}"
          data-units="{{ _format }}">
        </eiti-bar-chart>
        <figcaption id="gdp-figures-{{ _metric }}">
          <span class="caption-data">
            In <span class="eiti-bar-chart-x-value">{{ year }}</span>,
            extractive industries accounted for
            <span class="eiti-bar-chart-y-value" data-format="{{ _format }}">{{ gdp[year].dollars | intcomma_dollar }}</span>, or
            {{ gdp[year].percent | percent }}%
            of GDP.
          </span>
          <span class="caption-no-data" aria-hidden="true">
            There is no national GDP data for
            <span class="eiti-bar-chart-x-value">{{ year }}</span>.
          </span>
        </figcaption>
      </figure>

    </section><!-- /.chart-item -->
    {% endfor %}

  </div><!-- /.chart-list -->

</section>
