{% assign area_revenue = include.area_revenue %}
{% assign state_revenue = include.state_revenue %}

{% if include.year %}
  {% assign year = include.year %}
{% endif %}

{% if include.year_range %}
  {% assign year_range = include.year_range %}
{% endif %}

{% assign state_revenue_all = state_revenue.All %}
{% assign current_revenue = state_revenue_all[year].revenue %}


<section id="federal-revenue-county" class="product chart-item full-width">

  <div class="row-container">

    <div class="chart-container">

      <h4 class="chart-title">
        <span>All commodities</span>
      </h4>

      <figure class="chart">
        <eiti-bar-chart
          aria-controls="federal-revenue-county-figures-All"
          data='{{ state_revenue_all | map_hash: "revenue" | jsonify }}'
          x-range="{{ year_range }}"
          x-value="{{ year }}"
          data-units="$,">
        </eiti-bar-chart>
        <figcaption id="federal-revenue-county-figures-All">
          <span class="caption-data">
            <span class="eiti-bar-chart-y-value"
                  data-format="$,">${{ current_revenue | intcomma }}</span>
            was collected from federal land in {{ state_name }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>
          </span>
          <span class="caption-no-data" aria-hidden="true">
            There is no data for {{ state_name }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>
          </span>
        </figcaption>
      </figure>
    </div><!-- /.chart-container -->

    <div class="map-container">

      <h4 class="chart-title">
        <span>Revenue collected by {{ region_name }}</span>
      </h4>


      {% capture toggle %}federal-revenue-All-counties{% endcapture %}
      <figure is="eiti-data-map-table">
        {% capture value_key %}revenue.{{ year }}{% endcapture %}
        {% capture years_key %}revenue{% endcapture %}
        {% assign _width ='inherit' %}
        {% capture caption %}{{ region_name }} revenue in <span data-year="{{ year }}">{{ year }}</span>{% endcapture %}

        <eiti-data-map color-scheme="Blues" steps="{{ steps }}" units="{{ units }}" format="$">

          {%
            include offshore-area-map.html
            region_name=region_name
            region_id=region_id
            areas=area_revenue
            value=value_key
            years=years_key
            steps=steps
            inherit_width=true
            caption=caption
            toggle=toggle
          %}
        </eiti-data-map>

        <div class="eiti-data-map-table" id="{{ toggle }}" aria-hidden="true">
          {%
            include location/display-federal-revenue-county.html
            year=year
            values=area_revenue
            caption=caption
            locality_name=region_name
          %}
        </div><!-- /.table-container -->
      </figure>



    </div><!-- /.map-container -->

  </div><!-- /.row-container -->

</section>
