{% assign area_revenue = include.area_revenue %}
{% assign state_revenue = include.state_revenue %}
{% assign state_revenue_all = state_revenue.All %}
{% assign current_revenue = state_revenue_all[year].revenue %}

{% assign year_range = site.data.years.revenue | default: site.data.years.default %}
{% assign year = year_range | last | to_s | default: default_year %}
{% assign year_range = year_range | jsonify %}

<section id="federal-revenue-county" class="product full-width">

  <div class="row-container">

    <div class="chart-container">

      {% assign chart_toggle = 'offshore-revenue-figures-chart' | liquify %}
      {% assign revenue_data = state_revenue_all | map_hash: "revenue" %}
      {%
        include chart_title.html
        chart_name='All commodities'
        chart_toggle=chart_toggle
        chart_values=revenue_data
        units="$,"
        is_icon=true
      %}

      <figure class="chart" id="{{ chart_toggle }}">
        <eiti-bar-chart
          aria-controls="federal-revenue-county-figures-All"
          data='{{ revenue_data | jsonify }}'
          x-range="{{ year_range }}"
          x-value="{{ year }}"
          data-units="$,">
        </eiti-bar-chart>
        <figcaption id="federal-revenue-county-figures-All">
          <span class="caption-data">
            Companies paid
            <span class="eiti-bar-chart-y-value"
                  data-format="$,">{{ current_revenue | intcomma_dollar }}</span>
            to produce natural resources in the {{ region_title }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>.
          </span>
          <span class="caption-no-data" aria-hidden="true">
            There is no data about natural resource production in the {{ region_title }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>.
          </span>
        </figcaption>
      </figure>
    </div><!-- /.chart-container -->

    <div class="map-container">

      <h4 class="chart-title">
        <span>Revenue collected by offshore area</span>
      </h4>


      {% capture toggle %}federal-revenue-All-counties{% endcapture %}
      <figure is="eiti-data-map-table">
        {% capture value_key %}revenue.{{ year }}{% endcapture %}
        {% capture years_key %}revenue{% endcapture %}
        {% assign _width ='inherit' %}
        {% capture caption %}{{ region_title }} revenue in <span data-year="{{ year }}">{{ year }}</span>{% endcapture %}

        <eiti-data-map color-scheme="Blues" steps="{{ steps }}" units="{{ units }}" format="$">

          {%
            include offshore-area-map.html
            region_name=region_name
            region_id=region_id
            areas=area_revenue
            value=value_key
            years=years_key
            steps=steps
            inherit_width=true
            caption=caption
            toggle=toggle
            year=year
          %}
        </eiti-data-map>

        <div class="eiti-data-map-table" id="{{ toggle }}" aria-hidden="true">
          {%
            include location/display-federal-revenue-county.html
            year=year
            values=area_revenue
            caption=caption
            locality_name=region_name
            scrollable=true
            is_offshore=true
          %}
        </div><!-- /.table-container -->
      </figure>



    </div><!-- /.map-container -->

  </div><!-- /.row-container -->

</section>
