{% assign region_name_caps = region_name | capitalize %}

{% assign federal_product_dir = site.data.offshore_federal_production_areas %}

{% for product in federal_product_dir %}
  {% if product[0] == region_name_caps %}
    {% assign federal_products = product[1][area_id].products %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign year_range = '[2004, 2013]' %}

{% assign federal_products_num = federal_products | size %}
{% assign units_map = site.data.production_units %}

<section id="offshore-area-federal-production" is="year-switcher-section" class="federal production">



  <section class="county-map-table" is="year-switcher-section">

    <h3>Production on federal waters in {{ area_name }}</h3>

    <div class="chart-selector-wrapper">

      {% include year-selector.html year_range=year_range %}

      <p class="chart-description">
        Laws and policies govern how rights are awarded to companies and what they pay to extract natural resources on federal land. For details, read more about the processes for awarding rights and collecting revenue for each kind of resource: <a href="{{ site.baseurl }}/how-it-works/coal/">coal</a>, <a href="{{ site.baseurl }}/how-it-works/onshore-oil-gas/">oil and gas</a>, <a href="{{ site.baseurl }}/how-it-works/onshore-renewables/">renewable resources</a>, and <a href="{{ site.baseurl }}/how-it-works/minerals/">hardrock minerals</a>.
        ONRR collects detailed data about natural resources extracted on federal lands and waters.
          <br>
          <a href="{{site.baseurl}}/downloads/federal-production/">
            <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
          </a>
      </p>
    </div>

    <div class="chart-list">

    {% for product in federal_products %}
      {% assign product_slug = product[0] | slugify %}
      {% assign product_name = product[1].name | default: product[0] %}
      {% assign production_values = product[1].volume %}
      {% assign volume = production_values[year].volume %}
      {% assign units = product[1].units | downcase | default: 'units' %}
      {% assign short_units = units_map[units].short | default 'units' %}
      {% assign long_units = units_map[units].long | default 'units' %}
      {% assign units_suffix = units_map[units].suffix | default '' %}
      {% assign units_title = units_map[units].title %}

      <section id="offshore-area-federal-production-{{ product_slug }}" class="product chart-item">

        <h4 class="chart-title">
          <span>
            {{ product_name }}
            {% if units_title %} ({{ units_title }}){% endif %}
          </span>
        </h4>

        <figure class="chart">
          <eiti-bar-chart
            aria-controls="offshore-area-federal-production-figures-{{ product_slug }}"
            data='{{ production_values | map_hash: "volume" | jsonify }}'
            x-range="{{ year_range }}"
            x-value="{{ year }}"
            data-units="{{ long_units }}">
          </eiti-bar-chart>
          <figcaption id="offshore-area-federal-production-figures-{{ product_slug }}">
          <span class="caption-data">
            <span class="eiti-bar-chart-y-value"
                  data-format=",">{{ volume | default: 0 | intcomma }}</span>
              {{ long_units | term }} of {{ product_name | downcase | suffix:units_suffix }} were
              produced on federal land in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>
          </span>
          <span class="caption-no-data" aria-hidden="true">
            There is no data for {{ state_name }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>
          </span>
          <span class="caption-withheld" aria-hidden="true">
            Data for {{ state_name }} was withheld in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>
          </span>
          </figcaption>
        </figure>

      </section>
    {% endfor %}

    </div><!-- /.chart-list -->

  </section>

</section>
