
<table is="bar-chart-table" data-percent-max="100">
  <thead>
    <th>Year</th>
    <th class="numeric" data-series="revenue">Revenue</th>
    {% if include.percent %}
    <th class="numeric" data-series="percent">US %</th>
    {% endif %}
    {% if include.rank %}
    <th class="numeric" data-series="rank">Rank</th>
    {% endif %}
  </thead>
  <tbody>
  {% for _year in site.data.years.revenue %}
    {% assign value = include.values | get: _year %}
    <tr>
      <td class="label">{{ _year }}</td>
      <td data-series="revenue" data-value="{{ value.revenue | default: 0 }}" class="numeric">${{ value.revenue | default: 0 | intcomma }}</td>
      {% if include.percent %}
      <td data-series="percent" data-value="{{ value.percent | default: 0 }}" class="numeric">{{ value.percent | default: 0 | percent }}%</td>
      {% endif %}
      {% if include.rank %}
      <td data-series="rank" class="numeric">{% if value.rank %}{{ value.rank | ordinal:'super' }}{% endif %}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

