{% assign revenue_types = site.data.state_revenues_by_type[include.location_id] %}

{% if include.offshore %}
  {% assign revenue_types = site.data.offshore_revenues_by_type[include.location_id] %}
{% endif %}

{% if national_page %}
  {% assign revenue_types = site.data.national_revenues_by_type.US %}
{% endif %}

{% assign revenue_type_names = 'Bonus;Rents;Royalties;Other Revenues' | split: ';' %}

{% assign commodity_groups = site.data.commodities.groups %}

{% assign oilgas_list = commodity_groups.oilgas.commodities %}
{% assign minerals_list = commodity_groups.minerals.commodities %}

{% assign oilgas_exists = false %}
{% assign coal_exists = false %}
{% assign minerals_exists = false %}
{% assign geothermal_exists = false %}
{% assign wind_exists = false %}
{% assign other_exists = false %}
{% assign all_exists = false %}

{% for commodity in revenue_types %}
  {% assign commodity_name = commodity[0] %}
  {% assign commodity_values = commodity[1] %}
  {% if oilgas_list contains commodity_name %}
    {% for oilgas_name in oilgas_list %}
      {% if commodity_name == oilgas_name %}
        {% for type in commodity_values %}
          {% assign value = type[1][include.year] %}
          {% if value %}
            {% assign oilgas_exists = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if minerals_list contains commodity_name %}
    {% for minerals_name in minerals_list %}
      {% if commodity_name == minerals_name %}
        {% for type in commodity_values %}
          {% assign value = type[1][include.year] %}
          {% if value %}
            {% assign minerals_exists = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if commodity_name == 'Coal' %}
    {% for type in commodity_values %}
      {% assign value = type[1][include.year] %}

      {% if value %}
        {% assign coal_exists = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if commodity_name == 'Geothermal' %}
    {% for type in commodity_values %}
      {% assign value = type[1][include.year] %}

      {% if value %}
        {% assign geothermal_exists = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if commodity_name == 'Wind' %}
    {% for type in commodity_values %}
      {% assign value = type[1][include.year] %}

      {% if value %}
        {% assign wind_exists = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if commodity_name == 'Other Products' %}
    {% for type in commodity_values %}
      {% assign value = type[1][include.year] %}

      {% if value %}
        {% assign other_exists = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if commodity_name == 'All' %}
    {% for type in commodity_values %}
      {% assign value = type[1][include.year] %}

      {% if value %}
        {% assign all_exists = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

{% endfor %}


<table is="bar-chart-table" class="revenue table-arrow_box"
  {% if include.id %}id="{{ include.id }}"{% endif %}>
  <thead>
    <tr>
      <th class="arrow_box"><span>Commodity</span></th>
      <th class="arrow_box"><span>1. Securing rights</span>Companies pay bonuses or other fees to secure rights to resources on federal land
      </th>
      <th class="arrow_box"><span>2. Before production</span>Companies pay rent on federal land while exploring for resources
      </th>
      <th class="arrow_box-last"><span>3. During production</span>Companies pay royalties after production begins
      </th>
      <th><span>Other revenue</span>Minimum or estimated royalties, settlements, and interest payments
      </th>
    </tr>
  </thead>

    {% if oilgas_exists == true %}
      <tr class="table-arrow_box-category"><td colspan="5">
        Oil and Gas
        <icon class="icon-padded icon-oil"></icon>
      </td></tr>
      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if commodity_name == 'Oil & Gas' or commodity_name == 'Oil & Gas (Non-Royalty)' %}
          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            {% include location/revenue-type-row-oilgas.html %}
          </tbody>
        {% endif %}
      {% endfor %}

      <tbody>
        {% if include.offshore %}
          <tr>
            <th class="table-arrow_box-subcategory">Offshore</th>
            <td>
              <strong>Bonus:</strong> The amount offered by the highest bidder
            </td>
            <td>
              <strong>$7</strong> or <strong>$11</strong> annual rent per acre, increasing over time up to <strong>$44</strong> per acre in some cases
            </td>
            <td>
              <strong>12.5%</strong>, <strong>16.67%</strong>, or
              <strong>18.75%</strong> of production value
            </td>
            <td></td>
          </tr>
        {% else %}
          <tr>
            <th class="table-arrow_box-subcategory">Onshore</th>
            <td>
              <strong>Bonus:</strong> The amount offered by the highest bidder
            </td>
            <td>
              <strong>$1.50</strong> annual rent per acre for 5 years<br/>
              <strong>$2</strong> annual rent per acre thereafter
            </td>
            <td>
              <strong>12.5%</strong> of production value
            </td>
            <td></td>
          </tr>
        {% endif %}
      </tbody>
    {% endif %}

    {% if coal_exists == true %}
      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if commodity_name == 'Coal' %}
          <tr class="table-arrow_box-category"><td colspan="5">
            Coal
            <icon class="icon-padded icon-coal"></icon>
          </td></tr>


          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            {% include location/revenue-type-row.html %}
            <tr>
              <th></th>
              <td>
                <strong>Bonus:</strong> The amount offered by the highest bidder
              </td>
              <td>
                <strong>$3</strong> annual rent per acre
              </td>
              <td>
                <strong>Surface mining:</strong> 12.5% of production value + $0.28 per ton in AML fees<br>
                <strong>Subsurface mining:</strong> 8% of production value + $0.12 per ton in AML fees
              </td>
              <td></td>
            </tr>
          </tbody>
          {% endif %}
      {% endfor %}
    {% endif %}

    {% if geothermal_exists == true %}
      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if commodity_name == 'Geothermal' %}
          <tr class="table-arrow_box-category"><td colspan="5">
            Geothermal
            <icon class="icon-padded icon-geo"></icon>
          </td></tr>

          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            {% include location/revenue-type-row.html %}
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td>
                <strong>Nomination fee:</strong> $110 per nomination + $0.11 per acre<br>
                <strong>Bonus:</strong> The amount offered by the highest bidder<br>
                <strong>$160</strong> processing fee
              </td>
              <td>
                <strong>$2</strong> per acre for the first year<br>
                <strong>$3</strong> annual rent per acre for years 2-10<br>
                <strong>$5</strong> annual rent per acre thereafter
              </td>
              <td rowspan="2">
                <strong>Electricity sales:</strong> 1.75% of gross proceeds for 10 years, then 3.5%<br>
                <strong>Arm's length sales</strong> (for 3rd-party generation): 10% of gross proceeds from sales contract multiplied by the lease royalty rate (usually 10%)<br>
                <strong>Other: </strong>Different fee  rates apply to pre-2005 leases and to direct use facilities
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td><strong>Lease:</strong> $410 payment
              </td>
              <td><strong>$1</strong> annual rent per acre for 10 years<br> <strong>$5</strong> annual rent per acre thereafter
              </td>
              <td></td>
            </tr>
          </tbody>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if wind_exists == true %}
      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if commodity_name == 'Wind' %}
          <tr class="table-arrow_box-category"><td colspan="5">
            Wind
            <icon class="icon-padded icon-wind"></icon>
          </td></tr>

          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            {% include location/revenue-type-row.html %}
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td></td>
              <td></td>
              <td rowspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if minerals_exists == true %}
      <tr class="table-arrow_box-category"><td colspan="5">
        Hardrock Minerals
        <icon class="icon-padded icon-minerals"></icon>
      </td></tr>

      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if minerals_list contains commodity_name %}
          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            {% include location/revenue-type-row.html %}
           </tbody>
        {% endif %}
      {% endfor %}

      <tbody>
        <tr>
          <th class="table-arrow_box-subcategory">Acquired lands *</th>
          <td>
            <strong>$6,500</strong> prospecting permit fee
          </td>
          <td>
            <strong>$37</strong> annual rent per acre + <strong>$0.50</strong> annual prospecting fee per acre
          </td>
          <td>
            Royalty rates are determined by leasing officers on an individual case basis (no minimums apply)
          </td>
          <td></td>
        </tr>
      </tbody>
    {% endif %}

    {% if other_exists == true %}
      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if commodity_name == 'Other Products' %}
          <tr class="table-arrow_box-category"><td colspan="5">
            Other Products
          </td></tr>
          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            {% include location/revenue-type-row.html %}
            <tr>
              <th class="table-arrow_box-subcategory">Competitive leasing</th>
              <td></td>
              <td></td>
              <td rowspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <th class="table-arrow_box-subcategory">Noncompetitive leasing</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if all_exists == true %}
      {% for commodity in revenue_types %}
        {% assign commodity_name = commodity[0] %}
        {% assign values = commodity[1] %}

        {% if commodity_name == 'All' %}
          <tbody id="revenue-types-{{ commodity_name | slugify }}">
            <tr class="table-arrow_box-category"><td colspan="5">
              All commodities
              <icon class="icon-oil"></icon>
              <icon class="icon-coal"></icon>
              <icon class="icon-minerals"></icon>
              <icon class="icon-geo"></icon>
            </td></tr>
            {% include location/revenue-type-row.html %}
          </tbody>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if include.offshore %}
    <!-- excludes Other revenue streams for offshore -->
    {% else %}
      <tr class="table-arrow_box-category">
        <td colspan="5">Other revenue streams</td>
      </tr>
      <tr>
        <th>Hardrock mining on public domain lands</th>
        <td colspan="5">
          Federal revenue from hardrock mining on public domain land occurs through the claim-staking process and is managed by the Bureau of Land Management (BLM). It is not included here, because the dataset does not have state-level data. Learn more about <a href="{{ site.baseurl }}/how-it-works/minerals/">hardrock mining on federal land</a>.
        </td>
      </tr>
      <tr>
        <th>Onshore solar and wind energy</th>
        <td colspan="5">
          Federal revenue from onshore renewable energy generation on federal land is not included here, because that dataset, from BLM, does not have state-level data. Learn more about <a href="{{ site.baseurl }}/how-it-works/onshore-renewables/">onshore renewables on federal land</a>.
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td colspan="5">
          To see how much was collected nationwide for all revenue types, including BLM revenues, see <a href="{{ site.baseurl }}/explore/federal-revenue-by-company/">federal revenue by company</a>.
        </td>
      </tr>
    {% endif %}
</table>
