<tr>
  {%
    assign total = values.All[include.year]
    | default: 0
    | plus: revenue_types.Oil.All[include.year]
    | plus: revenue_types.Gas.All[include.year]
  %}
  <th scope="row" rowspan="2" data-value="{{ total }}">
    <a href="#revenue-{{ commodity_name | slugify }}">
      <strong>Oil &amp; Gas</strong><br>
    </a>
    <strong>${{ total | intcomma }}</strong>
  </th>
  <td rowspan="2" data-value="{{
    values.Bonus[include.year] | default: 0
  }}">${{ values.Bonus[include.year] | default: 0 | intcomma }}</td>
  <td rowspan="2" data-value="{{
    values.Rents[include.year] | default: 0
  }}">${{ values.Rents[include.year] | default: 0 | intcomma }}</td>
  <td data-value="{{
    revenue_types.Oil.Royalties[include.year] | default: 0
  }}">
    <a href="#revenue-oil"><strong>Oil</strong></a>
    ${{
      revenue_types.Oil.Royalties[include.year]
      | default: 0
      | intcomma
    }}
  </td>
  <td rowspan="2" data-value="{{
    values['Other Revenues'][include.year] | default: 0
  }}">${{ values['Other Revenues'][include.year] | default: 0 | intcomma }}</td>
</tr>
<tr>
  <td data-value="{{
    revenue_types.Gas.Royalties[include.year] | default: 0
  }}">
    <a href="#revenue-gas"><strong>Gas</strong></a>
    ${{ revenue_types.Gas.Royalties[include.year] | default: 0 | intcomma }}
  </td>
</tr>
