{% assign all_products = site.data.state_all_production[state_id].products %}
{% assign units_map = site.data.production_units %}

{% assign year_range = site.data.years.all_production | default: site.data.years.default %}
{% assign year = year_range | last | to_s | default: default_year %}
{% assign year_range = year_range | jsonify %}
{% assign year_list = year_range | to_list %}

{% assign commodity_names = site.data.commodity_names %}

<section id="all-production" is="year-switcher-section" class="all-lands production">


  {% assign header_text = 'Energy production in the entire state of {{ state_name }}' | liquify %}
  {%
    include sticky-header.html
    header_text=header_text
    year_range=year_range
    selector=true
  %}

  <div class="chart-selector-wrapper">

    <div class="chart-description{% unless all_products %} no-selector{% endunless %}">
      <p>
        The Energy Information Administration collects data about all energy-related natural resources produced on federal, state, and privately owned land.
      </p>
      <p>
        <a href="{{site.baseurl}}/downloads/#all-lands-and-waters">
          <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
        </a>
      </p>
    </div>
  </div>

  {% if all_products %}
  <div class="chart-list">

    {% for product in all_products %}
      {% assign product_name = product[0] | lookup: commodity_names %}
      {% assign product_slug = product_name | slugify %}
      {% assign production_values = product[1].volume %}
      {% assign volume = production_values[year].volume %}
      {% assign units = product[1].units | downcase | default: 'units' %}
      {% assign short_units = units_map[units].short | default: units %}
      {% assign long_units = units_map[units].long | default: units %}
      {% assign term_units = units_map[units].term %}
      {% assign units_suffix = units_map[units].suffix | default: '' %}

    <section id="state-all-production-{{ product_slug }}" class="chart-item">

      {% assign chart_toggle = 'state-all-production-figures-chart-{{ product_slug }}' | liquify %}
      {% assign production_data = production_values | map_hash: "volume" %}

      {%
        include chart_title.html
        chart_name=product_name
        chart_toggle=chart_toggle
        chart_values=production_data
        units=long_units
        is_icon=true
      %}

      <figure class="chart" id="{{ chart_toggle }}">
        <eiti-bar-chart
          aria-controls="state-all-production-figures-{{ product_slug }}"
          data='{{ production_data | jsonify }}'
          x-range="{{ year_range }}"
          x-value="{{ year }}"
          data-units="{{ long_units }}">
        </eiti-bar-chart>
        <figcaption id="state-all-production-figures-{{ product_slug }}">
          <span class="caption-data">
            <span class="eiti-bar-chart-y-value" data-format=",">{{ volume | default: 0 | intcomma }}</span>
            {{ long_units | term: term_units, site.data.terms }} of
            {{ product_name | downcase | suffix: units_suffix }}
            were produced in
            {{ state_name }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>.
          </span>
          <span class="caption-no-data" aria-hidden="true">
            There is no data about production of
            {{ product_name | downcase | suffix: units_suffix }}
            in {{ state_name }} in
            <span class="eiti-bar-chart-x-value">{{ year }}</span>.
          </span>
        </figcaption>
      </figure>

    </section>
    {% endfor %}

  </div>
  {% endif %}

</section>
