<!-- pulls in state fiscal and legal information if the state is one of the MSG-prioritized states -->

{% if is_opt_in_state %}

<section id="state-governance">

  <h2>State governance</h2>

  <p>The state of {{ state_name }} participated in additional reporting about state and local natural resource governance, revenues, and disbursements.</p>

  {{ regulations | liquify | markdownify }}

</section>

{% elsif is_priority_state %}

  <section id="state-governance">

  	<h2>State governance</h2>

    <p>Because {{ state_name }} has significant natural resource extraction, we gathered additional information about state agencies and regulations that govern natural resource extraction in {{ state_name }}:</p>

    {{ regulations | markdownify }}

  </section>

{% endif %}
