<section id="disbursements" class="disbursements">
  <h2>Disbursements</h2>
  <p>After collecting revenue from natural resource extraction, the federal government distributes that money to different agencies, funds, and local governments for public use. This process is called &ldquo;disbursement.&rdquo;</p>
  <p>INSERT PARAGRAPH THAT ILLUSTRATES THE WIDER STORY</p>
  <p>About 38% of federal revenue from onshore natural resource extraction on federal land is disbursed to state governments. For offshore federal revenue, from natural resource extraction on the Outer Continental Shelf, less than 1% of revenue is disbursed to state governments.</p>

  <p>
    {% assign disbursements = site.data.state_disbursements[state_id] %}

    In {{ year }}, ONRR disbursed 
    {% if disbursements %}
      ${{ disbursements.All[year] | round | intcomma }} 
    {% else %}
      did not receive any 
    {% endif %}
     to the state of {{ state_name }}.

    {% if disbursements %}
      {%
        include location/display-disbursements.html
        values=disbursements
      %}
    {% endif %}
  </p>

  <p>To understand the full picture of where money from natural resource extraction goes, see the national profile page.</p>

  <a href="{{site.baseurl}}/downloads/disbursements/">
	<icon class="fa fa-file-text-o u-padding-right"></icon>Disbursements data comes from the Office of Natural Resources Revenue
  </a>

</section>
