{% capture states_svg %}{{ site.baseurl }}/maps/states/all.svg{% endcapture %}
{% capture state_svg %}{{ site.baseurl }}/maps/states/{{ state_id }}.svg{% endcapture %}

  <section class="text-container">
    <p><strong>In {{ state_name }}, {{ site.data.land_stats[state_id].federal_percent | percent }} percent of land is owned by the federal government.</strong></p>

    <p>When companies extract natural resources on federal land, they pay royalties, rents, bonuses, and other fees — much like they would to any landowner.</p>
    <p>Companies also report more data about what resources are extracted on government-owned land than on private land. Learn more about <a href="{{ site.baseurl }}/how-it-works/ownership/">natural resources and land ownership</a> in the U.S.</p>
  </section>

  <aside class="map-container">
    <figure>
      {% assign _viewbox = site.data.viewboxes[state_id] %}
      <div class="svg-container county map-container"{% if _viewbox %}
        style="padding-bottom: {{ _viewbox | svg_viewbox_padding: _width }}%;"{% endif %}>
        <svg class="county ownership map"{% if _viewbox %} viewBox="{{ _viewbox }}"{% endif %}>
          <g class="states features">
            <use xlink:href="{{ states_svg }}#states"></use>
          </g>
          <g class="states mesh">
            <use xlink:href="{{ states_svg }}#states-mesh"></use>
          </g>
          <g class="counties features">
            <use xlink:href="{{ state_svg }}#counties"></use>
          </g>
          {%
            include maps/federal_land_ownership.svg
            clip='#state-outline'
          %}
          <g class="counties mesh">
            <use xlink:href="{{ state_svg }}#counties-mesh"></use>
          </g>
          <g class="state feature overlay">
            <use xlink:href="{{ states_svg }}#state-{{ state_id }}"></use>
          </g>
        </svg>



      </div>

    </figure>
    <aside class="legend-container">
      <h5>Land ownership</h5>

      {% include maps/federal_land_ownership_legend.svg %}
    </aside>


  </aside>
