{% assign gdp = site.data.state_gdp[state_id] %}

{% assign year_range = '[2006, 2015]' %}

<section id="gdp" is="year-switcher-section" class="economic gdp">

  <h3>Gross Domestic Product (GDP)</h3>

  <div class="chart-selector-wrapper">

    {% if gdp %}
      {% assign empty_years = '' | split:'' %}
      {% for y in year_list %}
        {% assign s_y = y | to_s %}
        {% unless gdp[s_y].size %}
          {% assign empty_years = empty_years | push:s_y %}
        {% endunless %}
      {% endfor %}

      {% assign empty_years = empty_years | join:',' %}
      {% include year-selector.html year_range=year_range empty_years=empty_years %}

    {% endif %}
    <p class="chart-description{% unless gdp %} no-selector{% endunless %}">
      GDP data comes from the U.S. Bureau of Economic Analysis.
      <br>
      <a href="{{site.baseurl}}/downloads/#gdp">
        <icon class="fa fa-file-text-o u-padding-right"></icon>Data and documentation
      </a>
    </p>
  </div><!-- .chart-selector-wrapper -->

  {% if gdp %}
    <div class="chart-list">

      {% assign _metrics = 'dollars' | split: ' ' %}
      {% for _metric in _metrics %}
        {% assign _format = ',' %}
        {% if _metric == 'dollars' %}
          {% assign _format = '$,' %}
        {% elsif _metric == 'percent' %}
          {% assign _format = '%' %}
        {% endif %}

      <section class="chart-item">
        <h3 class="chart-title"><span>GDP ({{ _metric }})</span></h3>

        <figure class="chart chart-{{ _metric }}">
          <figcaption id="gdp-figures-{{ _metric }}">
            <span class="caption-data">
              Extractive industries accounted for
              <span class="eiti-bar-chart-y-value" data-format="{{ _format }}">
                {% if _metric == 'dollars' %}
                  ${{ gdp[year].dollars | intcomma }}
                {% elsif _metric == 'percent' %}
                  {{ gdp[year].percent | percent }}%
                {% endif %}
              </span>
              of {{ state_name }}'s GDP in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>.
            </span>
            <span class="caption-no-data" aria-hidden="true">
                There is no data for {{ state_name }} in
                <span class="eiti-bar-chart-x-value">{{ year }}</span>
              </span>
          </figcaption>
          <eiti-bar-chart
            aria-controls="gdp-figures-{{ _metric }}"
            data='{{ gdp | map_hash: _metric | jsonify }}'
            x-range="{{ year_range }}"
            x-value="{{ year }}"
            data-units="{{ _metric }}">
          </eiti-bar-chart>

        </figure>

      </section><!-- /.chart-item -->
      {% endfor %}

    </div><!-- /.chart-list -->
  {% endif %}
</section>
