{% assign revenue_commodities = site.data.state_revenues[state_id].commodities %}
{% assign revenue_total = revenue_commodities.All[year].revenue %}

{% capture year_range %}[2006, 2015]{% endcapture %}

<section id="revenue" class="federal revenue" data-nav-header="revenue">
  <h2>Revenue</h2>

  <p>When companies want to extract natural resources on federal land, they pay
    fees depending on where they are in the process of using the land. For
    instance, a company might pay for the right to explore for resources, pay
    rent while exploring the land, and then pay a percentage of production
    value once they start producing resources on the land.</p>

  <div class="chart-list">

    <div class="chart-list-intro">
      <h3>Revenue from federal land</h3>

      <p>{{ site.data.land_stats[state_id].federal_percent | percent }} percent of land in {{ state_name }} is owned by the federal government.</p>
      <p>In {{ year }}, companies paid the federal government a total of ${{ revenue_total | intcomma }} to extract natural resources on federal land (or lease federal land for that purpose).</p>
    </div>

    <div class="chart-item">
      <h3 class="chart-title">All commodities</h3>
      <figure class="chart">
        {% assign all_revenue_by_year = site.data.state_revenues_by_type[state_id].All.All %}
        <eiti-line-chart
          data='{{ all_revenue_by_year | jsonify }}'
          data-x-range="{{ year_range }}"
          selected="{{ year }}">
        </eiti-line-chart>
        <figcaption>
          <span class="eiti-line-chart-x-value">{{ year }}</span>
          <span class="eiti-line-chart-y-value">${{ all_revenue_by_year[year] | default: 0 | intcomma }}</span>
        </figcaption>
      </figure>
    </div>

  </div>

  <section class="county-map-table">
    <figure>
      <data-map color-scheme="Blues" steps="{{steps}}">
        {% assign county_revenue = site.data.county_revenue[state_id] %}
        {% capture value_key %}revenue.{{ year }}{% endcapture %}
        {%
          include county-map.html
          state=state_id
          counties=county_revenue
          value=value_key
          steps=steps
        %}
      </data-map>
      <figcaption>County extractives revenue (dollars, {{ year }})</figcaption>
    </figure>

    <p>At each phase of natural resource extraction, the federal government collects different fees. This chart shows how much federal revenue was collected for each kind of resource during each phase of production.</p>

    <p>Companies may not know whether they’ll produce oil or gas until they explore the land, so fees are not differentiated by product until production begins.</p>

    {%
      include location/revenue-type-table.html
      id='revenue-types'
      location_id=state_id
      location_name=state_name
      year=year
    %}

  </section>

  <section id="revenue-commodities" class="chart-list has-intro">
    <div class="chart-list-intro">
      <h2>Federal fees assessed for commodities</h2>
      <p>Duis posuere porta elit in aliquam. Fusce sollicitudin commodo metus
        in pellentesque. Aliquam eget viverra sem, eu porttitor ante. Fusce
        lobortis egestas ipsum et gravida. Maecenas quis quam a purus
        interdum lacinia ut rhoncus nisi. Vivamus eu luctus elit. In hac
        habitasse platea dictumst. Aliquam id augue nisi. Mauris vitae mauris
        enim. Proin vehicula, metus a bibendum vehicula, sapien mi venenatis
        lorem, quis varius velit massa eu risus. Sed non neque ut mauris
        dapibus eleifend ac eget leo.
      </p>
    </div>

    {% for commodity in revenue_commodities %}
      {% assign revenue = commodity[1][year].revenue %}
      {% assign commodity_name = commodity[0] | lookup: commodity_names %}
      {% assign commodity_slug = commodity[0] | slugify %}
    <section id="revenue-{{ commodity_slug }}" class="chart-item">

      <h3 class="chart-title">{{ commodity_name }}</h3>

      <figure class="chart">
        {% assign annual_revenue = commodity[1] %}
        <eiti-line-chart
          data='{% include location/line-chart-data.json values=annual_revenue key="revenue" %}'
          data-x-range="{{ year_range }}"
          selected="{{ year }}">
        </eiti-line-chart>
        <figcaption>
          <span class="eiti-line-chart-x-value">{{ year }}</span>
          <span class="eiti-line-chart-y-value">${{ annual_revenue[year].revenue | default: 0 | intcomma }}</span>
        </figcaption>
      </figure>

      <h4>
        <button is="aria-toggle"
          aria-controls="revenue-detail-{{ commodity_slug }}">&plus; Details</button>
      </h4>
      <div id="revenue-detail-{{ commodity_slug }}" aria-hidden="true">
        <p>In {{ year }},
          {% if revenue %}
            companies paid ${{ revenue | intcomma }} to produce
          {% else %}
            the federal government did not collect any revenue from extraction of
          {% endif %}
          {{ commodity_name | downcase }} on federal land in {{ state_name }}.
        </p>

        {% assign revenue_values = commodity[1] %}
        {%
          include location/display-revenue.html
          year=year
          values=revenue_values
          percent=true
          rank=true
        %}
      </div>

    </section>
    {% endfor %}
  </section>

</section>

<section id="state-local-revenue" class="state revenue">
  <h3>Revenue from state land</h3>
  <p>Natural resource extraction on land owned by the State of {{ state_name }} is governed by <a href="{{ site.baseurl }}/how-it-works/state-laws-and-regulations/#role-of-state-government-agencies/</a>">state laws and regulations</a>.</p>
  <p>We don't have detailed data about state revenue from natural resource extraction on land owned by the state. To learn more about regulations and state revenues in {{ state_name }}, see <a href="{{ site.baseurl }}/how-it-works/state-legal-fiscal-info/">state legal and fiscal information</a>.</p>
</section>

<section id="" class="private-lands revenue">
  <h3>Revenue from private land</h3>
  <p>Companies that extract natural resources on private land must pay income taxes, like any other company. Learn more about <a href="{{ site.baseurl }}/how-it-works/revenues/#all-lands-and-waters">revenue from extraction on all lands and waters</a>.</p>
</section>
