{% assign federal_products = site.data.state_federal_production[state_id].products %}

<section id="federal-production" class="federal production">
  <h2>Natural resource production on federal land</h2>
  <p>When companies extract natural resources on federal land, they report how much of each resource was extracted in each county.</p>
  <p>In a few cases, usually where one company is extracting a resource in a county, production data is withheld to ensure there are no violations of the Trade Secrets Act.</p>
  <section class="county-map-table">
    <h3>Products</h3>
    {% for product in federal_products %}
    <section id="federal-production-{{ product[0] | slugify }}" class="product">

      {% assign product_name = product[0] %}
      {% assign volume = product[1].volume[year].volume %}
      {% assign units = product[1].units | downcase | default: 'units' %}

      <h4>{{ product[1].name }} ({{ units }})</h4>
      <p>
        {% if volume %}
          {{ volume | intcomma }}
          <span class="units">{{ units | default: 'units' }}</span>
          of {{ product[1].name | downcase }} were
        {% else %}
          No {{ product[1].name | downcase }} was
        {% endif %}
        produced on federal land in {{ state_name }} in {{ year }}.
      </p>

      {% if volume %}
      <figure>
        <data-map color-scheme="Blues" steps="9">
          {% assign federal_county_production = site.data.federal_county_production[state_id] %}
          {% capture value_key %}products.{{ product_name }}.volume.{{ year }}{% endcapture %}
          {%
            include county-map.html
            state=state_id
            counties=federal_county_production
            value=value_key
          %}
        </data-map>
        <figcaption>County production for {{ product_name }} in {{ year }})</figcaption>
      </figure>
      {% endif %}

      {% assign production_values = product[1].volume %}
      {%
        include location/display-production.html
        units=units
        year=year
        values=production_values
        percent=true
        rank=true
      %}

    </section>
    {% endfor %}
  </section>
</section>
