{% capture states_svg %}{{ site.baseurl }}/maps/states/all.svg{% endcapture %}
{% capture state_svg %}{{ site.baseurl }}/maps/states/{{ state_id }}.svg{% endcapture %}

<section class="container-outer land-ownership">

  <h3>Land ownership in {{ state_name }}</h2>

  <section class="text-container">

    <p><strong>In {{ state_name }}, {{ site.data.land_stats[state_id].federal_percent | percent }} percent of land is owned by the federal government.</strong></p>

    <p>When companies extract natural resources on federal land, they pay royalties, rents, bonuses, and other fees — much like they would to any landowner.</p>

    <p>Learn more about <a href="{{ site.baseurl }}/how-it-works/ownership/">natural resources and land ownership</a> in the U.S.</p>
  </section>

  <aside class="map-container">
    <figure>
      {% assign _viewbox = site.data.viewboxes[state_id] %}
      {% assign _viewbox_list = _viewbox | split:' ' | to_f %}
      {% assign breakpoint_width = _viewbox_list[2] %}
      {% assign breakpoint_height = _viewbox_list[3] | times:1.5 %}
      {% capture is_wide %}
        {% if breakpoint_width > breakpoint_height %}wide{% endif %}
      {% endcapture %}
      {% assign is_wide = is_wide | strip %}

      <div class="svg-container county map-container {{ is_wide }}"{% if _viewbox %}
        style="padding-bottom: {{ _viewbox | svg_viewbox_padding: _width }}%;"{% endif %}>
        <svg class="county ownership map"{% if _viewbox %} viewBox="{{ _viewbox }}"{% endif %}>
          <g class="states features">
            <use xlink:href="{{ states_svg }}#states"></use>
          </g>
          <g class="states mesh">
            <use xlink:href="{{ states_svg }}#states-mesh"></use>
          </g>
          <g class="counties features">
            <use xlink:href="{{ state_svg }}#counties"></use>
          </g>
          {%
            include maps/federal_land_ownership.svg
            clip='#state-outline'
          %}
          <g class="counties mesh">
            <use xlink:href="{{ state_svg }}#counties-mesh"></use>
          </g>
          <g class="state feature overlay">
            <use xlink:href="{{ states_svg }}#state-{{ state_id }}"></use>
          </g>
        </svg>
      </div>

    </figure>
    <aside class="legend-container {{ is_wide }}">
      {% include maps/federal_land_ownership_legend.svg is_wide=is_wide %}
    </aside>

  </aside>
</section>
