<!-- pulls in state fiscal and legal information if the state is one of the MSG-prioritized states -->

{% if is_opt_in_state %}

<section id="state-governance">

  <h2>State governance</h2>

  <p>The state of {{ state_name }} participated in additional reporting. As part of the USEITI process, the {{ "Independent Administrator" | term:"Independent Administrator (IA)" }} gathered information about state and local natural resource governance, revenues, and disbursements in {{ state_name }}.</p>

  {% if page.state_land %}
	  {{ page.state_land | markdownify }}
  {% endif %}

  {{ regulations | markdownify }}

</section>

{% elsif is_priority_state %}

  <section id="state-governance">

  	<h2>State governance</h2>

	<p>The USEITI Multi-Stakeholder Group identified {{ state_name }} as a priority state and gathered additional information about state agencies and regulations that govern natural resource extraction in {{ state_name }}:</p>

	{{ regulations | markdownify }}

  </section>

{% endif %}
