<p>After collecting revenue from natural resource extraction, the federal government distributes that money to different agencies, funds, and local governments for public use. This process is called &ldquo;disbursement.&rdquo;</p>
<p>Most federal revenue goes to the General Fund of the Treasury, infrastructure and operational funds, and funds that support public works. While these disbursements are tracked nationally, we don't have detailed data that specifies which expenditures and projects from those national funds are in {{ state_name }}.</p>
<p>We do have data about disbursements to state governments, which respresent about 38% of federal revenue from onshore natural resource extraction and less than 1% of revenue from offshore natural resource extraction.</p>

<p>
  {% assign disbursements = site.data.state_disbursements[state_id] %}

  In {{ year }}, ONRR disbursed
  {% if disbursements %}
    ${{ disbursements.All[year] | round | intcomma }}
  {% else %}
    did not receive any
  {% endif %}
   to the state of {{ state_name }}.

  {% if disbursements %}
    {%
      include location/display-disbursements.html
      values=disbursements
    %}
  {% endif %}
</p>

<a href="{{site.baseurl}}/downloads/disbursements/">
<icon class="fa fa-file-text-o u-padding-right"></icon>Disbursements data comes from the Office of Natural Resources Revenue
</a>
