{% assign all_products = site.data.state_all_production[state_id].products %}

<section id="all-production" class="all-lands production" data-nav-header="all-production">
  <h2>Natural resource production in {{ state_name }}</h2>

  <p>The federal government collects data about what natural resources are produced each state. (For coal, there is also data about mining in each county.)</p>
  <p>In some cases, the specific amount of a resource produced in a state or county is withheld to protect trade secrets.</p>

  {% for product in all_products %}
  <section id="all-production-{{ product[0] | slugify }}">
    {% assign product_name = product[0] %}
    {% assign volume = product[1].volume[year].volume %}
    {% assign units = product[1].units | downcase | default: 'units' %}

    <h3>{{ product[0] }}</h3>

    <p>{{ state_name }} produced
      {% if volume %}{{ volume | intcomma }} {{ units }} of
      {% else %}no{% endif %}
      {{ product[0] | downcase }} in {{ year }}. Historically:</p>

    {% assign production_values = product[1].volume %}
    {%
      include location/display-production.html
      units=units
      year=year
      values=production_values
      percent=true
      rank=true
    %}

  </section>
  {% endfor %}
</section>
