{% assign revenue_commodities = site.data.state_revenues[state_id].commodities %}
{% assign revenue_total = revenue_commodities.All[year].revenue %}

{% capture year_range %}[2006, 2015]{% endcapture %}

<section id="revenue" class="federal revenue" data-nav-header="revenue">

  <h2>Revenue</h2>

  <p>Companies pay a wide range of fees, rates, and taxes to extract natural resources in the U.S. The types and amounts of payments differ, depending on who owns the natural resources. Payments are often called ‘revenue’ because they represent revenue to the American public.</p>

  <h3>Revenue from federal land</h3>

  <section class="container-half">

    <p>When companies want to extract natural resources on federal land, they pay fees depending on where they are in the process of using the land.</p>

    <p>Laws and policies govern how rights are awarded to companies and what fees they pay to the government in order to extract natural resources on federal land. The specifics of the process depend on the kind of resource, and often affect how much revenue the federal government ultimately collects.</p>

    <p>For details, read more about the different processes for awarding rights and extracting resources: <a href="{{ site.baseurl }}/how-it-works/coal/">coal</a>, <a href="{{ site.baseurl }}/how-it-works/onshore-oil-gas/">oil and gas</a>, <a href="{{ site.baseurl }}/how-it-works/onshore-renewables/">renewable resources</a>, and <a href="{{ site.baseurl }}/how-it-works/minerals/">hardrock minerals</a>.</p>
  </section>

  <aside class="container-half county-map-table">

    <figure>
      <data-map color-scheme="Blues" steps="9">
        {% assign county_revenue = site.data.county_revenue[state_id] %}
        {% capture value_key %}revenue.{{ year }}{% endcapture %}
        {%
          include county-map.html
          state=state_id
          counties=county_revenue
          value=value_key
        %}
      </data-map>
      <figcaption>Revenue from extraction on federal land by county (dollars, {{ year }})</figcaption>
    </figure>
  </aside>

  <section>
    <div>
      <p>The federal government collects different fees at each phase of natural resource extraction. This chart shows how much federal revenue was collected for each kind of resource during each phase of production.</p>

      <!-- <p><strong>In {{ year }}, companies paid the federal government a total of ${{ revenue_total | intcomma }} to extract natural resources on federal land (or lease federal land for that purpose).</strong></p> -->
    </div>
  </section>

  <div class="tab-interface">
    <ul class="eiti-tabs info-tabs" role="tablist">
      <li role="presentation"><a href="#revenues" tabindex="0" role="tab" aria-controls="revenues" aria-selected="true">Commodity Revenues</a></li>
      <li role="presentation"><a href="#story" tabindex="-1" role="tab" aria-controls="story" class="link-charlie">The story behind the numbers</a></li>
    </ul>

    <article class="eiti-tab-panel" id="revenues" role="tabpanel">
      {%
        include location/revenue-type-table.html
        id='revenue-types'
        location_id=state_id
        location_name=state_name
        year=year
      %}
    </article>

    <article class="eiti-tab-panel" id="story" role="tabpanel" aria-hidden="true">
      {%
        include location/revenue-process-table.html
        id='revenue-process'
        location_id=state_id
        location_name=state_name
        year=year
      %}
    </article>
  </div>
  <p><em>* Companies may not know whether they’ll produce oil or gas until they explore the land, so fees are not differentiated by product until production begins.</em></p>

  <section id="revenue-commodities" class="chart-list has-intro">

    <h4>Revenue from extraction on federal land in {{ state_name }} over time</h3>
    <p class="chart-list-intro">In {{ state_name }}, {{ site.data.land_stats[state_id].federal_percent | percent }} percent of land is owned by the federal government, and companies that extract natural resources on federal land pay fees to the federal government. This chart shows how much federal revenue was collected each year in {{ state_name }}.</p>

    {% for commodity in revenue_commodities %}
      {% assign revenue = commodity[1][year].revenue %}
      {% assign commodity_name = commodity[0] | lookup: commodity_names %}
      {% assign commodity_slug = commodity[0] | slugify %}
    <section id="revenue-{{ commodity_slug }}" class="chart-item">

      <h3 class="chart-title">{{ commodity_name }}</h3>

      <figure class="chart">
        {% assign annual_revenue = commodity[1] %}
        <eiti-line-chart
          data='{% include location/line-chart-data.json values=annual_revenue key="revenue" %}'
          data-x-range="{{ year_range }}"
          selected="{{ year }}">
        </eiti-line-chart>
        <figcaption>
          <span class="eiti-line-chart-x-value">{{ year }}</span>
          <span class="eiti-line-chart-y-value">${{ annual_revenue[year].revenue | default: 0 | intcomma }}</span>
        </figcaption>
      </figure>

      <h4>
        <button is="aria-toggle"
          aria-controls="revenue-detail-{{ commodity_slug }}">&plus; Details</button>
      </h4>
      <div id="revenue-detail-{{ commodity_slug }}" aria-hidden="true">
        <p>In {{ year }},
          {% if revenue %}
            companies paid the federal government ${{ revenue | intcomma }} to extract
          {% else %}
            the federal government did not collect any revenue from extraction of
          {% endif %}
          {{ commodity_name | downcase }} on federal land in {{ state_name }}.
        </p>

        {% assign revenue_values = commodity[1] %}
        {%
          include location/display-revenue.html
          year=year
          values=revenue_values
          percent=false
          rank=false
        %}
      </div>

    </section>
    {% endfor %}
  </section>

</section>

<section id="state-local-revenue" class="state revenue">
  <h3>Revenue from state land</h3>
  <p>Natural resource extraction on land owned by the state of {{ state_name }} is governed by <a href="{{ site.baseurl }}/how-it-works/state-laws-and-regulations/#role-of-state-government-agencies/</a>">state laws and regulations</a>.</p>
  <p>We don't have detailed data about state revenue from natural resource extraction on land owned by the state. To learn more about regulations and state revenues in {{ state_name }}, see <a href="{{ site.baseurl }}/how-it-works/state-legal-fiscal-info/">state legal and fiscal information</a>.</p>
</section>

<section id="" class="private-lands revenue">
  <h3>Revenue from private land</h3>
  <p>Companies that extract natural resources on private land must pay income taxes, like any other company. Learn more about <a href="{{ site.baseurl }}/how-it-works/revenues/#all-lands-and-waters">revenue from extraction on all lands and waters</a>.</p>
</section>
