{% capture states_svg %}{{ site.baseurl }}/maps/states/all.svg{% endcapture %}
{% capture state_svg %}{{ site.baseurl }}/maps/states/{{ state_id }}.svg{% endcapture %}

<section class="container-outer land-ownership">

  <h3>Land ownership</h2>

  {% assign _viewbox = site.data.viewboxes_cropped[state_id] %}

  <aside class="map-container" style="width: 100%;">
    <aside class="legend-container wide">
      {% include maps/federal_land_ownership_legend.svg %}
    </aside>
    <figure>
      <div class="svg-container county map-container wide"{% if _viewbox %}
        style="padding-bottom: {{ _viewbox | svg_viewbox_padding: _width }}%;"{% endif %}>
        <svg class="county ownership map no-outlines state-page"{% if _viewbox %} viewBox="{{ _viewbox }}"{% endif %}>
          <g class="states features">
            <use xlink:href="{{ states_svg }}#states"></use>
          </g>
          <g class="states mesh">
            <use xlink:href="{{ states_svg }}#states-mesh"></use>
          </g>
          <g class="counties features">
            <use xlink:href="{{ state_svg }}#counties"></use>
          </g>
          {%
            include maps/federal_land_ownership.svg
            clip='#state-outline'
          %}
          <g class="counties mesh">
            <use xlink:href="{{ state_svg }}#counties-mesh"></use>
          </g>
          <g class="state feature overlay">
            <use xlink:href="{{ states_svg }}#state-{{ state_id }}"></use>
          </g>
        </svg>
      </div>

    </figure>


  </aside>
</section>
