{% assign federal_products = site.data.state_federal_production[state_id].products %}
{% assign year_range = '[2005, 2014]' %}

{% assign federal_products_num = federal_products | size %}
{% assign units_map = site.data.production_units %}

{% assign county_federal_products = site.data.federal_county_production[state_id] %}


<section id="federal-production" class="federal production">

  <section class="county-map-table" is="year-switcher-section">

    <h3>Natural resources extracted on federal land</h3>

    {% if federal_products_num == 0 %}
      <p>No natural resources were produced on federal land in {{  state_name }} in {{ year }}.</p>
    {% else %}
      <div class="chart-selector-wrapper">

        {% include year-selector.html year_range=year_range %}

        <p class="chart-description">
            ONRR collects detailed data about natural resources produced on federal land in {{ state_name }}.
            <a href="{{site.baseurl}}/downloads/federal-production/">Data and documentation <icon class="fa fa-file-text-o u-padding-right"></icon></a>
        </p>
      </div>
    {% endif %}

    <div class="chart-list">

    {% for product in federal_products %}
      {% assign product_slug = product[0] | slugify %}
      {% assign product_name = product[1].name | default: product[0] %}
      {% assign production_values = product[1].volume %}
      {% assign volume = production_values[year].volume %}
      {% assign units = product[1].units | downcase | default: 'units' %}
      {% assign short_units = units_map[units].short | default 'units' %}
      {% assign long_units = units_map[units].long | default 'units' %}
      {% assign units_suffix = units_map[units].suffix | default '' %}
      {% assign units_title = units_map[units].title %}

      <section id="federal-production-{{ product_slug }}" class="product chart-item full-width">

        <div class="row-container">

          <div class="chart-container">

            <h4 class="chart-title">
              {{ product_name }}
              {% if units_title %} ({{ units_title }}){% endif %}
            </h4>

            <figure class="chart">
              <figcaption id="federal-production-figures-{{ product_slug }}">
              <span class="eiti-bar-chart-y-value"
                      data-format=",">{{ volume | default: 0 | intcomma }}</span>
              {{ long_units | term }} of {{ product_name | downcase | suffix:units_suffix }} were
              produced on federal land in {{ state_name }} in
              <span class="eiti-bar-chart-x-value">{{ year }}</span>.

              </figcaption>
              <eiti-bar-chart
                aria-controls="federal-production-figures-{{ product_slug }}"
                data='{{ production_values | map_hash: "volume" | jsonify }}'
                x-range="{{ year_range }}"
                x-value="{{ year }}">
              </eiti-bar-chart>

            </figure>

          </div><!-- /.chart-container -->

          <div class="map-container">

            <h4 class="chart-title">
              Local production
            </h4>


            {% capture toggle %}federal-production-{{ product_slug }}-counties{% endcapture %}
            <figure>
              {% capture value_key %}products.{{ product[0] }}.volume.{{ year }}{% endcapture %}
              {% capture years_key %}products.{{ product[0] }}.volume{% endcapture %}
              {% assign _width ='inherit' %}
              {% capture caption %}Local production of {{ product_name | downcase | suffix:units_suffix }} in <span data-year="{{ year }}">{{ year }}</span>{% endcapture %}

              <eiti-data-map color-scheme="Blues" steps="{{ steps }}" units="{{ units }}">
                {% assign federal_county_production = site.data.federal_county_production[state_id] %}

                {%
                  include county-map.html
                  state=state_id
                  counties=federal_county_production
                  value=value_key
                  years=years_key
                  steps=steps
                  inherit_width=true
                  caption=caption
                  toggle=toggle
                %}



              </eiti-data-map>

              <div class="eiti-data-map-table" id="{{ toggle }}" aria-hidden="true">
                {% assign product_ref = product[0] %}
                {%
                  include location/display-federal-production-county.html
                  year=year
                  values=county_federal_products
                  product_ref=product_ref
                  long_units=long_units
                  caption=caption
                %}
              </div><!-- /.table-container -->

            </figure>

          </div><!-- /.map-container -->

        </div><!-- /.row-container -->

      </section>
    {% endfor %}

    </div><!-- /.chart-list -->

  </section>

</section>
