<li id="texas-leads">U.S. Energy Administration, <a href="http://www.eia.gov/dnav/ng/ng_prod_sum_a_EPG0_VGM_mmcf_a.htm">Natural Gas Gross Withdrawals and Production</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="largest-onshore">U.S. Energy Administration, <a href="http://www.eia.gov/analysis/studies/usshalegas/ ">Review of Emerging Resources: U.S. Shale Gas and Shale Oil Plays</a>, 2011. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="horiz-wells">U.S. Energy Administration, <a href=", http://www.eia.gov/todayinenergy/detail.cfm?id=2170">Technology drives natural gas production growth from shale gas formations</a>, 2011, and U.S. Energy Administration, Barnett Shale. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="total-out">Note: data excludes private and federal land; <a href"http://webapps2.rrc.state.tx.us/EWA/productionQueryAction.do">Texas Railroad Commission Natural Gas Production Data, 2004-2013</a>; <a href="http://www.rrc.state.tx.us/oil-gas/research-and-statistics/production-data/historical-production-data/natural-gas-production-and-well-counts-since-1935/">Natural Gas Production and Well Counts</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="all-private">Congressional Research Service, <a href="http://fas.org/sgp/crs/misc/R42346.pdf">Federal Land Ownership: Overview and Data</a>, 2012. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="big-increase">Ibid. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="employ-boom">United States Census Bureau, <a href="http://censtats.census.gov/">Censtats County Business Patterns (NAICS)</a>, mid-March employment data for NAICS codes 211, 21311, and 213112 in Johnson and Tarrant counties 2004 – 2013 using averages for letter-coded ranges (a – f). <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="employ-quad">Ibid. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="prod-tax"><a href="http://www.lbb.state.tx.us/Other_Pubs/Natural%20Gas%20Tax%20Overview.pdf">State of Texas Legislative Budget Board, Overview of Natural Gas Tax Structures</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="perm-fund"><a href="http://www.texastransparency.org/State_Finance/Budget_Finance/Reports/Revenue_by_Source/revenue_hist.php#2013">Texas Comptroller of Public Accounts, 2013</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="fund-int">Texas General Land Office, <a href="http://www.glo.texas.gov/what-we-do/state-lands/permanent-school-fund/index.html">Permanent School Fund</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="gen-land">Texas General Land Office, <a href="http://www.glo.texas.gov/what-we-do/energy-and-minerals/oil_gas/">Oil & Natural Gas</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="local-min">Tarrant County Texas, <a href="http://access.tarrantcounty.com/en/tax/property-tax/FAQs-Property-Tax.html">FAQ’s – Property Tax and Mineral Tax</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="annual-report"><a href="http://www.johnsoncountytx.org/webadmin/uploads/fy12-cafr_001.pdf">Johnson</a> and <a href="http://access.tarrantcounty.com/content/dam/main/auditor/FinancialAccountingReports/Annual%20Financial%20Reports/CAFR/FY2013_Comprehensive_Annual_Financial_Report.pdf">Tarrant</a> Counties Financial Reports, 2012. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="road-costs">Texas Department of Transportation, <a href="http://ftp.dot.state.tx.us/pub/txdot-info/energy/testimony_062612.pdf">Impact of Energy Development Activities on the Texas Transportation Infrastructure</a>. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="water-costs">Texas Water Development Board, <a href="http://www.twdb.texas.gov/publications/state_water_plan/2012/2012_SWP.pdf">Water For Texas 2012 State Water Plan.</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="wastewater">Specific fiscal costs to municipalities not specified. Texas Railroad Commission, <a href="http://www.rrc.state.tx.us/about-us/resource-center/faqs/oil-gas-faqs/faq-water-use-in-association-with-oil-and-gas-activities/">Oil and Gas FAQ’s, Water Use in Association with Oil and Gas Activities.</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="pit-water">Texas Railroad Commission, <a href="http://www.rrc.texas.gov/oil-gas/forms/oil-gas-filing-checklist-from-prospect-to-production/#COMPLETION">Oil &amp; Gas Filing Checklist from Prospect to Production.</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="cleanup-fund">Texas Railroad Commission, <a href="http://www.rrc.texas.gov/about-us/organization-activities/divisions-of-the-rrc/oil-gas-division/">Oil and Gas Commission.</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="state-cleanup">Texas Railroad Commission, <a href="http://www.rrc.texas.gov/media/18795/ofcu2013.pdf">Oil and Gas Regulation and Cleanup Program, Annual Report – Fiscal Year 2013.</a> <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>

<li id="fund-finance">Specific fiscal costs to municipalities not specified. Ibid. <a href="#footnotes-ref" aria-label="Back to content">[back ↑]</a></li>