// Explore
//
// General layout for Explore Data sections
// all styles namespaced within .explore-subpage class
//
// Styleguide blocks.explore
.explore-subpage {
  $positive-fill: $white;
  $negative-fill: #bbb;

  @import 'subpage';
  @import 'map';
  @import 'toggle';
  @import 'filters';
  @import 'regions-list';
  @import 'filtered-list';
  @import 'hash-offset';
  @import 'subpage-nav';
}

.explore-subpage#revenue .explore-exploration {
  margin-top: 0;

  @include respond-to(medium-up) {
    margin-top: 230px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  svg.region-map {
    height: 500px;
  }
  .explore-exploration.slab-alpha {
    margin: 20px !important;
  }
  .sticky_nav {
    top: -76px !important;
  }
}
@supports (-ms-accelerator:true) {
  svg.region-map {
    height: 500px;
  }
  .explore-exploration.slab-alpha {
    margin: 20px !important;
  }
  .sticky_nav {
    top: -76px !important;
  }
}


.how-it-works-subsections {
  h2 {
    margin-top: 3rem;
  }
  
  .subsections-card {
    width: 31%;
    margin: 1.5rem 1.16%;
    margin-top: 3rem;
    float: left;
    height: 80px;
  }
}
