
.filters-wrapper {
  margin-bottom: $base-padding;
  padding: $base-padding;

  @include respond-to(medium-up) {
    border-radius: $base-border-radius;
    margin-right: $base-padding;
  }

  @include respond-to(huge-plus-up) {
    margin-right: 0;
  }
}

.filters-heading {
  display: none;
  margin-bottom: $base-padding;

  @include respond-to(medium-up) {
    display: inline-block;
  }

  h3 {
    margin-bottom: 0;
  }
}

.filters {
  color: $dark-blue;
}


#commodity-group-selector,
#commodity-selector,
#region-selector,
#product-selector {
  border: none;
}

[aria-hidden=true] {
  display: none;
}
