
.filters-wrapper {
  margin-bottom: $base-padding;
  padding: $base-padding;

  @include respond-to(medium-up) {
    border-radius: $base-border-radius;
    margin-right: $base-padding;
  }

  @include respond-to(huge-plus-up) {
    margin-right: 0;
  }

  select {
    height: 50px;
  }
}

.filters-last {
  margin-bottom: 80px;
}

.filters-heading {
  display: none;
  margin-bottom: $base-padding;

  @include respond-to(medium-up) {
    display: inline-block;
    width: 65%;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    @include heading(para-md);
    color: $blue-alt;
  }
}

.filters {
  color: $dark-blue;

  label {
    @include heading(para-sm);
    color: $blue-alt;
    font-weight: $weight-light;
    letter-spacing: 0.7px;
    margin-bottom: 3px;
    text-transform: uppercase;
  }
}

#commodity-group-selector,
#commodity-selector,
#region-selector,
#product-selector,
#unit-selector {
  border: none;
}

[aria-hidden=true] {
  display: none;
}

#unit-selector {
  background: $white;
  border-radius: $base-border-radius;
  height: 34px;
  overflow: hidden;
}

.unit-selector {
  @include user-select(none);
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 34px;
  line-height: $base-line-height;
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px 12px;
  position: relative;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;

  &:hover,
  &.active {
    background: $dark-blue;
    color: $white;
  }

  &:focus {
    border: 1px solid $white;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:first-of-type {
    border-bottom-right-radius: 0;
    border-right: 1px solid $mid-gray;
    border-top-right-radius: 0;
  }

  &:last-of-type {
    @include omega();
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  input {
    clip: rect(0, 0, 0, 0);
    line-height: normal;
    margin: 4px 0 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
  }
}
