
.filters-wrapper {
	padding: $base-padding;
	margin-bottom: $base-padding;

	@include respond-to(medium-up) {
		border-radius: $base-border-radius;
		margin-right: $base-padding;
	}
}

.filters-heading {
	margin-bottom: $base-padding;
	display: none;

	@include respond-to(medium-up) {
		display: inline-block;
	}

	h3 {
		margin-bottom: 0;
	}
}

.filters {
  color: $dark-blue;
}


#commodity-group-selector,
#commodity-selector,
#region-selector {
	border: none;
}

[aria-hidden=true] {
  display: none;
}

// #commodity-group-filter,
// #commodity-filter {
// 	@include span-columns(6);
// }

// #commodity-filter {
// 	@include omega();
// }
