.explore-section_top,
.explore-section_open,
.explore-section {
	padding-bottom: $base-padding;
	padding-top: $base-padding;
}

.explore-section {
	@include respond-to(medium-up) {
		border-bottom: none;
	}

	border-bottom: $thin-border-size solid $mid-gray;

	@include span-columns(5.5);

	&:nth-child(even) {
		@include shift(1);
	}
}

.explore-section_open {
	@extend .explore-section;

	&.oil-gas {
		background: url('../img/revenues/cards/oil-gas.png') bottom right no-repeat;
	}

	&.minerals {
		background: url('../img/revenues/cards/minerals.png') bottom right no-repeat;
	}

	&.coal {
		background: url('../img/revenues/cards/coal.png') bottom right no-repeat;
	}

	&.renewables {
		background: url('../img/revenues/cards/renewables.png') bottom right no-repeat;
	}

	&.oil-gas,
	&.coal,
	&.minerals,
	&.renewables {
		background-size: 100%;
		height: 310px;

		.explore-description {
			@include span-columns(6);
		}
	}

	.explore-heading {
		display: block;
	}

}

.explore-section_category {
  border-bottom: $thin-border-size solid $mid-gray;
  margin-top: $base-padding;
  margin-bottom: 0;
  padding-bottom: $base-padding-lite;
}

.explore-heading,
.explore-heading a {
	color: $dark-gray;
	display: inline;
}

.explore-description {
	@include heading('para-sm');
}

.explore-image {
  width: 100%;
}

.explore-steps {
	icon {
		color: $mid-gray;
	}
}
