.region-header {
  border-bottom: 1px solid $mid-gray;
  border-top: none;
  font-weight: $weight-bold;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;

  .subregion-name {
    margin: 0;
  }
}

.region-header-category {
  @include heading(para-md);
  border-bottom: 1px solid $neutral-gray;
  font-weight: $weight-book;
  margin-bottom: $base-padding-lite;
  margin-top: $base-padding-extra;
  padding-left: $base-padding;
}

.subregion {
  td {
    padding-bottom: ($base-padding * 0.7);
    padding-top: ($base-padding * 0.7);
  }
}

.subregion-name {
  @include heading(para-md);
  font-weight: $weight-book;
  margin: 0;
  width: 86%;

  // @include respond-to(tiny-up) {
  //   @include heading(para-md);
  // }

  .color-swatch {
    display: inline-block;
    height: 0.7em;
    margin-right: $base-padding-lite;
    width: 0.7em;
  }
}

.subregions {
  border-collapse: collapse;
  width: 100%;

  &,
  td,
  th,
  tr {
    border: 0;
    border-bottom: 1px solid $neutral-gray;
    padding-left: $base-padding-lite;
    padding-right: $base-padding-lite;
    text-align: left;
  }

  td.value,
  th.value {
    text-align: right;
  }

  thead {
    background: none;
    border: 0;

    eiti-bar,
    .color-swatch {
      display: none;
    }

    .subregion-name {
      @include heading(para-lg);
      font-weight: $weight-bold;
      min-width: 200px;
      padding: 0;
      padding-left: ($base-padding * 0.9);
    }
  }

  tr > *:last-child {

  }

  tr {
    > *:first-child {
      padding-left: $base-padding;
      width: 80%;

      &.narrow {
        vertical-align: middle;
        width: 35%;
      }
    }
    .variance,
    .centered {
      text-align: center;
    }

    .variance {
      vertical-align: middle;
    }
  }

  tr > td > .reportee {
    color: $neutral-gray;
    display: inline-block;
    font-weight: $weight-book;
    text-align: left;
    width: 25px;
  }

  .bar { // specific to reconcilation
    width: 100px;

    @include respond-to(medium-up) {
      width: 150px;
    }

    @include respond-to(large-up) {
      width: 200px;
    }

    eiti-bar {
      display: inline-block;
    }
  }

  th.bar {
    text-align: right;
  }

  .bar_negative {
    padding-right: 0;

    eiti-bar .eiti-bar-bar {
      background: $mid-gray;
    }
  }

  .bar_positive {
    padding-left: 0;
  }

  .subgroup .subregion-name {
    // FIXME not sure if these numbers are right
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-top: 1em;

    .hilite {
      background: $light-blue;
    }
  }

}

.subregion {
  clear: both;
  padding: 0 $base-padding;
  position: relative;
}

.region-name,
.map-legend {
  @include respond-to(large-down) {
    width: 100px;
  }
}

.region-title {
  padding-top: $base-padding-large;
}

.region-notes {
  @include heading(para-md);

  &:last-of-type {
    padding-bottom: $base-padding-lite;
  }
}

.bold {
  font-weight: $weight-bold;
}

.material-variance {
  border-right: 2px solid $neutral-gray;
}

.threshold {
  display: inline-block;
  font-weight: $weight-bold;
  margin-left: $base-padding-lite;
}

.revenue-type-list {
  tr .variance {
    text-align: right;
    width: 40px;
  }

  tr:first-of-type {
    border-top: 1px solid $neutral-gray;
  }
}

.detached-header {
  position: relative;
}

.detached-table_title {
  float: left;
  width: 50%;

  @include respond-to(small-up) {
    width: 60%;
  }

  @include respond-to(medium-up) {
    width: 75%;
  }

  @include respond-to(large-up) {
    width: 100%;
  }
}

.detached-table_header {
  display: inline;
  float: right;
  text-align: center;
  bottom: 0px;
  right: 0px;
  position: absolute;
  vertical-align: bottom;
}
