
.toggle,
.toggle-desktop {
  background: transparent;
  color: $blue;

  &:before {
    content: $icon-plus-sm;
    font-family: eiti;
    font-style: normal;
    font-weight: normal;
    line-height: $base-line-height;
    padding-right: $base-padding-lite;
    text-decoration: inherit;
    vertical-align: bottom;
  }

  &[aria-expanded=true]:before {
    content: $icon-dash-sm;
  }
}

.toggle {
  display: block;
  background-color: $blue;
  color: $white;
  font-weight: $weight-bold;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: ($base-padding-lite * 1.5);
  padding-left: $base-padding;
  padding-right: $base-padding;
  -webkit-font-smoothing: antialiased;

  &[aria-expanded=true] {
    margin-top: 1em;
  }

  @include respond-to(medium-up) {
    display: none;
    float: right;
  }
}

.toggle-desktop {
  display: none;
  background-color: $blue;
  color: $white;
  float: right;
  font-weight: $weight-bold;
  margin-bottom: 0;
  padding: ($base-padding-lite * 1.5);
  padding-left: $base-padding;
  padding-right: $base-padding;
  -webkit-font-smoothing: antialiased;

  @include respond-to(medium-up){
    display: inline-block;
  }

  &:before {
    vertical-align: text-top;
  }
}
