---
title: Coal | How it Works
layout: default
permalink: /how-it-works/coal/
---

<section class="revenues_subpage-nav container"></section>

<section class="slab-beta revenues_subpage-intro_wrapper">

  <div class="container-outer revenues_subpage-intro">
    {% include how-it-works/coal_intro.html %}
  </div>

  <div class="revenues_subpage-steps coal">
    {% include how-it-works/coal_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include how-it-works/coal_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include how-it-works/coal_involved.html %}
</div>

<div class="container-outer revenues_page-footer">
  {% include how-it-works/footer.html %}
</div>
