---
title: Coal | How it Works
layout: default
description: The Department of the Interior is responsible for 570 million acres of federal land with coal resources. This responsibility comes from the Mineral Leasing Act of 1920 and the Mineral Leasing Act for Acquired Lands of 1947, as amended.
tag:
- How it works
- Coal
- Process
- Resources
permalink: /how-it-works/coal/
---

<section class="revenues_subpage-nav container"></section>

<section class="slab-beta revenues_subpage-intro_wrapper">

  <div class="container-page-wrapper revenues_subpage-intro">
    {% include how-it-works/coal_intro.html %}
  </div>

  <div class="revenues_subpage-steps coal">
    {% include how-it-works/coal_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include how-it-works/coal_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include how-it-works/coal_involved.html %}
</div>

<div class="pre-footer">
  {% include how-it-works/footer.html %}
</div>
