---
title: Nonenergy Minerals | How it Works
layout: default
description: The General Mining Act of 1872 regulates gold, silver, cinnabar, copper, and “other valuable deposits.” Despite some amendments, this legislation still governs extraction of many nonenergy minerals, in particular hardrock locatable minerals on federal public domain lands.
tag:
- how it works
- nonenergy
- minerals
- process
- resources
permalink: /how-it-works/minerals/
---

<section class="revenues_subpage-nav container">


</section>

<section class="slab-beta">
  <div class="container-page-wrapper revenues_subpage-intro">
    {% include how-it-works/minerals_intro.html %}
  </div>

  <div class="revenues_subpage-steps minerals">
    {% include how-it-works/minerals_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include how-it-works/minerals_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include how-it-works/minerals_involved.html %}
</div>

<div class="pre-footer">
  {% include how-it-works/footer.html %}
</div>
