---
title: Nonenergy Minerals | How it Works
layout: default
permalink: /how-it-works/minerals/
---

<section class="revenues_subpage-nav container">


</section>

<section class="slab-beta">
  <div class="container-outer revenues_subpage-intro">
    {% include how-it-works/minerals_intro.html %}
  </div>

  <div class="revenues_subpage-steps minerals">
    {% include how-it-works/minerals_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include how-it-works/minerals_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include how-it-works/minerals_involved.html %}
</div>

<div class="container-outer revenues_page-footer">
  {% include how-it-works/footer.html %}
</div>



<!-- Accordion -->
<script src="{{ site.baseurl }}/js/components/accordion.js"></script>
