---
title: Onshore Renewables | How it Works
layout: default
permalink: /how-it-works/onshore-renewables/
---

<section class="revenues_subpage-nav container">

  <div class="revenues_subpage-tabs">
    <ul>
        <li class="revenues_subpage-tab">
          <a href="{{ site.baseurl }}/how-it-works/offshore-renewables/">Offshore</a>
        </li>
        </a>
        <li class="revenues_subpage-tab active">
          <a href="{{ site.baseurl }}/how-it-works/onshore-renewables/">Onshore</a>
        </li>
    </ul>
  </div>
</section>

<section class="slab-beta revenues_subpage-intro_wrapper renewables">
  <div class="container-outer revenues_subpage-intro">
    {% include how-it-works/onshore_renewables_intro.html %}
  </div>

  <div class="revenues_subpage-steps onshore-renewables">
    {% include how-it-works/onshore_renewables_steps.html %}
  </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include how-it-works/onshore_renewables_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
    {% include how-it-works/onshore_renewables_involved.html %}
</div>

<div class="container-outer revenues_page-footer">
    {% include how-it-works/footer.html %}
</div>
