---
title: Onshore Oil & Gas | How it Works
layout: default
permalink: /how-it-works/onshore-oil-gas/
---

<section class="revenues_subpage-nav container">

  <div class="revenues_subpage-tabs">
    <ul>
        <li class="revenues_subpage-tab">
          <a href="{{ site.baseurl }}/how-it-works/offshore-oil-gas/">Offshore</a>
        </li>
        </a>
        <li class="revenues_subpage-tab active">
          <a href="{{ site.baseurl }}/how-it-works/onshore-oil-gas/">Onshore</a>
        </li>
    </ul>
  </div>
</section>

<section class="slab-beta revenues_subpage-intro_wrapper">

    <div class="container-outer revenues_subpage-intro">
      {% include how-it-works/onshore_oil_gas_intro.html %}
    </div>

    <div class="revenues_subpage-steps onshore-oil">
      {% include how-it-works/onshore_oil_gas_steps.html %}
    </div>
</section>

<div class="slab-beta revenues_page-forms">
  {% include how-it-works/onshore_oil_gas_forms.html %}
</div>

<div class="slab-alpha revenues_subpage-involved">
  {% include how-it-works/onshore_oil_gas_involved.html %}
</div>

<div class="container-outer revenues_page-footer">

    {% include how-it-works/footer.html %}

</div>

<!-- Accordion -->
<script src="{{ site.baseurl }}/js/components/accordion.js"></script>
