<div class="pl-swatch">
  <div class="pl-swatch-color {{ className }}"></div>
  <div class="pl-label-primary">${{ colorName }}</div>
  <div class="pl-label-secondary">{{ colorCode }}</div>
  {{#if accessible }}
    <div class="pl-icon-ok"></div>
    <div class="pl-label-secondary">Accessible</div>
  {{else}}
    <div class="pl-icon-no"></div>
    <div class="pl-label-secondary">Not accessible</div>
  {{/if}}
</div>
