// // TODO: qualify button with a class? or specify as .button?


// Buttons
//
// Buttons suitable for clicking
//
// Markup: 
// <button>Standard Button</button>
// <button class="button">Button Class button</button>
// <div class="button">Div Class button</div>
// <button class="button-primary">Primary Button</button>
// <button class="button-secondary">Secondary Button</button>
//
// Styleguide buttons

button,
.button,
input[type="submit"] {
  @extend %button;
}

.button-primary {
    @extend %button;
    background-color: $primary-button-bg-color;
    color: $primary-button-color;
    padding: $primary-button-padding;
    -webkit-font-smoothing: antialiased;
    width: 150px;
    height: 35px;
    &:hover,
    &:focus {
      background-color: $primary-hover-button-bg-color;
      color: $primary-hover-button-color;
    }
  }

.button-secondary{
  @extend %button;
  margin-bottom: 1.6em;
  background-color: $secondary-button-bg-color;
  color: $secondary-button-color;
  border: 1px solid $secondary-button-border-color;
    &:hover,
    &:focus {
      background-color: $secondary-hover-button-bg-color;
      color: $secondary-hover-button-color;
    }
  }

