@import "../font-awesome/font-awesome/variables";

// Typography
$weight-light: 200;
$weight-book: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 800;

$sans-serif: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$base-font-weight: $weight-book;

// Sizes
$base-font-size: 1;
$base-line-height: 1.5;
$base-heading-line-height: 1.3;

// Colors
// v3 
$white: #ffffff;
$black: #040404; //-
$blue: #157BAC;//
$light-blue: #e6f9ff;
$pale-blue: #f2fcff;
$mid-blue: #c6e9ff;
$light-gray: #f7f7f7;
$mid-gray: #ebebeb;
$dark-gray: #4a4a4a;

// v2
// $white: #ffffff;
// $black: #040404; //-
$light-black: #303030; //-
$putty: #f4f4f4; //-
$dark-putty: #838383; //-
$green: #9fa63b; //
$shock-green: #acb626;
$purple: #965bcd;//
$red: #c5403c;//
// $blue: #1e7caa;// previously  ;
$cobalt: #1075a5; //-
// $dark-gray: #666666;//
// $mid-gray: #e1e1e1; //-EBEBEB

// v1 old colors here. deprecate.
$darker-green: #216d09;
$darkest-green: #174b06;
$yellow: #f0d704;
$darker-yellow: #eeba28;
$red: #d44116;
$darker-red: #b93610;

// Color map
$colors: (
  oilgas: $green,
  coal: $purple,
  minerals: $red,
  renewables: $blue,
  other: $dark-gray
);

$guide-colors: (
  black: $black,
  light-black: $light-black,
  putty: $putty,
  dark-putty: $dark-putty,
  cobalt: $cobalt,
  mid-gray: $mid-gray
);

// Background Color
$primary-background-color: $white;
$secondary-background-color: $light-gray;
$tertiary-background-color: $mid-gray;
$quaternary-background-color: $light-blue;
$fifth-background-color: $pale-blue;
$sixth-background-color: $mid-blue;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $mid-blue;

// Padding
$base-padding: 1.25em; //20px
$base-padding-lite: $base-padding/3;
$base-padding-large: 1.875em; //30px
$base-padding-extra: 3.125em; //50px

// Link Colors
$base-link-color: $green;
$hover-link-color: $darker-green;

// Buttons
$primary-button-bg-color: $blue;
$primary-hover-button-bg-color: $blue;
$primary-button-color: $white;
$primary-hover-button-color: $white;
$secondary-button-bg-color: $white;
$secondary-hover-button-bg-color: $white;
$secondary-button-color: $dark-gray;
$secondary-hover-button-color: $dark-gray;
$secondary-button-border-color: $mid-gray;

// Radius
$base-border-radius: 5px;
$small-border-radius: 3px;

// Border
$base-border-color: $light-black;
$thin-border-size: 1px;
$regular-border-size: 3px;
$thick-border-size: 8px;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-radius: $base-border-radius;
$form-box-shadow: none;
$form-box-shadow-focus: 0 0 0 2px $mid-blue;
$form-font-family: $base-font-family;
$form-input-color: $dark-gray;
